@font-face {
	font-family: "icon_font";
	src: url('../fonts/svg_icons/icon_font.eot');
	src: url('../fonts/svg_icons/icon_font.eot?#iefix') format('eot'),
		url('../fonts/svg_icons/icon_font.woff2') format('woff2'),
		url('../fonts/svg_icons/icon_font.woff') format('woff'),
		url('../fonts/svg_icons/icon_font.ttf') format('truetype'),
		url('../fonts/svg_icons/icon_font.svg#icon_font') format('svg');
}

@mixin icon-styles {
	font-family: "icon_font";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arr-d {
		$char: "\E001";
	}
	@if $filename == arrow-l {
		$char: "\E002";
	}
	@if $filename == arrow-r {
		$char: "\E003";
	}
	@if $filename == basket {
		$char: "\E004";
	}
	@if $filename == cancel {
		$char: "\E005";
	}
	@if $filename == cancel2 {
		$char: "\E006";
	}
	@if $filename == delivery-express {
		$char: "\E007";
	}
	@if $filename == delivery {
		$char: "\E008";
	}
	@if $filename == house {
		$char: "\E009";
	}
	@if $filename == left {
		$char: "\E00A";
	}
	@if $filename == logout {
		$char: "\E00B";
	}
	@if $filename == mail-b {
		$char: "\E00C";
	}
	@if $filename == mail {
		$char: "\E00D";
	}
	@if $filename == marker {
		$char: "\E00E";
	}
	@if $filename == msg {
		$char: "\E00F";
	}
	@if $filename == ok {
		$char: "\E010";
	}
	@if $filename == phone {
		$char: "\E011";
	}
	@if $filename == right {
		$char: "\E012";
	}
	@if $filename == star-fill {
		$char: "\E013";
	}
	@if $filename == star {
		$char: "\E014";
	}
	@if $filename == xls {
		$char: "\E015";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arr-d {
	@include icon(arr-d);
}
.icon-arrow-l {
	@include icon(arrow-l);
}
.icon-arrow-r {
	@include icon(arrow-r);
}
.icon-basket {
	@include icon(basket);
}
.icon-cancel {
	@include icon(cancel);
}
.icon-cancel2 {
	@include icon(cancel2);
}
.icon-delivery-express {
	@include icon(delivery-express);
}
.icon-delivery {
	@include icon(delivery);
}
.icon-house {
	@include icon(house);
}
.icon-left {
	@include icon(left);
}
.icon-logout {
	@include icon(logout);
}
.icon-mail-b {
	@include icon(mail-b);
}
.icon-mail {
	@include icon(mail);
}
.icon-marker {
	@include icon(marker);
}
.icon-msg {
	@include icon(msg);
}
.icon-ok {
	@include icon(ok);
}
.icon-phone {
	@include icon(phone);
}
.icon-right {
	@include icon(right);
}
.icon-star-fill {
	@include icon(star-fill);
}
.icon-star {
	@include icon(star);
}
.icon-xls {
	@include icon(xls);
}
