{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Шабоны товаров </h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-9"></div>
                    <div class="col-sm-3">
                        <form action="" method="GET">
                            <div class="input-group">
                                <input placeholder="Поиск" class="input-sm form-control" type="text" name="query">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary">Найти</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Город</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for productMetaTemplate in productMetaTemplates %}
                        <tr>
                            <td>{{ productMetaTemplate.siteVersion.name }}</td>

                            <td>
                                <div class="actions">
                                    <a href="{{ path('admin_product_meta_template_edit', {id: productMetaTemplate.id}) }}"
                                       class="btn-primary btn btn-sm">Редактировать
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if productMetaTemplates.haveToPaginate %}
                    <div class="navigation text-center">
                        {{ pagerfanta(productMetaTemplates, 'twitter_bootstrap3_translated', {routeName: 'admin_product_meta_template_index','routeParams': app.request.query.all,}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

