{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="block">
        <div class="innertube">
            <div class="help">
                <nav class="breadcrumbs">
                    <div class="wrapper">
                        <a href="/" class="breadcrumbs__item">Главная</a>
                    </div>
                </nav>
                <script type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"http:\/\/stommarket.ru\/","name":"Home"}},{"@type":"ListItem","position":2,"item":{"@id":"http:\/\/stommarket.ru\/page\/","name":"\u041f\u043e\u043c\u043e\u0449\u044c"}},{"@type":"ListItem","position":3,"item":{"@id":"http:\/\/stommarket.ru\/page\/delivery\/","name":"\u0414\u043e\u0441\u0442\u0430\u0432\u043a\u0430"}}]}</script>
                <h1 class="title help__title">{{ page.name }}</h1>
                <div class="help__body">
                    <div class="content content-block content-block--white content-block--big-offset">
                        {{ page.text|raw }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}