{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="block">
        <div class="innertube">
            <div class="help">
                {{ include('layouts/_breadcrumbs.html.twig') }}
                <h1 class="title help__title">{{ helpPage.name }}</h1>
                <div class="help__body">
                    {{ helpPage.text|raw }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}