{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="block">
        <div class="innertube">
            <div class="articles standart">
                {{ include('layouts/_breadcrumbs.html.twig') }}
                <h1 class="title standart__title">{{ helpPage.name }}</h1>
                <div class="standart__body">
                    {{ helpPage.text|raw }}
                </div>

            </div>
        </div>
    </section>
{% endblock %}