<div class="personal-education">
    <div class="personal-education__info">
        <div class="personal-education__picture">
            <img src="/img/education/education-bg.jpg" alt="Стоммаркет Обучение">
        </div>
        <div class="personal-education__text">
            <h3 class="personal-education__title">Стоммаркет.Обучение</h3>
            <p>Стоммаркет запускает образовательный проект, принять участие в котором может каждый зарегистрированный пользователь.</p>

            <p>Всё собрано в одном месте, а с помощью удобных фильтров легко найти обучение, которое интересно именно вам. </p>
            <div class="personal-education__btn-wrapper">
                <a href="/education/" class="btn personal-education__link">посмотреть проект</a>
            </div>
        </div>
    </div>
    <div class="block__cols">
        <div class="block__col block__col--6 block__col--white personal-education__col">
            <div class="listing">
                <h3 class="personal-education__title">Ваши заявки</h3>
                <div class="educaitons js-educations">
                    {% if educations|length > 0 %}
                    <div class="educations__head">
                        <div class="educations__col educations__head-name">Заявка</div>
                        <div class="educations__col educations__head-name">Статус</div>
                        <div class="educations__col educations__head-name educations__head-name--edit"></div>
                    </div>
                    <div class="educations__body">
                        {% for education in educations %}
                        <div class="educations__education">
                            <div class="educations__info educations__row js-education-info">
                                <div class="educations__col"><a href="#" class="js-education-num">№{{ education.id }}</a></div>
                                <div class="educations__col">{{ education.educationStatus.name }}</div>
                                <div class="educations__col educations__col--edit">
                                    <a href="#" class="educations__edit js-education-edit" data-id="{{ education.id }}"><i class="icon-pencil"></i></a>
                                </div>
                            </div>
                            <div class="educations__detail js-education-detail">
                                <div class="educations__row educations__item">
                                    <div class="educations__property">{{ education.educationType.name }}</div>
                                    <div class="educations__property">{{ education.lectorFio }}</div>
                                    <div class="educations__property">{{ education.name }}</div>
                                    <div class="educations__property">{{ education.phone }}</div>
                                    <div class="educations__property">{{ education.email }}</div>
                                    {% if education.price > 0 %}
                                        <div class="educations__property">{{ education.price }} Р</div>
                                    {% else %}
                                        <div class="educations__property">Бесплатно</div>
                                    {% endif %}
                                    <div class="educations__property">{{ education.dateStart|date('Y-m-d') }}
                                        {% if education.isSingleDay %}
                                           - {{ education.dateEnd|date('Y-m-d') }}
                                        {% endif %}
                                    </div>
                                    <div class="educations__property">{{ education.time }}</div>
                                    <div class="educations__property">{{ education.city }}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="educations__empty"> Если вы хотите провести вебинар, семинар,
                        лекцию или мастер-класс, то вы можете бесплатно разместить её у нас на сайте.
                        <p>Для этого заполните и отправьте форму справа.</p>
                        <p><a href="/files/pdf/education_instruction.pdf" class="blue" target="_blank">Инструкция по заполнению →</a></p>
                    </div>
                    {% else %}
                    <div class="educations__empty"> Если вы хотите провести вебинар, семинар,
                        лекцию или мастер-класс, то вы можете бесплатно разместить её у нас на сайте.
                        <p>Для этого заполните и отправьте форму справа.</p>
                        <p><a href="/files/pdf/education_instruction.pdf" class="blue" target="_blank">Инструкция по заполнению →</a></p>
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="block__col block__col--6 block__col--white personal-education__col">
            <div class="create-education-card js-create-education-card js-cropper">
                <form action="/personal/save-education-form/" method="POST" enctype="multipart/form-data" class="form js-form js-education-form" novalidate="" data-error-msg="Произошла ошибка">
                    <div class="loading js-loading" style="display: none">
                        <img src="/img/loading.gif" alt="" class="loading__img">
                    </div>
                    <div class="form__content js-education-form-content">
                        <h3 class="personal-education__title js-education-title">Создать свою карточку обучения</h3>

                        <input type="hidden" name="id" class="js-education-hidden-id" value="">

                        <div class="form__group">
                            <p class="group-name">Буду проводить</p>
                            <div class="form__b form__select-input-b">
                                <select name="education_type_id" id="ed_type_id" class="js-select2">
                                    <option value="" disabled >Буду проводить: </option>
                                    {% for key, educationType in educationTypes %}
                                    <option value="{{ educationType.id }}" {{ key==0 ? 'selected':'' }}>{{ educationType.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <p class="group-name">Направление мероприятия</p>
                            <div class="form__b form__select-input-b">
                                <select name="education_direction_id" id="ed_direction_id" class="js-select2">
                                    <option value="" disabled >Не указано </option>
                                    {% for key, educationDirection in educationDirections %}
                                        <option value="{{ educationDirection.id }}" {{ key==0 ? 'selected':'' }}>{{ educationDirection.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form__group">
                            <p class="group-name">Контактные данные лектора:</p>

                            <div class="form__b form__text-input-b">
                                <input class="form__text-input js-input js-required" name="lector_fio" id="ed_fio" value="" type="text">
                                <label class="form__text-input-label" for="ed_fio">ФИО лектора
                                    <span>*</span>
                                </label>
                            </div>
                            <div class="form__b form__text-input-b">
                                <input class="form__text-input js-input" name="profession" id="ed_position" value="" type="text">
                                <label class="form__text-input-label" for="ed_position">Должность лектора
                                </label>
                            </div>

                            <div class="form__b form__text-input-b">
                                <input class="form__text-input js-input js-required js-phone" name="phone" id="ed_phone" value="" type="text">
                                <label class="form__text-input-label" for="ed_phone">Контактный телефон
                                    <span>*</span>
                                </label>
                            </div>
                            <div class="form__b form__text-input-b">
                                <input class="form__text-input js-input js-required js-email" name="email" id="ed_email" value="" type="email">
                                <label class="form__text-input-label" for="ed_email">E-mail
                                    <span>*</span>
                                </label>
                            </div>
                        </div>

                        <div class="form__group">
                            <p class="group-name">Мероприятие:</p>
                            <div class="form__b form__text-input-b">
                                <input class="form__text-input js-input js-validate js-required" name="name" id="ed_name" value="" type="text">
                                <label class="form__text-input-label" for="ed_name">Название
                                    <span>*</span>
                                </label>
                            </div>
                            <div class="form__b form__text-input-b">
                                <input class="form__text-input js-input js-validate" name="city" id="ed_city" value="" type="text">
                                <label class="form__text-input-label" for="ed_city">Город</label>
                            </div>
                            <div class="form__b form__text-input-b">
                                <input class="form__text-input js-input js-validate" name="address" id="ed_address" value="" type="text">
                                <label class="form__text-input-label" for="ed_address">Адрес</label>
                            </div>
                        </div>

                        <div class="form__group">
                            <p class="group-name">Выберите временной формат:</p>
                            <div class="form__b form__select-input-b">
                                <select name="is_single_day" id="format" class="js-select2 js-date-format">
                                    <option value="1" selected>Однодневный</option>
                                    <option value="0">Больше 1 дня</option>
                                </select>
                            </div>
                            <div class="form__b form__text-input-b js-date-block">
                                <div class="col">
                                    <input class="form__text-input form__text-input--date js-input" name="date_start" id="ed_date_start" value="{{ 'now'|date('Y-m-d') }}" type="text">
                                    <label class="form__text-input-label" for="ed_date_start">Дата начала
                                        <span>*</span>
                                    </label>
                                </div>
                                <div class="col js-date-end-block" style="display: none">
                                    <input class="form__text-input form__text-input--date js-input" name="date_end" id="ed_date_end" value="<?=date('Y-m-d')?>" type="text">
                                    <label class="form__text-input-label" for="ed_date_end">Дата окончания
                                        <span>*</span>
                                    </label>
                                </div>
                            </div>

                            <div class="form__b form__text-input-b">
                                <input class="form__text-input js-input js-validate  js-required" name="time" id="ed_time" value="" type="text">
                                <label class="form__text-input-label" for="ed_time">Время
                                    <span>*</span>
                                </label>
                            </div>
                        </div>

                        <div class="form__group">
                            <p class="group-name">Стоимость мероприятия:</p>
                            <div class="form__b form__select-input-b">
                                <select name="is_free" id="free" class="js-select2 js-is-free">
                                    <option value="1" selected>Бесплатно</option>
                                    <option value="0">Платно</option>
                                </select>
                            </div>
                            <div class="form__b form__text-input-b js-price-block" style="display: none">
                                <input class="form__text-input js-input js-validate" name="price" id="ed_price" value="" type="text">
                                <label class="form__text-input-label" for="ed_price">Стоимость
                                </label>
                            </div>
                        </div>

                        <div class="form__group">
                            <p class="group-name">Программа мероприятия:</p>
                            <div class="form__b form__text-input-b">
                                <textarea name="program" id="ed_program" rows="10" class="js-ckeditor"></textarea>
                            </div>
                        </div>

                        <div class="cropper">
                            <a href="#cropper-photo-popup" class="js-open-popup form__file-link "><i class="icon-clip"></i> <label for="ed_photo">Прикрепить фотографию</label></a>
                            <div id="cropper-photo-popup" class="js-popup popup-block mfp-hide">
                                <div class="form__title">Редактор фотографии</div>
                                <p class="js-cropper-description">Загрузите фотографию и при помощи нашего редактора<br>
                                    вы сможете настроить размер фотографии.</p>
                                <input type="hidden" class="js-photo-src" name="photo_src">
                                <input type="hidden" class="js-photo-data" name="photo_data">
                                <div class="form__group">
                                    <div class="form__b form__file-input-b">
                                        <input id="ed_photo" type="file" class="js-cropper-input" name="photo_file" value="Выберите файл"  accept=".png, .jpg, .jpeg, .gif"/>
                                        <div class="js-cropper-file-name-block" style="display: none">
                                            <i class="icon-clip"></i> <label for="ed_photo" class="js-cropper-file-label">Выберите файл</label>
                                            <a href="#" class="blue js-cropper-upload" >Заменить</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="js-photo-wrapper">
                                    <div class="cropper__canvas-dummy">
                                        <img src="/img/svg/upload.svg" alt="" width="100">
                                        <a href="#" class="btn btn--dark js-cropper-upload">Загрузить фотографию</a>
                                    </div>
                                    <!--img class="js-cropper-canvas" src="/img/education/education-bg.jpg"-->
                                </div>
                                <div class="js-cropper-buttons cropper__buttons" style="display: none">
                                    <button type="button" class="btn btn--round js-cropper-button" data-method="zoom" data-option="0.1" title="Увеличить">
                                        <i class="icon-zoomin"></i>
                                    </button>
                                    <button type="button" class="btn btn--round js-cropper-button" data-method="zoom" data-option="-0.1" title="Уменьшить">
                                        <i class="icon-zoomout"></i>
                                    </button>
                                    <button class="btn btn--dark js-popup-close save">Продолжить →</button>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn--dark btn--full-w" type="submit">Сохранить</button>

                    </div>
                    <div class="form__success js-form__success create-education-card__success">
                        <div class="form__success-content">
                            <div class="form__success-title">Спасибо, ваша заявка №<span class="js-education-id"></span><br>
                                проходит модерацию</div>
                            <p>Мы напишем вам письмо, как только ваша заявка пройдет модерацию.
                                После этого вашу лекцию можно будет увидеть в разделе «Обучение». </p>
                        </div>
                        <div class="form__success-footer">
                            <a href="#" class="form__success-title js-create-new-education">Cоздать ещё одну карточку обучения</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/10.0.1/classic/ckeditor.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/10.0.1/classic/translations/ru.js"></script>
<script>
    var editorinstance;
    ClassicEditor
        .create( document.querySelector( '#ed_program' ), {
            language: 'ru',
            removePlugins: [ 'Heading', 'Link' ],
            toolbar: [ 'bold', 'italic', 'bulletedList', 'numberedList']
        } )
        .then(editor => {
            editorinstance = editor;
        })
        .catch( error => {
            console.error( error );
        } );
</script>