<div class="orders js-orders">
    {% if orders|length > 0 %}
    <div class="orders__head">
        <div class="orders__col orders__head-name">Заказ</div>
        <div class="orders__col orders__head-name">Стоимость</div>
        <div class="orders__col orders__head-name">Статус</div>
        <div class="orders__col orders__head-name">Действия</div>
    </div>
    <div class="orders__body">
        {% for order in orders %}
        <div class="orders__order">
            <div class="orders__info orders__row js-order-info">
                <div class="orders__col orders__col-name">
                    <a href="#" class="js-order-num">№{{ order.encryptedId }}</a>
                </div>
                <div class="orders__col orders__col-name">{{ order.price }} ₽</div>
                <div class="orders__col orders__col-name">{{ order.orderStatus.name }}</div>
                {% if not is_mobile() %}
                    <div class="orders__col orders__col-name">
                        <a href="#" class="js-clone-cart btn btn--compact" data-id="{{ order.id }}">Повторить</a>
                    </div>
                {% endif %}
            </div>
            <div class="orders__detail js-order-detail" >
                {% for orderProduct in order.orderProducts %}
                    <div class="orders__row orders__item">
                        <div class="orders__col orders__img">
                            <img src="{{ orderProduct.product.image('s') }}" alt="">
                        </div>
                        <div class="orders__col orders__name">{{ orderProduct.product.name }}</div>
                        <div class="orders__col orders__count">{{ orderProduct.count }} шт</div>
                        <div class="orders__col orders__status">{{ orderProduct.price }} × {{ orderProduct.count }} = {{ orderProduct.price*orderProduct.count }} ₽</div>
                    </div>
                {% endfor %}

            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <div class="title title--center"> Вы не совершили ни одного заказа</div>
        <div style="text-align: center;"><a href="/catalog" class="btn">Перейти в каталог</a></div>
    {% endif %}
</div>
<div id="clone-cart" class="js-popup popup-block mfp-hide" >
    <div class="popup-block__title">Товары в корзине</div>
    Товары из заказа были добавлены в корзину.<br>
    Теперь Вы можете отредактировать и оформить заказ.
    <a href="/cart/" type="submit" class="btn btn--dark">В корзину</a>
</div>