<div class="pers-data">
    <div class="pers-data__col">
        <form action="/personal/save-personal-form/" method="POST" class="form js-form js-lk-user-info pers-data__body" novalidate="" data-error-msg="Произошла ошибка">
            <div class="form__title pers-data__title">Персональные данные</div>
            <!--div class="form__b form__text-input-b">
                <input class="form__text-input js-input js-validate js-required" name="email" id="pers-data_email" disabled value="{{ user.email }}" type="email">
                <label class="form__text-input-label" for="pers-data_email">Почта</label>
            </div-->
            <div class="form__b form__text-input-b">
                <input class="form__text-input js-input js-required" name="udata-name" id="pers-data_name" value="{{ user.userProfile.name }}" type="text">
                <label class="form__text-input-label" for="pers-data_name">Имя
                    <span>*</span>
                </label>
            </div>
            <div class="form__b form__text-input-b">
                <input placeholder="+7 (___) ___-__-__" class="form__text-input js-input js-required js-phone" name="udata-phone" id="pers-data_phone" value="{{ user.userProfile.phone }}" type="num">
                <label class="form__text-input-label" for="pers-data_phone">Телефон
                    <span>*</span>
                </label>
            </div>
            <div class="form__b form__text-input-b">
                <input class="form__text-input js-input js-validate" name="udata-skype" id="pers-data_skype" value="{{ user.userProfile.skype }}" type="text">
                <label class="form__text-input-label" for="pers-data_skype">Skype</label>
            </div>

            <div class="form__b form__text-input-b">
                <input class="form__text-input js-input js-validate" name="udata-city" id="pers-data_city" value="{{ user.userProfile.city }}" type="text">
                <label class="form__text-input-label" for="pers-data_city">Город</label>
            </div>
            <div class="form__b form__b--one form__text-input-b">
                <input class="form__text-input js-input js-validate" name="udata-country" id="pers-data_country" value="{{ user.userProfile.country }}" type="text">
                <label class="form__text-input-label" for="pers-data_country">Страна</label>
            </div>
            <button class="btn btn--dark btn--full-w" type="submit">Сохранить</button>

            <div class="form__success js-form__success">
                <div class="content">
                    <p class="h1">Данные успешно сохранены</p>
                </div>
            </div>
        </form>
    </div>
    <div class="pers-data__col">
        <form action="/personal/save-company-form/" class="form js-form pers-data__body js-lk-company-info" novalidate="" data-error-msg="Произошла ошибка">
            <div class="form__title pers-data__title">Реквизиты (для юр.лиц)</div>
            <div class="form__b form__text-input-b">
                <input class="form__text-input js-input js-validate js-required js-company-inn" name="udata-com_inn" id="pers-data_company_inn" value="{{ user.userProfile.comInn }}" type="text">
                <label class="form__text-input-label" for="pers-data_company_inn">ИНН</label>
            </div>
            <div class="form__b form__text-input-b">
                <input class="form__text-input js-input js-validate js-company-name" name="udata-com_name" id="pers-data_company-name" value="{{ user.userProfile.comName }}" type="text">
                <label class="form__text-input-label" for="pers-data_company-name">Название компании</label>
            </div>

            <div class="form__b form__text-input-b">
                <input class="form__text-input js-input js-validate js-company-kpp" name="udata-com_kpp" id="pers-data_company_kpp" value="{{ user.userProfile.comKpp }}" type="text">
                <label class="form__text-input-label" for="pers-data_company_kpp">КПП</label>
            </div>
            <div class="form__b form__text-input-b">
                <input class="form__text-input js-input js-validate js-company-ogrn" name="udata-com_ogrn" id="pers-data_company_orgn" value="{{ user.userProfile.comOgrn }}" type="text">
                <label class="form__text-input-label" for="pers-data_company_orgn">ОГРН</label>
            </div>
            <div class="form__b form__text-input-b">
                <input class="form__text-input js-input js-validate js-company-okved" name="udata-com_okved" id="pers-data_company_okved" value="{{ user.userProfile.comOkved }}" type="text">
                <label class="form__text-input-label" for="pers-data_company_okved">ОКВЭД</label>
            </div>
            <div class="form__b form__text-input-b">
                <input class="form__text-input js-input js-validate js-company-legal-address" name="udata-com_urid_address" id="pers-data_company_legal_address" value="{{ user.userProfile.comUridAddress }}" type="text">
                <label class="form__text-input-label" for="pers-data_company_legal_address">Юридический адрес</label>
            </div>
            <div class="form__b form__text-input-b">
                <input class="form__text-input js-input js-validate js-company-fact-address" name="udata-com_fact_address" id="pers-data_company_actual_address" value="{{ user.userProfile.comFactAddress }}" type="text">
                <label class="form__text-input-label" for="pers-data_company_actual_address">Фактический адрес</label>
            </div>
            <div class="form__b form__text-input-b">
                <input placeholder="+7 (___) ___-__-__" class="form__text-input js-input js-phone js-validate" name="udata-com_phone" id="pers-data_company_phone" value="{{ user.userProfile.comPhone }}" type="tel">
                <label class="form__text-input-label" for="pers-data_company_phone">Телефон</label>
            </div>
            <div class="form__b form__text-input-b">
                <input class="form__text-input js-input js-validate" name="udata-com_rc" id="pers-data_company_rs" value="{{ user.userProfile.comRc }}" type="text">
                <label class="form__text-input-label" for="pers-data_company_rs">Р/с</label>
            </div>
            <div class="form__b form__text-input-b">
                <input class="form__text-input js-input js-validate" name="udata-com_kc" id="pers-data_company_ks" value="{{ user.userProfile.comKc }}" type="text">
                <label class="form__text-input-label" for="pers-data_company_ks">К/c</label>
            </div>
            <div class="form__b form__b--one form__text-input-b">
                <input class="form__text-input js-input js-validate" name="udata-com_bik" id="pers-data_company_bik" value="{{ user.userProfile.comBik }}" type="text">
                <label class="form__text-input-label" for="pers-data_company_bik">БИК</label>
            </div>
            <button class="btn btn--dark btn--full-w" type="submit">Сохранить</button>
            <div class="form__success js-form__success">
                <div class="content">
                    <p class="h1">Данные успешно сохранены</p>
                </div>
            </div>
        </form>
    </div>
</div>