<div class="referal">
    <div class="referal__descr">
        <p>Приглашайте друзей и получайте 1% от стоимости их заказов в виде бонусов.</p>
        <p>Для этого просто отправьте им ссылку ниже.</p>
    </div>
    <form class="referal__b">
        <input class="referal__text js-referal__text" value="http://stommarket.ru/user/registration/?ref={{ user.id }}" readonly="">
        <button class="referal__btn js-copy-to-clipboard" data-target=".js-referal__text">Копировать</button>
    </form>
</div>