<div class="subscription">
    <div class="subscription__col subscription__form-b">
        <form action="/personal/save-feed-form/" method="POST" class="form js-form" data-error-msg="Ошибка">
            <div class="form__title subscription__title">Выберите вид рассылки:</div>
            <div class="form__checkbox-input-b subscription__item">
                <input class="form__checkbox-input" name="ufeed-news" id="subscription_news" value="1" type="checkbox" {{ user.userFeed.news ? 'checked' : '' }}>
                <label class="form__checkbox-input-label" for="subscription_news">новости компании</label>
            </div>
            <div class="form__checkbox-input-b subscription__item">
                <input class="form__checkbox-input" name="ufeed-events" id="subscription_promotions" value="1" type="checkbox" {{ user.userFeed.events ? 'checked' : '' }}>
                <label class="form__checkbox-input-label" for="subscription_promotions">акции и предложения</label>
            </div>
            <div class="form__checkbox-input-b subscription__item">
                <input class="form__checkbox-input" name="ufeed-sales" id="subscription_sale" value="1" type="checkbox" {{ user.userFeed.sales ? 'checked' : '' }}>
                <label class="form__checkbox-input-label" for="subscription_sale">распродажи</label>
            </div>
            <div class="form__checkbox-input-b subscription__item">
                <input class="form__checkbox-input" name="ufeed-new_products" id="subscription_new" value="1" type="checkbox" {{ user.userFeed.newProducts ? 'checked' : '' }}>
                <label class="form__checkbox-input-label" for="subscription_new">новинки</label>
            </div>
            <button class="btn btn--dark btn--full-w subscription__btn" type="submit">Сохранить</button>
            <div class="form__success js-form__success">
                <div class="content">
                    <p class="h1">Подписка оформлена</p>
                </div>
            </div>
        </form>
    </div>
    <div class="subscription__col">
        {% if is_mobile() or is_tablet() %}
            <div class="subscription__info">
                <div class="block__cols">
                    <div class="block__col block__col--4">
                        <img src="/mobile/img/svg/mail-b.svg" alt="" class="subscription__icon">
                    </div>
                    <div class="block__col block__col--7">
                        <div class="text__18">
                            Рассылки происходят<br>
                            1 раз в неделю, без спама
                            и рекламы
                        </div>

                    </div>
                </div>
            </div>
        {% else %}
            <div class="subscription__info">
                <img src="/img/svg/mail-b.svg" alt="" class="subscription__icon">
                Рассылки происходят<br>
                1 раз в неделю, без спама<br>
                и рекламы
            </div>
        {% endif %}
    </div>
</div>