{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="block">
        <div class="innertube">
            <div class="lk reviews--mb">
                <nav class="breadcrumbs"><div class="wrapper"><a href="/" class="breadcrumbs__item">Главная</a></div></nav><script type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"http:\/\/stommarket.ru\/","name":"Home"}},{"@type":"ListItem","position":2,"item":{"@id":"http:\/\/stommarket.ru\/user\/","name":"\u041b\u0438\u0447\u043d\u044b\u0439 \u043a\u0430\u0431\u0438\u043d\u0435\u0442"}}]}</script>            <h1 class="title">Личный кабинет</h1>
                <div class="block__cols">
                    <div class="block__col block__col--10 user">
                        <div class="user__col">
                            <p class="lk__text"><b>E-mail:</b> {{ user.email }}</p>
                            <p class="lk__text"><b>Телефон:</b>{{ user.userProfile.phone ? user.userProfile.phone : ' не указан' }}</p>
                        </div>
                        {#<div class="user__col user__col--2">
                            {% if user.userProfile.bonus == 0 %}
                                <div class="user__bonuses user__bonuses--empty">
                                    бонусы отсутсвуют
                                </div>
                            {% else %}
                                <div class="user__bonuses">
                                    {{ user.userProfile.bonus }}
                                </div>
                                <div class="user__bonuses-text">бонусов</div>
                            {% endif %}
                        </div>#}
                    </div>
                    <div class="block__col block__col--2">
                        <a href="/logout/" class="btn lk__log-out">выйти</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="product__descr lk-menu">
            <div class="innertube">
                <div class="tabs js-tabs js-lk-tabs">
                    <div class="tabs__nav js-tabs-nav">
                        <a class="tabs__link js-tabs__link active">Корзина</a>
                        <a class="tabs__link js-tabs__link">Архив заказов</a>
                        <a class="tabs__link js-tabs__link">Анкета</a>
                        <a class="tabs__link js-tabs__link">Рассылка</a>
                        {#<a class="tabs__link js-tabs__link">Партнерская программа</a>#}
                        <a class="tabs__link js-tabs__link">Обучение</a>
                    </div>
                    <div class="tabs__items tabs__items--pt">
                        <div class="tabs__tab js-tabs__tab active">
                            {{ include('personal/_basket.html.twig') }}
                        </div>

                        <div class="tabs__tab js-tabs__tab">
                            {{ include('personal/_orders.html.twig') }}
                        </div>

                        <div class="tabs__tab js-tabs__tab">
                            {{ include('personal/_personal_data.html.twig') }}
                        </div>

                        <div class="tabs__tab js-tabs__tab">
                            {{ include('personal/_subscription.html.twig') }}
                        </div>

                        {#<div class="tabs__tab js-tabs__tab">
                            {{ include('personal/_referal.html.twig') }}
                        </div>#}

                        <div class="tabs__tab js-tabs__tab">
                            {{ include('personal/_education.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}