{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="block block-space block-space--top-10">
        <div class="innertube">
            <h1 class="title">Личный кабинет</h1>
            <div class="user__col">
                <p class="lk__text"><b>E-mail:</b> {{ user.email }}</p>
                <p class="lk__text"><b>Телефон:</b>{{ user.userProfile.phone ? user.userProfile.phone : ' не указан' }}</p>
            </div>
            {#<div class="user__col t-center">
                {% if user.userProfile.bonus == 0 %}
                    <div class="user__bonuses user__bonuses--empty">
                        бонусы отсутствуют
                    </div>
                {% else %}
                    <div class="user__bonuses">
                        {{ user.userProfile.bonus }}
                    </div>
                    <div class="user__bonuses-text">бонусов</div>
                {% endif %}
            </div>
            #}
            <div class="t-center">
                <a href="/logout/" class="btn lk__log-out">выйти</a>
            </div>

            <div class="space--50"></div>
        </div>
        <div class="tabs js-tabs js-lk-tabs" data-name="personal-tabs">
                <div class="tabs__nav js-tabs-nav">
                    <a class="tabs__link js-tabs__link active">Корзина</a>
                    <a class="tabs__link js-tabs__link">Архив заказов</a>
                    <a class="tabs__link js-tabs__link">Анкета</a>
                    <a class="tabs__link js-tabs__link">Рассылка</a>

                    {#<a class="tabs__link js-tabs__link">Партнерская программа</a>
                    <a class="tabs__link js-tabs__link">Обучение</a>
                    #}
                </div>
                <div class="tabs__items tabs__items--pt">
                    <div class="tabs__tab js-tabs__tab active">
                        <div class="basket js-basket">
                            {{ include('cart/_basket_mobile.html.twig') }}
                        </div>
                    </div>

                    <div class="tabs__tab js-tabs__tab">
                        {{ include('personal/_orders.html.twig') }}
                    </div>

                    <div class="tabs__tab js-tabs__tab">
                        {{ include('personal/_personal_data.html.twig') }}
                    </div>

                    <div class="tabs__tab js-tabs__tab">
                        {{ include('personal/_subscription.html.twig') }}
                    </div>
                    {#
                    <div class="tabs__tab js-tabs__tab">
                        {{ include('personal/_referal.html.twig') }}
                    </div>

                    <div class="tabs__tab js-tabs__tab">
                        {{ include('personal/_education.html.twig') }}
                    </div>
                    #}
                </div>
        </div>
        <div class="space--50"></div>
    </section>
{% endblock %}