{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Зарегистрированные пользователи </h5>
            </div>
            <div class="ibox-content">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Активный</th>
                        <th>E-mail</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Версия</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for manager in managers %}
                        <tr>
                            <td>{{ manager.id }}</td>
                            <td>{{ manager.active ? '<i class="fa fa-check text-navy"></i>' :'<i class="fa fa-close"></i>' }}</td>
                            <td>{{ manager.email }}</td>
                            <td>{{ manager.name }}</td>
                            <td>{{ manager.lastName }}</td>
                            <td>{{ manager.siteVersion.name }}</td>
                            <td>
                                <div class="actions">
                                    <a href="{{ path('admin_manager_edit', {id: manager.id}) }}"
                                       class="btn-primary btn btn-sm">Редактировать
                                    </a>
                                    <a class="btn-danger btn btn-sm delete-btn js-delete-btn" href="{{ path('admin_manager_delete',{id:manager.id}) }}">
                                        Удалить
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if managers.haveToPaginate %}
                    <div class="navigation text-center">
                        {{ pagerfanta(managers, 'twitter_bootstrap3_translated', {routeName: 'admin_manager_index','routeParams': app.request.query.all,}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

