{% if cartItems|length > 0 %}
    <div class="basket__wrap js-basket-w" style="position: relative;">

        <div class="basket__col basket__col--items js-order-products-box">
            {% for item in cartItems %}
                {{ include('cart/_cart_item.html.twig',{item : item}) }}
            {% endfor %}
        </div>
        <div class="basket__col basket__col--order order js-order-info" style="">
            <div class="order__title">Итого</div>
            <div class="order__line">Стоимость: <span class="js-order-summ">{{ preTotal }}</span> ₽</div>
            <div class="order__line js-order-discount-b">Скидка: <span class="js-order-discount">{{ discount }}</span> ₽</div>
            <div class="order__line js-order-bonuses-b hidden" style="display: none;">
                <div class="form__checkbox-input-b ">
                    <input class="form__checkbox-input js-use-bonuses" id="basket_use_bonuses" type="checkbox">
                    <label class="form__checkbox-input-label" for="basket_use_bonuses">использовать
                        <span class="js-order-bonuses">0 бонусов</span>
                        <span class="tip">
                            <span class="tip__block">
                                После первой покупки подарочные бонусы аннулируются.<br>Использование бонусов доступно при заказе от 3 тыс. руб., максимум 20% от суммы заказа
                            </span>
                        </span>
                    </label>
                </div>
            </div>

            <div class="order__line">Всего к оплате: <span class="basket__summ basket__summ--bold"><span class="js-order-final-summ">{{ total }}</span> ₽</span></div>
            {% if version.id in [1,2] %}
            <div class="order__line">
                <div class="js-toggle-link" style="cursor: pointer">У меня есть промокод <span class="js-toggle-arr arr-d-after"></span></div>
                <div class="js-toggle-body promocode" style="display: none">
                    <br>
                    <div class="form__b form__text-input-b">
                        <input type="text" class="form__text-input js-input js-promocode-input" value="" id="promo_code">
                        <label class="form__text-input-label" for="promo_code">Введите промокод<span></span></label>
                        <p class="form__error js-promocode-error"></p>
                        <p class="form__ok js-promocode-ok"></p>
                    </div>
                    <a href="#" class="btn btn--compact js-promocode-button" >Применить</a>
                </div>

            </div>
            {% endif %}
            <a href="#order-form" type="submit" class="btn btn--full-w btn--dark js-open-popup">Оформить заказ</a>

        </div>
        {{ include('cart/_form_popup.html.twig') }}
    </div>

{% else %}
    <div class="basket__empty js-basket-empty">
        <div class="title title--center">Ваша корзина пуста</div>
        <div style="text-align: center;"><a href="/catalog" class="btn">Продолжить покупки</a></div>
    </div>
{% endif %}
<div class="basket__empty hidden js-basket-empty" style="display: none;">
    <div class="title title--center">Ваша корзина пуста</div>
    <div style="text-align: center;"><a href="/" class="btn">Продолжить покупки</a></div>
</div>