<div class="product-card basket__item js-product  {% if item.product.price(version.siteVersion) == 0%} basket__item--unavailable {% endif %}" data-id="{{ item.product.id }}">
    <a href="#" class="basket__item-remove js-del"><i class="icon-cancel"></i></a>
    <div class="product-card__picture">
        <img src="{{ item.product.image('s') }}">
    </div>
    <div class="product-card__desc">
        <a href="/catalog/{{ item.product.url }}" class="product-card__title">{{ item.product.name }}</a>
        {% if item.product.event == 'sale' %}
            <s class="product-card__old-price"> <span class="js-basket-price">{{ item.product.oldPrice(version.id)}}</span> ₽</s>
        {% endif %}
        <span class="product-card__price"><span class="js-basket-price">{{ item.product.price(version.siteVersion)}}</span> ₽</span>
    </div>
    <label class="form__number-input-b form__b--one basket__item-count">
        <input class="form__number-input js-form__number js-change-sum-number" name="item-count"
               step="1"
               min="1"
               max="{{ item.product.count(version.id) ? item.product.count(version.id) :1 }}"
               value="{{ item.qty }}"
               data-bonus-cost="{{ item.product.bonus(version.id) }}"
               data-cost="{{ item.product.price(version.siteVersion) }}"
               data-id="{{ item.product.id }}"
               type="number">
        <span class="form__number-input-minus js-form__number-minus maxed">−</span>
        <span class="form__number-input-plus js-form__number-plus">+</span>
    </label>
    {% if item.product.count(version.id) < 1 %}
        <div class="basket__unavailable-text">Товар доступен только под заказ
            <span class="tip tip--cart-item">
                    <span class="tip__block">после оформления заказа, менеджер подтвердит точные сроки доставки</span>
                </span>
        </div>
    {% endif %}
</div>

