<div class="basket__item js-product js-ga-cart-item {% if item.price == 0%} basket__item--unavailable {% endif %}"
data-id="{{ item.product.id }}"
     data-ga-props='{"id":"{{ item.product.id }}","name":"{{ item.product.name }}","brand":"{{ item.product.productBrand.name }}","category":"{{ item.product.catalog.name }}","price":"{{ item.price }}"}'
>
    <div class="basket__img-b">
        <a href="/catalog/{{ item.product.url }}" class="basket__text">
            <img src="{{ item.product.image('s') }}" alt="{{ item.product.name }}">
        </a>
    </div>
    <div class="basket__descr">
        <a href="/catalog/{{ item.product.url }}" class="basket__text ">{{ item.product.name }}</a>
        <div class="basket__item-count-row">
            <div class="basket__count-b">
                <label class="form__number-input-b form__b--one">
                    <input class="form__number-input js-form__number js-change-sum-number js-ga-cart-item__count"
                           name="item-count"
                           step="1"
                           min="1"
                           max="{{ item.product.count(version.id) ? item.product.count(version.id) :1 }}"
                           value="{{ item.qty }}"
                           data-bonus-cost="{{ item.product.bonus(version.id) }}"
                           data-cost="{{ item.price }}"
                           data-id="{{ item.product.id }}"
                           type="number">
                    <span class="form__number-input-minus js-form__number-minus">−</span>
                    <span class="form__number-input-plus js-form__number-plus">+</span>
                </label>
            </div>

            {% if item.product.event == 'sale' %}
                <div class="basket__item-summ basket__item-summ--with-sell">
                    <span class="js-price-original">{{item.price * item.qty}}</span> ₽
                    <span class="basket__item-summ-sell js-price-before-b basket__item-summ-sell--extended">
                    <span class="js-price-before">{{ item.product.oldPrice(version.id) * item.qty }}</span> ₽</span>
                </div>
            {% else %}
                <div class="basket__item-summ ">
                    <span class="js-price-original">{{ item.price  }}</span> ₽
                </div>
            {% endif %}
        </div>
        {% if item.product.count(version.id) < 1 %}
            <div class="basket__unavailable-text">Товар доступен только под заказ
                <span class="tip tip--cart-item">
                    <span class="tip__block">после оформления заказа, менеджер подтвердит точные сроки доставки</span>
                </span>
            </div>
        {% endif %}
    </div>
    <a class="basket__item-close js-del js-ga-cart-item__remove"></a>
</div>
