{% block popups %}
    <!-- Форма оформления заказа -->
    <div id="order-form" class="js-popup mfp-hide popup-block">
        <form action="/order/add/" class="form js-form js-order-form order-form" novalidate="" data-error-msg="Произошла ошибка">
            <div class="form__content js-order-form-content">
                <input value="{{ is_mobile() or is_tablet() ? '1' : '0' }}" name="source_type" type="hidden">

                <div class="form__title">Оформление заказа</div>
                {#
                    <h3 style="color:red;margin-bottom: 15px;text-transform: uppercase;text-align: center;">Внимание!<br> Ваш заказ будет обработан не ранее 09.01.19!</h3>
                #}
                <div class="form__group">
                    <div class="form__b form__text-input-b">
                        <input class="form__text-input js-input js-required" name="username" value="" id="customer_name" type="text">
                        <label class="form__text-input-label" for="customer_name">Имя<span>*</span></label>
                    </div>
                    <div class="form__b form__text-input-b">
                        <input placeholder="+7 (___) ___-__-__" class="form__text-input js-input js-required js-phone" value="" name="phone" id="customer_phone" type="tel">
                        <label class="form__text-input-label" for="customer_phone">Телефон<span>*</span></label>
                    </div>
                    <div class="form__b form__text-input-b">
                        <input class="form__text-input js-input js-validate js-required" value="" name="email" id="customer_email" type="email">
                        <label class="form__text-input-label" for="customer_email">Электронная почта (E-mail)<span>*</span></label>
                    </div>
                </div>
                <div class="form__group">
                    <div class="form__sub-title">Доставка</div>

                    <div class="form__b form__radio-input-b">
                        {% for key, delivery in version.siteVersion.deliveryTypes %}
                            {% if delivery.isDelivery %}
                                <div class="js-delivery-box {{ isAllowDelivery ? 'active' : 'hidden' }}">
                                    <input class="form__radio-input js-input js-delivery-input {{ delivery.isDelivery ? 'js-open-delivery' : 'js-close-delivery' }}  js-open-cash-payment active" name="delivery_type" value="{{ delivery.cmsCode }}" id="customer_delivery_{{ delivery.cmsCode }}" {{ delivery.isDelivery==false ? 'checked' }} type="radio">
                                    <label class="form__radio-input-label" for="customer_delivery_{{ delivery.cmsCode }}">{{ delivery.title }} — {{ delivery.price }}</label>
                                </div>
                            {% else %}
                                <input class="form__radio-input js-input js-delivery-input {{ delivery.isDelivery ? 'js-open-delivery' : 'js-close-delivery' }}  js-open-cash-payment active" name="delivery_type" value="{{ delivery.cmsCode }}" id="customer_delivery_{{ delivery.cmsCode }}" {{ delivery.isDelivery==false ? 'checked' }} type="radio">
                                <label class="form__radio-input-label" for="customer_delivery_{{ delivery.cmsCode }}">{{ delivery.title }} — {{ delivery.price }}</label>
                            {% endif %}
                            {% endfor %}
                        {#
                        <input class="form__radio-input js-input js-close-delivery js-open-cash-payment active" name="delivery_type" value="10" id="customer_delivery_self" checked="" type="radio">
                        <label class="form__radio-input-label" for="customer_delivery_self">Самовывоз — бесплатно</label>

                        <input class="form__radio-input js-input js-open-delivery js-open-cash-payment active" name="delivery_type" value="5" id="customer_delivery_city" type="radio">
                        <label class="form__radio-input-label js-order-del-local" for="customer_delivery_city">Доставка по {{ version.siteVersion.storeName }} — <span class="js-price-val">250 ₽</span></label>
                        #}
                        <input class="form__radio-input js-input js-open-delivery js-close-cash-payment active" name="delivery_type" value="4" id="customer_delivery_country" type="radio">
                        <label class="form__radio-input-label js-order-del-rus" for="customer_delivery_country">Доставка по РФ — <span class="js-price-val">по соглашению</span></label></div>
                    <div class="form__b form__text-input-b hidden js-delivery-address">
                        <textarea class="form__text-input form__text-input--textarea js-input" name="address" id="customer_address"></textarea>
                        <label class="form__text-input-label" for="customer_address">Адрес доставки</label>
                    </div>
                </div>
                <div class="form__group">
                    <div class="form__b form__radio-input-b">
                        <div class="form__sub-title">Способ оплаты</div>
                        <div class="js-cash-payment">
                            <input class="form__radio-input js-input active" name="origin_payment-type" value="1" id="customer_pay_type_cash" checked="" type="radio">
                            <label class="form__radio-input-label" for="customer_pay_type_cash">Наличными при получении</label>
                        </div>
                        {% if version.id in [1,2] %}
                            <div class="js-cash-payment">
                                <input class="form__radio-input js-input" name="origin_payment-type" value="10" id="customer_pay_type_cashless_get"  type="radio">
                                <label class="form__radio-input-label" for="customer_pay_type_cashless_get">Картой при получении</label>
                            </div>
                        {% endif %}
                        {% if version.id in [1,2,5,6,7,8,9] %}
                        <div class="js-cashless-payment {{ isAllowCashlessPayment ? 'active' : 'hidden' }}">
                            <input class="form__radio-input js-input active" name="origin_payment-type" value="2" id="customer_pay_type_card" type="radio">
                            <label class="form__radio-input-label" for="customer_pay_type_card">Картой онлайн <span class="order-form__payment icon-visa--bank order-form__payment--visa"></span>
                                <span class="order-form__payment order-form__payment--mk icon-mk"></span></label>
                        </div>
                        {% endif %}
                        <div class="js-bill-payment">
                            <input class="form__radio-input js-input active" name="origin_payment-type" value="3" id="customer_pay_type_bill" type="radio">
                            <label class="form__radio-input-label" for="customer_pay_type_bill">По счету</label>
                        </div>
                    </div>
                </div>
                <div class="form__group">
                    <div class="form__checkbox-input-b js-order-bonuses-b hidden" style="display: none;">
                        <input class="form__checkbox-input js-use-bonuses" name="bonus" value="1" id="form_use_bonuses" type="checkbox">
                        <label class="form__checkbox-input-label" for="form_use_bonuses">использовать <span class="js-order-bonuses">0 бонусов</span>
                            <span class="tip">
                                    <span class="tip__block">
                                        После первой покупки подарочные бонусы аннулируются.<br>Использование бонусов доступно при заказе от 3 тыс. руб., максимум 20% от суммы заказа
                                    </span>
                                </span>
                        </label>
                    </div>
                </div>
                <div class="form__footer">
                <div class="text__24">Всего к оплате:
                    <span class="text__34"><span class="js-order-final-summ">{{ total }}</span> ₽</span>
                </div>
                <div class="form__checkbox-input-b">
                    <input class="form__checkbox-input js-input js-required active" name="agreement" value="1" id="order-agreement" type="checkbox">
                    <label class="form__checkbox-input-label form__checkbox-input-label--small" for="order-agreement">
                        Нажатием кнопки «Оформить заказ», я соглашаюсь с пунктами договора <a href="/help/dogovor-publichnoy-ofertyi-postavki/" target="_blank" class="text__link">публичной оферты</a> и обработкой <a href="/help/politika-konfidencialnosti/" target="_blank" class="text__link">персональных данных</a>.
                    </label>
                </div>
                {#
                <div class="form__checkbox-input-b">
                    <input class="form__checkbox-input js-input js-required active" name="iagree" value="1" id="order-iagree" type="checkbox">
                    <label class="form__checkbox-input-label form__checkbox-input-label--small" for="order-iagree">
                        Я понимаю что мой заказ будет обработан не ранее 09.01.2019г.
                    </label>
                </div>
                #}
                <button class="btn btn--dark btn--full-w js-ga-checkout ga-event-checkout" type="submit" onclick="yaCounter{{ version.siteVersion.metrika }}.reachGoal('FINAL');">Отправить заказ</button>
            </div>
            </div>
            <div class="form__success js-form__success">
                <div>
                    <div class="content">
                        <p class="h1">Заказ № <span class="js-order-id"></span> успешно оформлен</p><p class="h2">Мы свяжемся с вами в ближайшее время</p>
                        <!--a href="javascript:" class="js-payment-btn" target="_blank" style="display: none;">Перейти к оплате</a-->
                    </div>
                    <div>
                        <a href="https://market.yandex.ru/shop/198526/reviews/add" class="btn btn--dark btn--full-w block-space block-space--top-10" target="_blank">Оставить отзыв на Яндекс.Маркет</a>
                        <a href="/reviews/" target="_blank" class="btn btn--dark btn--full-w block-space block-space--top-10">Оставить отзыв на сайте</a>
                        <a href="#" style="display: none" target="_blank" class="btn btn--dark btn--full-w block-space block-space--top-10 js-payment-btn">Перейти к оплате</a>
                    </div>
                    <div></div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}