{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="block block-space block-space--top-10 cart">
        <div class="basket js-basket">
            {{ include('cart/_basket_mobile.html.twig') }}
        </div>
    </section>
    {% if alsoBoughtProducts|length >0 %}
        <section class="block others">
            <div class="innertube">
                <div class="others__title">Похожие товары</div>
                <div class="slider others__slider js-additional-products-slider">
                    {% for product in alsoBoughtProducts %}
                        {{ include('product/_product_mobile.html.twig',{product : product}) }}
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
