{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="block">
        <div class="innertube">
            <div class="basket js-basket">
                {{ include('layouts/_breadcrumbs.html.twig') }}
                <div class="title">Корзина</div>
                {% if app.user is null and version.id == 1 %}
                    <div class="basket-register">
                        <span>Зарегистрируйся и получи <strong>промокод </strong> на скидку</span><a href="/registration/" target="_blank" class="basket-register__btn">Получить промокод</a>
                    </div>
                {% endif %}
                {% if total >= 4000 and version.id == 1 and true == true %}
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" integrity="sha256-p+PhKJEDqN9f5n04H+wNtGonV2pTXGmB4Zr7PZ3lJ/w=" crossorigin="anonymous" />
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha256-ITwLtH5uF4UlWjZ0mdHOhPwDpLoqxzfFCZXn1wE56Ps=" crossorigin="anonymous"></script>
                    {% for label, messages in app.flashes(['warning', 'error', 'success']) %}
                        {% for message in messages %}
                            <script>
                                var noty = new Noty({
                                    layout   : 'topRight',
                                    theme    : 'relax',
                                    type: 'info',
                                    timeout: 3000,
                                    progressBar: true,
                                    text: 'Товар добавлен в корзину!',
                                }).show();
                            </script>
                        {% endfor %}
                    {% endfor %}

                    <div class="basket-bonus js-basket-bonus">
                    <p>Ваш бонус при покупке от 4 000 ₽:</p>
                    <div class="basket-bonus__card">
                        <div class="basket-bonus__close js-basket-bonus__close"></div>
                        <img src="{{ asset('img/restavrin.jpg') }}" alt="" class="basket-bonus__img">
                        <div class="basket-bonus__text-block">
                            <div class="basket-bonus__title">
                                Реставрин - шприц 4г (ТехноДент) <img class="basket-bonus__info-icon" src="{{ asset('img/info.png') }}">
                                <span class="basket-bonus__tooltip"><strong>Реставрин</strong> - универсальный наногибридный композитный материал светового отверждения для реставрации фронтальных и боковых зубов.</span>
                            </div>
                            <div class="basket-bonus__colorpicker">
                                <span class="selectbox dashed">
                                Выберите цвет:
                                <span class="">
                                    <span class="js-selectbox selectbox__current" data-id="1"><span class="js-selectbox__current">A2</span>
                                        <span class="selectbox__menu js-selectbox__menu">
                                            <a href="#" class="selectbox__menu-item js-selectbox__menu-item" data-id="43133">A1</a>
                                            <a href="#" class="selectbox__menu-item js-selectbox__menu-item" data-id="43134">A2</a>
                                            <a href="#" class="selectbox__menu-item js-selectbox__menu-item" data-id="43135">A3</a>
                                            <a href="#" class="selectbox__menu-item js-selectbox__menu-item" data-id="43136">A3.5</a>
                                            <a href="#" class="selectbox__menu-item js-selectbox__menu-item" data-id="43137">B2</a>
                                            <a href="#" class="selectbox__menu-item js-selectbox__menu-item" data-id="43138">OA2</a>
                                        </span>
                                    </span>
                                </span>
                            </span>
                                <div class="basket-bonus__count-b">
                                    <label class="form__number-input-b form__b--one">
                                        <input class="form__number-input js-form__number js-change-sum-number"
                                               name="item-count"
                                               step="1"
                                               min="1"
                                               max="55"
                                               value="1"
                                               data-bonus-cost="19"
                                               data-id="43134"
                                               type="number">
                                        <span class="form__number-input-minus js-form__number-minus maxed">−</span>
                                        <span class="form__number-input-plus js-form__number-plus">+</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="basket-bonus__price-block">
                            <span class="basket-bonus__price">272 ₽</span>
                            <span class="basket-bonus__old-price">631 ₽</span>
                        </div>
                        <a href="#" class="basket-bonus__btn btn btn--yellow js-basket-bonus-add">Добавить</a>
                    </div>
                    <hr class="basket-bonus__separator">
                </div>
                {% endif %}
                {{ include('cart/_basket.html.twig') }}
            </div>
        </div>
    </section>
    {% if alsoBoughtProducts|length >0 %}
        <section class="block block--bt">
            <div class="innertube">
                <div class="others others--line3" onclick="yaCounter{{ version.siteVersion.metrika }}.reachGoal('ALSOORDERED');">
                    <h2 class="others__title">Вам также может понравиться</h2>
                    <div class="others__card-b">
                        {% for product in alsoBoughtProducts %}
                            {{ include('product/_product.html.twig',{product : product}) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}
