.product-view {

}

.product-view .gallery {
    width: 35%;
    float: left;
}

.product-view .pic {
    text-align: center;
    display: block;
}

.product-view .info {
    position: relative;
    margin-left: 36%;
    min-height: 400px;
    padding-right: 285px;
}

.product-view .info .title {
    font-size: 31px;
    font-weight: bold;
}

.product-view .types {
    margin-top: 11px;
}

.product-view .types span,
.product-view .types a {
    color: #ff7546;
    background: #ffffff;
    border: 1px solid #ff7546;
    border-radius: 4px;
    padding: 0 10px;
    margin-right: 9px;
    font-size: 13px;
}

.product-view .types .active {
    color: #ffffff;
    background: #ff7546;
}

.product-view .info .desc {
    margin-top: 14px;
}

.product-view .info .props {
    margin-top: 20px;
}

.product-view .info .props .row {
    margin-bottom: 5px;
    padding-bottom: 2px;
    padding-left: 24px;
    position: relative;
    border-bottom: 1px solid #eaeaea;
    color: #3a3a3a;
}

.product-view .info .props i {
    position: absolute;
    left: 0;
    top: 3px;
}

.product-view .info .props i.fa-screen:before {
    content:"\f065"
}

.product-view .info .props i.fa-memory:before {
    content:"\f0a0"
}

.product-view .info .props i.fa-wireless:before {
    content:"\f0ac"
}

.product-view .info .props i.fa-battery:before {
    content:"\f0e7"
}

.product-view .info .props i.fa-weight:before {
    content:"\f1b2"
}

.product-view .info .props i.fa-performance:before {
    content:"\f0e4"
}

.product-view .info .props .readmore {
    text-decoration: underline;
    display: inline-block;
    margin-top: 6px;
}

.product-view .info .right-box {
    position: absolute;
    right: 0;
    top: 0;
    width: 265px;
}

.product-view .info .box {
    border-radius: 5px;
    border: 1px solid #e3e3e3;
}

.product-view .info .price {
    text-align: center;
    margin-top: 14px;
    padding-bottom: 6px;
    border-bottom: 1px solid #e3e3e3;
}

.product-view .info .cost {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}

.product-view .info .cost i {
    font-size: 28px;
}

.product-view .info .price .btns {
    margin-top: 15px;
}

.product-view .info .price .btn {
    padding: 0;
    margin-bottom: 8px;
    height: 40px;
    line-height: 40px;
    width: 194px;
}

.product-view .info .inform {
    width: 194px;
    margin: 10px auto;
}

.product-view .info .inform li {
    margin-bottom: 3px;
}

.product-view .info .inform li a {
    color: #444444;
    text-decoration: underline;
    transition: all .2s;
}

.product-view .info .inform li a:hover {
    color: #ff7546;
}

.product-view .info .recommended {
    margin-top: 20px;
}

.product-view .info .recommended .title {
    font-size: 14px;
    font-weight: 600;
    padding: 0 18px;
}

.product-view .info .recommended .pic {
    float: left;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
}

.product-view .info .recommended .pic img {
    display: inline-block;
}

.product-view .info .recommended .reco-info {
    margin-left: 68px;
}

.product-view .info .recommended .box {
    margin-top: 6px;
    padding: 8px 18px;
}

.product-view .info .recommended .reco-info .title {
    font-size: 13px;
    font-weight: 600;
    padding: 0;
}

.product-view .info .recommended .reco-info .price {
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0 0 0;
    padding: 0;
    text-align: left;
    border: none;
    line-height: 1;
    font-style: italic;
}

.product-view .info .recommended .reco-info .price i {
    font-size: 15px;
}

.product-view .info .recommended .reco-info .compare {
    text-decoration: underline;
    display: inline-block;
    color: #ff7546;
}

.product-view .info .recommended .flex-prev,
.product-view .info .recommended .flex-next {
    opacity: 1;
    content: '';
    background: url("/images/reco-slider.png");
    height: 16px;
    width: 8px;
    margin-top: -8px;
}

.product-view .info .recommended .flex-prev {
    left: -13px;
}

.product-view .info .recommended .flex-next {
    background-position: -10px 0;
    right: -13px;
}

.product-view .info .recommended .flex-prev:before,
.product-view .info .recommended .flex-next:before {
    display: none;
}

.product-services {
    margin-top: 45px;
}

.product-services .props {
    max-width: 750px;
}

.product-services .props .row {
    line-height: 34px;
    height: 35px;
    border: 1px solid #e3e3e3;
    border-top: none;
}

.product-services .props .row:first-child {
    border-top: 1px solid #e3e3e3;
}

.product-services .props .row .label {
    float: left;
    width: 40%;
    border-right: 1px solid #e3e3e3;
    padding: 0 20px;
    margin-right: 20px;
}
.cart-list {
    margin: 50px auto 0 auto;
    max-width: 785px;
}

.cart-list .product {
    margin-bottom: 23px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e3e3e3;
    float: left;
}

.cart-list .product .col {
    float: left;
    position: relative;
    height: 60px;
}

.cart-list .product .col .label {
    font-size: 14px;
    color: #6c6c6c;
}

.cart-list .product .col .value {
    font-size: 18px;
    color: #3a3a3a;
    font-weight: 600;
    margin-bottom: 2px;
}

.cart-list .product .col .value i {
    font-size: 14px;
}

.cart-list .product .pic {
    width: 60px;
    height: 60px;
    text-align: center;
}

.cart-list .product .pic img {
}

.cart-list .product .name {
    width: 200px;
    padding-left: 20px;
}

.cart-list .product .price {
    width: 150px;
}

.cart-list .product .count {
    width: 150px;
}

.cart-list .product .count input {
    width: 80px;
    height: 22px;
    border: 1px solid #c6c6c6;
    padding: 0 0 0 8px;
    font-weight: bold;
}

.cart-list .product .total {
    width: 160px;
}

.cart-list .product .actions {
    width: 65px;
    padding-top: 4px;
}

.cart-list .product .actions .close i {
    font-size: 36px;
    cursor: pointer;
    line-height: 1.1;
}

.cart-list .product .name .type {
    color: #ffffff;
    background: #ff7546;
    border-radius: 4px;
    padding: 0 10px;
    margin-right: 9px;
    font-size: 13px;
    display: inline-block;
}

@media screen and (max-width: 825px) {
    .cart-list .product .price {
        width: 100px;
    }

    .cart-list .product .count {
        width: 100px;
    }

    .cart-list .product .total {
        width: 150px;
    }

    .cart-list .product .name {
        width: 150px;
    }

    .cart-list .product .col .value {
        font-size: 16px;
    }
}

@media screen and (max-width: 680px) {
    .cart-list .product .col .label {
        float: left;
        width: 85px;
    }

    .cart-list .product .col .value {
        font-size: 14px;
    }

    .cart-list .product .col {
        float: none;
        height: 20px;
        margin: 0 0 4px 70px;
        padding: 0;
        width: 290px;
    }

    .cart-list .product .col.pic {
        float: left;
        height: 60px;
        width: 60px;
        margin: 0;
    }

    .cart-list .product .col.price {
        display: none;
    }

    .cart-list .product .actions .close {
        background: #ff4f51;
        border-radius: 4px;
        padding: 2px 10px;
        color: #ffffff;
    }

    .cart-list .product .actions .close i {
        display: none;
    }

    .cart-list .product .actions .close:after {
        content: ' Удалить';
        font-size: 14px;
    }
}

.catalog-search {
    margin: 14px auto 20px auto;
    max-width: 500px;
    position: relative;
}

.catalog-search .std-input {
    background: #f4f4f4;
    height: 45px;
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 0 140px 0 20px;
}

.catalog-search .btn{
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    padding: 0 20px;
    line-height: 45px;
    text-align: center;
    font-weight: 600;
    border-radius: 0;
}

.catalog-search .btn i {
    margin-left: 6px;
}

.cart-notice {
    font-size: 15px;
    text-align: center;
    margin: 30px auto 50px auto;
    background: #f2edd2;
    color: #454545;
    padding: 20px;
}

.cart-notice div {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

#order-form {
    text-align: center;
    width: 450px;
    margin: 0 auto;
    padding-top: 20px;
}

.orders-list {
}

.orders-list .order {
    margin-bottom: 4px;
}

.orders-list .header {
    position: relative;
    height: 40px;
    border-bottom: 1px solid #777777;
    line-height: 1;
    font-size: 16px;
    font-weight: 600;
    //background: #ddcab5;
}

.orders-list .order[data-status="15"] .header,
.orders-list .order[data-status="20"] .header {
    //background: #D3D8DB;
}

.orders-list .header {
    cursor: pointer;
}

.orders-list .header .title {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.orders-list .header .date {
    position: absolute;
    left: 15%;
    bottom: 10px;
}

.orders-list .header .price {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.orders-list .header .status {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.orders-list .body {
    display: none;
    padding-bottom: 30px;
}


.orders-list .cart {
    padding-top: 14px;
}

.orders-list .cart .product {
    margin-bottom: 23px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e3e3e3;
    float: left;
}

.orders-list .cart .product .col {
    float: left;
    position: relative;
    height: 60px;
}

.orders-list .cart .product .col .label {
    font-size: 14px;
    color: #6c6c6c;
}

.orders-list .cart .product .col .value {
    font-size: 18px;
    color: #3a3a3a;
    font-weight: 600;
    margin-bottom: 2px;
}

.orders-list .cart .product .col .value i {
    font-size: 14px;
}

.orders-list .cart .product .pic {
    width: 60px;
    height: 60px;
    text-align: center;
}

.orders-list .cart .product .name {
    width: 200px;
    padding-left: 20px;
}

.orders-list .cart .product .price {
    width: 180px;
}

.orders-list .cart .product .count {
    width: 180px;
}

.orders-list .cart .product .total {
    width: 160px;
}