@@include('./templates/header.tpl')

<section class="block">
	<div class="about">
		<div class="about__fb">
			<div class="innertube">
				<div class="about__fb-cnt">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__item">Главная</a>
					</nav>
					<h1 class="title">О компании</h1>
					<h2 class="about__fb-title">
						<span class="about__quotes">Стоммаркет»</span> — товары&nbsp;для<br>стоматологов и стоматологий
					</h2>
				</div>
			</div>
		</div>
		<div class="innertube">
			<div class="about-results">
				<div class="about-results__item"><span class="about-results__num">4&nbsp;000</span>
					товаров в&nbsp;каталоге</div>
				<div class="about-results__item"><span class="about-results__num">2&nbsp;000</span>
					клиник работают
					с&nbsp;нами в&nbsp;400 городах России</div>
				<div class="about-results__item"><span class="about-results__num">1&nbsp;600</span>
					человек в&nbsp;день</div>
				<div class="about-results__item"><span class="about-results__num">150</span>
					брендов представленных
					в&nbsp;интернет-магазине</div>
			</div>
			<div class="about-block">
				<div class="about-block__col">
					<img src="img/about/about-img1.jpg" alt="Стоммаркет">
				</div>
				<div class="about-block__col about-block__col--text">
					<div class="about-block__title">миссия компании</div>
					<div class="about-block__text">
						В&nbsp;основе технической политики &laquo;Стоммаркет&raquo;&nbsp;&mdash; широкий ассортимент стоматологических материалов и&nbsp;оборудования, а&nbsp;так&nbsp;же высокая скорость поставки по&nbsp;оптимальным ценам.
						Наша компания осуществляет быструю
						доставку товаров по&nbsp;всей стране, во&nbsp;все регионы,
						чтобы каждый специалист мог купить в&nbsp;России стоматологические товары он-лайн наиболее удобным для него способом по&nbsp;доступной цене.
					</div>
				</div>
			</div>
			<div class="about-block">
				<div class="about-block__col about-block__col--text">
					<div class="about-block__title">Наша команда</div>
					<div class="about-block__text">
						За&nbsp;5&nbsp;лет существования команда &laquo;Стоммаркет&raquo; зарекомендовала себя как стабильная, современная, конкурентоспособная компания,
						с&nbsp;высоким профессионализмом исполнения своих задач, с&nbsp;высокой долей социальной ответственности. За&nbsp;девизом компании &laquo;совершенствуемся вместе с&nbsp;вами&raquo;&nbsp;&mdash; стоит огромный ежедневный, самоотверженный труд всего профессионального коллектива.
						<p class="about-block__name">Лилия Нечаева</p>
						<p class="about-block__position">Генеральный директор ООО &laquo;Стоммаркет&raquo;</p>
					</div>
				</div>
				<div class="about-block__col">
					<img src="img/about/about-p1.jpg" alt="Стоммаркет">
				</div>
			</div>
			<div class="about-team">
				<div class="about-team__item">
					<div class="about-team__img">
						<img src="img/about/about-p2.jpg" alt="">
					</div>
					<div class="about-team__info">
						<div class="about-team__name">Александр Персин</div>
						<div class="about-team__position">Директор по развитию</div>
					</div>
				</div>
				<div class="about-team__item">
					<div class="about-team__img">
						<img src="img/about/about-p3.jpg" alt="">
					</div>
					<div class="about-team__info">
						<div class="about-team__name">Лейсан Сулейманова</div>
						<div class="about-team__position">Менеджер</div>
					</div>
				</div>
				<div class="about-team__item">
					<div class="about-team__img">
						<img src="img/about/about-p4.jpg" alt="">
					</div>
					<div class="about-team__info">
						<div class="about-team__name">Марина Шерстнева</div>
						<div class="about-team__position">Менеджер</div>
					</div>
				</div>
				<div class="about-team__item">
					<div class="about-team__img">
						<img src="img/about/about-p5.jpg" alt="">
					</div>
					<div class="about-team__info">
						<div class="about-team__name">Алексей Горохов</div>
						<div class="about-team__position">Менеджер</div>
					</div>
				</div>
			</div>
			<div class="about-dealers">
				<div class="about-dealers__title">мы дилеры</div>
				<div class="about-dealers__items">
					<div class="about-dealers__item">
						<img src="img/about/about-logo1.jpg" alt="3M ESPE">
					</div>
					<div class="about-dealers__item">
						<img src="img/about/about-logo2.jpg" alt="KERR">
					</div>
					<div class="about-dealers__item">
						<img src="img/about/about-logo3.jpg" alt="Septdont">
					</div>
					<div class="about-dealers__item">
						<img src="img/about/about-logo4.jpg" alt="VOCO">
					</div>
					<div class="about-dealers__item">
						<img src="img/about/about-logo5.jpg" alt="ВладМиВа">
					</div>
				</div>
			</div>
			<div class="about-requisites">
				<div class="about-requisites__title">Реквизиты</div>
				<div class="about-requisites__items">
					<div class="about-requisites__col content content--lg">
						<p><b>Адрес:</b> 195112, г. Санкт-Петербург, Республиканская ул. д.22 , лит.А, пом.11-Н</p>
						<p><b>Время работы:</b> Пн.-Сб. с 10:00 до 18:00 (прием заявок и пункт выдачи)</p>
						<p><b>Телефон:</b> <a href="tel:+7 812 426-19-39">+7 812 426-19-39</a></p>
						<p><b>Почта:</b> <a href="mailto:sale@stommarket.ru">sale@stommarket.ru</a></p>
					</div>
					<div class="about-requisites__col content content--lg">
						<p><b>ИНН:</b> 7811549186</p>
						<p><b>КПП:</b> 780601001</p>
						<p><b>ОГРН:</b> 1137847154906</p>
						<p><b>Банк:</b> Северо-западный банк ПАО Сбербанк, г. Санкт-Петербург</p>
						<p><b>БИК:</b> 044030653</p>
						<p><b>р/с:</b> 40702810955130007758</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@@include('./templates/footer.tpl')
