@@include('./templates/header.tpl')

<section class="block">
	<div class="innertube">
		<nav class="breadcrumbs">
			<a href="/" class="breadcrumbs__item">Главная</a>
		</nav>
		<div class="basket js-basket">
			<div class="title">корзина</div>
			<div class="basket__wrap js-basket-w">
				<div class="basket__col basket__col--items js-order-products-box">
					<div class="basket__item js-product" data-id="1">
						<div class="basket__img-b">
							<img src="img/content/img2.jpg" alt="Ирригатор AquaPulsar OS-1">
						</div>
						<div class="basket__descr">
							<a href class="basket__text">BlanX White Shock — отбеливающая зубная паста</a>
							<div class="basket__item-count-row">
								<div class="basket__count-b">
									<label class="form__number-input-b form__b--one">
										<input class="form__number-input js-form__number js-change-sum-number"
												name="item-count"
												type="number"
												step="1"
												min="1"
												max="7"
												value="1"
												data-bonus-cost="30"
												data-cost="3050"
												data-id="3434234">
										<span class="form__number-input-minus js-form__number-minus">−</span>
										<span class="form__number-input-plus js-form__number-plus">+</span>
									</label>
								</div>
								<div class="basket__item-summ">
									<span class="js-price-original">3 050</span> ₽
									<span class="basket__item-summ-sell js-price-before-b">
										<span class="js-price-before">2 534</span> ₽
									</span>
								</div>
							</div>
						</div>
						<a class="basket__item-close js-del"></a>
					</div>
					<div class="basket__item js-product" data-id="2">
						<div class="basket__img-b">
							<img src="img/content/img2.jpg" alt="Ирригатор AquaPulsar OS-1">
						</div>
						<div class="basket__descr">
							<a href class="basket__text">BlanX White Shock — отбеливающая зубная паста</a>
							<div class="basket__item-count-row">
								<div class="basket__count-b">
									<label class="form__number-input-b form__b--one">
										<input class="form__number-input js-form__number js-change-sum-number"
												name="item-count"
												type="number"
												step="1"
												min="1"
												max="7"
												value="1"
												data-bonus-cost="30"
												data-cost="3050"
												data-id="3434234">
										<span class="form__number-input-minus js-form__number-minus">−</span>
										<span class="form__number-input-plus js-form__number-plus">+</span>
									</label>

								</div>
								<div class="basket__item-summ">
									<span class="js-price-original">3 050</span> ₽
									<span class="basket__item-summ-sell js-price-before-b">
										<span class="js-price-before">2 534</span> ₽
									</span>
								</div>
							</div>
						</div>
						<a class="basket__item-close js-del"></a>
					</div>
				</div>
				<div class="basket__col basket__col--order order js-order-info">
				<!--<div class="order__form form">-->
					<div class="order__title">Итого</div>
					<div class="order__line">Стоимость: <span class="js-order-summ">24 000</span> ₽</div>
					<div class="order__line js-order-discount-b">Скидка: <span class="js-order-discount">720</span> ₽</div>
					<div class="order__line js-order-bonuses-b">
						<div class="form__checkbox-input-b ">
							<input type="checkbox" class="form__checkbox-input js-use-bonuses" id="basket_use_bonuses">
							<label class="form__checkbox-input-label" for="basket_use_bonuses">использовать <span class="js-order-bonuses">30 бонусов</span>
								<span class="tip">
									<span class="tip__block">
										использовать 76 бонусови спользовать 76 бонусов использовать 76 бонусов
									</span>
								</span>
							</label>
						</div>
					</div>
					<div class="order__line">Всего к оплате: <span class="basket__summ basket__summ--bold"><span class="js-order-final-summ">6 100</span> ₽</span></div>
					<a href="#order-form" type="submit" class="btn btn--full-w btn--dark js-open-popup">Оформить заказ</a>
				<!--</div>-->
			</div>
			</div>
			<div class="basket__empty hidden js-basket-empty">
				<div class="title title--center">Ваша корзина пуста</div>
				<div style="text-align: center;"><a href="/" class="btn">Продолжить покупки</a></div>
			</div>
		</div>
	</div>
</section>
<section class="block block--bt">
	<div class="innertube">
		<div class="others others--line3">
			<h2 class="others__title">Вам также может понравится</h2>
			<div class="others__card-b">
				<figure class="card js-card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket js-cart-add in-cart" data-id="1" data-count="1"></a>
						</div>
					</figcaption>
				</figure>
				<figure class="card js-card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket js-cart-add" data-id="2" data-count="1"></a>
						</div>
					</figcaption>
				</figure>
				<figure class="card js-card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket js-cart-add in-cart" data-id="1" data-count="1"></a>
						</div>
					</figcaption>
				</figure>
				<figure class="card js-card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket js-cart-add" data-id="2" data-count="1"></a>
						</div>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</section>

@@include('./templates/footer.tpl')
