@@include('./templates/header.tpl')

<section class="block product">
	<div class="product__card">
		<div class="innertube">
			<nav class="breadcrumbs">
				<a href="/" class="breadcrumbs__item">Главная</a>
				<a href="catalog.html" class="breadcrumbs__item">Каталог</a>
				<a href="card.html" class="breadcrumbs__item">Ирригаторы</a>
			</nav>
			<div>
				<h1 class="title">Ирригатор OR-840</h1>
				<div class="tags tags--blue">
					<a href="#" class="tag">#Портативный</a>
					<a href="#" class="tag">#Стационарный</a>
					<a href="#" class="tag">#До 3000 ₽</a>
					<a href="#" class="tag">#Для 1 человека</a>
					<a href="#" class="tag">#Для всей семьи</a>
				</div>
				<div class="product__info">
					<div class="product__flag flag flag--hit"></div>
					<div class="product__info-text">Артикул: 1.0976</div>
					<div class="product__info-text">Производитель: Donfeel</div>
					<div class="product__rating">
						<i class="product__rating-star"></i>
						<i class="product__rating-star"></i>
						<i class="product__rating-star"></i>
						<i class="product__rating-star"></i>
						<i class="product__rating-star product__rating-star--e"></i>
					</div>
				</div>
				<div class="product__row">
					<div class="product__slider js-product__slider">
						<div class="product__slider-img-b"><img src="img/content/item1.jpg" alt="" data-thumb="img/content/item1s.jpg"></div>
						<div class="product__slider-img-b"><img src="img/content/item2.jpg" alt="" data-thumb="img/content/item2s.jpg"></div>
						<div class="product__slider-img-b"><img src="img/content/item1.jpg" alt="" data-thumb="img/content/item1s.jpg"></div>
						<div class="product__slider-img-b"><img src="img/content/item2.jpg" alt="" data-thumb="img/content/item2s.jpg"></div>
					</div>
					<div class="product__summary summary js-product js-product--detail" data-price="3050" data-id="3412">
						<div class="summary__b summary__b--1">
							<div class="summary__row clearfix">
								<div class="summary__value">
									<label class="form__number-input-b form__number-input-b--small form__b--one">
										<input class="form__number-input js-form__number js-change-sum-number"
												name="item-count"
												type="number"
												step="1"
												min="1"
												max="7"
												value="1"
												data-bonus-cost="30"
												data-cost="3050"
												data-id="3434234">
										<span class="form__number-input-minus js-form__number-minus">−</span>
										<span class="form__number-input-plus js-form__number-plus">+</span>
									</label>
									<!--<select name="" id="" class="summary__select js-select">-->
										<!--<option value="1">1</option>-->
										<!--<option value="2">2</option>-->
										<!--<option value="3">3</option>-->
										<!--<option value="4">4</option>-->
									<!--</select>-->
								</div>
								<div class="summary__total-price js-summ">3 050</div>
								<div class="summary__bonuses">+<span class="summary__bonuses-val js-bonuses">30 бонусов</span> на счёт</div>
							</div>
							<div class="summary__row">
								<button class="btn long btn--dark summary__add-to-basket js-cart-add long" data-count="1" data-id="3412">Добавить В корзину</button>
							</div>
							<div class="summary__row ocb">
								<form action="/order/fast-order/" method="POST" class="ocb__form js-form js-ocb__form">
									<input type="hidden" name="pid" value="1">
									<input type="hidden" class="js-ocb__count" name="count" value="1">
									<input type="tel" placeholder="+7 (___) ___-__-__" class="ocb__phone js-input js-required js-phone" name="phone">
									<button type="submit"  class="ocb__phone-btn js-one-click-buy">Купить в 1 клик</button>
									<div class="form__success js-form__success ocb__success">
										<div class="content">Спасибо! Ваш заказ принят</div>
									</div>
								</form>
							</div>
						</div>
						<div class="summary__b summary__b--2">
							<p class="summary__text">Склад в Москве: <span class="summary__text--green">в наличии 2 шт.</span></p>
							<p class="summary__text">В Санкт-Петербурге: <span class="summary__text--green">в наличии 7 шт.</span></p>
						</div>
						<a href="#on_the_day_delivery" class="summary__b summary__b--link js-open-popup">
							<p class="summary__text summary__text--icon icon-delivery-express">Экспресс доставка <span class="js-delivery-express">300 ₽</span></p>
						</a>
						<a href="#next_day_delivery" class="summary__b summary__b--link js-open-popup">
							<p class="summary__text summary__text--icon icon-delivery">Доставка <span class="js-delivery-common">300 ₽</span></p>
						</a>
						<div class="summary__b">
							<p class="summary__text summary__text--icon icon-house">Самовывоз — бесплатно</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="product__descr">
		<div class="innertube">
			<div class="tabs">
				<div class="tabs__nav">
					<a class="tabs__link js-tabs__link active">Описание</a>
					<a class="tabs__link js-tabs__link">Отзывы</a>
					<a class="tabs__link js-tabs__link">Инструкция</a>
				</div>
				<div class="tabs__items">
					<div class="tabs__tab js-tabs__tab product__descr-cnt active">
						<div class="product__descr-col content">
							<p>Ирригатор OR-840 "air" Donfeel — самый компактный стационарный ирригатор, что непременно оценят владельцы небольших ванных комнат. Его габариты всего 14,5 на 10 см, а максимальная мощность составляет 680 кПа, что позволяет выполнять обработку полости рта на уровне профессиональной кабинетной стоматологической чистки.</p>
							<p>Прибор оборудован электронным управлением, что выгодно отличает его от аналогов. Возможность регулировать давление воды в диапазоне от 80 до 680 кПа позволяет задавать индивидуальные настройки. Каждые полминуты активной работы аппарат посредством встроенного таймера делает паузы, чтобы пациент перешел к другому участку, а по прошествии двух минут выключается автоматически.</p>
							<p>Данная модель ирригатора способна выдавать более мощный поток воды при низком потреблении электричества, что выгодно отличает ее от других ирригаторов.</p>
							<p>Частота пульсации  воздушно-пузырьковой струи доходит до 1700 в минуту, что необходимо для вычищения бактерий из межзубных промежутков и других труднодоступных мест. В комплект входят четыре насадки, три классических и одна для антибактериальной обработки языка. Резервуар достаточно вместительный, до 600 мл. Для хранения комплектующих предусмотрено отделение в корпусе аппарата. Количество насадок рассчитано на семью с одним ребенком.</p>
							<p>Для дополнительной обработки  зубов и десен рекомендуется использовать специальные укрепляющие гели и бальзамы. Очень удобное крепление ручки: достаточно поднести ее к корпусу, и она сама фиксируется в нужном месте. За бесшумную работу отвечают резиновые амортизаторы, на которых крепятся насос и двигатель.</p>
						</div>
						<div class="product__descr-col content content--list">
							<h3>Характеристики</h3>
							<p><b>Страна изготовитель:</b> США</p>
							<p><b>Гарантия:</b> 2 года</p>
							<p><b>Тип:</b> ирригатор</p>
							<p><b>Питание:</b> от сети</p>
							<p><b>Емкость резервуара:</b> 650 мл</p>
							<p><b>Давление струи:</b> 35–620 кПа</p>
							<p><b>Регулировка давления струи:</b> есть</p>
							<p><b>Режимы:</b> струи</p>
							<p><b>Число режимов/регулировок:</b> 10</p>
							<p><b>Насадки:</b> для чистки языка, струйная, пародонтологическая (для десен), ортодонтическая (для брекетов), насадка-щетка, насадка для чистки имлантов и коронок, общее число насадок ирригатора: 7</p>
							<p><b>Размеры (Ш×Д×В):</b> 650 мл</p>
						</div>
					</div>
					<div class="tabs__tab js-tabs__tab product__descr-cnt">
						<div class="reviews">
							<div class="block__cols">
								<div class="block__col block__col--8">
									<div class="reviews__item">
								<div class="reviews__col">
									<div class="reviews__rating" data-rating="4">
										<span class="reviews__rating-star"></span>
										<span class="reviews__rating-star"></span>
										<span class="reviews__rating-star"></span>
										<span class="reviews__rating-star"></span>
										<span class="reviews__rating-star reviews__rating-star--e"></span>
									</div>
									<div class="reviews__author">Беломытцев Илья</div>
									<div class="reviews__source">
										<div class="reviews__source-label">Источник</div>
										<div class="reviews__source-value">
											<img src="img/svg/market-logo.svg" alt="Яндекс Маркет"></div>
									</div>

								</div>
								<div class="reviews__col">
									<div class="reviews__text-b">
										<p class="reviews__text">
											Сравнивать не с чем, это первый ирригатор.
											для меня недостатки - мелочи, к которым я готов привыкнуть - главный критерий выбора был компактность в сочетании с хорошей производительностью, и ремонтопригодность ( с этим, надеюсь, не будет проблем)
										</p>
										<p class="reviews__title">Достоинства:</p>
										<p class="reviews__text">
											Очень компактный - поместился на бортик раковины. Удобно убирается шланг
											в нишу, крепление ручки на магните (но есть и минус в этом - см. ниже) Длина сетевого шнура Напор струи хороший Шланг не жесткий, длины достаточно (недостатки эти были в 820й модели)
										</p>
										<p class="reviews__title">Недостатки:</p>
										<p class="reviews__text">
											Некоторые особенности конструкции и управления (см комментарий) Дань компактности - отсек для хранения насадок небольшой, если у вас в семье несколько человек и помимо стандартных еще что то используют - все это не поместится.
										</p>
									</div>
								</div>
							</div>
									<div class="reviews__item">
										<div class="reviews__col">
											<div class="reviews__rating" data-rating="4">
												<span class="reviews__rating-star"></span>
												<span class="reviews__rating-star"></span>
												<span class="reviews__rating-star"></span>
												<span class="reviews__rating-star"></span>
												<span class="reviews__rating-star reviews__rating-star--e"></span>
											</div>
											<div class="reviews__author">Беломытцев Илья</div>
											<div class="reviews__source">
												<div class="reviews__source-label">Источник</div>
												<div class="reviews__source-value">
													<img src="img/svg/market-logo.svg" alt="Яндекс Маркет"></div>
											</div>

										</div>
										<div class="reviews__col">
											<div class="reviews__text-b">
												<p class="reviews__text">
													Сравнивать не с чем, это первый ирригатор.
													для меня недостатки - мелочи, к которым я готов привыкнуть - главный критерий выбора был компактность в сочетании с хорошей производительностью, и ремонтопригодность ( с этим, надеюсь, не будет проблем)
												</p>
												<p class="reviews__title">Достоинства:</p>
												<p class="reviews__text">
													Очень компактный - поместился на бортик раковины. Удобно убирается шланг
													в нишу, крепление ручки на магните (но есть и минус в этом - см. ниже) Длина сетевого шнура Напор струи хороший Шланг не жесткий, длины достаточно (недостатки эти были в 820й модели)
												</p>
												<p class="reviews__title">Недостатки:</p>
												<p class="reviews__text">
													Некоторые особенности конструкции и управления (см комментарий) Дань компактности - отсек для хранения насадок небольшой, если у вас в семье несколько человек и помимо стандартных еще что то используют - все это не поместится.
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="block__col block__col--3">
									<a href="#add__review" class="btn btn--full-w reviews__add-bnt js-open-popup">Оставить отзыв</a>
								</div>
							</div>
						</div>
					</div>
					<div class="tabs__tab js-tabs__tab product__descr-cnt">
						<iframe src="https://stommarket.ru/i/files/thumbs/files/instructions/318f8a697bec47565949d2506c2774.pdf" style="width: 100%; height: 800px"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="block">
	<div class="innertube">
		<div class="others others--line1">
			<h2 class="others__title">Похожие товары</h2>
			<div class="others__card-b">
				<figure class="card js-card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket js-cart-add " data-id="231" data-count="1"></a>
						</div>
					</figcaption>
				</figure>
				<figure class="card js-card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket js-cart-add" data-id="2" data-count="1"></a>
						</div>
					</figcaption>
				</figure>
				<figure class="card js-card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket js-cart-add in-cart" data-id="1" data-count="1"></a>
						</div>
					</figcaption>
				</figure>
				<figure class="card js-card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket js-cart-add" data-id="2" data-count="1"></a>
						</div>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</section>
<section class="block">
	<div class="innertube">
		<div class="others others--line2">
			<h2 class="others__title">Вы смотрели</h2>
			<div class="others__card-b">
				<figure class="card js-card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket js-cart-add " data-id="231" data-count="1"></a>
						</div>
					</figcaption>
				</figure>
				<figure class="card js-card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket js-cart-add" data-id="2" data-count="1"></a>
						</div>
					</figcaption>
				</figure>
				<figure class="card js-card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket js-cart-add in-cart" data-id="1" data-count="1"></a>
						</div>
					</figcaption>
				</figure>
				<figure class="card js-card">
					<div class="flag flag--hit"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket js-cart-add" data-id="2" data-count="1"></a>
						</div>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</section>

@@include('./templates/footer.tpl')

