@@include('./templates/header.tpl')

<section class="block">
	<div class="innertube">
		<nav class="breadcrumbs">
			<a href="/" class="breadcrumbs__item">Главная</a>
			<a href="catalog.html" class="breadcrumbs__item">Каталог</a>
		</nav>
		<div class="catalog js-catalog">
			<h1 class="title catalog__title">Ирригаторы</h1>
			<div class="tags catalog__tags tags--blue">
				<a href="#" class="tag">#Портативный</a>
				<a href="#" class="tag">#Стационарный</a>
				<a href="#" class="tag">#До 3000 ₽</a>
				<a href="#" class="tag">#Для 1 человека</a>
				<a href="#" class="tag">#Для всей семьи</a>
			</div>
			<div class="catalog__body js-catalog__body">
				<div class="catalog__row catalog__row--1">
					<div class="catalog__text arr-d-after"><span class="js-filter-count">Найдено 431 товар</span> в наличии
						<span class="dotted catalog__text-link js-filter-dropdown">
							<span class="js-filter-dropdown-current" data-name="storeType" data-val="1">на складе в СПб</span>
							<span class="catalog__text-menu">
								<a href="#" class="catalog__text-el js-filter-dropdown-variant" data-name="storeType" data-val="1" style="display: none;">на складе в СПб</a>
								<a href="#" class="catalog__text-el js-filter-dropdown-variant" data-name="storeType" data-val="2">на складе в МСК</a>
							</span>
						</span>
					</div>
					<div class="catalog__text catalog__text--right arr-d-after">Сортировать
						<span class="dotted catalog__text-link js-filter-dropdown">
							<span class="js-filter-dropdown-current" data-name="sort" data-val="price">по цене</span>
							<span class="catalog__text-menu">
								<a href="#" class="catalog__text-el js-filter-dropdown-variant" data-name="sort" data-val="price-less" style="display: none;">по цене</a>
								<a href="#" class="catalog__text-el js-filter-dropdown-variant" data-name="sort" data-val="top">популярности</a>
								<a href="#" class="catalog__text-el js-filter-dropdown-variant" data-name="sort" data-val="new">новинкам</a>
							</span>
						</span>
					</div>
				</div>
				<div class="catalog__row catalog__row--2 form">
					<form class="catalog__filter filter js-filter">
						<input type="hidden" name="category" value="123">
						<input type="hidden" name="tags[]" value="Портативный">
						<input type="hidden" name="tags[]" value="Стационарный">
						<div class="filter__group">
							<div class="filter__row">
								<div class="filter__title filter__inline">Стоимость</div>
								<input type="text" maxlength="6" id="price" class="filter__input-text filter__price-input js-price-input"  value="66666">
								<label class="filter__input-b filter__inline" for="price">
								</label>
							</div>
							<div id="js-price-slider" class="filter__price-slider" data-start-price="6490" data-min-price="0" data-max-price="12980">
								<div class="filter__price-min">0</div>
								<div class="filter__price-max">12 980</div>
							</div>
						</div>
						<div class="filter__group">
							<div class="filter__title">Бренды</div>
							<div class="filter__pair">
								<input type="checkbox" class="filter__checkbox" name="brands[]" id="id-checkbox-1" value="waterpik">
								<label class="filter__label" for="id-checkbox-1">Waterpik</label>
							</div>
							<div class="filter__pair">
								<input type="checkbox" class="filter__checkbox" name="brands[]" id="id-checkbox-2" value="AquaPulsa">
								<label class="filter__label" for="id-checkbox-2">AquaPulsa</label>
							</div>
							<div class="filter__pair">
								<input type="checkbox" class="filter__checkbox" name="brands[]" id="id-checkbox-3" value="Aquajet">
								<label class="filter__label" for="id-checkbox-3">Aquajet</label>
							</div>
							<div class="filter__pair">
								<input type="checkbox" class="filter__checkbox" name="brands[]" id="id-checkbox-4" value="MRC">
								<label class="filter__label" for="id-checkbox-4">MRC</label>
							</div>
							<div class="filter__pair">
								<input type="checkbox" class="filter__checkbox" name="brands[]" id="id-checkbox-5" value="B.Well">
								<label class="filter__label" for="id-checkbox-5">B.Well</label>
							</div>
							<div class="filter__pair">
								<input type="checkbox" class="filter__checkbox" name="brands[]" id="id-checkbox-6" value="Jetpik">
								<label class="filter__label" for="id-checkbox-6">Jetpik</label>
							</div>
							<div class="filter__pair">
								<input type="checkbox" class="filter__checkbox" name="brands[]" id="id-checkbox-7" value="Panasonic">
								<label class="filter__label" for="id-checkbox-7">Panasonic</label>
							</div>
							<div class="filter__pair">
								<input type="checkbox" class="filter__checkbox" name="brands[]" id="id-checkbox-8" value="BRAUN">
								<label class="filter__label" for="id-checkbox-8">BRAUN</label>
							</div>
							<div class="filter__pair">
								<input type="checkbox" class="filter__checkbox" name="brands[]" id="id-checkbox-9" value="Donfeel">
								<label class="filter__label" for="id-checkbox-9">Donfeel</label>
							</div>
							<div class="filter__pair">
								<input type="checkbox" class="filter__checkbox" name="brands[]" id="id-checkbox-10" value="h2ofloss">
								<label class="filter__label" for="id-checkbox-10">h2ofloss</label>
							</div>
							<div class="filter__pair">
								<input type="checkbox" class="filter__checkbox" name="brands[]" id="id-checkbox-11" value="diff">
								<label class="filter__label" for="id-checkbox-11">Разное</label>
							</div>
							<div class="filter__pair">
								<input type="checkbox" class="filter__checkbox" name="brands[]" id="id-checkbox-12" value="P&G">
								<label class="filter__label" for="id-checkbox-12">P&G</label>
							</div>
						</div>
						<div class="filter__group">
							<div class="filter__title">Срок получения товара</div>
							<div class="filter__pair filter__pair--100">
								<input type="checkbox" class="filter__checkbox"  name="receiveTime[]" id="id-checkbox-13" value="today">
								<label class="filter__label" for="id-checkbox-13">Сегодня</label>
							</div>
							<div class="filter__pair filter__pair--100">
								<input type="checkbox" class="filter__checkbox"  name="receiveTime[]" id="id-checkbox-14" value="in_few_days">
								<label class="filter__label" for="id-checkbox-14">Несколько дней</label>
							</div>
							<div class="filter__pair filter__pair--100">
								<input type="checkbox" class="filter__checkbox"  name="receiveTime[]" id="id-checkbox-15" value="by_order">
								<label class="filter__label" for="id-checkbox-15">Под заказ</label>
							</div>
						</div>
						<div class="filter__group">
							<div class="filter__title filter__clear js-filter-reset">Сбросить фильтры</div>
						</div>
					</form>
					<div class="catalog__result">

						<div class="catalog__cards js-catalog__cards">
							<figure class="card js-card">
								<div class="flag"></div>
								<a href="card.html" class="card__img-b">
									<img class="card__img" src="img/content/img1.jpg" alt="">
								</a>
								<figcaption class="card__text-b">
									<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
									<div class="card__price">3&nbsp;050&nbsp;₽
										<span class="card__sale">2 534 ₽</span>
									</div>
									<div class="card__btn-b">
										<a href="#" class="card__btn icon-msg"></a>
										<a href="#" class="card__btn icon-basket js-cart-add in-cart" data-id="1" data-count="1"></a>
									</div>
								</figcaption>
							</figure>
							<figure class="card js-card">
								<div class="flag"></div>
								<a href="card.html" class="card__img-b">
									<img class="card__img" src="img/content/img1.jpg" alt="">
								</a>
								<figcaption class="card__text-b">
									<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
									<div class="card__price">3&nbsp;050&nbsp;₽
										<span class="card__sale">2 534 ₽</span>
									</div>
									<div class="card__btn-b">
										<a href="#" class="card__btn icon-msg"></a>
										<a href="#" class="card__btn icon-basket js-cart-add" data-id="2" data-count="1"></a>
									</div>
								</figcaption>
							</figure>
							<figure class="card js-card">
								<div class="flag"></div>
								<a href="card.html" class="card__img-b">
									<img class="card__img" src="img/content/img1.jpg" alt="">
								</a>
								<figcaption class="card__text-b">
									<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
									<div class="card__price">3&nbsp;050&nbsp;₽
										<span class="card__sale">2 534 ₽</span>
									</div>
									<div class="card__btn-b">
										<a href="#" class="card__btn icon-msg"></a>
										<a href="#" class="card__btn icon-basket js-cart-add" data-id="444" data-count="1"></a>
									</div>
								</figcaption>
							</figure>
							<figure class="card js-card">
								<div class="flag"></div>
								<a href="card.html" class="card__img-b">
									<img class="card__img" src="img/content/img1.jpg" alt="">
								</a>
								<figcaption class="card__text-b">
									<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
									<div class="card__price">3&nbsp;050&nbsp;₽
										<span class="card__sale">2 534 ₽</span>
									</div>
									<div class="card__btn-b">
										<a href="#" class="card__btn icon-msg"></a>
										<a href="#" class="card__btn icon-basket js-cart-add" data-id="1232" data-count="1"></a>
									</div>
								</figcaption>
							</figure>
							<figure class="card js-card">
								<div class="flag"></div>
								<a href="card.html" class="card__img-b">
									<img class="card__img" src="img/content/img1.jpg" alt="">
								</a>
								<figcaption class="card__text-b">
									<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
									<div class="card__price">3&nbsp;050&nbsp;₽
										<span class="card__sale">2 534 ₽</span>
									</div>
									<div class="card__btn-b">
										<a href="#" class="card__btn icon-msg"></a>
										<a href="#" class="card__btn icon-basket js-cart-add" data-id="4415" data-count="1"></a>
									</div>
								</figcaption>
							</figure>
							<figure class="card js-card">
								<div class="flag"></div>
								<a href="card.html" class="card__img-b">
									<img class="card__img" src="img/content/img1.jpg" alt="">
								</a>
								<figcaption class="card__text-b">
									<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
									<div class="card__price">3&nbsp;050&nbsp;₽
										<span class="card__sale">2 534 ₽</span>
									</div>
									<div class="card__btn-b">
										<a href="#" class="card__btn icon-msg"></a>
										<a href="#" class="card__btn icon-basket js-cart-add" data-id="54234" data-count="1"></a>
									</div>
								</figcaption>
							</figure>
							<figure class="card js-card">
								<div class="flag"></div>
								<a href="card.html" class="card__img-b">
									<img class="card__img" src="img/content/img1.jpg" alt="">
								</a>
								<figcaption class="card__text-b">
									<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
									<div class="card__price">3&nbsp;050&nbsp;₽
										<span class="card__sale">2 534 ₽</span>
									</div>
									<div class="card__btn-b">
										<a href="#" class="card__btn icon-msg"></a>
										<a href="#" class="card__btn icon-basket js-cart-add" data-id="3123433" data-count="1"></a>
									</div>
								</figcaption>
							</figure>
						</div>
						<div class="catalog__footer">
							<div class="catalog__pagination">
								<a href="#" class="js-filter-page catalog__page active" data-page="1">1</a>
								<a href="#" class="js-filter-page catalog__page" data-page="2">2</a>
								<a href="#" class="js-filter-page catalog__page" data-page="3">3</a>
							</div>
							<div class="catalog__add-more-b">
								<a href="#" class="catalog__add-more btn js-filter-add" data-next="2">Показать еще</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="block">
	<div class="innertube">
		<div class="about-sub  content content--lg">
			<h2 class="about-sub__title">Покупка ирригатора в&nbsp;интернет-магазине &laquo;Стоммаркет&raquo;</h2>
			<p>В&nbsp;европейских странах уже давно перешли на&nbsp;более современные разработки в&nbsp;области гигиены полости рта. Пришло время и&nbsp;отечественным пользователям приобрести такой аппарат, как ирригатор. Он&nbsp;представляет собой аппарат, созданный для очистки труднодоступных поверхностей зубов. По&nbsp;действию он&nbsp;схож на&nbsp;очищение межзубных поверхностей зубной нитью, только в&nbsp;отличии от&nbsp;нее не&nbsp;повреждает десну. В&nbsp;сравнении с&nbsp;обычной зубной щеткой ирригатор удаляет в&nbsp;два раза больше загрязнений на&nbsp;зубной поверхности. То&nbsp;есть качество чистки зубов в&nbsp;домашних условиях приближается к&nbsp;кабинетному.</p>
		</div>
	</div>
</section>

@@include('./templates/footer.tpl')
