@@include('./templates/header.tpl')

<section class="block">
	<div class="innertube">

		<div class="contacts">
			<h1 class="title">Контакты</h1>
			<div class="contacts__b contacts__b--pd">
				<div class="contacts__col">
					<div class="contacts__group">
						<div class="contacts__label">Бесплатно по России</div>
						<div class="contacts__phone"><a href="tel:88007008343">8 800 700-83-43</a></div>
					</div>
					<div class="contacts__group">
						<div class="contacts__label">Санкт-Петербург</div>
						<div class="contacts__phone"><a href="tel:88124261939">8 812 426-19-39</a></div>
					</div>
				</div>
				<div class="contacts__col">
					<div class="contacts__group">
						<div class="contacts__label">Мы в соц. сетях:</div>
						<div class="contacts__socials">
							<a href="https://www.facebook.com/stommarket/" class="contacts__socials-el icon-fb"></a>
							<a href="https://vk.com/stommarketru" class="contacts__socials-el icon-vk"></a>
						</div>
					</div>
					<div class="contacts__group">
						<div class="contacts__label">Электронная почта</div>
						<a class="contacts__email" href="mailto:sale@stommarket.ru">sale@stommarket.ru</a>
					</div>
				</div>
				<div class="contacts__col">
					<div class="contacts__btn btn btn--dark btn--full-w">Обратная связь</div>
				</div>
			</div>
			<div class="contacts__b">
				<div class="contacts__map js-map" id="cmap1" data-lat="59.93564" data-lon="30.412279" data-offset-lat="59.93536116" data-offset-lon="30.40745687"></div>
				<div class="contacts__map-descr content content--sm">
					<h2>Санкт-Петербург</h2>
					<p><b>Адрес:</b> ул. Республиканская, д. 22</p>
					<p><b>Время работы:</b> Пн.-Сб. с 10:00 до 18:00 (прием заявок и пункт выдачи)</p>
					<p><b>Телефон:</b> <a href="tel:+78124261939">+7 812 426-19-39</a></p>
					<p><b>Почта:</b> <a href="mailto:sale@stommarket.ru">sale@stommarket.ru</a></p>
				</div>
			</div>
			<div class="contacts__b">
				<div class="contacts__map js-map" id="cmap2" data-lat="55.798902" data-lon="37.695451"></div>
				<div class="contacts__map-descr content content--sm">
					<h2>Москва</h2>
					<p><b>Адрес:</b> Колодезный пер., д. 2А, ст. м. «Преображенская площадь»</p>
					<p><b>Время работы:</b> Пн.-Пт. с 10:00 до 17:00 (прием заявок и пункт выдачи)</p>
					<p><b>Телефон:</b> <a href="tel:+74951205919">+7 495 120-59-19</a></p>
					<p><b>Почта:</b> <a href="mailto:sale@stommarket.ru">sale@stommarket.ru</a></p>
				</div>
			</div>
			<div class="contacts__b">
				<div class="contacts__map js-map" id="cmap3" data-lat="45.0353985" data-lon="39.0600318" data-offset-lat="45.03499227" data-offset-lon="39.05678487"></div>
				<div class="contacts__map-descr content content--sm">
					<h2>Краснодар</h2>
					<p><b>Адрес:</b> ул. Уральская, д. 83а</p>
					<p><b>Время работы:</b> Пн.-Пт. с 10:00 до 18:00, Call-центр (не магазин)</p>
					<p><b>Телефон:</b> <a href="tel:+78612025356">+7 861 202-53-56</a></p>
					<p><b>Почта:</b> <a href="mailto:sale@stommarket.ru">sale@stommarket.ru</a></p>
				</div>
			</div>
			<div class="contacts__b">
				<div class="contacts__map js-map" id="cmap4" data-lat="54.2340372" data-lon="49.5527295" data-offset-lat="54.23347078" data-offset-lon="49.55452824"></div>
				<div class="contacts__map-descr content content--sm">
					<h2>Димитровград</h2>
					<p><b>Адрес:</b> ул. Королева, д. 7</p>
					<p><b>Время работы:</b> Пн.-Пт. с 10:00 до 18:00, Call-центр (не магазин)</p>
					<p><b>Телефон:</b> <a href="tel:+74951205919">+7 495 120-59-19</a></p>
					<p><b>Почта:</b> <a href="mailto:sale@stommarket.ru">sale@stommarket.ru</a></p>
				</div>
			</div>
		</div>
	</div>
</section>

@@include('./templates/footer.tpl')
