@@include('./templates/header.tpl')

<section class="block">
	<div class="innertube">
		<nav class="breadcrumbs">
			<a href="/" class="breadcrumbs__item">Главная</a>
		</nav>
		<div class="delivery">
			<h1 class="title">Достаква</h1>
			<div class="delivery__b content content--sm">
				<h2>Бесплатная доставка по&nbsp;всей России ( при заказе от&nbsp;30&nbsp;т.р.)</h2>
				<p>Груз отправляется за&nbsp;счет ООО &laquo;Стоммаркет&raquo; транспортной компанией &laquo;Деловые линии&raquo; (не&nbsp;в&nbsp;тепле) при соблюдении всех нижеперечисленных условий:</p>
				<ul>
					<li>Сумма заказа в&nbsp;интернет-магазине должна превышать 30&nbsp;000&nbsp;₽</li>
					<li>Вес груза должен быть не&nbsp;более 20&nbsp;кг</li>
					<li>Объем груза не&nbsp;превышает 0,1 м3</li>
					<li>Не&nbsp;использован бонус на&nbsp;покупку</li>
					<li>Товар приобретен по&nbsp;ценам сайта</li>
				</ul>
				<p>Доставка производится только до&nbsp;ближайшего к&nbsp;вам терминала транспортной компании*.</p>
			</div>
			<div class="delivery__b content content--sm">
				<h2>Доставка по&nbsp;Санкт-Петербургу</h2>
				<p>Бесплатная доставка по&nbsp;Санкт-Петербургу (в&nbsp;пределах КАД) возможна при сумме заказа свыше 3&nbsp;000&nbsp;₽</p>
				<p>Если ваш заказ меньше 3&nbsp;000&nbsp;₽, то&nbsp;в&nbsp;этом случае сумма доставки составляет&nbsp;&mdash; 300&nbsp;₽</p>
				<br>
				<p>Данные районы не&nbsp;попадают под условия бесплатной доставки:</p>
				<ol>
					<li>Курортный район</li>
					<li>Кронштадтский район</li>
					<li>Петродворцовый район</li>
					<li>Красносельский район (по&nbsp;согласованию с&nbsp;менеджером)</li>
					<li>Приморский район ( по&nbsp;согласованию с&nbsp;менеджером)</li>
					<li>Невский район (по&nbsp;согласованию с&nbsp;менеджером)</li>
					<li>Московский район (по&nbsp;согласованию с&nbsp;менеджером)</li>
				</ol>
			</div>
			<div class="delivery__b content content--sm">
				<h2>Доставка по&nbsp;Москве</h2>
				<p>Доставка осуществляется курьером транспортной компании. Стоимость доставки в&nbsp;пределах МКАД при заказе на&nbsp;сумму:</p>
				<ul>
					<li>до&nbsp;3&nbsp;000&nbsp;₽&nbsp;&mdash; стоимость доставки 350&nbsp;₽</li>
					<li>от&nbsp;3&nbsp;000 до&nbsp;7&nbsp;000&nbsp;₽&nbsp;&mdash; стоимость доставки составляет 250&nbsp;₽</li>
					<li>от&nbsp;7&nbsp;000&nbsp;₽&nbsp;&mdash; доставка производится бесплатно</li>
				</ul>
			</div>
			<div class="delivery__b content content--sm">
				<h2>Доставка по&nbsp;Димитровграду</h2>
				<p>Доставка осуществляется курьером:</p>
				<ul>
					<li>до&nbsp;3&nbsp;000&nbsp;₽&nbsp;&mdash; стоимость доставки 350&nbsp;₽</li>
					<li>от&nbsp;3&nbsp;000 до&nbsp;7&nbsp;000&nbsp;₽&nbsp;&mdash; стоимость доставки составляет 250&nbsp;₽</li>
					<li>от&nbsp;7&nbsp;000&nbsp;₽&nbsp;&mdash; доставка производится бесплатно</li>
				</ul>
			</div>
			<div class="delivery__b content content--sm">
				<h2>Доставка в&nbsp;регионы</h2>
				<p>Осуществляется по&nbsp;100% предоплате и&nbsp;любой транспортной компанией на&nbsp;ваш выбор.<br>
					При сумме заказа менее 30&nbsp;000&nbsp;₽ оплата осуществляется за&nbsp;счет покупателя.</p>
			</div>
			<div class="delivery__b content content--sm">
				<h2>Самовывоз</h2>
				<p>Забрать товары вы можете по адресу:</p>
				<div class="delivery__map-b">
					<div class="delivery__map js-map" id="cmap1" data-lat="59.93564" data-lon="30.412279" data-offset-lat="59.93536116" data-offset-lon="30.40745687"></div>
					<div class="delivery__map-descr">
						<p>В Санкт-Петербурге (понедельник-суббота)</p>
						<p>ул. Республиканская, д. 22, лит. А пом. 11Н.</p>
						<p>Уточнить поступление товара можно по телефону:<br>
							<a href="tel:+78129081632">+7 812 908-16-32</a> или <a href="tel:+78124261939">+7 812 426-19-39</a></p>
					</div>
				</div>
				<div class="delivery__map-b">
					<div class="delivery__map js-map" id="cmap2" data-lat="55.798902" data-lon="37.695451"></div>
					<div class="delivery__map-descr">
						<p>В Москве (понедельник-пятница 10:00–17:00)</p>
						<p>Колодезный пер.,  д. 2А, ст. м. «Преображенская площадь»</p>
						<p>Уточнить поступление товара можно по телефону:<br>
							<a href="tel:+74951205919">+7 495 120-59-19</a>  или <a href="tel:+74951205919">8 800 700-83-43</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="block">
	<div class="innertube">
		<div class="about-sub about-sub--sm content content--sm">
			<h2>Какими компаниями мы доставляем стоматологические материалы по России?</h2>
			<p><u>Сколько стоит доставка до моего города?</u></p>
			<p>Доставка по России осуществляется следующими транспортными и курьерскими компаниями:<br>
			DHL, EMS, Pony Express, TNT, Автотрейдинг, ДАЙМЭКС, Деловые Линии, Желдорэкспедиция, Курьер Сервис, ПЭК, СПСР, Экспресс-курьер, Энергия, Балтийская Служба Доставки, ЦАП, СДЭК, DPD, ЖелДорАльянс.<br>Другой способ по согласованию с сотрудником интернет магазин.</p>
			<p>Мы не отправляем заказы наложенным платежом и  т.к. "ПОЧТА РОССИИ".<br>
			Стоимость доставки и страховки груза оплачивает покупатель при получении по тарифам перевозчиков.<br>
			Срок доставки 1 - 20 суток, в зависимости от расстояния и географического расположения населенного пункта.<br>
			По всем вопросам по заказу, оплате и доставке товаров просим звонить нам.</p>
			<p>Регионы доставки по России:<br>
			Санкт-Петербург, Белгород, Иваново, Калуга, Курск, Липецк, Орел, Рязань, Смоленск, Тверь, Тула, Ярославль, Петрозаводск, Архангельск, Вологда, Калининград, Мурманск, Махачкала, Владикавказ, Краснодар, Ставрополь, Астрахань, Волгоград, Ростов-на-Дону, Саранск, Казань, Ижевск, Чебоксары, Нижний Новгород, Оренбург, Пенза, Пермь, Самара, Курган, Екатеринбург, Тюмень, Челябинск, Красноярск, Иркутск, Кемерово, Новосибирск, Омск, Томск, Чита, Владивосток, Симферополь, Уфа, Брянск, Владимир, Воронеж, Саратов, Ульяновск, Барнаул, Улан-Удэ, Москва, Набережные Челны, Сочи, Тольятти, Череповец, Сургут, Волжский, Нижний Тагил и другие.</p>
			<p>Подробнее о доставке в ваш регион или город уточняйте у менеджера по телефону: <a href="tel:88007008343">8 800 700-83-43</a></p>
		</div>
	</div>
</section>

@@include('./templates/footer.tpl')
<!--
<div class="basket js-slider"  >
	<div class="js-slide active" data-slide-name="wersdr">
		<a href="#" class="js-slide-next">next</a>
	</div>
	<div class="js-slide">
		<a href="#" class="js-slide-next">next</a>
	</div>
</div>
-->
