@@include('./templates/header.tpl')

<section class="block">
	<div class="innertube">
		<nav class="breadcrumbs">
			<a href="/" class="breadcrumbs__item">Главная</a>
		</nav>
		<div class="lk reviews--mb">
			<h1 class="title">Личный кабинет</h1>
			<div class="block__cols">
				<div class="block__col block__col--7 user">
					<div class="user__col">
						<p class="lk__text"><b>E-mail:</b> test@test.ru</p>
						<p class="lk__text"><b>Телефон:</b> +7 921 123-45-67</p>
					</div>
					<div class="user__col user__col--2">
						<div class="user__bonuses">449</div>
						<div class="user__bonuses-text">бонусов</div>
					</div>
				</div>
				<div class="block__col block__col--2">
					<a href="#" class="btn lk__log-out">выйти</a>
				</div>
			</div>
		</div>
	</div>
	<div class="product__descr lk-menu">
		<div class="innertube">
			<div class="tabs">
				<div class="tabs__nav">
					<a class="tabs__link js-tabs__link active">Корзина</a>
					<a class="tabs__link js-tabs__link">Архив заказов</a>
					<a class="tabs__link js-tabs__link">Анкета</a>
					<a class="tabs__link js-tabs__link">Рассылка</a>
					<a class="tabs__link js-tabs__link">Партнерская программа</a>
				</div>
				<div class="tabs__items tabs__items--pt">
					<div class="tabs__tab js-tabs__tab active">
						<div class="basket js-basket">
							<div class="basket__wrap js-basket-w">
								<div class="basket__col basket__col--items js-order-products-box">
									<div class="basket__item js-product" data-id="1">
										<div class="basket__img-b">
											<img src="img/content/img2.jpg" alt="Ирригатор AquaPulsar OS-1">
										</div>
										<div class="basket__descr">
											<a href class="basket__text">BlanX White Shock — отбеливающая зубная паста</a>
											<div class="basket__item-count-row">
												<div class="basket__count-b">
													<label class="form__number-input-b form__b--one">
														<input class="form__number-input js-form__number js-change-sum-number"
																name="item-count"
																type="number"
																step="1"
																min="1"
																max="7"
																value="1"
																data-bonus-cost="30"
																data-cost="3050"
																data-id="3434234">
														<span class="form__number-input-minus js-form__number-minus">−</span>
														<span class="form__number-input-plus js-form__number-plus">+</span>
													</label>
												</div>
												<div class="basket__item-summ">
													<span class="js-price-original">3 050</span>
													₽
													<span class="basket__item-summ-sell js-price-before-b">
										<span class="js-price-before">2 534</span> ₽
									</span>
												</div>
											</div>
										</div>
										<a class="basket__item-close js-del"></a>
									</div>
									<div class="basket__item js-product" data-id="2">
										<div class="basket__img-b">
											<img src="img/content/img2.jpg" alt="Ирригатор AquaPulsar OS-1">
										</div>
										<div class="basket__descr">
											<a href class="basket__text">BlanX White Shock — отбеливающая зубная паста</a>
											<div class="basket__item-count-row">
												<div class="basket__count-b">
													<label class="form__number-input-b form__b--one">
														<input class="form__number-input js-form__number js-change-sum-number"
																name="item-count"
																type="number"
																step="1"
																min="1"
																max="7"
																value="1"
																data-bonus-cost="30"
																data-cost="3050"
																data-id="3434234">
														<span class="form__number-input-minus js-form__number-minus">−</span>
														<span class="form__number-input-plus js-form__number-plus">+</span>
													</label>
												</div>
												<div class="basket__item-summ">
													<span class="js-price-original">3 050</span> ₽
													<span class="basket__item-summ-sell js-price-before-b">
														<span class="js-price-before">2 534</span> ₽
													</span>
												</div>
											</div>
										</div>
										<a class="basket__item-close js-del"></a>
									</div>
								</div>
								<div class="basket__col basket__col--order order js-order-info">
									<!--<div class="order__form form">-->
									<div class="order__title">Итого</div>
									<div class="order__line">Стоимость:
										<span class="js-order-summ">24 000</span>
										₽
									</div>
									<div class="order__line js-order-discount-b">Скидка:
										<span class="js-order-discount">720</span>
										₽
									</div>
									<div class="order__line js-order-bonuses-b">
										<div class="form__checkbox-input-b ">
											<input type="checkbox" class="form__checkbox-input js-use-bonuses" id="basket_use_bonuses">
											<label class="form__checkbox-input-label" for="basket_use_bonuses">использовать
												<span class="js-order-bonuses">30 бонусов</span>
												<span class="tip">
									<span class="tip__block">
										использовать 76 бонусови спользовать 76 бонусов использовать 76 бонусов
									</span>
								</span>
											</label>
										</div>
									</div>
									<div class="order__line">Всего к оплате:
										<span class="basket__summ basket__summ--bold"><span class="js-order-final-summ">6 100</span> ₽</span>
									</div>
									<a href="#order-form" type="submit" class="btn btn--full-w btn--dark js-open-popup">Оформить заказ</a>
									<!--</div>-->
								</div>
							</div>
							<div class="basket__empty hidden js-basket-empty">
								<div class="title title--center">Ваша корзина пуста</div>
								<div style="text-align: center;"><a href="/" class="btn">Продолжить покупки</a></div>
							</div>
						</div>
					</div>
					<div class="tabs__tab js-tabs__tab">
						<div class="orders js-orders">
							<div class="orders__head">
								<div class="orders__col orders__head-name">Заказ</div>
								<div class="orders__col orders__head-name">Стоимость</div>
								<div class="orders__col orders__head-name">Статус</div>
								<div class="orders__col orders__head-name"></div>
							</div>
							<div class="orders__body">
								<div class="orders__order">
									<div class="orders__info orders__row js-order-info">
										<div class="orders__col orders__col-name"><a href="#" class="js-order-num">№20893</a></div>
										<div class="orders__col orders__col-name">300 ₽</div>
										<div class="orders__col orders__col-name">Исполнен</div>
										<div class="orders__col orders__col-name">Оплатить</div>
									</div>
									<div class="orders__detail js-order-detail">
										<div class="orders__row orders__item">
											<div class="orders__col orders__img">
												<img src="img/content/img1.jpg" alt="">
											</div>
											<div class="orders__col orders__name">Ирригатор AquaPulsar OS-1</div>
											<div class="orders__col orders__count">2 шт</div>
											<div class="orders__col orders__status">5 000 × 2 = 10 000 ₽</div>
										</div>
										<div class="orders__row orders__item">
											<div class="orders__col orders__img">
												<img src="img/content/img2.jpg" alt="">
											</div>
											<div class="orders__col orders__name">Ирригатор Donfeel OR-840</div>
											<div class="orders__col orders__count">1 шт</div>
											<div class="orders__col orders__status">4 567 ₽</div>
										</div>
										<div class="orders__row orders__item">
											<div class="orders__col orders__img">
												<img src="img/content/img3.jpg" alt="">
											</div>
											<div class="orders__col orders__name">Ирригатор Donfeel OR-840 AquaPulsar Donfeel DonfeelOR840</div>
											<div class="orders__col orders__count">1 шт</div>
											<div class="orders__col orders__status">4 567 ₽</div>
										</div>
									</div>
								</div>
								<div class="orders__order">
									<div class="orders__info orders__row js-order-info">
										<div class="orders__col orders__col-name"><a href="#" class="js-order-num">№20893</a></div>
										<div class="orders__col orders__col-name">1 255 ₽</div>
										<div class="orders__col orders__col-name">Принят</div>
										<div class="orders__col orders__col-name">Оплатить</div>
									</div>
									<div class="orders__detail js-order-detail">
										<div class="orders__row orders__item">
											<div class="orders__col orders__img">
												<img src="img/content/img1.jpg" alt="">
											</div>
											<div class="orders__col orders__name">Ирригатор AquaPulsar OS-1</div>
											<div class="orders__col orders__count">22 шт</div>
											<div class="orders__col orders__status">5 000 × 2 = 10 000 ₽</div>
										</div>
										<div class="orders__row orders__item">
											<div class="orders__col orders__img">
												<img src="img/content/img2.jpg" alt="">
											</div>
											<div class="orders__col orders__name">Ирригатор Donfeel OR-840</div>
											<div class="orders__col orders__count">1 шт</div>
											<div class="orders__col orders__status">4 567 ₽</div>
										</div>
										<div class="orders__row orders__item">
											<div class="orders__col orders__img">
												<img src="img/content/img3.jpg" alt="">
											</div>
											<div class="orders__col orders__name">Ирригатор Donfeel OR-840 AquaPulsar Donfeel DonfeelOR840</div>
											<div class="orders__col orders__count">1 шт</div>
											<div class="orders__col orders__status">4 567 ₽</div>
										</div>
									</div>
								</div>
								<div class="orders__order">
									<div class="orders__info orders__row js-order-info">
										<div class="orders__col orders__col-name"><a href="#" class="js-order-num">№20893</a></div>
										<div class="orders__col orders__col-name">3 000 ₽</div>
										<div class="orders__col orders__col-name">В обработке</div>
										<div class="orders__col orders__col-name">Оплатить</div>
									</div>
									<div class="orders__detail js-order-detail">
										<div class="orders__row orders__item">
											<div class="orders__col orders__img">
												<img src="img/content/img1.jpg" alt="">
											</div>
											<div class="orders__col orders__name">Ирригатор AquaPulsar OS-1</div>
											<div class="orders__col orders__count">2 шт</div>
											<div class="orders__col orders__status">5 000 × 2 = 10 000 ₽</div>
										</div>
										<div class="orders__row orders__item">
											<div class="orders__col orders__img">
												<img src="img/content/img2.jpg" alt="">
											</div>
											<div class="orders__col orders__name">Ирригатор Donfeel OR-840</div>
											<div class="orders__col orders__count">1 шт</div>
											<div class="orders__col orders__status">4 567 ₽</div>
										</div>
										<div class="orders__row orders__item">
											<div class="orders__col orders__img">
												<img src="img/content/img3.jpg" alt="">
											</div>
											<div class="orders__col orders__name">Ирригатор Donfeel OR-840 AquaPulsar Donfeel DonfeelOR840</div>
											<div class="orders__col orders__count">1 шт</div>
											<div class="orders__col orders__status">4 567 ₽</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tabs__tab js-tabs__tab">
						<div class="pers-data">
							<div class="pers-data__col">
								<form action="/user/personal-form/" method="POST" class="form js-form js-lk-user-info pers-data__body" novalidate data-error-msg="Произошла ошибка">
									<div class="form__title pers-data__title">Персональные данные</div>
									<div class="form__b form__text-input-b">
										<input type="text" class="form__text-input js-input js-required active " name="name" id="pers-data_name" value="Александр">
										<label class="form__text-input-label" for="pers-data_name">Имя
											<span>*</span>
										</label>
									</div>
									<div class="form__b form__text-input-b">
										<input type="num" placeholder="+7 (___) ___-__-__" class="form__text-input js-input js-required js-phone active " name="phone" id="pers-data_phone" value="921 123-45-67">
										<label class="form__text-input-label" for="pers-data_phone">Телефон
											<span>*</span>
										</label>
									</div>
									<div class="form__b form__text-input-b">
										<input type="email" class="form__text-input js-input js-validate active" name="email" id="pers-data_email" value="test@test.ru">
										<label class="form__text-input-label" for="pers-data_email">Почта</label>
									</div>

									<div class="form__b form__text-input-b">
										<input type="email" class="form__text-input js-input js-validate" name="skype" id="pers-data_skype">
										<label class="form__text-input-label" for="pers-data_skype">Skype</label>
									</div>

									<div class="form__b form__text-input-b">
										<input type="email" class="form__text-input js-input js-validate" name="city" id="pers-data_city">
										<label class="form__text-input-label" for="pers-data_city">Город</label>
									</div>
									<div class="form__b form__b--one form__text-input-b">
										<input type="email" class="form__text-input js-input js-validate" name="country" id="pers-data_country">
										<label class="form__text-input-label" for="pers-data_country">Страна</label>
									</div>
									<button class="btn btn--dark btn--full-w" type="submit">Сохранить</button>

									<div class="form__success js-form__success">
										<div class="content">
											<p class="h1">Данные успешно сохранены</p>
										</div>
									</div>
								</form>
							</div>
							<div class="pers-data__col">
								<form action="/user/company-form/" class="form js-form pers-data__body js-lk-user-info" novalidate data-error-msg="Произошла ошибка">
									<div class="form__title pers-data__title">Реквизиты (для юр.лиц)</div>
									<div class="form__b form__text-input-b">
										<input type="text" class="form__text-input js-input js-validate" name="company_name" id="pers-data_company-name">
										<label class="form__text-input-label" for="pers-data_company-name">Название компании</label>
									</div>
									<div class="form__b form__text-input-b">
										<input type="text" class="form__text-input js-input js-validate" name="company_inn" id="pers-data_company_inn">
										<label class="form__text-input-label" for="pers-data_company_inn">ИНН</label>
									</div>
									<div class="form__b form__text-input-b">
										<input type="text" class="form__text-input js-input js-validate" name="company_kpp" id="pers-data_company_kpp">
										<label class="form__text-input-label" for="pers-data_company_kpp">КПП</label>
									</div>
									<div class="form__b form__text-input-b">
										<input type="text" class="form__text-input js-input js-validate" name="company_orgn" id="pers-data_company_orgn">
										<label class="form__text-input-label" for="pers-data_company_orgn">ОГРН</label>
									</div>
									<div class="form__b form__text-input-b">
										<input type="text" class="form__text-input js-input js-validate" name="company_okved" id="pers-data_company_okved">
										<label class="form__text-input-label" for="pers-data_company_okved">ОКВЭД</label>
									</div>
									<div class="form__b form__text-input-b">
										<input type="text" class="form__text-input js-input js-validate" name="company_legal_address" id="pers-data_company_legal_address">
										<label class="form__text-input-label" for="pers-data_company_legal_address">Юридический адрес</label>
									</div>
									<div class="form__b form__text-input-b">
										<input type="text" class="form__text-input js-input js-validate" name="company_actual_address" id="pers-data_company_actual_address">
										<label class="form__text-input-label" for="pers-data_company_actual_address">Фактический адрес</label>
									</div>
									<div class="form__b form__text-input-b">
										<input type="tel" placeholder="+7 (___) ___-__-__" class="form__text-input js-input js-phone js-validate" name="company_phone" id="pers-data_company_phone">
										<label class="form__text-input-label" for="pers-data_company_phone">Телефон</label>
									</div>
									<div class="form__b form__text-input-b">
										<input type="text" class="form__text-input js-input js-validate" name="company_rs" id="pers-data_company_rs">
										<label class="form__text-input-label" for="pers-data_company_rs">Р/с</label>
									</div>
									<div class="form__b form__text-input-b">
										<input type="text" class="form__text-input js-input js-validate" name="company_ks" id="pers-data_company_ks">
										<label class="form__text-input-label" for="pers-data_company_ks">К/c</label>
									</div>
									<div class="form__b form__b--one form__text-input-b">
										<input type="text" class="form__text-input js-input js-validate" name="company_bik" id="pers-data_company_bik">
										<label class="form__text-input-label" for="pers-data_company_bik">БИК</label>
									</div>
									<button class="btn btn--dark btn--full-w" type="submit">Сохранить</button>
									<div class="form__success js-form__success">
										<div class="content">
											<p class="h1">Данные успешно сохранены</p>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="tabs__tab js-tabs__tab">
						<div class="subscription">
							<div class="subscription__col subscription__form-b">
								<form action="/user/feed-change/" method="POST" class="form js-form" data-error-msg="Ошибка">
									<div class="form__title subscription__title">Выберите вид рассылки:</div>
									<div class="form__checkbox-input-b subscription__item">
										<input type="checkbox" class="form__checkbox-input" name="news" id="subscription_news" value="0">
										<label class="form__checkbox-input-label" for="subscription_news">новости компании</label>
									</div>
									<div class="form__checkbox-input-b subscription__item">
										<input type="checkbox" class="form__checkbox-input" name="events" id="subscription_promotions" value="1" checked>
										<label class="form__checkbox-input-label" for="subscription_promotions">акции и предложения</label>
									</div>
									<div class="form__checkbox-input-b subscription__item">
										<input type="checkbox" class="form__checkbox-input" name="sales" id="subscription_sale" value="0">
										<label class="form__checkbox-input-label" for="subscription_sale">распродажи</label>
									</div>
									<div class="form__checkbox-input-b subscription__item">
										<input type="checkbox" class="form__checkbox-input" name="new_products" id="subscription_new" value="1" checked>
										<label class="form__checkbox-input-label" for="subscription_new">новинки</label>
									</div>
									<button class="btn btn--dark btn--full-w subscription__btn" type="submit">Сохранить</button>
									<div class="form__success js-form__success">
										<div class="content">
											<p class="h1">Подписка оформлена</p>
										</div>
									</div>
								</form>
							</div>
							<div class="subscription__col">
								<div class="subscription__info">
									<img src="img/svg/mail-b.svg" alt="" class="subscription__icon">
									Рассылки происходят<br>
									1 раз в неделю, без спама<br>
									и рекламы
								</div>
							</div>
						</div>
					</div>
					<div class="tabs__tab js-tabs__tab">
						<div class="referal">
							<div class="referal__descr">
								<p>Приглашайте друзей и получайте 1% от стоимости их заказов в виде бонусов.</p>
								<p>Для этого просто отправьте им ссылку ниже.</p>
							</div>
							<form class="referal__b">
								<input class="referal__text js-referal__text" value="http://stommarket.ru/user/registration/?ref=3154" readonly>
								<button class="referal__btn js-copy-to-clipboard" data-target=".js-referal__text">Копировать</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@@include('./templates/footer.tpl')
</div>
