@@include('./templates/header.tpl')

<section class="block block--main-slider">
	<div class="innertube">
		<div class="slider-main js-slider-main">
			<div class="slider-main__slide">
				<div class="slider-main__wrap slider-main__wrap--img-full" style="background-image:url('../img/content/slide.jpg')">
					<div class="slider-main__text-col">
						<div class="slider-main__title">
							Мы&nbsp;официальные
							представители
							&laquo;3М&nbsp;Espe&raquo;
						</div>
						<div class="slider-main__sub-title">Лучшие цены и запас товара в наличии</div>
						<a href="#" class="slider-main__btn">Посмотреть</a>
					</div>
					<div class="slider-main__img-col"></div>
				</div>
			</div>
			<div class="slider-main__slide">
				<div class="slider-main__wrap">
					<div class="slider-main__text-col">
						<div class="slider-main__title">
							Мы&nbsp;официальные
							представители
							&laquo;3М&nbsp;Espe&raquo;
						</div>
						<div class="slider-main__sub-title">Лучшие цены и запас товара в наличии</div>
						<a href="#" class="slider-main__btn">Посмотреть</a>
					</div>
					<div class="slider-main__img-col">
						<img src="img/slide1.png" alt="">
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<section class="block">
	<div class="innertube">
		<div class="title title--center">Новинки, хиты и распродажа</div>
		<div class="sale">
			<div class="sale__items js-grid">
				<figure class="card">
					<div class="flag flag--new"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img2.jpg" alt="">
					</a>
					<div class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десневой компресс, временный дентин, 60 г.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket"></a>
						</div>
					</div>
				</figure>
				<figure class="card">
					<div class="flag flag--hit">
					</div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<div class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket"></a>
						</div>
					</div>
				</figure>
				<figure class="card card--b card-cat card-cat--1">
					<a href="card.html" class="card-cat__img-b">
						<img src="img/irr1.png" alt="" class="card-cat__img">
					</a>
					<div class="card-cat__img-b">
						<img src="img/irr2.png" alt="" class="card-cat__img">
					</div>
					<div class="card-cat__text-b">
						<div class="card-cat__title">5 ирригаторов с самой<br>низкой ценой</div>
						<div class="card-cat__links">
							<a href="#" class="tag">#До 3000 ₽</a>
							<a href="#" class="tag">#Для 1 человека</a>
							<a href="#" class="tag">#Для всей семьи</a>
						</div>
					</div>
				</figure>
				<figure class="card">
					<div class="flag flag--sale"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket"></a>
						</div>
					</figcaption>
				</figure>
				<figure class="card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket"></a>
						</div>
					</figcaption>
				</figure>
				<figure class="card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket"></a>
						</div>
					</figcaption>
				</figure>
				<figure class="card card--b card-cat card-cat--2">

					<div class="card-cat__img-b">
						<img src="img/paste2.png" alt="" class="card-cat__img">
					</div>
					<div class="card-cat__img-b">
						<img src="img/paste3.png" alt="" class="card-cat__img">
					</div>
					<div class="card-cat__img-b">
						<img src="img/paste1.png" alt="" class="card-cat__img">
					</div>
					<div class="card-cat__img-b">
						<img src="img/paste4.png" alt="" class="card-cat__img">
					</div>
					<div class="card-cat__text-b">
						<div class="card-cat__title">Более 30 разных видов<br>зубных щеток и паст</div>
						<div class="card-cat__links">
							<a href="#" class="tag">#Сменные насадки</a>
							<a href="#" class="tag">#Ионная</a>
							<a href="#" class="tag">#Детская</a>
						</div>
					</div>
				</figure>
				<figure class="card card-clr card-clr--blue">
					<div class="card-clr__title">Обзоры <br>и статьи</div>
					<div href="" class="card-clr__link">Читать блог</div>
					<img class="card-clr__img" src="img/vector-doc.png" alt="">
				</figure>
				<figure class="card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket"></a>
						</div>
					</figcaption>
				</figure>
				<figure class="card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket"></a>
						</div>
					</figcaption>
				</figure>
				<figure class="card card-clr card-clr--yell">
					<div class="card-clr__title">Франшиза StomMarket</div>
					<a href="" class="card-clr__link">Узнать подробности</a>
					<img class="card-clr__img" src="img/svg/logo-on-cycle.svg" alt="">
				</figure>
				<figure class="card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket"></a>
						</div>
					</figcaption>
				</figure>
				<figure class="card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket"></a>
						</div>
					</figcaption>
				</figure>
				<figure class="card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket"></a>
						</div>
					</figcaption>
				</figure>
				<figure class="card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket"></a>
						</div>
					</figcaption>
				</figure>
				<figure class="card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket"></a>
						</div>
					</figcaption>
				</figure>
				<figure class="card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket"></a>
						</div>
					</figcaption>
				</figure>
				<figure class="card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket"></a>
						</div>
					</figcaption>
				</figure>

				<figure class="card card--b card-cat card-cat--3">
					<div class="card-cat__img-b">
						<img src="img/brands.png" alt="" class="card-cat__img">
					</div>
					<div class="card-cat__text-b">
						<div class="card-cat__title">Производители</div>
						<div class="card-cat__links">
							<a href="#" class="tag">#3М Espe</a>
							<a href="#" class="tag">#AB Ardent</a>
							<a href="#" class="tag">#Bisico</a>
							<a href="#" class="tag">#Curaprox</a>
							<a href="#" class="tag">#ITENA</a>
							<a href="#" class="tag">#Kerr</a>
							<a href="#" class="tag">#Ni-pro</a>
							<a href="#" class="tag">#Septodont</a>
							<a href="#" class="tag">#VOCO</a>
							<a href="#" class="tag">#TePe</a>
							<a href="#" class="tag">#TehnoDent</a>
							<a href="#" class="tag">#Zhermack</a>
						</div>
					</div>
				</figure>
				<figure class="card card-clr card-clr--pink">
					<div class="card-clr__title">Возврат<br>и обмен</div>
					<a href="" class="card-clr__link">Узнать условия</a>
					<img class="card-clr__img" src="img/svg/return.svg" alt="">
				</figure>
				<figure class="card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket"></a>
						</div>
					</figcaption>
				</figure>
				<figure class="card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket"></a>
						</div>
					</figcaption>
				</figure>
				<figure class="card">
					<div class="flag"></div>
					<a href="card.html" class="card__img-b">
						<img class="card__img" src="img/content/img1.jpg" alt="">
					</a>
					<figcaption class="card__text-b">
						<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
						<div class="card__price">3&nbsp;050&nbsp;₽
							<span class="card__sale">2 534 ₽</span>
						</div>
						<div class="card__btn-b">
							<a href="#" class="card__btn icon-msg"></a>
							<a href="#" class="card__btn icon-basket"></a>
						</div>
					</figcaption>
				</figure>
			</div>
			<div class="sale__btn-b"><a href="#" class="sale__btn btn">Посмотреть весь каталог</a></div>
		</div>
	</div>
</section>
<section class="block">
	<div class="innertube">
		<div class="about-sub content content--lg">
			<div class="about-sub__col">
				<h2 class="about-sub__title">&laquo;Стоммаркет&raquo;&nbsp;&mdash; товары для стоматологов и&nbsp;стоматологий</h2>
				<p>
					Качество медицинского обслуживания во&nbsp;многом зависит от&nbsp;качества стоматологических материалов, которые использует доктор в&nbsp;процессе диагностики и&nbsp;дальнейшего лечения. Данная истинна, известна каждому,
					как пациенту, так и&nbsp;стоматологу. Даже самый опытный врач не&nbsp;сможет
					работать на&nbsp;высоком уровне без своевременно доставленных материалов.
				</p>
				<p>
					Интернет-магазин &laquo;Стоммаркет&raquo; на&nbsp;протяжении уже 5&nbsp;лет успешно решает вопросы, связанные с&nbsp;поставками стоматологических материалов.
				</p>
				<p>
					Наши филиалы находятся: в&nbsp;Санкт-Петербурге, Москве и&nbsp;Димитровграде.
					Мы&nbsp;работаем со&nbsp;многими транспортными компаниями, что дает нам
					возможность работать со&nbsp;всеми регионами России.
				</p>
				<p><a href="about.html" class="arr-l-after">Читать о&nbsp;компании</a></p>
			</div>
			<div class="about-sub__col about-num">
				<div class="about-num__item">
					<div class="about-num__val">4&nbsp;000</div>
					<div class="about-num__text">товаров в&nbsp;каталоге</div>
				</div>
				<div class="about-num__item">
					<div class="about-num__val">2&nbsp;000</div>
					<div class="about-num__text">клиник работают с&nbsp;нами<br>в&nbsp;400 городах России</div>
				</div>
				<div class="about-num__item">
					<div class="about-num__val">150</div>
					<div class="about-num__text">брендов представленных<br>в&nbsp;интернет-магазине</div>
				</div>
			</div>
		</div>
	</div>
</section>

@@include('./templates/footer.tpl')
