@@include('./templates/header.tpl')

<section class="block">
	<div class="innertube">
		<nav class="breadcrumbs">
			<a href="/" class="breadcrumbs__item">Главная</a>
		</nav>
		<div class="prices">
			<h1 class="title">Прайс-лист</h1>
			<div class="block__cols">
				<div class="block__col block__col--7">
					<div class="prices__b">
						<div class="prices__title js-toggle-link">Анестезия/инструменты</div>
						<div class="prices__body js-toggle-body">
							<a class="prices__link" href="exel/133?filename=Анестезия/инструменты" ></a>
						</div>
					</div>
					<div class="prices__b">
						<div class="prices__title js-toggle-link">Дезинфекция</div>
						<div class="prices__body js-toggle-body">
							<a class="prices__link" href="exel/8?filename=Дезинфекция">Жидкости</a>
							<a class="prices__link" href="exel/11?filename=Дезинфекция">Салфетки</a>
							<a class="prices__link" href="exel/12?filename=Дезинфекция">Упаковочные материалы</a>
							<a class="prices__link" href="exel/150?filename=Дезинфекция">Индикаторы</a>
							<a class="prices__link" href="exel/161?filename=Дезинфекция">Журналы</a>
							<a class="prices__link" href="exel/162?filename=Дезинфекция">Контейнеры, ёмкости</a>
						</div>
					</div>
					<div class="prices__b">
						<div class="prices__title js-toggle-link">Зуботехническая лаборатория</div>
						<div class="prices__body js-toggle-body">
							<a class="prices__link" href="exel/16?filename=Зуботехническая лаборатория">Воска, гипсы, паковочные массы</a>
							<a class="prices__link" href="exel/164?filename=Зуботехническая лаборатория">Обработка ортопедический конструкций и изделий</a>
						</div>
					</div>
					<div class="prices__b">
						<div class="prices__title js-toggle-link">Инструменты</div>
						<div class="prices__body js-toggle-body">
							<a class="prices__link" href="exel/166?filename=Инструменты">Инструменты для ортопедии</a>
							<a class="prices__link" href="exel/167?filename=Инструменты">Инструменты для терапии</a>
							<a class="prices__link" href="exel/168?filename=Инструменты">Инструменты для хирургии</a>
						</div>
					</div>
					<div class="prices__b">
						<div class="prices__title js-toggle-link">Ортопедия</div>
						<div class="prices__body js-toggle-body">
							<a class="prices__link" href="exel/22?filename=Ортопедия">Временная фиксация ортопедических конструкций</a>
							<a class="prices__link" href="exel/23?filename=Ортопедия">Временные ортопедические конструкции</a>
							<a class="prices__link" href="exel/24?filename=Ортопедия">Гипсы стоматологические</a>
							<a class="prices__link" href="exel/31?filename=Ортопедия">Подкладки под протезы</a>
							<a class="prices__link" href="exel/32?filename=Ортопедия">Постоянная фиксация ортопедических конструкций</a>
							<a class="prices__link" href="exel/33?filename=Ортопедия">Ремонт сколов металлокерамики</a>
							<a class="prices__link" href="exel/136?filename=Ортопедия">Оттискные материалы и аксессуары</a>
						</div>
					</div>
					<div class="prices__b">
						<div class="prices__title js-toggle-link">Профилактика и гигиена</div>
						<div class="prices__body js-toggle-body">
							<a class="prices__link" href="#">Индивидуальные средства профилактики и ухода</a>
							<a class="prices__link" href="#">Средства для отбеливания зубов</a>
							<a class="prices__link" href="#">Полирование и удаление зубного камня</a>
							<a class="prices__link" href="#">Профилактика зубного кариеса</a>
						</div>
					</div>
					<div class="prices__b">
						<div class="prices__title js-toggle-link">Терапия</div>
						<div class="prices__body js-toggle-body">
							<a class="prices__link" href="#">Индивидуальные средства профилактики и ухода</a>
							<a class="prices__link" href="#">Средства для отбеливания зубов</a>
							<a class="prices__link" href="#">Полирование и удаление зубного камня</a>
							<a class="prices__link" href="#">Профилактика зубного кариеса</a>
						</div>
					</div>
					<div class="prices__b">
						<div class="prices__title js-toggle-link">Эндодонтия</div>
						<div class="prices__body js-toggle-body">
							<a class="prices__link" href="#">Индивидуальные средства профилактики и ухода</a>
							<a class="prices__link" href="#">Средства для отбеливания зубов</a>
							<a class="prices__link" href="#">Полирование и удаление зубного камня</a>
							<a class="prices__link" href="#">Профилактика зубного кариеса</a>
							<a class="prices__link" href="#">Средства защиты и гигиены</a>
							<a class="prices__link" href="#">Зубные щетки</a>
							<a class="prices__link" href="#">Пенки и ополаскиватели</a>
							<a class="prices__link" href="#">Детские зубные щетки</a>
							<a class="prices__link" href="#">Детские зубные пасты</a>
							<a class="prices__link" href="#">Зубные пасты и гели</a>
							<a class="prices__link" href="#">Зубные нити</a>
							<a class="prices__link" href="#">Одноразовые бахилы</a>
							<a class="prices__link" href="#">Маски защитные</a>
							<a class="prices__link" href="#">Очки защитные</a>
						</div>
					</div>
					<div class="prices__b">
						<div class="prices__title js-toggle-link">Вспомогательные материалы</div>
						<div class="prices__body js-toggle-body">
							<a class="prices__link" href="#">Индивидуальные средства профилактики и ухода</a>
							<a class="prices__link" href="#">Средства для отбеливания зубов</a>
							<a class="prices__link" href="#">Полирование и удаление зубного камня</a>
							<a class="prices__link" href="#">Профилактика зубного кариеса</a>
							<a class="prices__link" href="#">Средства защиты и гигиены</a>
							<a class="prices__link" href="#">Зубные щетки</a>
							<a class="prices__link" href="#">Пенки и ополаскиватели</a>
							<a class="prices__link" href="#">Детские зубные щетки</a>
							<a class="prices__link" href="#">Детские зубные пасты</a>
							<a class="prices__link" href="#">Зубные пасты и гели</a>
							<a class="prices__link" href="#">Зубные нити</a>
						</div>
					</div>
					<div class="prices__b">
						<div class="prices__title js-toggle-link">Оборудование и аксессуары</div>
						<div class="prices__body js-toggle-body">
							<a class="prices__link" href="#">Индивидуальные средства профилактики и ухода</a>
							<a class="prices__link" href="#">Средства для отбеливания зубов</a>
							<a class="prices__link" href="#">Полирование и удаление зубного камня</a>
							<a class="prices__link" href="#">Профилактика зубного кариеса</a>
						</div>
					</div>
					<div class="prices__b">
						<div class="prices__title js-toggle-link">Хирургия и пародонтология</div>
						<div class="prices__body js-toggle-body">
							<a class="prices__link" href="#">Индивидуальные средства профилактики и ухода</a>
							<a class="prices__link" href="#">Средства для отбеливания зубов</a>
							<a class="prices__link" href="#">Полирование и удаление зубного камня</a>
							<a class="prices__link" href="#">Профилактика зубного кариеса</a>
						</div>
					</div>
					<div class="prices__b">
						<a href="catalog.html" class="prices__title prices__title--link">Трейнеры</a>
					</div>
					<div class="prices__b">
						<a href="catalog.html" class="prices__title prices__title--link">Электрические зубные щетки</a>
					</div>
					<div class="prices__b">
						<a href="catalog.html" class="prices__title prices__title--link">Ирригаторы</a>
					</div>
				</div>
				<div class="block__col block__col--5">
				<div class="prices__descr">
					Все файлы скачиваются
					в&nbsp;формате excel и&nbsp;весят
					до&nbsp;1&nbsp;мб
				</div>
			</div>
			</div>
		</div>
	</div>
</section>

@@include('./templates/footer.tpl')
