@@include('./templates/header.tpl')

<section class="block">
	<div class="innertube">
		<nav class="breadcrumbs">
			<a href="/" class="breadcrumbs__item">Главная</a>
		</nav>
		<div class="reviews reviews--mb">
			<h1 class="title">Отзывы</h1>
			<div class="block__cols">
				<div class="block__col block__col--8">
					<div class="reviews__list js-reviews__list">
						<div class="reviews__item reviews__item--page">
							<div class="reviews__author">Беломытцев Илья</div>
							<div class="reviews__text-b">
								<p class="reviews__text">
									Жду не дождусь в Ташкенте своего заказа. Начните отправлять в страны СНГ пожалуйста почтой России, народ был бы счастлив
								</p>
							</div>
							<div class="reviews__footer">
								<div class="reviews__date">31.05.2017</div>
							</div>
						</div>
						<div class="reviews__item reviews__item--page">
							<div class="reviews__author">Беломытцев Илья</div>
							<div class="reviews__text-b">
								<p class="reviews__text">
									Сравнивать не с чем, это первый ирригатор.
									для меня недостатки - мелочи, к которым я готов привыкнуть - главный критерий выбора был компактность в сочетании с хорошей производительностью, и ремонтопригодность ( с этим, надеюсь, не будет проблем)
								</p>
								<p class="reviews__title">Достоинства:</p>
								<p class="reviews__text">
									Очень компактный - поместился на бортик раковины. Удобно убирается шланг
									в нишу, крепление ручки на магните (но есть и минус в этом - см. ниже) Длина сетевого шнура Напор струи хороший Шланг не жесткий, длины достаточно (недостатки эти были в 820й модели)
								</p>
							</div>
							<div class="reviews__footer">
								<div class="reviews__date">31.05.2017</div>
								<div class="reviews__source">
									<div class="reviews__source-label">Источник</div>
									<div class="reviews__source-value">
										<img src="img/svg/market-logo.svg" alt="Яндекс Маркет">
									</div>
								</div>
								<div class="reviews__rating" >
									<span class="reviews__rating-star"></span>
									<span class="reviews__rating-star"></span>
									<span class="reviews__rating-star"></span>
									<span class="reviews__rating-star reviews__rating-star--e"></span>
									<span class="reviews__rating-star reviews__rating-star--e"></span>
								</div>
							</div>
						</div>
						<div class="reviews__item reviews__item--page">
							<div class="reviews__author">Беломытцев Илья</div>
							<div class="reviews__text-b">
								<p class="reviews__text">
									Сравнивать не с чем, это первый ирригатор.
									для меня недостатки - мелочи, к которым я готов привыкнуть - главный критерий выбора был компактность в сочетании с хорошей производительностью, и ремонтопригодность ( с этим, надеюсь, не будет проблем)
								</p>
								<p class="reviews__title">Достоинства:</p>
								<p class="reviews__text">
									Очень компактный - поместился на бортик раковины. Удобно убирается шланг
									в нишу, крепление ручки на магните (но есть и минус в этом - см. ниже) Длина сетевого шнура Напор струи хороший Шланг не жесткий, длины достаточно (недостатки эти были в 820й модели)
								</p>
								<p class="reviews__title">Недостатки:</p>
								<p class="reviews__text">
									Некоторые особенности конструкции и управления (см комментарий) Дань компактности - отсек для хранения насадок небольшой, если у вас в семье несколько человек и помимо стандартных еще что то используют - все это не поместится.
								</p>
							</div>
							<div class="reviews__footer">
								<div class="reviews__date">31.05.2017</div>
							</div>
						</div>
						<div class="reviews__item reviews__item--page">
						<div class="reviews__author">Беломытцев Илья</div>
						<div class="reviews__text-b">
							<p class="reviews__text">
								Сравнивать не с чем, это первый ирригатор.
								для меня недостатки - мелочи, к которым я готов привыкнуть - главный критерий выбора был компактность в сочетании с хорошей производительностью, и ремонтопригодность ( с этим, надеюсь, не будет проблем)
							</p>
							<p class="reviews__title">Достоинства:</p>
							<p class="reviews__text">
								Очень компактный - поместился на бортик раковины. Удобно убирается шланг
								в нишу, крепление ручки на магните (но есть и минус в этом - см. ниже) Длина сетевого шнура Напор струи хороший Шланг не жесткий, длины достаточно (недостатки эти были в 820й модели)
							</p>
							<p class="reviews__title">Недостатки:</p>
							<p class="reviews__text">
								Некоторые особенности конструкции и управления (см комментарий) Дань компактности - отсек для хранения насадок небольшой, если у вас в семье несколько человек и помимо стандартных еще что то используют - все это не поместится.
							</p>
						</div>
						<div class="reviews__footer">
							<div class="reviews__date">31.05.2017</div>
						</div>
					</div>
					</div>
					<a href="#" class="reviews__show-more-btn btn js-reviews__show-more">Показать еще</a>
				</div>
				<div class="block__col block__col--4">
					<div class="reviews__set">
						<div class="reviews__set-logo"><img src="img/svg/market-logo.svg" alt="Оставить отзыв на Яндекс Маркет"></div>
						<div class="reviews__set-text">(+ 100 баллов)</div>
						<a href="#add__review" class="reviews__set-btn btn btn--dark btn--full-w js-open-popup">Оставить отзыв</a>
					</div>
					<div class="reviews__set">
						<div class="reviews__set-logo"><img src="img/svg/logo.svg" alt="Оставить отзыв на Stommarket.ru"></div>
						<div class="reviews__set-text">(+ 10 баллов)</div>
						<a href="#add__review" class="reviews__set-btn btn btn--dark btn--full-w js-open-popup">Оставить отзыв</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@@include('./templates/footer.tpl')
