.user-view {
    margin-bottom: 20px;
}

.user-view .pic {
    width: 200px;
    float: left;
}

.user-view .pic a {
    display: inline-block;
    border: 2px solid #eeeeee;
    transition: all .2s;
}

.user-view .pic a:hover {
    border-color: #cd9f7a;
}

.user-view .info {
    position: relative;
    margin-left: 220px;
}

.user-view .title {
    font-size: 31px;
    font-weight: bold;
}

.user-view .props {
    margin-top: 20px;
    margin-bottom: 10px;
}

.product-view .props .row {
    position: relative;
    color: #3a3a3a;
}

.user-view .props .label {
    display: inline-block;
    font-weight: 700;
    color: #000000;
    margin-bottom: 5px;
}

.user-view .logout {
    position: absolute;
    right: 0;
    top: 0;
}

.user-services {
    margin-top: 35px;
}

.user-edit {
}

.user-edit .pic {
    width: 200px;
    float: left;
}

.user-edit .pic .btn-file {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    display: block;
    background: #eeeeee;
}

.user-edit .pic .pic-box {
    display: inline-block;
    border: 2px solid #eeeeee;
    transition: all .2s;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: 50% 50%;
}

.user-edit .info {
    position: relative;
    margin-left: 220px;
}


.user_tabs.tabs {

}

.user_tabs.tabs .tabs-header{
    height: 47px;
    border-bottom: 2px solid #f6f6f6;
}

.user_tabs.tabs .tabs-header .tab {
    display: block;
    float: left;
    line-height: 45px;
    height: 45px;
    border-bottom: none;
    margin: 0 4px 0 0;
    background: #e8e8e8;
    cursor: pointer;
    padding: 0 15px;
    border-radius: 4px 4px 0 0;
    color: #7f8f9b;
}

.user_tabs.tabs .tabs-header .tab:hover {
    background: #e8e8e8;
}

.user_tabs.tabs .tabs-header .tab.active,
.user_tabs.tabs .tabs-header .tab.active:hover {
    background: #898989;
    color: #ffffff;
}

.user_tabs.tabs .tab {
    display: none;
}

.user_tabs.tabs .tab.active {
    display: block;
}

.user_tabs.tabs .tabs-body {
    padding: 15px 0 0 0;
    background: #ffffff;
}

.user_tabs.tabs .tabs-body .loading {
    text-align: center;
    padding: 20px 0;
}

.user_tabs.tabs .tabs-body .loading i {
    font-size: 100px;
}

.user_tabs.tabs .tabs-body .loading .label {
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width: 550px) {
    .user-edit .pic,
    .user-view .pic {
        float: none;
        margin: 0 0 20px 0;
    }

    .user-edit .info,
    .user-view .info {
        clear: both;
        margin: 20px 0 0 0;
    }
}