{% extends 'layouts/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/login.js') }}"></script>
{% endblock %}

{% block content %}
    <section class="block">
        <div class="innertube">
            <div class="standart">
                <h1 class="title catalog__title">Восстановление пароля</h1>
            </div>
            <div class="standart__body">
                {% if sended is defined %}
                    <div class="centered">
                        <div class="panel" style="text-align: center">
                            <div style="margin: 0 auto 6px auto;">Письмо с инструкцией по восстановлению пароля<br>отправлено на вашу электронную почту.</div>
                            <a href="/login/" class="btn btn-red">На страницу авторизации</a>
                        </div>
                    </div>
                {% else %}
                    <form class="form remember-form" data-error-msg="Произошла ошибка" action="/forget-password/" method="post">
                        <div class="form__group">
                            <div class="form__b form__text-input-b">
                                <input class="form__text-input js-input js-required" required="" id="email" name="email" type="text">
                                <label class="form__text-input-label" for="login">E-mail:</label>
                            </div>
                            <button type="submit" class="btn btn--dark btn--full-w">Отправить </button>
                        </div>
                        {{ include('security/_flash_messages.html.twig') }}
                    </form>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
