{% extends 'layouts/base.html.twig' %}

{% block body_id 'login' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/login.js') }}"></script>
{% endblock %}

{% block content %}

    <section class="block">
        <div class="innertube">
            <div class="standart">
                <h1 class="title catalog__title">Авторизация</h1>
            </div>
            <div class="standart__body">
                <form class="form  remember-form" data-error-msg="Произошла ошибка" action="{{ path('login') }}" method="post">
                    <div class="form__group">
                        <div class="form__b form__text-input-b">
                            <input class="form__text-input js-input js-required" required="" id="username" name="_username" value="{{ last_username }}" type="text">
                            <label class="form__text-input-label" for="login">Логин:</label>
                        </div>
                        <div class="form__b form__text-input-b">
                            <input class="form__text-input js-input js-required" required="" id="password" name="_password" type="password">
                            <label class="form__text-input-label" for="password">Пароль:</label>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <button type="submit" class="btn btn--dark btn--full-w">Войти</button>
                        <div class="form__success js-form__success">
                            <div class="content">
                                <p class="h1">Авторизация успешно пройдена.</p>
                            </div>
                        </div>
                    </div>
                    {{ include('security/_flash_messages.html.twig') }}
                    {% if error %}
                        <div class="errors">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </section>
{% endblock %}
