{% extends 'layouts/base.html.twig' %}

{% block body_id 'register' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/login.js') }}"></script>
{% endblock %}

{% block content %}

    <section class="block">
        <div class="innertube">
            <div class="standart">
                <h1 class="title catalog__title text-center">Регистрация</h1>
            </div>
            <div class="standart__body">
                <form action="/registration/" class="js-form registration-form" data-error-msg="Произошла ошибка">
                    <div class="form__b form__text-input-b">
                        <input type="email" class="form__text-input js-input js-required" name="email" id="reg_email">
                        <label class="form__text-input-label" for="email">E-mail</label>
                    </div>
                    <div class="form__b form__text-input-b">
                        <input type="password" class="form__text-input js-input js-required js-double-pass" name="password" id="reg_pass">
                        <label class="form__text-input-label" for="password">Пароль</label>
                    </div>
                    <div class="form__b form__text-input-b">
                        <input type="password" class="form__text-input js-input js-required js-double-pass" name="confirm_password" id="reg_pass_check">
                        <label class="form__text-input-label" for="password_repeat">Повторите пароль</label>
                    </div>
                    <button type="submit" class="login__btn">Отправить</button>
                    <div class="form__success js-form__success">
                        <div class="content">
                            <p class="h3">Регистрация</p>
                            <p>Вы успешно зарегистрированы. Подтвердите почту, для активации учетной записи.</p>
                        </div>
                    </div>
                    {{ include('security/_flash_messages.html.twig') }}

                </form>
            </div>
        </div>
    </section>
{% endblock %}
