{% extends 'layouts/base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/login.js') }}"></script>
{% endblock %}

{% block content %}
    <section class="block">
        <div class="innertube">
            <div class="standart">
                <h1 class="title catalog__title">Смена пароля</h1>
            </div>
            <div class="standart__body">

                <form class="form remember-form" action="/reset-password/{{ hash }}/" method="post">
                    <div class="form__b form__text-input-b">
                        <input class="form__text-input js-input js-required" required="" id="password" name="password" type="password">
                        <label class="form__text-input-label" for="login">Пароль:</label>
                    </div>
                    <div class="form__b form__text-input-b">
                        <input class="form__text-input js-input js-required" required="" id="confirm_password" name="confirm_password" type="password">
                        <label class="form__text-input-label" for="login">Пароль еще раз:</label>
                    </div>
                    <div class="form__group">
                        <input class="btn btn--small" value="Продолжить" type="submit">
                    </div>
                    {{ include('security/_flash_messages.html.twig') }}
                </form>
            </div>
        </div>
    </section>
{% endblock %}
