.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 0;
    background: white;
    height: 48px;
    line-height: 48px;
    transition: margin 0.2s ease-out;
    z-index: 10;
    box-shadow: 0 0 30px 0 rgba(53,98,242,0.42);
    &.open-menu {
        margin-left: calc(-80% + 17px);
        width: 100%;
    }
    &__logo {
        display: inline-block;
        width: 37px;
        img{
            vertical-align: middle;
        }
        //margin: 10px 20px 0px 0;
        /*@include respond-to(ipad) {
            margin-right: 22px;
        }
        @include respond-to(min) {
            margin-right: 10px;
        }*/
    }


    //trash
    &__search {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 150px);
        margin:0 15px;
        /*@include respond-to(ipad) {
            margin-right: 19px;
        }
        @include respond-to(min) {
            margin-right: 10px;
        }*/
        input {
            background: #ececec url("../img/loupe.svg") no-repeat 8px center;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            width: 100%;
            outline: none;
            border: 0;
            color: #b3b3b3;
            font-size: 16px;
            padding: 9px 10px 5px 33px;
            &::-webkit-input-placeholder {
                color: #b3b3b3;
                font-size: 16px;
                font-weight: bold;
            }
            &::-moz-placeholder {
                color: #b3b3b3;
                font-size: 16px;
                font-weight: bold;
            }
            &:-ms-input-placeholder {
                color: #b3b3b3;
                font-size: 16px;
                font-weight: bold;
            }
            &::-ms-input-placeholder {
                color: #b3b3b3;
                font-size: 16px;
                font-weight: bold;
            }
            &::placeholder {
                color: #b3b3b3;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
    .icon-menu {
        display: inline-block;
        vertical-align: top;
        &__item {
            //margin-right : 10px;
            display : inline-block;
            vertical-align: middle;
            position : relative;
            width: 40px;
            height: 40px;
            text-align: center;
            transition: all 0.2s ease-out;
            &:before {
                transition: all 0.2s ease-out;
                color: #000;
                font-size: 20.5px;
                position: relative;
                line-height: 44px;
            }
            .icon-hamburger {
                margin-top: 50%;
                transform: translateY(-50%);
            }
        }
        &__basket-count {
            visibility: hidden;
            position : absolute;
            width :25px;
            height : 25px;
            background : #1e43ba;
            color : #fff;
            font-size : 16px;
            text-align : center;
            line-height: 27px;
            right: -4px;
            top: 0;
            border-radius : 50%;
            opacity : 0;
            transition : opacity 0.3s ease-out;
            &.active {
                visibility : visible;
                opacity : 1;
            }
        }
    }
}
/*.index-slider{
    padding: 20px 0;
    background: url("../img/slider-picture.jpg") no-repeat center -8px;
    -webkit-background-size: cover;
    background-size: cover;
    @include respond-to(ipad) {
        padding-left: 30px;
        background: url("../img/slider-picture.jpg") no-repeat -298px center;
    }
}*/
.slider {
    .index-slide{
        padding: 0;
        max-height: 135px;
        overflow: hidden;
    }
    .slide {
        padding: 20px 30px;
        &__header {
            font-size: 34px;
            line-height: 40px;
            color: white;
            text-transform: uppercase;
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 10px;
        }
        &__text-line {
            margin-bottom: 5px;
            margin-top: 0;
            font-size: 14px;
            color: white;
            line-height: 24px;
        }
        &__link {
            font-size: 16px;
            width: 70%;
            box-shadow: 0 0 5px rgba(100, 134, 241, 0.75);
        }
    }
    .slick-dots {
        list-style: none;
        padding: 0 0 0 5px;
        margin: 0;
        position: absolute;
        bottom: 4px;
        left: 20px;
        li {
            font-size: 0;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background: transparent;
            border: 1px solid white;
            width: 5px;
            height: 5px;
            display: inline-block;
            margin: 0 2px;
            padding: 0;
            outline: none;
            &.slick-active{
                background: #fff;
            }
            &:hover {
                background: white;
                border: none;
                cursor: pointer;
                -webkit-transition: color 300ms;
                -o-transition: color 300ms;
                transition: color 300ms;
            }
            button {
                display: none;
            }
        }
    }
    .slick-arrow {
        outline: none;
        font-size: 0;
        border: 0;
        z-index: 2;
        position: absolute;
        &:hover {
            cursor: pointer;
        }
    }
    .slick-prev {
        content: '';
        background: url("../img/slider-prev.png") no-repeat center;
        width: 9px;
        height: 25px;
        left: 10px;
        top: 43%;
    }
    .slick-next {
        content: '';
        background: url("../img/slider-prev.png") no-repeat center;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        width: 9px;
        height: 25px;
        right: 10px;
        top: 43%;

    }
}




.menu {
    position: fixed;
    content: '';
    top: 0;
    transform: translateX(200%);
    transition: transform 200ms;
    width: 80%;
    background: white;
    overflow: hidden;
    height: 100vh;
    //right: -17px;
    right: 0px;
    z-index: 10;
    line-height: normal;
    font-size: 20px;

    &--full-width{
        width: 100%;
        right: 0;
    }
    &__title{
        position: absolute;
        width: calc(100% - 100px);
        height: 50px;
        left: 50px;
        right:50px;
        text-align: center;
        line-height: 50px;
    }
    &__back,
    &__close {
        position: absolute;
        font-size: 18px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__back{
        left: 0;
    }
    &__close{
        right: 0;
    }
    #{&}.open {
        transform: translateX(0);
    }
    &__content-wrap {
        position: relative;
        padding-bottom: 25px;
        border-left: 1px solid #e7e7e7;
        overflow-y: scroll;
        height: 100%;
        width: 100%;
        //padding-right: 20px;
    }
    &__top-nav {
        width: 100%;
        height: 50px;
        position: relative;
    }
    &__social {
        display: inline-block;
        padding-right: 20px;
        &:before {
            font-size: 38px;
        }
    }
    &__block {
        padding: 14px 19px;
    }
    &__auth-icon {
        width: 67px;
        height: 67px;
        margin: 0 auto 7px;
        display: block;
        background:  url("/mobile/img/svg/person.svg");
    }
    &__auth-btn {
        @extend .btn;
        @extend .btn--dark;
        display: block;
        margin: 0 auto;
        height: 44px;
        font-size: 16px;
        line-height: 46px;
        &--small {
            padding: 10px 20px;
            margin-top: 0;
            height: 37px;
            line-height: 22px;
        }
    }
    &__auth-link {
        display: inline-block;
        font-size: 20px;
        line-height: 16px;
    }
    &__delimiter {
        border-bottom: 1px solid $grey-light;
    }
    &__item-link {
        display: block;
        padding-left: 35px;
        position: relative;
        height: 30px;
        line-height: 32px;
        &:not(:last-child) {
            margin-bottom: 14px;
        }
        &:before {
            color: #d2d2d2;
            font-size: 21px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &--catalog {
            @extend .icon-catalog;
            &:before {
                font-size: 14px;
            }
        }
        &--location {
            @extend .icon-marker;
            &:before {
                font-size: 25px;
            }
        }
        &--phone {
            @extend .icon-phone;
        }
        &--payment {
            @extend .icon-pay;
        }
        &--delivery {
            @extend .icon-delivery;
        }
        &--blog {
            @extend .icon-blog;
        }
        &--about {
            @extend .icon-info;
        }
        &--contacts {
            @extend .icon-contacts;
        }
        &--education {
            @extend .icon-education;
        }
    }
    &__layer {
        display: none;
        #{&}.active {
            display: block;
        }
        &--main {

        }
        &--login {
            margin: 0 auto;
            max-width: 500px;
        }
        &--register {
            margin: 0 auto;
            max-width: 500px;
        }
        &--remember {
            margin: 0 auto;
            max-width: 500px;
        }
    }
    .catalog-nav{

        &__item{
          position: relative;
           a{
               &.icon-arrow-next{
                   &:before {
                       color: #d2d2d2;
                       font-size: 21px;
                       position: absolute;
                       right: 20px;
                       top: 50%;
                       transform: translateY(-50%);
                   }
               }
           }
        }
        &__inner{
            padding: 0;
        }
        &__list {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        &__list a {
            color: #000;
            font-size: 18px;
            padding: 15px 0 12px 20px;
            text-decoration: none;
            border-bottom: 1px solid #e7e7e7;
            display: block;
            position: relative;
        }
    }
}

.about {
    padding-bottom: 60px;
    &__catalog-link-wrapper{
       margin-bottom: 50px;
    }
    &__title{
      margin: 30px 0;
      color: #010101;
      font-family: Circe;
      font-size: 28px;
      font-weight: 700;
      line-height: 34px;
      text-transform: uppercase;
    }
    &__item {
        display: inline-block;
        max-width: 227px;
        width: 100%;
        vertical-align: top;
        .number-title {
            color: #53b0ff;
            font-size: 54px;
            font-weight: 700;
            margin-bottom: 0;
            margin-top: 30px;
        }
        .descr {
            color: #010101;
            font-size: 20px;
            margin: 0;
        }
    }
    &__description{
        p {
            color: #000000;
            font-family: Circe;
            font-size: 14px;
            font-weight: 400;
            line-height: 20.02px;
            margin: 15px 0;
        }

    }
}

.promo-card {
    background: white;
    padding: 25px 0 30px;
    text-align: center;
    @include respond-to(ipad) {
        padding-bottom: 15px;
    }
    img {
        display: inline-block;
    }
    p {
        font-size: 20px;
        font-weight: 700;
        color: #010101;
        margin: 0;
    }
    &__info {
        display: flex;
        padding: 0 82px;
        justify-content: space-around;
        margin-top: 13px;
        @include respond-to(ipad) {
            display: block;
            padding: 0;
            font-size: 0;
        }
        p {
            @include respond-to(ipad) {
                display: inline-block;
                max-width: 159px;
                margin: 0 8px 10px;
            }
        }
    }
}

.products {
    background: #ebf2f8;
    padding: 20px 0 30px;
}
.product-card {
    background: white;
    padding: 10px 0 15px;
    font-size: 0;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 8px;

    @include respond-to(ipad) {
        max-width: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        padding-bottom: 0;
    }
    .icon-basket {
        &--in-basket{
            color: #53b0ff;
        }
    }
    &__title{
        color: #010101;
        display: block;
        font-size: 12px;
        margin-top: 0;
        text-decoration: none;
        line-height: 16px;
        max-width: 290px;
        min-height: 54px;
        overflow: hidden;
        @include respond-to(ipad) {
            /*min-height: 29px;
            margin-bottom: 5px;*/
        }

    }
    &__picture {
        display: inline-block;
        vertical-align: middle;
        padding-left: 15px;
        margin-right: 25px;
        height: 51px;
        width: 55px;
        @include respond-to(ipad) {
            padding-left: 3px;
            margin-right: 8px;
        }
        span {
            display: block;
            font-size: 10px;
            color: #010101;
            padding-top: 5px;
            margin-top: 5px;
            @include respond-to(ipad) {
                margin-top: -1px;
            }
        }
    }

    &__desc {
        display: inline-block;
        vertical-align: middle;
        @include respond-to(ipad) {
            max-width: 180px;
            width: 100%;
        }

    }
    &__old-price{
        display: block;
        color: #d2d2d2;
        font-size: 12px;
        font-weight: 300;
    }
    &__price{
        font-weight: 700;
        font-size: 20px;
    }
    &__buy {
        position: absolute;
        bottom: 10px;
        right: 0px;
        height: 20px;
        width: 120px;
        font-size: 15px;
    }
    &__availability{
        color: #3ad030 !important;
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        position: relative;
        @include respond-to(ipad) {
            margin-right: 14px;
        }
        &:after {
            position: absolute;
            content: '';
            background: #acacac;
            width: 1px;
            height: 18px;
            right: -11px;
        }
        &--no {
            color: #acacac !important;
            width: 62px;
        }
    }
    &__add-to-basket{
        display: inline-block;
        vertical-align: middle;
    }
}

.card-clr {
    background : #fff;
    width : 100%;
    height : 300px;
    margin: 15px 0;
    display : inline-block;
    vertical-align : top;
    padding : 54px 28px 0 28px;
    border : none;
    position : relative;
    overflow : hidden;
    &--blue {
        background : $hblue;

        .card-clr__title, .card-clr__link {
            color : #fff;
        }
        .card-clr__link {
            border-bottom : 1px solid rgba(255, 255, 255, 0.51);
            &:hover {
                color : #e3e3e3;
                border-bottom : 1px solid #e3e3e3;
            }
        }
        .card-clr__img {
            bottom: -1px;
            right: -9px;
            width: 142px;
        }
    }
    &--yell {
        background : #f4e430;
        .card-clr__img {
            bottom: -44px;
            right: -46px;
            width: 200px;
        }
    }
    &--pink {
        background : #fbb8c9;
        .card-clr__img {
            bottom: -17px;
            right: -43px;
            width: 184px;
        }
    }
    &__title {
        font-size : 18px;
        color : #000;
        font-weight : bold;
        position : relative;
        z-index : 6;
        margin-bottom: 16px;
    }
    &__link {
        font-size : 14px;
        position : relative;
        z-index : 5;
        color : #000;
        font-weight : bold;
        transition : all 0.2s ease-out;
        border-bottom : 1px solid rgba(0, 0, 0, 0.21);
        display : inline-block;
        line-height : 14px;
        cursor : pointer;
        &:after {
            position : absolute;
            left : calc(100% + 8px);
            content : ' →';
        }
    }
    &__img {
        position: absolute;
        z-index : 4;
    }
}

.search-items {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    background: white;
    border-radius: 4px;
    top: calc(100% + 8px);
    @include respond-to(ipad) {
        width: 320px;
        left: -84px;
    }
}
.city-switch {
    label {
        display: block;
        padding: 10px 0;
    }
    span, i {
        display: block;
        font-size: 16px;
    }
    &__item {
        padding: 15px 20px 15px 15px;
        border: 1px solid #e7e7e7;
        border-radius: 5px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        input {
            display: none;
            &:checked ~ label:after{
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #53b0ff;
            }
        }
        label {
            display: block;
            padding-left: 25px;
            position: relative;
            &:before{
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                background: #e7e7e7;
                border-radius: 50%;
                left: -5px;
            }
            &:after{
                position: absolute;
                content: "";
                width: 10px;
                height: 10px;
                background: #9d9d9d;
                border-radius: 50%;
                top: 15px;
                left: 0;
            }
            span {
                font-size: 20px;
                color: black;
                display: block;
                margin-bottom: 5px;
                margin-top: -5px;
            }
            i {
                display: block;
                font-size: 30px;
                font-style: normal;
                color: black;
                font-weight: 700;
                @include respond-to(ipad) {
                    font-size: 23px;
                }
            }
        }
    }
}
.city-switch-popup {
    position: fixed;
    background: white;
    width: 100%;
    top: 0px;
    z-index: 200;
    display: none;
    max-height: 100vh;
    overflow-y: scroll;
    #{&}.active {
        display: block;
    }
    &__content{
        position: relative;
        overflow-y: scroll;
    }
    &__area {
        padding: 30px;
        position: relative;
        overflow:auto;
        &--step1 {
            padding-bottom: 0;
        }
        &--step2 {
            padding-top: 0;
            display: none;
            padding-top: 0;
            height: 100vh;
        }
    }
    &__title {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 15px;
    }
    &__btn {
        line-height: 2.5;
        padding: 0px 10px;
        margin-top: 0;
        width: 50%;
        font-size: 14px;
        text-transform: none;
    }
    &__link {
        border-color: rgba(0, 0, 0, 0.5);
        margin-left: 11px;
        font-size: 14px;
    }
    &__description {
        margin-top: 24px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 16px;
        color: #000;
        cursor: pointer;
        z-index: 999;
        //opacity: 0.65;
        &:hover {
            opacity: 1;
        }
    }
    ul#{&}__list {
        //columns: 2;
        li {
            line-height: 35px;
        }
        label {
            font-size: 16px;
            &:before {
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.footer {
    padding: 25px 0 35px;
    background: white;
    font-size: 0;
    &__logo {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        margin-bottom: 20px;
        @include respond-to(ipad) {
            /*position: relative;
            z-index: 50;
            margin-top: -510px;
            width: 100%;*/
        }
    }
    &__contacts{
        &--main{
            padding: 20px 0 10px 25px;
            .phone{
                color: #000000;
                font-family: Circe;
                font-size: 32px;
                font-weight: 700;
                line-height: 24px;
                margin: 10px 0;
                display: block;
                &.icon-phone{
                    &:before {
                        margin-left: -25px;
                        font-size: 24px;
                        color: #53b0ff;
                        margin-right: 3px;
                    }
                }
            }
            .email{
                display: block;
                color: #000000;
                font-family: Circe;
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                &.icon-mail{
                    &:before {
                        margin-left: -25px;
                        font-size: 16px;
                        color: #53b0ff;
                        margin-right: 3px;
                    }

                }
            }
        }
        &--current{
            position: relative;
            padding: 10px 0 20px 25px;
            &.icon-marker {
                &:before {
                    position: absolute;
                    left: 3px;
                    top:3px;
                    font-size: 23px;
                    color: #53b0ff;
                }
            }
            .city{
                font-family: "Circe";
                font-size: 20px;
                font-weight: 700;
                line-height: 20px;
                padding: 3px 0;
            }
            .address{
                color: #000000;
                font-family: Circe;
                font-size: 14px;
                font-weight: 400;
            }
            .current-phone{
                color: #000000;
                font-family: Circe;
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
    &__divider{
        margin: 20px 0;
    }
    &__info {
        margin-bottom: 30px;
        @include clearfix();
        @include respond-to(ipad) {
            width: 100%;
            text-align: left;
        }
        &--social {
            width: 50%;
            float: left;
            .icon-vk,.icon-facebook{
                &:before{
                    font-size: 30px;
                }
            }
            .social-link{
                margin-right: 5px;
                margin-top: 5px;
                display: inline-block;
            }
        }

        &--pay {
            width: 50%;
            float:left;
            .icon{
                margin-right: 5px;
                margin-top: 10px;
                display: inline-block;
                &-mastercard{
                    background: url(../img/svg/mastercard.svg) 0 0 no-repeat;
                    width: 43px;
                    height: 25px;
                }
                &-visa{
                    background: url(../img/svg/visa.svg) 0 0 no-repeat;
                    width: 49px;
                    height: 16px;
                }
                &-yandex{
                    background: url(../img/svg/yandex.svg) 0 0 no-repeat;
                    width: 20px;
                    height: 25px;
                }

            }
            .pay-img{
                margin-right: 5px;
                margin-top: 10px;
                display: inline-block;
            }
        }
        p {
            color: black;
            font-size: 20px;
            margin: 0;
            font-weight: 700;
        }


    }
    &__copyright, &__address, &__license {
        font-size: 12px;
        margin: 3px 0;
    }
}
.catalog{
    .icon-arr-d,.icon-arr-up{
        font-size: 7px;
        margin-left: 5px;
    }
    &__empty-list {
        padding: 30px 0;
        font-size: 30px;
        font-weight: bold;
        display: block;
        position: relative;
    }
    &__filters-link {
        position: fixed;
        bottom: 0px;
        left: 25px;
        right: 25px;
        display: inline-block;
        width: calc(100% - 50px);
        z-index: 9;
        box-shadow: 0 0 25px rgba(100, 134, 241, 0.55);
        &--scrolled{
            transition: 0.3s ease-out;
            border-radius: 50%;
            width: 52px;
            line-height: 1;
            padding-top: 3px;
            .icon-plus{
                font-size: 40px;
            }
        }
    }
    &__choose-window{
        position: absolute;
        left: 0;
        right: 0;
        top: 48px;
        bottom: 0;
        background: #eaf2f7;
        z-index: 9;
        padding: 20px;
        font-size: 18px;
    }
    .choose-window{
        &__category{
            margin-bottom: 5px;
            &--2,&--3,&--4{
                font-size: 14px;
                line-height: 20px;
                margin-left: 9px;
            }
        }
        &__category-item-wrapper{
            margin: 15px 0;
        }
        &__category-item{
            border-bottom: 1px solid #ccc;
        }
        &__close-link{
            border-bottom: 1px solid #ccc;
        }
    }
    &__filters-window{
        position: absolute;
        left: 0;
        right: 0;
        top: 48px;
        //bottom: 0;
        background : #fff;
        z-index: 9;
        padding: 20px;
        //height: 110%;

    }
    .filters-window{
        &__close-link{
            float: right;
            color: red;
            font-size: 16px;
        }
    }
    &__settings{
        font-size: 14px;
        margin-bottom: 20px;
    }
    &__choose-link{
        border-bottom: 1px solid #ccc;
    }
    &__found{
        float: right;
    }
    &__pagination {
        font-size : 0;
        letter-spacing : 0;
        text-align : right;
        float : right;
        &--center {
            clear: both;
            text-align: center;
            margin: 20px 10px;
        }

    }
    &__page {
        padding : 2px 8px 0;
        font-size : 20px;
        color : #000;
        margin-right : 5px;
        display : inline-block;
        line-height : 28px;
        transition : all 0.2s ease-out;
        &.active {
            color : #fff;
            background : $hblue;
        }
        &:hover {
            color : #fff;
            background : $hblue;
        }
    }
}
.filter {
    padding-bottom: 80px;
    &__show-all,
    &__hide-all {
        color: #53b0ff;
        font-family: Circe;
        font-size: 14px;
        border-bottom: 1px dotted #53b0ff;
        display: inline-block;
        margin-top: 15px;
        cursor: pointer;
    }
    &__content {
        @include clearfix();

    }
    &__group {
        padding : 20px 0px 30px;
        @include clearfix();
        &:not(.open) {
            .filter__arrow {
                @include icon(arr-d, after);
            }
        }
        &.open {
            .filter__arrow {
                @include icon(arr-up, after);
            }
        }
    }
    &__arrow {
        font-size: 7px;
        float: right;
        margin-top: 10px;
    }
    &__row {
        font-size : 0;
        letter-spacing : 0;
        margin-bottom : 10px;
        display : flex;
        align-items: stretch;
        justify-content: space-between;
        position : relative;
    }
    &__inline {
        display : inline-block;
        vertical-align : middle;
        margin-bottom : 0;
        line-height: 36px;
        &:first-child {
            padding-top : 3px;
            margin-right : 10px;
        }
    }
    &__input-b {
        border: 1px solid #fff;
        border-radius: 3px;
        height: 36px;
        position: absolute;
        padding-left: 9px;
        margin-top: 2px;
        right: 22px;
        top: -1px;
        width: 66px;
        z-index : 5;
        transition : all 0.1s ease-out;
        &:before {
            line-height: 36px;
            z-index: 1;
            top: 1px;
            width: 24px;
            color: #aeaeae;
            font-weight: 400;
            font-size : 20px;
            vertical-align : top;
            content: 'до';
            left: -30px;
            position: absolute;
            transition : all 0.1s ease-out;
        }
        &:after {
            line-height: 36px;
            position: absolute;
            z-index: 1;
            top: 1px;
            content: '₽';
            color: #aeaeae;
            font-weight: 400;
            font-size : 20px;
            right : -17px;
            transition : all 0.1s ease-out;
        }
    }
    &__price-input {
        vertical-align: top;
        border-radius: 3px;
        border: 1px solid #dedede;
        font-size: 20px;
        background : none;
        color: #aeaeae;
        height: 36px;
        text-align: left;
        margin-top: 1px;
        width: 130px;
        margin-left: 7px;
        padding: 3px 30px 0 39px;
        z-index : 6;
        transition : all 0.1s ease-out;
        &:focus {
            border: 1px solid rgba(255, 255, 255, 0);
            & + .filter__input-b {
                border-color : $hblue;
                &:before {
                    color : #000;
                }
                &:after {
                    color : #000;
                }
            }
        }
    }
    &__title {
        position : relative;
        font-size : 20px;
        font-weight : bold;
        margin-bottom : 5px;
    }

    &__price-slider {
        position : relative;
        margin-bottom: 20px;

    }
    &__price-min {
        position : absolute;
        color : #aeaeae;
        font-size : 14px;
        left : 0;
        bottom: -31px;
    }
    &__price-max {
        position : absolute;
        color : #aeaeae;
        font-size : 14px;
        right : 0;
        bottom: -31px;
    }
    &__pair {
        width : 50%;
        float : left;
        &--100 {
            width : 100%;
        }
    }
    &__label {
        font-size : 14px;
        position : relative;
        padding-left : 20px;
        transition : color 0.1s ease-out;
        &:before {
            width : 14px;
            position : absolute;
            height : 14px;
            display : block;
            border : 1px solid #aeaeae;
            border-radius : 3px;
            left : 0;
            top: 0px;
            content : '';
            transition : all 0.2s ease-out;
        }
        &:hover {
            color : $hblue;
        }
    }
    &__checkbox {
        display : none;
        &:checked + .filter__label{
            &:before {
                background : $hblue;
            }
        }
    }
    &__clear {
        @include icon(cancel2, after);
        margin-bottom : 0;
        cursor : pointer;
        &:after {
            font-size : 10px;
            float: right;
            margin-top: 5px;
            transition : all 0.2s ease-out;
        }
        &:hover {
            &:after {
                color : #ff0000;
            }
        }
    }
    &__loader {
        margin: 0 0 2em;
        height: 100px;
        width: 20%;
        text-align: center;
        padding: 1em;
        margin: 0 auto 1em;
        display: inline-block;
        vertical-align: top;
    }
}
.noUi-horizontal .noUi-handle {
    width : 32px;
    height : 32px;
    background : #fff;
    border-radius : 50%;
    cursor : pointer;
    border : 1px solid #c6c6c6;
    transition : all 0.05s ease-out;
    &:hover {
        background : #53b0ff;
        box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px rgba(0, 0, 0, 0.1), 0 3px 6px -3px #BBB;
        box-shadow : none;

    }
    &:before, &:after {
        content : none;

    }
    &.noUi-active {
        background : #53b0ff;
        transition-duration : 0s;
        box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px rgba(0, 0, 0, 0.29), 0 3px 6px -3px #BBB;
        box-shadow : none;

    }
}
.noUi-horizontal.noUi-background {
    height: 2px;
    border : none;
    background : #53b0ff;
    box-shadow : none;
}
.noUi-horizontal .noUi-handle {
    top: -14px;
}
.noUi-origin {
    background : #c2c2c2;
}

.product {
    &__title{
        font-size: 18px;
    }
    &__info {
        height : 72px;
        padding : 12px 0 16px;
        position : relative;
        display : flex;
        justify-content: flex-start;
        align-items: center;
        hr{
            margin: 0;
        }

    }
    &__flag {
        position : static;
        display : inline-block;
        vertical-align : middle;
        margin-right : 10px;

    }
    &__info-text {
        display : inline-block;
        vertical-align : middle;
        margin-right : 10px;
        font-size : 14px;
        line-height : 1;
        padding-top : 2px;
        #{&} a {
            border-bottom: 1px solid #cccccc;
            transition: all 0.2s ease-out;
            &:hover {
                color: $hblue;
                border-color: $hblue;
            }
        }
        &--left {
            margin-right: 0;
            margin-left: 10px;
        }
    }
    &__rating {
        vertical-align : middle;
        display : inline-block;
    }

    &__rating {
        font-size : 0;
        letter-spacing : 0;
    }
    &__rating-star {
        @extend %star;
        &--e {
          @extend %star--e;
        }
    }
    &__slider{
        background: #fff;
        width: 100%;
        margin-bottom: 70px;
    }
    
    &__slider-info {
        text-align: left;
        position: absolute;
        bottom: 0px;
        left: 10px;
        font-size: 14px;
        color: #777;
    }
    &__slider-dots{
        text-align: center;
        padding-top: 15px;
        position: absolute;
        width: 100%;
        li{
            display: inline-block;
            width: 12px;
            height: 12px;
            border: 3px solid #53b0ff;
            margin: 0 2px;
            border-radius: 50%;
            &.slick-active{
                background: #53b0ff;
            }
            button{
                opacity: 0;
            }
        }
    }
    &__slide{
        display: inline-block;
        max-width: 100%;
    }
    &__descr {
        margin-top : 100px;
        padding-bottom: 50px;
        margin-bottom: 50px;
        border-top : 2px solid #d0e0ed;
        border-bottom : 2px solid #d0e0ed;
    }
    &__descr-cnt {
        padding-top : 30px;
    }

}
.summary {
    background : #fff;
    &__ocb{
        font-size: 14px;
        text-transform: none;
        padding-top: 15px !important;
        padding-bottom: 23px !important;
        line-height: 1;
        margin: 0;
    }
    &__row {
        @include clearfix();
        margin-bottom : 15px;
        &--big-space {
            margin: 15px 0px;
        }

    }
    &__b {
        border-bottom : 2px solid #ebf2f8;
        padding: 15px 20px;
        position: relative;
        .availability {
            float: left;
            margin-top: 12px;
        }
        &--link {
            transition : all 0.2s ease-out;
            display : block;
            &:hover {
                background : #f1f1f1;
            }
        }
    }

    &__b-sub {
        /*position: absolute;
        top: 50%;
        transform: translateY(-50%);*/
    }

    &__label {
        font-weight: bold;
        display: block;
        float: left;
        position: relative;
        line-height: 30px;
        margin-right: 10px;
    }

    & .sod {
        &_list_wrapper,
        &_list,
        &_select,
        &_option {
            width: 170px;
        }
        &_option,
        &_label {
            font-size: 20px;
        }
        &_select {
            display: block;
            float: left;
            height: 30px;
            padding: 5px 14px 5px;
            &:hover,
            &.open,
            &.focus {
                border-color: $dblue;
                &:after {
                    border-left: 1px solid $dblue;
                }
            }
            &:before {
                top: 10px;
                color: $dblue;
            }
        }
        &_option {
            padding: 5px 15px;
            &.active {
                background: $lblue;
                box-sizing: border-box;
                width: 99%;
            }
        }
        &_list_wrapper {
            border-color: $dblue;
        }
    }
    &__value {
        float : left;
        margin-right: 20px;
    }
    &__add-to-basket {
        margin : 0;
        padding: 1px 0 0;
        width : 100%;
        margin-bottom : 4px;
    }
    &__total {
        &-price,
        &-discount-price {
            margin-top: 5px;
            display: block;
            &:after {
                content : ' ₽';
            }
        }
        &-price {
            float: left;
            font-weight: bold;
            font-size: 50px;
            line-height: 1;
            &--extend {
                font-size: 55px;
            }
        }
        &-discount-price {
            float: left;
            margin-right: 14px;
            padding: 5px 7px;
            margin-top: 15px;
            font-size: 26px;
            color: #000;
            line-height: 1;
            background: url("../img/svg/cross-line.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100% 100%, auto;
            &--extend {
                font-size: 25px;
            }
        }
    }
    &__bonuses {
        font-size: 20px;
        clear: both;
        color: #aeaeae;
        display: block;
        line-height: 0.9;
        text-align : left;
        padding-left: 137px;
        padding-top: 6px;
    }

    &__text {
        font-size : 16px;
        color : #000;
        margin-bottom: 8px;
        position : relative;

        &--icon {
            padding-left : 42px;
            &.icon-delivery-express {
                &:before {
                    left: -9px;
                }
            }
            &.icon-house {
                &:before {
                    left: 3px;
                }
            }
            &:before {
                position : absolute;
                left : 0;
                color : #1e43ba;
            }
        }
        &:last-child {
            margin-bottom : 0;
        }
        &--green {
            color : #39d12e;
        }
        &--red {
            color : #ed5555;
        }
    }
}
.ocb {
    display : flex;
    height : 42px;
    position: relative;
    &__success {
        padding: 0 !important;
        font-size: 16px;
    }
    &__form {
        display: block;
        height : 42px;
        width: 100%;
        &--panel {
            height: 36px;
        }
    }
    &__input {
        width : 50%;
        height: 100%;
        border : 1px solid #aeaeae;
        border-right : 0;
        font-size : 16px;
        color : #000;
        float: left;
        padding-top: 2px;
        line-height : 1;
        text-align: center;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        transition : border-color 0.2s ease-out;
        &::-webkit-input-placeholder {color:#aeaeae;}
        &::-moz-placeholder          {color:#aeaeae;}/* Firefox 19+ */
        &:-moz-placeholder           {color:#aeaeae;}/* Firefox 18- */
        &:-ms-input-placeholder      {color:#aeaeae;}
        &:hover, &:focus  {
            border-color : #53b0ff;
        }
        &.error {
            border-color: $red;
        }
        &.valid {
            border-color: #00a651;
        }
        &--panel {
            text-align: left;
            padding: 0px 15px;
            font-size: 20px;
            width: 62%;
            border: 2px solid #ebebeb;
            &:hover, &:focus {
                border: 2px solid #666;
            }
        }
    }
    &__btn {
        background : #fff;
        width : 50%;
        float: left;
        height: 100%;
        border : 2px solid #53b0ff;
        color : #53b0ff;
        font-weight : normal;
        font-size : 16px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        transition : all 0.2s ease-out;
        &:hover {
            background : #53b0ff;
            color : #fff;
        }
        &--panel {
            width: 38%;
            border: 2px solid #53b0ff;
            background : #53b0ff;
            color: white;
            font-weight: 400;
            font-family: Circe;
            font-size: 20px;
        }
    }
}
.tabs {
    &__nav {
        font-size : 0;
        letter-spacing : 0;
        margin-top: -40px;
    }
    &__link {
        font-size : 24px;
        line-height: 36px;
        color : #000000;
        display : inline-block;
        margin-right : 30px;
        cursor : pointer;
        &:hover {
            border-bottom : 4px solid  #a8d7ff;

        }
        &.active {
            border-bottom : 4px solid $hblue;
        }
    }
    &__tab {
        @include clearfix();
        display : none;
        &.active {
            display : block;
        }
    }
    &__items {
        &--pt {
            padding-top: 20px;
        }
    }
}
.props {
    font-size: 16px;
    &__list {
        list-style:none;
        padding-left:0;
        //column-count: 2;
    }
    &__title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 31px;
    }
    &__item {
        margin-bottom: 11px;
        font-size: 13px;
    }
}
.reviews {
    position : relative;
    &--mb {
        margin-bottom : 80px;
    }
    &__add-bnt {
        margin-top : 0;
        height : 52px;
        line-height : 46px;
    }
    &__show-more-btn {
        margin-left : auto;
        margin-right : auto;
        width : 358px;
        margin-top : 46px;
        display : block;
    }
    &__item {
        @include clearfix();
        margin-bottom : 48px;
        &:last-child {
            margin-bottom : 0;
        }
        &--page {
            background : #fff;
            padding :20px 32px;
            margin-bottom : 2px;
            .reviews__author {
                font-size : 20px;
                margin-bottom: 11px;
            }
            .reviews__text-b {

            }
            .reviews__text {
                font-size : 14px;
            }
            .reviews__footer {

            }
            .reviews__source {
                display : inline-block;
                margin-right : 26px;
                vertical-align : middle;
            }
            .reviews__source-label {
                font-size : 14px;
                color : #8888a5;
            }
            .reviews__source-value {
                width : 104px;
            }
            .reviews__rating {
                display : inline-block;
                vertical-align : bottom;
                margin-bottom : 3px;

            }
            .reviews__rating-star {
                &:before {
                    color : #1a69d5;
                }
            }

        }
    }
    &__date {
        font-size : 14px;
        color : #a1a1a1;
        margin-top : 12px;
        margin-bottom : 10px;
        &:last-child {
            margin-bottom : 0;
        }
    }
    &__footer {
        font-size : 0;
        letter-spacing : 0;
        @include clearfix;
        margin-top: 7px;
    }
    &__col {
        float : left;
        &:first-child {
            width : 184px;
        }
        &:nth-child(2) {
            width : 524px;
        }
    }
    &__rating {
        font-size : 0;
        letter-spacing : 0;
        margin-bottom : 5px;
        &:after {
            content : attr(data-rating);
            font-size : 20px;
            font-weight : bold;
            line-height: 21px;
            position: relative;
            top: -2px;
            margin-left: 2px;
        }
    }
    &__rating-star {
        @extend %star;
        &--e {
            @extend %star--e;
        }
    }
    &__author {
        font-size : 14px;
        font-weight : bold;
        margin-bottom : 6px;
    }
    &__source {
        font-size : 14px;
    }
    &__source-label {
        font-size : 14px;
        margin-bottom : 3px;
    }
    &__source-value {
        width : 100px;
    }
    &__text-b {

    }
    &__text {
        font-size: 14px;
        line-height: 1.3;
        margin-bottom: 18px;
        &:last-child {
            margin-bottom : 0;
        }
    }
    &__title {
        font-size: 14px;
        font-weight : bold;
        line-height: 1.3;
    }
    &__title {

    }
    &__text {

    }
    &__set {
        width : 100%;
        background : #fff;
        text-align : center;
        padding : 38px 50px;
        margin-bottom : 2px;
    }
    &__set-logo {
        width : 146px;
        margin-bottom : 12px;
        margin-left : auto;
        margin-right : auto;
    }
    &__set-text {
        font-size : 20px;
        margin-bottom : 12px;
    }
    &__set-btn {
        margin-top : 0;
    }
}
.buffer{
    padding: 60px 0;
}
.others{
    margin: 25px 0;
    &__title{
        color: #010101;
        font-family: Circe;
        font-size: 20px;
        font-weight: 700;
        line-height: 34px;
        margin-bottom: 15px;
    }
    &__slider{
        .icon{
            font-size: 20px;
            position: absolute;
            top: 35%;
            z-index: 9;
            background: transparent;
            &.icon-arrow-prev{
                left: -20px;
            }
            &.icon-arrow-next{
                right: -20px;
            }
        }
    }
}
.order {
    background: #fff;
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 50px

;

    &__title {
        font-size : 34px;
        font-weight : bold;
        margin-bottom : 8px;
    }
    &__line {
        font-size : 24px;
        margin-bottom : 10px;
    }
}
.basket{
    &__item-count{
        position: absolute;
        right: 20px;
        bottom: 8px;
    }
    &__item-remove{
        position: absolute;
        top: 5px;
        right: 5px;
        color: #bdbdbd;
        font-size:12px;
    }
}
.order-form {
    position: relative;
    min-height: 480px;
    &__payment {
        position: absolute;
        display: block;
        &--visa {
            top: -6px;
            left: 210px;
        }
        &--mk {
            top: -10px;
            left: 285px;
        }
    }
    &__delivery-anesthesia {
        display: none;
    }
    .form__footer{
        padding-left: 15px;
        padding-right: 15px;
    }
    .form__success{
        position: relative !important;
    }
}

.popup-block {
    padding: 20px;
    position: relative;
    background: #FFF;
    width: auto;
    max-width: 600px;
    margin : 0px auto;
    .form{
        &__title{
            padding: 0 15px;
            border-bottom: 1px solid #e7e7e7;
            margin-bottom: 10px;
        }
        &__group{
            padding :0 15px;
        }
    }
    .text__34{
        font-size: 26px;
    }
    &__title {
        color: #000000;
        font-family: Circe;
        font-size: 20px;
        font-weight: 400;
        line-height: 50px;
        &:first-child {
            margin-top : 0;
        }
        &--small {
            font-size: 26px;
            margin-top : 20px;
        }
    }
    &--wide {
        width: 710px;
        max-width: 710px;
    }
}
#order-form{
    padding: 0 !important;
    min-height: 100%;
}
.popup-avalability{
    position: relative;
    background: #FFF;
    width: auto;
    max-width: 600px;
    padding: 40px;
    margin: 0 auto !important;
    /*top: 35% !important;*/
    .header{
        font-family: Circe;
        font-size: 34px;
        font-weight: 600;
        line-height: 59.93px;
        height: auto;
    }
}
.popup-down {
    position : relative;
    &__hover {
        position : relative;
        cursor : pointer;
        &:hover {
            .popup-down__block {
                display : block;
            }
        }
    }
    &__block {
        display : none;
        position : absolute;
        background : #fff;
        border-radius: 5px;
        padding: 16px 20px 4px;
        right: -2px;
        top : 100%;
        box-shadow: 0 1px 4px 1px rgba(0,0,0,0.26);
    }
    &__link {
        font-size: 20px;
        font-weight: bold;
        display: block;
        margin-bottom: 12px;
        transition : color 0.1s ease-out;
        &:hover {
            color : $hblue;
        }
    }
}
.orders{
    &__col {
        font-size: 16px;
        display: inline-block;
        vertical-align: middle;
    }
    &__row {
        font-size: 0;
        width: 100%;
    }
    &__head {
        font-size: 0;
        @include clearfix();
        margin-bottom: 2px;
        background: #fff;
    }
    &__head-name {
        width: 33%;
        font-weight: bold;
        line-height: 1em;
        padding: 20px 10px 0px 10px;
        &:nth-child(1) {

        }
        &:nth-child(2) {

        }
        &:nth-child(3) {
        }
    }
    &__col-name {
        width: 33%;
        padding: 20px 10px 0px 10px;
        &:nth-child(1) {
            a {
                color: #53b0ff;
                cursor: pointer;
                text-decoration: none;
                @include icon(arr-d, after);
                border-bottom: 1px dotted rgba(83, 176, 255, 0.51);
                display: inline-block;
                line-height: 1em;
                position: relative;
                &:after {
                    position: absolute;
                    right: -16px;
                    font-size: 6px;
                    top: -1px;
                }
                &.active {
                    &:after {
                        transform: rotate(180deg);
                        top: -2px;
                    }
                }
            }
        }
    }

    &__body {

    }
    &__order {
        background: #fff;
        margin-bottom: 2px;
    }
    &__info {
        @include clearfix();
    }
    &__detail {
        padding-bottom: 20px;
        margin-bottom: 18px;
        display: none;
        overflow: hidden;
    }
    &__item {

    }
    &__item {
        margin-bottom: 10px;
    }
    &__img {
        text-align: center;
        width: 30%;
        padding: 0 10px;
        img {
            max-height: 62px;
            max-width: 62px;
        }
    }
    &__name {
        padding: 0 16px 0 0;
        width: 70%;
        font-size: 16px;
    }

}
.pers-data {
    @include clearfix();
    &__col {
        background: #fff;
        margin: 10px 0;
        width: 100%;
        float: left;
    }
    &__body {
        padding: 0 15px;
        margin-bottom: 0;
    }
    &__title {
        padding-left: 25px;
        margin-bottom: 20px;
        font-size: 24px;
        border-bottom: 2px solid #ebf2f8;
        margin-left: -15px;
        margin-right: -15px;
    }
}
.subscription {
    @include clearfix();
    &__col {
        background: #fff;
        width: 100%;
        float: left;
        margin-bottom: 15px;
    }
    &__item {
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__btn {
        margin-top: 6px;
    }
    &__form-b {
        padding: 15px;
    }
    &__title {
        font-size: 24px;
        text-transform: initial;
        margin-bottom: 14px;
    }
    &__info {
        position: relative;
        padding: 15px;
        font-size: 20px;
    }
    &__icon {
        font-size: 40px;
        width: 80px;
    }
}
.referal {
    width: 100%;
    background: #fff;
    padding: 15px;
    &__descr {
        font-size: 20px;
        p {
            margin-bottom: 5px;
        }
    }
    &__b {
        @include clearfix();
        height: 42px;
        margin-top: 20px;
    }
    &__btn {
        background : #fff;
        width : 100%;
        float: left;
        height: 100%;
        border : 2px solid #1e43ba;
        color : #1e43ba;
        font-weight : bold;
        font-size : 16px;
        border-radius: 50px;
        transition : all 0.2s ease-out;
        &:hover {
            background : #1e43ba;
            color : #fff;
        }
    }
}
.user {
    &__col {
        width: 100%;
        background: #fff;
        padding: 15px;
        min-height: 106px;
        margin: 10px 0;
    }
    &__bonuses {
        font-size: 44px;
        &--empty {
            font-size: 20px;
        }
    }
    &__bonuses-text {
        font-size: 24px;
    }
}
.lk {
    &__log-out {
        @include icon(arrow-l, before);
        width: 176px;
        line-height: 44px;
        height: auto;
        margin-top: 0;
        text-align: center;
        padding: 0;
        &:before {
            font-size: 14px;
            margin-right: 6px;
        }
    }
    &__info-b {

    }
    &__row {

    }
    &__text {
        font-size: 18px;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
        b {
            font-weight: bold;
        }
    }

}
.contacts {
    &__b {
        @include clearfix();
        padding : 15px;
        background : #fff;
        margin-bottom : 20px;
    }
    &__group {
        margin-bottom : 30px;
    }
    &__label {
        font-size : 20px;
        margin-bottom: 6px;
    }
    &__phone {
        font-size : 24px;
        font-weight : bold;
        display : block;
    }
    &__email {
        font-size : 24px;
        font-weight : bold;
        display : block;
        margin-top: 6px;
    }
    &__socials {
        margin-top: 7px;
    }
    &__socials-el {
        display : inline-block;
        vertical-align : middle;
        margin-right : 5px;
        font-size: 40px;
        &:last-child {
            margin-right : 0;
        }
    }
    &__btn {
        margin-top : 0;
    }
    &__map {
        width : 100%;
        height : 356px;
        float : left;

    }
    &__map-descr {
        float : left;
        padding : 15px;
        a {
            color : #53b0ff;
            border-bottom : 1px solid #ddefff;
        }
    }
}
.delivery {
    &__map-b {
        @include clearfix();
    }
    &__b {
        padding : 15px;
        background : #fff;
        margin-bottom : 20px;
    }
    &__map-b {
        margin-bottom : 30px;
        &:first-of-type{
            margin-top : 20px;
        }
        &:last-child {
            margin-bottom : 0;
        }
    }
    &__map  {
        width : 100%;
        height: 200px;
        float : left;
        margin-right : 20px;
    }
    &__map-descr {
        padding-top : 26px;
        float : left;
        width : 100%;
        a {
            color: #53b0ff;
        }
    }
}
.search-window{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #fff;
    width: 100%;
    z-index: 15;
    height: 49px;
    &.inited{
        bottom: 0;
        height: unset;
    }
    &__header{
        box-shadow: 0 0 30px 0 rgba(53,98,242,0.42);
    }
    &__search{
        border: none;
        width: 100%;
        height: 50px;
        padding: 0 30px 0 35px;
        background: #dce2f7 url("../img/loupe.svg") no-repeat 8px center;
    }
    &__body{
        border-top: 1px solid #ccc;
    }
    &__close {
        position: absolute;
        top: 10px;
        right: 5px;
        font-size: 25px;
        width: 35px;
        height: 35px;
    }
    &__item-link{
        display: block;
        padding: 15px 20px;
        border-bottom: 1px solid #ccc;
        font-size: 14px;
        font-weight: 400;
    }
    &__item{
        @include clearfix();
        position: relative;
        display: block;
        padding: 15px 20px;
        border-bottom: 1px solid #ccc;
        font-size: 14px;
        font-weight: 400;
    }
    &__item-img {
        float: left;
        width: 30%;
        padding-right: 10px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__item-name {
        display: block;
        margin-bottom: 4px;

    }

    &__item-info {
        float: left;
        width: 70%;
    }
    &__item-price {
        font-weight: bold;
        margin-right: 24px;
    }
    &__item-price-val {
        font-weight: bold;
    }
    &__item-availability {
        &--available {
            color: #39d12e;
        }
        &--not-available {
            color: $red;
        }
    }
}

.education-index-banner{
    position: relative;
    background: url('/img/education/banner-bg-1.png') 0 50% no-repeat,
    url('/img/education/banner-bg-2.png') 100% -50px no-repeat;
    background-size: contain;
    background-color: #1e43ba;
    &__content{
        margin-left: 30%;
        margin-right: 21%;
        padding: 60px 0 160px 0;
    }
    &__text{
        color: #fff;
        font-family: Circe;
        font-size: 44px;
        font-weight: 700;
        line-height: 54px;
    }
    &__links{
        margin-top: 20px;
        a{
            padding: 12px 25px 8px;
            color: #fff;
            border-radius: 35px;
            border: 2px solid #ffffff;
            font-family: Circe;
            font-size: 20px;
            font-weight: 700;
            line-height: 54px;
            width: 137px;
            margin:15px 40px 0 0;
            transition: 0.5s;
            &:hover{
                //border: 2px solid #1e43ba;
                color: #1e43ba;
                background: #fff;

            }
        }

    }
}
.education-catalog-banner{
    position: relative;
    background-color: #e51143;
    &__content{
        padding: 25px 10px;
        position: relative;
    }
    &__text-b{
        color: #fff;
        font-family: Circe;
        width: 150px;
        float: left;
    }
    &__button-b{
        padding-top: 10px;
    }
    &__subscribe-link{
        transition: 0.5s;
        background: #fff;
        color: #e51143;
        border: 2px solid #fff;
        font-weight: bold;
        border-radius: 35px;
        padding: 10px 13px 8px;
        text-transform: uppercase;
        font-size: 15px;
        width: 100%;
        display: inline-block;
        text-align: center;
        &:hover{
            background: #e51143;
            color: #fff;
        }
    }
    &__subtitle{
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    &__title{
        font-size: 20px;
        font-weight: 600;
        line-height: 20px;
    }
    &__image-b{
        float: left;
        width: 150px;
        text-align: right;
        img{
            margin-right: -30px;
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
    }
}
.education-card {
    background : #fff;
    width: 100%;
    max-width : 320px;
    display : inline-block;
    vertical-align : top;
    margin: 0 3px 6px;
    position : relative;
    //transition : border-color 0.2s ease-out, transform 0.5s linear;
    transition: 1s;
    transform-origin:top left;
    .label{
        position: absolute;
        left: 10px;
        top: 10px;
        padding: 5px 10px 4px;
        color: #fff;
        font-family: Circe;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        z-index: 5;
        &--1{
            background: url('/img/svg-font/play.svg') 5px 45% no-repeat;
            background-size: 10px 10px;
            background-color: #206bde;
            padding-left: 18px;
        }
        &--2{
            background-color: #08c24e;
        }
        &--3{
            background-color: #dea01b;
        }
        &--4{
            background-color: #b820de;
        }
    }
    /*&:hover {
        transition: 0.5s;
        .education-card__text-b {
            transition: 0.6s;
            border-bottom: 2px solid #ccc;
            border-left: 2px solid #ccc;
            border-right: 2px solid #ccc;
        }
        .education-card__hover{
            background: rgba($hblue, 0.8);
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 5;
            transition: 0.6s;
            .details{
                opacity: 1;
            }
        }
    }

    &__img-b {
        padding: 0;
        text-align : center;
        min-height : 260px;
        height: auto;
        display: block;
        position: relative;
        &:hover {
            & + .card__text-b .card__name {
                color : $hblue;
            }
        }
    }
    */
    &__hover{
        display: none;
    }
    &__event-b{
        color: #acacac;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        .education-card__time{
            position: relative;
        }
        .icon-time{
            font-size: 15px;
            margin-right: 5px;
            margin-left: 10px;
            color: #333;
            &:before{
                top: 1px;
                position: relative;
            }
        }
        .icon-calendar{
            color: #333;
            font-size: 15px;
            margin-right: 5px
        }
    }
    &__author{
        color: #acacac;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
    }
    &__img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        //position: absolute;
        //left: 0;
    }
    &__text-b {
        font-size : 14px;
        position : relative;
        padding: 0 20px 0;
        min-height: 42px;
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        height: auto;
    }

    &__title {
        //height : 65px;
        overflow: hidden;
        margin-bottom : 8px;
        display : block;
        font-size: 18px;
        transition : all 0.2s ease-out;
        font-weight: 600;
        &:hover {
            color : $hblue;
        }
    }
    &__old-price{
        margin-top: 20px;
        color: #000000;
        font-family: Circe;
        font-size: 28px;
        font-weight: 700;
        line-height: 32px;
        text-align: center;
        text-decoration: line-through;
    }

}
.education-filter-window{
    bottom: 0px;
}
.education-single{
    .label {
        padding: 5px 10px 4px;
        color: #fff;
        font-family: Circe;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        vertical-align: top;
        &--1 {
            background: url('/img/svg-font/play.svg') 5px 45% no-repeat;
            background-size: 10px 10px;
            background-color: #206bde;
            padding-left: 18px;
        }
        &--2 {
            background-color: #08c24e;
        }
        &--3 {
            background-color: #dea01b;
        }
        &--4 {
            background-color: #b820de;
        }
    }

    &__info{
        background: #fff;
        padding: 29px 20px 24px;
        margin-bottom: 5px;
    }
    .info{
        &__price{
            margin-top: 10px;
            color: #000000;
            font-family: Circe;
            font-size: 30px;
            font-weight: 700;
            line-height: 32px;
        }
        img{
            border-radius: 50%;
        }
        .title{
            margin-top:5px;
        }
        .block__cols{
            margin: 10px 0;
        }
        p:first-child{
            margin-bottom:15px;
        }
        &__item{
            font-family: Circe;
            font-size: 16px;
            font-weight: 400;
            line-height: 22.08px;
            margin: 0 10px;

            &:last-child{
                margin-right: 0;
            }
            &--description{
                color: #666;
            }

            &--filled{
                &:before{
                    color: #1e43ba;
                    margin-right: 5px;
                    font-size: 16px
                }
            }
        }
    }

    &__program{
        background: #fff;
        margin-top: 10px;
        padding: 10px;
    }
    .program{
        &__title{
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
        }
        &__content{
            color: #010101;
            font-family: Circe;
            font-size: 18px;
            font-weight: 400;
            p{
                margin:10px 0;
            }
            ul,ol{
                list-style: disc;
                padding-left: 25px;
                margin: 10px 0;
                font-size: 14px;
                li{
                    margin: 10px 0;
                }
            }
        }
    }


}
.related-posts{
    &__title{
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .related-post{
        background: #fff;
        height: 238px;
        overflow: hidden;
        &__img-wrapper{
            float: left;
            width: 174px;
            height: 238px;

        }
        &__content-wrapper{
            width: 367px;
            padding: 32px 39px 38px 29px;
            float: left;
        }
        &__title{
            font-size: 20px;
            font-weight: 700;
            line-height: 32px;
        }
        &__introtext{
            color: #010101;
            font-family: Circe;
            font-size: 14px;
            font-weight: 400;
        }
        &__link-wrapper{
            a{
                color: #53b0ff;
                font-weight: 400;
                line-height: 40px;
                font-size: 14px;
                border-bottom: 1px dotted #ddd;
            }
        }
    }
}
.personal-education{

    .popup-block{
        .buttons{
            .btn{
                margin: 0 10px;
            }
        }
    }
    &__info{
        @include clearfix();
        position: relative;
        margin: 30px 0;
        background: #fff;
    }
    &__picture{
        width: 50%;
        float: left;
        img{
            display: block;
        }
    }
    &__text{
        width: 50%;
        float: left;
        padding: 30px 30px 15px 28px;
    }
    .listing{
        border-bottom: 5px solid #ebf2f8;
        .personal-education__title{
            border-bottom: 2px solid #ebf2f8;
            padding: 30px 30px 0px 28px;
        }
        /*padding: 30px 30px 48px 28px;*/
        .educations{
            &__edit{
                background: #e3f1ff;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                display: block;
                font-size: 15px;
                text-align: center;
                padding-top: 5px;
            }
            &__col {
                font-size: 20px;
                display: inline-block;
                vertical-align: middle;
                width: 40%;
                padding: 20px 10px 18px 0px;
                &:nth-child(1) {
                    a {
                        color: #53b0ff;
                        cursor: pointer;
                        text-decoration: none;
                        @include icon(arr-d, after);
                        border-bottom: 1px dotted rgba(83, 176, 255, 0.51);
                        display: inline-block;
                        line-height: 1em;
                        position: relative;
                        &:after {
                            position: absolute;
                            right: -16px;
                            font-size: 6px;
                            top: -1px;
                        }
                        &.active {
                            &:after {
                                transform: rotate(180deg);
                                top: -2px;
                            }
                        }
                    }
                }
                &--edit{
                    width: 10%;
                }
            }
            &__row {
                font-size: 0;
                width: 100%;
                padding: 0 30px;
                border-bottom: 2px solid #ebf2f8;
            }
            &__head {
                font-size: 0;
                @include clearfix();
                margin-bottom: 2px;
                background: #fff;
                padding: 0 30px;
                border-bottom: 2px solid #ebf2f8;
            }
            &__head-name {
                width: 40%;
                font-weight: bold;
                line-height: 1em;
                padding: 20px 10px 18px 0px;
                &--edit{
                    width: 10%;
                }
            }
            &__info {
                @include clearfix();
            }
            &__detail {
                padding-bottom: 20px;
                margin-bottom: 18px;
                display: none;
                overflow: hidden;
            }
            &__property {
                font-size: 16px;
                line-height: 30px;
            }
            &__item {
                padding-bottom: 10px;
                padding-top:10px;
            }
            &__empty{
                padding: 30px;
                p{
                    margin-bottom: 20px;
                }

            }


        }

    }
    .create-education-card{
        .form{
            //min-height: 350px;
            &__content{
                padding: 30px 30px 48px 28px;
            }
        }
        &__success{
            text-align: center;
            position: relative;
            background: rgba(255,255,255,0.98);
            padding: 30px;
            align-items: center;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
            z-index: 1;
            display: block;
        }
    }
    &__title{
        color: #010101;
        font-size: 24px;
        font-weight: 700;
        line-height: 66px;
    }

    &__link-wrapper{

    }
    &__link.btn{
        margin-top: 12px !important;
        margin-bottom: 40px !important;
    }
    p{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 10px;
    }

}