{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="partnership">
        <div class="innertube">
            <h1 class="partnership__title">
                Стань партнером Stommarket.ru <br>
                и получи лучшие цены!
            </h1>
            <div class="partnership__description">
                Stommarket запускает собственную партнерскую программу<br>
                для оказания поддержки стоматологам и клиникам
            </div>
            <div class="t-center">
                <img src="{{ asset('img/partnership/arrow.svg') }}" alt="" class="partnership__arrow">
            </div>
            <div class="partnership__motivators">
                <div class="motivator--1 motivator">
                    <div class="round">
                        Частые<br>скидки
                        <div class="percent motivator__icon icon"><img src="{{ asset('img/partnership/percent.svg') }}" alt="" class="img-responsive"></div>
                    </div>
                </div>
                <div class="motivator--2 motivator">
                    <div class="round">
                        Товары<br>по закупочным<br>ценам
                        <div class="percent motivator__icon icon"><img src="{{ asset('img/partnership/ruble.svg') }}" alt="" class="img-responsive"></div>
                    </div>
                </div>
                <div class="motivator--3 motivator">
                    <div class="round">
                        Эксклюзивные<br>акции
                        <div class="star motivator__icon icon"><img src="{{ asset('img/partnership/star.svg') }}" alt="" class="img-responsive"></div>
                    </div>
                </div>

            </div>
            <div class="partnership__form partnership-form">
                <form action="{{ path('partnership_index') }}" class="form js-form">
                    <h2 class="partnership-form__title">
                        для вступления в партнерскую программу<br>
                        просим вас заполнить анкету ниже:
                    </h2>
                    <div class="partnership-form__directions">
                        <div class="block__cols">
                            <div class="block__col block__col--6">
                                <p>Какие направления стоматологии
                                    вам наиболее интересны?</p>
                                <label class="partnership-form__input-block">
                                    <input class="partnership-form__input-checkbox" type="checkbox" name="directions[]" value="Терапия">
                                    <span class="partnership-form__checkbox"></span>
                                    <span class="partnership-form__label">Терапия</span>
                                </label>
                                <label class="partnership-form__input-block">
                                    <input class="partnership-form__input-checkbox" type="checkbox" name="directions[]" value="Профилактика">
                                    <span class="partnership-form__checkbox"></span>
                                    <span class="partnership-form__label">Профилактика</span>
                                </label>
                                <label class="partnership-form__input-block">
                                    <input class="partnership-form__input-checkbox" type="checkbox" name="directions[]" value="Хирургия">
                                    <span class="partnership-form__checkbox"></span>
                                    <span class="partnership-form__label">Хирургия</span>
                                </label>
                                <label class="partnership-form__input-block">
                                    <input class="partnership-form__input-checkbox" type="checkbox" name="directions[]" value="Эндодонтия">
                                    <span class="partnership-form__checkbox"></span>
                                    <span class="partnership-form__label">Эндодонтия</span>
                                </label>
                                <label class="partnership-form__input-block">
                                    <input class="partnership-form__input-checkbox" type="checkbox" name="directions[]" value="Парадонтология">
                                    <span class="partnership-form__checkbox"></span>
                                    <span class="partnership-form__label">Парадонтология</span>
                                </label>
                                <label class="partnership-form__input-block">
                                    <input class="partnership-form__input-checkbox" type="checkbox" name="directions[]" value="Ортопедия">
                                    <span class="partnership-form__checkbox"></span>
                                    <span class="partnership-form__label">Ортопедия</span>
                                </label>
                                <label class="partnership-form__input-block">
                                    <input class="partnership-form__input-checkbox" type="checkbox" name="directions[]" value="Другое">
                                    <span class="partnership-form__checkbox"></span>
                                    <span class="partnership-form__label">Другое</span>
                                </label>


                            </div>
                            <div class="block__col block__col--6">
                                <img class="img-responsive" src="{{ asset('/img/partnership/doctor_paper.svg') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="partnership-form__education">
                        <div class="block__cols">
                            <div class="block__col block__col--6">
                                <img class="img-responsive" src="{{ asset('/img/partnership/doctor_education.svg') }}" alt="">
                            </div>
                            <div class="block__col block__col--6">
                                <p class="partnership-form__education-question">Проходили ли вы обучение <br>в <a href="/education/" class="blue" target="_blank">учебном центре Stommarket.ru</a> ?</p>
                                <label class="partnership-form__input-block">
                                    <input class="partnership-form__input-radio" type="radio" name="education" value="Да">
                                    <span class="partnership-form__radio"></span>
                                    <span class="partnership-form__label">Да</span>
                                </label>
                                <label class="partnership-form__input-block">
                                    <input class="partnership-form__input-radio" checked type="radio" name="education" value="Нет">
                                    <span class="partnership-form__radio"></span>
                                    <span class="partnership-form__label">Нет</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <h2 class="partnership-form__title">
                        для получения льготных цен на продукцию<br>
                        введите свой адрес электронной почты:
                    </h2>
                    <div class="partnership-form__footer">
                        <input type="email" placeholder="вашапочта@mail.ru" class="partnership-form__input-text js-input js-required" required>
                        <div class="form__checkbox-input-b">
                            <input class="form__checkbox-input js-input js-required active" name="agreement" value="1" id="order-agreement" type="checkbox">
                            <label class="form__checkbox-input-label form__checkbox-input-label--small" for="order-agreement">
                                Я соглашаюсь с пунктами договора <a href="/articles/dogovor-publichnoy-ofertyi-postavki/" target="_blank" class="text__link">публичной оферты</a> и обработкой <a href="/politika-konfidencialnosti/" target="_blank" class="text__link">персональных данных</a>.
                            </label>
                        </div>
                        <button class="btn" type="submit">отправить заявку</button>
                    </div>

                </form>
            </div>
        </div>
    </section>
{% endblock %}