<!--style>
    .red {
        color: #f00;
    }
</style-->

<template>
    <div class="summary__b summary__b--1">
        <!--PRICE ROW-->
        <div class="summary__row clearfix">
            <div class="summary__total-discount-price js-discount-summ" v-if="product.oldPrice">
                ${product.oldPrice * currentCount}
            </div>
            <div class="summary__total-price js-summ" v-if="product.price">
                ${product.price * currentCount}
            </div>
        </div>
        <!--COUNT INPUT AND COUNT ROW-->
        <div class="summary__row clearfix">
            <div class="not-added" v-if="!inCart" >
                <div class="summary__value">
                    <label class="form__number-input-b form__number-input-b--small form__b--one">
                        <input class="form__number-input js-form__number js-change-sum-number js-ga-count"
                               name="item-count"
                               type="number"
                               step="1"
                               min="1"
                               max="product.count ? product.count : 1"
                               v-model = "currentCount"
                               @change = "setCurrentCount()"
                               data-bonus-cost="<?= $fullBonus ?>"
                               :data-cost="product.price"
                               :data-id="product.id">
                        <span class="form__number-input-minus js-form__number-minus" @click="setCurrentCount('minus')">−</span>
                        <span v-if="remain > 0" class="form__number-input-plus js-form__number-plus" @click="setCurrentCount('plus')">+</span>
                        <span v-else class="form__number-input-plus js-form__number-plus maxed" @click.prevent="setCurrentCount(NULL)">+</span>
                    </label>
                </div>
                <div class="availability">
                    <span class="summary__text--green count" v-if="product.count>0"> В наличии <span class="remain">${product.count}</span> шт.</span>
                    <span class="summary__text--red" v-else>Под заказ<span class="remain"></span></span>
                </div>
            </div>
            <div class="added" v-else>
                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                </svg>

                <span class="text">${currentCount} шт. в корзине. Осталось ${remain} шт.</span>
            </div>
        </div>


        <!--ADD TO BASKET / GOT TO CART-->
        <div class="summary__row clearfix">
            <a v-if="product.price && !inCart" class="ga-event-add-product btn long btn--yellow summary__add-to-basket js-product-page-btn js-ga-add-to-cart"
               @click.prevent = "addToCart(product.id,currentCount)"
            > Добавить в корзину </a>
            <a v-if="inCart" href="/cart/" class="btn long btn--yellow summary__add-to-basket js-product-page-btn">Перейти в корзину</a>
        </div>
        <!--ONE CLICK BUY ROW-->
        <div class="summary__row ocb" v-if="!inCart">
            <form action="/order/add-ocb-order/" method="POST" class="ocb__form js-form js-ocb__form">
                <input type="hidden" name="pid" :value="product.id">
                <input type="hidden" class="js-ocb__count" name="count" :value="currentCount">
                <input type="tel" placeholder="+7 (921) 123-45-67" class="ocb__input js-input js-required js-phone" name="phone">
                <button type="submit"  class="ocb__btn js-one-click-buy" onclick="">Купить в 1 клик</button>
                <div class="form__success js-form__success ocb__success">
                    <div class="content">Спасибо! Ваш заказ принят</div>
                </div>
            </form>
        </div>
        <!--BUY 1 MORE-->
        <div class="summary__row" v-else>
            <a class="ga-event-add-product btn btn--lblue summary__add-to-basket  js-ga-add-to-cart"
               v-if="remain > 0"
               data-count="1"
               data-id="product.id"
               @click="currentCount = currentCount+1;addToCart(product.id,1);">
                <span class="plus">+1 шт.</span>ДОБАВИТЬ ЕЩЁ
            </a>
        </div>
    </div>
</template>
<script>
    export default {
        name: "product",
        props:['data'],
        delimiters: ['${', '}'],
        computed: {
        remain: function () {
            var remain = this.product.count - this.currentCount;
            if(remain < 0) {remain = 0;}
            return remain;
        }
    },
    methods: {
        formatPrice: function(value) {
            return value;
            //return number_format(value, 0, '.', '');
        },
        setCurrentCount: function(operation) {
            if(operation == 'plus'){
                this.currentCount += 1;
            } else if(operation == 'minus'){
                this.currentCount -= 1;;
            }

            if(this.currentCount < 1){
                this.currentCount = 1;
            }
            if((this.currentCount > this.product.count) && (this.product.count > 0)){
                this.currentCount = this.product.count;
            }
            if(this.product.count == 0){
                this.currentCount = 1;
            }
            return this.currentCount;
        },
        addToCart: function(productId, count){
            this.inCart = true;
            var data = {
                id:    productId,
                count: count
            };
            console.log(data);
            var ret = $.cart.add(data);
            //yaCounter23244307.reachGoal('KORZINA');
            return false;
        }
    }
    }
</script>