{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Состав заказа {{ order.encryptedId }}</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Товар/Услуга</th>
                        <th>Артикул</th>
                        <th>Стоимость</th>
                        <th>Количество</th>
                        <th>Стоимость</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for orderProduct in order.orderProducts %}
                        <tr>
                            <td>{{ orderProduct.product.name }}</td>
                            <td>{{ orderProduct.product.article }}</td>
                            <td>{{ orderProduct.price }} руб.</td>
                            <td>{{ orderProduct.count }}</td>
                            <td>{{ orderProduct.price*orderProduct.count }} руб.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <th colspan="5"><div class="text-right">Итого: {{ order.price }} руб.</div></th>
                    </tfoot>
                </table>

            </div>
        </div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Редактирование заказа {{ order.encryptedId }}</h5>
            </div>
            <div class="ibox-content">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">Основное</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">SMS</a></li>
                    </ul>

                    <div class="tab-content">
                        <!--Основное-->
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#sms">Новая SMS(Курьер)</a>
                                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#sms2">Новая SMS(Не дозвонились)</a>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Дата</th>
                                        <th>Текст</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for orderSms in order.orderSmses %}
                                        <tr>
                                            <td>{{ orderSms.timeCreate|date('d.m.Y h:i') }}</td>
                                            <td>{{ orderSms.text }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Оплаты по заказу {{ order.encryptedId }}</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Тип</th>
                        <th>Cтатус</th>
                        <th>Сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for payment in order.payments %}
                        <tr>
                            <td>{{ payment.type.name }}</td>
                            <td>{{ payment.status ? 'Оплачен' : 'Не оплачен'}}</td>
                            <td>{{ payment.amount }} руб.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="sms">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{{ path('admin_order_send_sms') }}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">SMS клиенту</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" value="{{ order.id }}" name="order_id">
                    <label for="order-sms">Текст смс</label>
                    <textarea name="text" id="order-sms" class="form-control" rows="10">Здравствуйте.Курьер не дозвонился до Вас при доставке заказа {{ order.encryptedId }}.Пожалуйста свяжитесь с менеджером по тел.8 812 426-19-39.Ваш Стоммаркет.</textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="sms2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{{ path('admin_order_send_sms') }}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">SMS клиенту</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" value="{{ order.id }}" name="order_id">
                    <label for="order-sms2">Текст смс</label>
                    <textarea name="text" id="order-sms2" class="form-control" rows="10">Здравствуйте.Наш менеджер не смог связаться с Вами по заказу {{ order.encryptedId }}.Пожалуйста свяжитесь с нами по тел.8 812 426-19-39.Ваш Стоммаркет.</textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}