{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Менеджеры</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-9">
                        {% for manager in managers %}
                            <a href="{{path('admin_order_index',{managerId:manager.id}) }}" class="btn btn-primary btn-sm">
                                {{ manager.name }} {{ manager.lastName }}
                            </a>
                        {% endfor %}
                        <a href="{{path('admin_order_index') }}" class="btn btn-primary btn-sm">
                            Все заказы
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <form action="/admin/order/" method="GET">
                            <div class="input-group">
                                <input placeholder="Поиск" class="input-sm form-control" type="text" name="query">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary">Найти</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Заказы </h5>
            </div>
            <div class="ibox-content">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Номер</th>
                        <!--th>Версия</th-->
                        <th>Тип</th>
                        <th>Имя</th>
                        <th>Телефон</th>
                        <th>E-mail</th>
                        <th>Стоимость</th>
                        <th>Дата заказа</th>
                        <th>Версия</th>
                        <th>Мененжер</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}

                        <tr class="{{ order.originPayment.status ? 'success' : '' }}">
                            <td>{{ order.encryptedId }}</td>
                            <!--td>{{ order.versionId }}</td-->
                            <td>{{ order.sourceType ? '<i class="fa fa-desktop fa-2x text-navy"></i>' :'<i class="fa fa-mobile fa-3x text-navy"></i>' }}</td>
                            <td>{{ order.username }}</td>
                            <td>{{ order.phone }}</td>
                            <td>{{ order.email }}</td>
                            <td>{{ order.price|number_format(0, '.', ',') }} руб.</td>
                            <td>{{ order.timeCreate|date("d.m.yг. H:i")}}</td>
                            <td>{{ order.siteVersion.name}}</td>
                            <td>{{ order.manager.name}}</td>
                            <td>
                                <div class="actions">
                                    <a href="{{ path('admin_order_edit', {id: order.id}) }}"
                                       class="btn-primary btn btn-sm">Редактировать
                                    </a>
                                    <a class="btn-danger btn btn-sm delete-btn js-delete-btn" href="{{ path('admin_order_delete',{id:order.id}) }}">
                                        Удалить
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if orders.haveToPaginate %}
                    <div class="navigation text-center">
                        {{ pagerfanta(orders, 'twitter_bootstrap3_translated', {routeName: 'admin_order_index','routeParams': app.request.query.all,}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

