{% extends 'layouts/base.html.twig' %}
{% block content %}
    <section class="block">
        <div class="innertube">
            <div class="brandzone brandzone--3m">
                {{ include('layouts/_breadcrumbs.html.twig') }}
                <p class="brandzone__logo"><img src="/img/3m/3m.png" alt="3M"></p>
                <!--div class="brandzone__banner banner banner--1">
                    <div class="text-block">
                        <p class="banner__header">Вместе выгоднее!</p>
                        <p class="banner__text">Покупайте материалы для реставрации<br>
                            боковых зубов и адгезив вместе<br>
                            по специальной цене!
                        </p>
                        <p><a href="#"><img src="/img/3m/banner1-btn.png" alt=""></a></p>
                    </div>
                    <div class="image-block">
                        <img src="/img/3m/banner1.png" alt="">
                    </div>
                </div-->
                {#<div class="brandzone__banner banner banner--2">
                    <div class="image-block">
                        <img src="/img/3m/banner2.png" alt="">
                    </div>
                    <div class="text-block">
                        <p class="banner__header">SINGLE BOND UNIVERSAL</p>
                        <div class="banner__text">
                            <p>Откройте для себя универсальное адгезивное решение.</p>
                            <p>Ощутите силу первого по-настоящему универсального</p>
                            <p>адгезива, и испытайте совершенно новый уровень функционала.</p>
                            <ul>
                                <li>Нанесение в один этап, одним слоем, для быстрой аппликации в течение 35 секунд;</li>
                                <li>Уникальная форма унидоз L-Pop™;</li>
                                <li>Усовершенствованный, легкий в нанесении травящий агент.</li>
                            </ul>
                        </div>
                        <p class="btn-container"><a href="/catalog/singl-bond-universal-single-bond-universal-adgeziv-5-ml-3m-espe" class="btn-3m">УЗНАТЬ О ПРОДУКТЕ</a></p>
                    </div>
                </div>
                #}
                <div class="space--50"></div>
                <div class="js-simple-slider">
                    <a href="https://stommarket.ru/catalog/pentamix-3_77871--kanyuli-_77949--1sht-penta_p3793--20up-impregum-penta-soft_31794-3m-espe/"><img src="{{ asset('img/3m/2.jpg') }}" alt="" class="img-responsive"></a>
                    <a href="https://stommarket.ru/catalog/pentamix-3-art-77871impregum-penta-soft-art-31794--kartridj-penta-art-p3793--kanyuli-3m-espe-1/"><img src="{{ asset('img/3m/3.jpg') }}" alt="" class="img-responsive"></a>

                </div>
                {#
                <br><br><br>
                <a href="https://stommarket.ru/catalog/pentamix-3-art-77871impregum-penta-soft-art-31794--kartridj-penta-art-p3793--kanyuli-3m-espe-1/"><img src="{{ asset('img/3m/3.jpg') }}" alt="" class="img-responsive"></a>
                #}
                <div class="space--50"></div>
                <div class="others others--line1">
                    <h2 class="others__title">Популярные товары</h2>
                    <div class="others__card-b">
                        {% for popular in populars %}
                            {{ include('product/_product.html.twig',{product:popular}) }}
                        {% endfor %}
                    </div>
                </div>
                <div class="others others--line1">
                    <h2 class="others__title">Товары со скидкой</h2>
                    <div class="others__card-b">
                        {% for sale in sales %}
                            {{ include('product/_product.html.twig',{product:sale}) }}
                        {% endfor %}
                    </div>
                </div>
                <div class="others popular-groups">
                    <h2 class="others__title">Популярные группы товаров</h2>
                    <div class="block__cols">
                        <a href="/catalog/?category=45&pageUrl=/catalog/terapiya/&brands[]=73" class="block__col block__col--6 block__col--white therapy">
                            <img src="/img/3m/therapy.png" alt="3M терапия">
                            <p class="block__title">Терапия</p>
                        </a>
                        <div class="block__col block__col--6">
                            <div class="block__cols block__cols--line1">
                                <a href="/catalog/?category=2&pageUrl=/catalog/anesteziya-instrumentyi/anesteziya/&brands[]=73" class="block__col block__col--6  block__col--white anesthesia">
                                    <img src="/img/3m/anesthesia.png" alt="3M Анестезия">
                                    <p class="block__title">Анестезия</p>
                                </a>
                                <a href="/catalog/?category=21&pageUrl=/catalog/ortopediya/&brands[]=73" class="block__col block__col--6  block__col--white orthopedia">
                                    <img src="/img/3m/orthopedia.png" alt="3M Ортопедия">
                                    <p class="block__title">Ортопедия</p>
                                </a>
                            </div>
                            <div class="block__cols">
                                <a href="/catalog/?category=35&pageUrl=/catalog/profilaktika-i-gigiena/&brands[]=73" class="block__col block__col--12  block__col--white profilactics">
                                    <img src="/img/3m/profilactics.png" class="profilactics__img" alt="3M Профилактика">
                                    <p class="block__title">Профилактика</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="t-center"><a href="/catalog/?brands[]=73" class="btn">Посмотреть все товары</a></div>
                </div>
                <div class="digits">
                    <div class="digits__block">
                        <div class="digit">4 000</div>
                        <div class="description">число сотрудников</div>
                    </div>
                    <div class="digits__block">
                        <div class="digit">2 000</div>
                        <div class="description">товаров во многих областях</div>
                    </div>
                    <div class="digits__block">
                        <div class="digit">1 600</div>
                        <div class="description">наград и призов?</div>
                    </div>
                    <div class="digits__block">
                        <div class="digit">150</div>
                        <div class="description">представительств</div>
                    </div>

                </div>
                <div class="about">
                    <div class="about__left">
                        <img src="/img/3m/3m-logo.png" alt="3M logo">
                    </div>
                    <div class="about__right">
                        <p class="title">О БРЕНДЕ</p>
                        <p class="text">
                            Мы открываем дверь, чтобы показать миру, как уникальные и комплексные научные открытия компании 3М могут войти в вашу жизнь. Мы начинаем новый диалог – у нас новый облик
                            и новый способ рассказать о себе. В душе мы всегда были рассказчиками и изобретателями,
                            и теперь мы покажем вам, почему мы делаем то, что делаем. И хотя мы выглядим по-другому, мы все та же компания 3М, готовая объединять
                            и сотрудничать, дабы создавать будущее. Исследуйте вместе с нами.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
