{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="block">
        <div class="innertube">
            {{ include('layouts/_breadcrumbs.html.twig') }}
            <div class="catalog">
                <h1 class="title catalog__title " data-name="Бренды">Бренды</h1>
            </div>
            <div class="catalog__body">
                <div class="brands-list">
                    {% for brand in brands %}<a href="/catalog/brands/{{ brand.url }}" class="brands-list__item"><img src="{{ brand.image('s') }}"><div>{{ brand.name }}</div></a>{% endfor %}
                    <div class="clear"></div>
                    <div class="catalog__pagination--center">
                        {{ pagerfanta(
                            brands,
                            'default',
                            {
                                prev_message : '<< ',
                                next_message : ' >>',
                                css_dots_class: 'catalog__page',
                                css_current_class : 'catalog__page  active',
                                page_template : '<a class="catalog__page" href="%href%"%rel%>%text%</a>',
                            }
                        ) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="block">
        <div class="innertube">
            {% if app.request.query.get('page', 0) < 2 %}
            <div class="about-sub  content content--lg">
                <table cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td>
                            <p>
                                В ассортименте нашей компании представлены стоматологические материалы от более 135 производителей с мировым именем. Продукция проверена миллионами покупателей по всему миру, имеет соответствующие документы и сертификаты.&nbsp;</p>
                            <p>
                                Большинство брендов (или их подразделений) по праву можно назвать пионерами в стоматологической индустрии. Этого удалось достичь за счет активного использования высококачественных инновационных продуктов: первые композитные цементы, первые реставрационные материалы, наноиономеры, аппараты для автоматического смешивания оттискных масс и многие другие. Представленные в ассортименте интернет-магазина бренды не раз признавались лучшими по итогам исследований независимых экспертов, государственных учреждений и международных организаций.&nbsp;</p>
                            <p>
                                Среди них стоит отметить следующие:&nbsp;</p>
                            <p>
                                • 3M ESPE (инновационное оборудование последнего поколения);&nbsp;</p>
                            <p>
                                • Agree (в основном металлические штрипсы);&nbsp;</p>
                            <p>
                                • AlphaDent (компосайты);&nbsp;</p>
                            <p>
                                • Apexmed (хирургические инструменты, скальпели и лезвия);&nbsp;</p>
                            <p>
                                • Bien-Air Dental SA (аксессуары и необходимое оборудование для работы стоматологического кабинета);&nbsp;</p>
                            <p>
                                • Bisco (гели, абразивы, материалы для перебазировки);&nbsp;</p>
                            <p>
                                • BJM LAB (средства для временной фиксации);&nbsp;</p>
                            <p>
                                • Blossom (вспомогательные материалы, латексные листы и многое другое);&nbsp;</p>
                            <p>
                                • BRAUN (жидкости, которые активно используются в медицинских учреждениях);&nbsp;</p>
                            <p>
                                • Coltene (производство временных пломбировочных масс, вспомогательные материалы, оборудование для работы современного стоматологического кабинета);&nbsp;</p>
                            <p>
                                • Crosstex (средства для защиты и обеспечения гигиены: ватные палочки, артикуляционная бумага, спреи, а также многие другие важные для современного стоматологического кабинета вещи);&nbsp;</p>
                            <p>
                                • Dermagrip (вспомогательные материалы и средства для обеспечения гигиены: перчатки и многое другое);&nbsp;</p>
                            <p>
                                • Discus Dental (средства защиты и гигиены, специальное вспомогательное оборудование).&nbsp;</p>
                            <p>
                                Современный стоматологический кабинет сложно представить без качественного и эффективного оборудования, специальной техники и многого другого. Это позволяет нам гарантировать высокое качество товаров и полноценное функционирование небольшого стоматологического кабинета или крупного медицинского учреждения. У нас только качественные расходные стоматологические материалы для вас!</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p>
                    &nbsp;</p>
            </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
