.news-list {

}

.news-list .item {
    position: relative;
    margin-bottom: 50px;
}

.news-list .item .pic {
    float: left;
    width: 250px;
}

.news-list .item .info {
    padding-top: 10px;
    margin-left: 270px;
}

.news-list .item.no-img .info {
    margin-left: 0;
}

.news-list .item .title {
    font-size: 19px;
    text-transform: uppercase;
    color: #a70300;
    font-weight: 600;
}

.news-list .item .desc {
    font-size: 15px;
    margin-top: 8px;
    padding-bottom: 14px;
    margin-bottom: 8px;
    border-bottom: 1px solid #f3f3f3;
}

.news-list .item .date {
    float: left;
    color: #7d7d7d;
}

.news-list .item .read {
    float: right;
    color: #0f89d2;
    font-style: italic;
    border-bottom: 1px solid #0f89d2;
}

.news-view .pic {
    float: left;
    padding: 0 15px 8px 0;
}

.news-view .pic img {
    margin-bottom: 0;
}

@media screen and (max-width: 950px) {
    .news-list .item .pic {
        display: none;
    }

    .news-list .item .info {
        margin-left: 0;
    }
}