//Colors
$lblue: #c4cff2;
$blue: #99ace9;
$hblue : #53b0ff;
$dblue: #1e43ba;
$red: #fa5560;
$lgrey: #ddd;

$block-mb: 130px;

html {
	//@extend .tx;
	span {
		//font-weight : 300;
	}
	a {
		text-decoration : none;
		color : #000;
		&.blue{
			color: $hblue;
			text-decoration: underline;
		}
	}
	*:focus {
		outline: none;
	}
	line-height : 0!important;
	&.veil {
		height: 100%;
	}
}
body {
	font-family : 'Circe', sans-serif;
	color: #000;
	-webkit-text-stroke: 0 transparent;
	font-weight: 400;
	line-height : 1.2;
	letter-spacing: 0;
	font-size : 20px;
	min-width : 1154px;
	input {
		font-family : 'Circe', sans-serif;
		color: #000;
		-webkit-text-stroke: 0 transparent;
		font-weight: 400;
		line-height : 1.2em;
		letter-spacing: 0;
		font-size : 20px;
	}
	&.veil {
		//height: 100%;
		overflow: hidden;
		.veil-b {
			opacity : 0.35;
			z-index: 30;
			visibility: visible;
			position: fixed;
		}
		&--full .veil-b  {
			opacity : 0.25;
			z-index: 100;
		}
	}
}
.veil-b {
	position: static;
	opacity:0;
	visibility: hidden;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	background: #000;
	content: '';
	transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
	z-index: -1;
}
span {
	font-weight :inherit;
}
%circle-icon {
	background-color : #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align : center;
	transition : all 0.2s ease-out;
	&:before {
		transition : all 0.2s ease-out;
		color: #000;
		font-size: 19px;
		position: relative;
		line-height: 40px;
	}
	&:hover {
		background : $hblue;
		&:before {
			color : #fffde8;
		}
	}
}
%star {
	@extend .icon-star-fill;
	margin-right : 4px;
	background-repeat : no-repeat;
	background-size : contain;
	display : inline-block;
	color : $hblue;
	&:before {
		font-size: 18px;
	}

}
%star--e {
	@extend .icon-star;
}
%menu-elem {
	display : block;
	position : relative;
	&.active {
		a {
			background : #daedfc;
			&:after {
				color : #55b0ff;
			}
		}
	}
	&--link {
		a {
			&:after {
				content: none;
			}
		}

	}
	a {
		padding: 5px 32px;
		display : block;
		font-size : 14px;
		font-weight : bold;
		line-height : 1.2;
		background : #fff;
		transition : all 0.2s ease-out;
		position: relative;
		&:hover{
			background : #daedfc;
			a {
				&:after {
					color : #55b0ff;
				}
			}
		}
		&:after {
			position: absolute;
			font-size: 8px;
			right: 11px;
			top: 9px;
			color : #cccccc;
			transform: rotate(-90deg);
			transition : color 0.2s ease-out;
		}
	}
}
%text-input-style {
	vertical-align: top;
	border-radius: 3px;
	border: 1px solid #dedede;
	font-size: 18px;
	background: #fff;
	color: #000;
	height: 40px;
	text-align: left;
	padding: 0 10px;
	z-index: 6;
	transition: all 0.2s ease-out;
	width : 100%;
	font-family : 'Circe', sans-serif;

	&:focus {
		border-color : $hblue;
	}
	&.error {
		border-color : #ff0000;
		& + .form__input-error{
			opacity : 1;
		}
	}
}
.hidden {
	display : none;
}
.block {
	background-color : #ebf2f8;
	&--main-slider {
		transition: 0.4s;
		background : #9dafe9;
	}
	&--bt {
		border-top : 2px solid #d0e0ed;
	}
	&__cols {
		@include clearfix;
	}
	&__col {
		position : relative;
		float: left;
		margin: 0px 5px;
		&:first-child{
			margin-left: 0px !important;
		}
		&:last-child{
			margin-right: 0px !important;
		}
		&--12 {
			width : 100%;
		}
		&--7 {
			width : 58%;
		}
		&--8 {
			//width : 66.3%;
			width: 726px;
		}
		&--6 {
			//width : 541px;
			width: 49%;
		}
		&--5 {
			width : 41.0%;
		}
		&--4 {
			//width : 32.6%;
			width: 358px;
		}
		&--3 {
			width : 24.3%;
		}
		&--2 {
			width : 16%;
		}

		/*&:first-child {
			float : left;
		}
		&:nth-child(2) {
			float : right;
		}*/
		&--white {
			background: white;
		}
	}
}
.innertube {
	@include clearfix();
	width : 1154px;
	margin : 0 auto;
	position  : relative;
	padding: 0 30px;
	@include respond-to(low-resolution) {
	    padding-left: 0px;
	}
}
.dotted {
	line-height: 1.1;
	display: inline-block;
	border-bottom : 1px dotted;
	cursor : pointer;
}
.dashed {
	line-height: 1.1;
	display: inline-block;
	border-bottom : 2px dashed #666;
	cursor : pointer;
}
.bold {
	font-weight : bold;
}
.section{

}
.tx {
	&__70 {
		font-size : 70px;
	}
	&__40 {
		font-size : 40px;
	}
	&__24 {
		font-size : 24px;
	}
	&__20 {
		font-size : 20px;
		line-height: 1.3em;
	}
	&__16 {
		font-size : 16px;
	}
	&__14 {
		font-size : 14px;
	}
	&__12 {
		font-size : 12px;
	}
}
.tags {
	padding-bottom : 40px;
	&--blue {
		.tag {
			background : #d9edfd;
			&--active {
				background-color :$hblue;
				color: white;
			}
			&--manyline{
				margin: 0 5px 12px;
			}
		}
	}
}
.tag {
	background : #edf7ff;
	color : $hblue;
	display : inline-block;
	border-radius : 40px;
	font-size : 20px;
	line-height : 30px;
	padding : 0 10px;
	transition : all 0.2s ease-out;
	margin :0 5px 2px;
	cursor : pointer;
	&:hover {
		color : #fff;
		background-color :$hblue;
	}
	&--small {
		font-size: 14px;
		line-height: 22px;
		margin: 2px;
		padding: 0 8px;
	}
}
.content-block {
	padding: 10px;
	margin: 15px 0px;
	&--white {
		background-color: white;
	}
	&--big-offset {
		padding: 20px 40px;
	}
}
.brands {
	font-size: 15px;
	&__title {
		color: #777;
	}
	&__item:not(:last-child) {
		padding-right: 15px;
	}
	a:hover {
		color: $hblue;
	}
}
.flag {
	width : 40px;
	height : 40px;
	color : #fff;
	position : absolute;
	right : 10px;
	top : 10px;
	background-repeat : no-repeat;
	background-size : contain;
	&:before {
		display : block;
		color : #fff;
		font-size : 14px;
		position : relative;
	}
	&--new {
		background-image : url(../img/new.png);
		//background : #1a7ffd;
		//&:before {
		//	content : 'New';
		//	transform: rotate(-45deg) translate3d(-2px, 8px, 0);
		//	text-shadow: 0 0 0 #fff;
		//}
	}
	&--hit {
		//background : #fd1a55;
		background-image : url(../img/hit.png);
		//&:before {
		//	font-size : 14px;
		//	background-image : url(../img/hit.png);
		//
		//
		//	transform: rotate(-45deg) translate3d(0,8px,0);
		//	content : 'Хит';
		//	text-shadow: 0 0 0 #fff;
		//}
	}
	&--sale {
		background : #26dc62;
		&:before {
			font-size: 20px;
			content: '%';
			text-align: center;
			line-height: 43px;
		}
	}
}
.text {
	@extend .tx__20;
	margin-bottom: 0.6em;
	& + .circle {
		padding-top : 35px;
	}
	& + .img {
		margin-top : 25px;
	}
	& + .sub-imgs {
		margin-top : 25px;
	}
	& + .circles {
		margin-top : 45px;
	}
	&__34 {
		font-size : 34px;
		font-weight : bold;
	}
	&__24 {
		font-size : 24px;
	}
	&__14 {
		font-size : 14px;
	}
	&__link {
		border-bottom :1px solid #afb0b2;
		display: inline-block;
		line-height: 0.8em;
		transition : border-color 0.2s ease-out;
		&:hover {
			border-color : #000;
		}
	}
}
.li {
	//@extend .tx__20;
	margin-bottom : 1em;
	position      : relative;
	padding-left  : 15px;
	&:before {
		width         : 7px;
		height        : 7px;
		border-radius : 50%;
		position      : absolute;
		left          : 0;
		top           : 11px;
		content       : '';
	}
	&--sm {
		//@extend .tx__20;
		margin-bottom : 0.6em;
		&:before {
			width  : 6px;
			height : 6px;
			top    : 9px;
		}
	}
}
.t-center {
	text-align : center;
}
.t-right {
	text-align : right;
}
.t-left {
	text-align : left;
}
.color {
	padding: 0 0.3em;
}
.white {
	color : #fff;
}
.img {
	box-shadow: 0 5px 65px rgba(0, 0, 0, 0.25);
	margin-bottom : 80px;
	display : block;
	&--descr {
		margin-bottom : 20px;
		& + .text {
			@extend .tx__16;
			margin-bottom : 20px;
		}
	}
}
.inp {
	font-size : 0;
	letter-spacing : 0;
	position : relative;
}
.btn {
	display : inline-block;
	background : #fff;
	color : $hblue;
	border : 2px solid $hblue;
	font-size : 20px;
	font-weight : bold;
	text-transform : uppercase;
	padding: 3px 64px 0;
	line-height: 49px;
	border-radius: 40px;
	cursor: pointer;
	margin-top: 30px;
	transition : all 0.2s ease-out;
	text-align : center;
	&:hover {
		background : $hblue;
		color : #fff;
	}
	&--short-margin {
		margin-top: 10px;
	}
	&--round{
		padding: 0;
		position: relative;
		vertical-align: bottom;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		font-family: 'Circe';
		background : #1e43ba;
		border : none;
		color : #fff;
		padding-top : 1px;
		&:hover {
			color : #fff;
			background : #285afb;
		}
	}
	&--dark {
		font-family: 'Circe';
		background : #1e43ba;
		border : none;
		color : #fff;
		padding-top : 1px;
		&:hover {
			color : #fff;
			background : #285afb;
		}
	}
	&--purple {
		background : #921eeb;
		border : none;
		color : #fff;
		padding-top : 1px;
		&:hover {
			color : #fff;
			background : #b350ff;
		}
	}
	&--yellow {
		background : #f5e700;
		border : 2px solid #f5e700;
		color : #000;
		padding-top : 1px;
		font-weight: 700;
		font-family: 'Circe-Extra-Bold';
		&:hover {
			color : #000;
			border : 2px solid #fff000;
			background : #fff000;
		}
	}
	&--lblue {
		background: #fff;
		border: 2px solid #53b0ff;
		color: #53b0ff;
		padding-top: 4px !important;
		font-weight: 600;
		line-height: 45px;
		.plus{
			text-transform: none;
			margin-right: 15px;
		}
		&:hover {
			color : #fff;
			background : #53b0ff;
		}
	}
	&--full-w {
		padding: 3px 20px 0;
		width : 100%;
	}
	&--small {
		margin-top: 10px;
		padding: 3px 50px 0;
		line-height: 35px;
	}
	&--compact {
		margin-top: 0;
		padding: 9px;
		line-height: inherit;
		font-size: 14px;
		font-weight: bold;
	}
}
.tip {
	width: 20px;
	height: 20px;
	background: #1e43ba;
	position: relative;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-left: 6px;
	top: 4px;
	//z-index: 29;
	&:before {
		content: '?';
		position: absolute;
		top: 2px;
		left: 6px;
		line-height: 18px;
		font-size: 15px;
	}
	&:hover {
		.tip__block {
			display : block;
		}
	}
	&__block {
		top : 100%;
		top : calc(100% + 10px);
		display : none;
		position : absolute;
		font-size : 16px;
		background : #fff;
		border-radius: 5px;
		right: -2px;
		width : 200px;
		padding : 10px 12px;
		line-height : 18px;
		color : #000;
		box-shadow: 0 1px 4px 1px rgba(0,0,0,0.26);
		background: white;
		z-index: 10;
	}
	&--cart-item {
		background: red;
		position: absolute;
		right: -28px;
		top: -3px;
		&:before {
			font-weight: bold;
		}
		#{&} .tip__block {
			font-size: 12px;
			width: 285px;
			height: 39px;
			padding: 2px 10px;
			left: -2px;
		}
	}
	&--panel-item {
		width: 15px;
		height: 15px;
		top: 2px;
		&:before {
			font-size: 12px;
			top: 0;
			left: 5px;
		}
		#{&} .tip__block {
			font-size: 12px;
			width: 285px;
			height: 39px;
			padding: 2px 10px;
			left: 20px;
			top: -70px;
			height: 80px;
			font-size: 12px;
		}
	}
}
.clearfix {
	@include clearfix();
}
.js-anchor-link {
	position: relative;
	top: -20px;
}
.arr-d-after {
	//position: absolute;
	//left: calc(100% + 8px);
	@include icon(arr-d, after);
	position : relative;
	padding-right: 18px;
	&:after {
		position: absolute;
		right: 0;
		font-size: 8px;
		top: 50%;
		transform: translateY(-50%);
	}
	&--nopadding {
		padding-right: 0;
		&:after {
			right: -18px;
		}
	}
}
.arr-l-after {
	//position: absolute;
	//left: calc(100% + 8px);
	position : relative;
	&:after {
		content : ' →';
		position : absolute;
		left : 100%;
		padding-left: 8px;
	}
	&--large {
		&:after {
			top: 6px;
		}
	}
}
.arr-up-after {
	//position: absolute;
	//left: calc(100% + 8px);
	@include icon(arr-up, after);
	position : relative;
	padding-right: 18px;
	&:after {
		position: absolute;
		right: 0;
		font-size: 8px;
		top: 50%;
		transform: translateY(-50%);
	}
}

.arr-d-round-after {
	//position: absolute;
	//left: calc(100% + 8px);
	@include icon(arr-d-round, after);
	position : relative;
	padding-right: 18px;
	&:after {
		position: absolute;
		right: 0;
		font-size: 20px;
		top: 50%;
		left: 8px;
		transform: translateY(-50%);
		color: #68AADD;
	}
}
.arr-up-round-after {
	//position: absolute;
	//left: calc(100% + 8px);
	@include icon(arr-up-round, after);
	position : relative;
	padding-right: 18px;
	&:after {
		position: absolute;
		right: 0;
		left: 8px;
		font-size: 20px;
		top: 50%;
		transform: translateY(-50%);
		color: #68AADD;
	}
}

.arr {
	&--large {
		&:after {
			top: 10px;
		}
	}
	&--20 {
		&:after {
			font-size: 8px;
		}
	}
	&--14 {
		&:after {
			font-size: 7px;
		}
	}
	&--left-space {
		padding-left: 6px;
	}
}
.content {
	b {
		font-weight : bold;
	}
	p {
		margin-bottom: 18px;
		font-size: 14px;
		line-height: 1.5;
		& + form {
			margin-top : 30px;
		}
		&:last-child {
			margin-bottom : 0;
		}
	}
	ul, ol {
		margin-bottom : 12px;
		margin-top: 12px;
		&:last-child {
			margin-bottom : 0;
		}
		li {
			font-size : 16px;
			margin-bottom : 10px;
			position : relative;
			padding-left : 17px;
			&:before {
				height : 1px;
				width : 10px;
				position : absolute;
				left : 0;
				top: 8px;
				content : '';
				border-top : 1px solid  #1e43ba;
			}
			&:last-child {
				margin-bottom : 0;
			}
		}
	}
	ol {
		li {
			padding-left : 0;
			margin-left : 12px;
			&:before {
				content : none;
			}
		}
	}
	a {
		display : inline-block;
		border-bottom :1px solid #bcc2c6;
		transition : all 0.2s ease-out;
		line-height : 1;
		&:hover {
			border-color : #cbdff0;
			color : $hblue;
		}
		&[href^="tel:"],{
			color : $hblue;
			border-bottom :none;
		}
		&[href^="mailto:"] {
			color : $hblue;
		}
		b {

		}
	}
	h1, .h1 {
		font-size : 34px;
		font-weight : bold;
	}
	h2,.h2 {
		font-size : 24px;
		font-weight : bold;
		margin-bottom : 22px;
	}
	h3,.h3 {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	&--sm {
		p {
			font-size : 14px;
			margin-bottom: 10px;
			line-height: 1.4em;
		}
		ul, ol {

			li {
				font-size : 14px;
				margin-bottom: 1em;
			}
		}
	}
	&--lg {
		h2 {
			font-size : 28px;
			text-transform : uppercase;
		}
		p {
			font-size : 20px;
			margin-bottom: 16px;
		}
		ul, ol {
			li {
				//font-size : 14px;
				margin-bottom: 1em;
			}
		}

	}
	&--list {
		p {
			margin-bottom : 12px;
		}
	}
}

.main {
	display: block;
}

.title {
	text-transform : uppercase;
	font-size : 34px;
	font-weight : bold;
	padding-top : 61px;
	padding-bottom : 18px;
	&--center {
		text-align : center;
		padding-bottom : 50px;
	}
}
.yandex-market {
	&::first-letter {
		color: red;
	}	
}
.mfp-content {
    width: 80%;
    height:100%;
 }
.breadcrumbs {
	font-size : 0;
	letter-spacing : 0;
	margin-top : 23px;
	margin-bottom: -46px;

	&__item {
		color : #6a6d70;
		vertical-align : middle;
		display : inline-block;
		font-size : 14px;
		margin-right :40px;
		border-bottom : 1px solid rgba(106, 109, 112, 0.3);
		transition : all 0.2s ease-out;
		position : relative;

		&:after {
			content : ' →';
			position : absolute;
			right : -30px;
			top : 0;
			display : block;
			color : #6a6d70;
		}
		&:last-child {
			&:after {
				content : none;
			}
		}
		&:hover {
			color : $hblue;
		}
	}
}
input {
	font-variant : initial !important;
}
.input {
	font-size : 20px;
	transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	border: 1px solid #e3f1ff;
	border-radius: 3px;
	background : #e3f1ff;
	padding: 0 10px;
	line-height: 50px;
	height: 50px;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	font-weight: 400;
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		/* display: none; <- Crashes Chrome on hover */
		-webkit-appearance: none;
		margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}
	&:focus {
		border: 1px solid #d8d8d8;
		background : #fff;
	}
	&:hover {
		border: 1px solid #d8d8d8;
	}
	&.error {
		border: 1px solid $red;
	}
	&.active {
		background: #fff;
	}
}
.form {
	position: relative;
	&__title {
		font-size : 34px;
		font-weight : bold;
		margin-bottom: 24px;
	}
	&__sub-title {
		font-size : 24px;
		font-weight : bold;
		margin-bottom : 8px;
	}
	&__annotation {
		margin-top: 20px;
		color: #6d6d6d;
	    font-size: 12px;
	    line-height: 14px;
	}
	&__group {
		margin-bottom : 40px;
		&:last-child {
			margin-bottom : 0;
		}
	}
	&__b {
		&--one {
			margin-bottom : 0 !important;
			padding-bottom : 0 !important;
		}
		&--two-col{
			position: relative;
			@include clearfix();
			.col{
				float: left;
				width: 48%;
				position: relative;
				&:nth-child(1){
					margin-right: 2%
				}
				&:nth-child(2){
					margin-left: 2%
				}
			}
		}
	}

	&__message {
		color: #ec2727;
		margin-bottom: 15px;
	}

	// file input
	&__file-input-b{
		position: relative;
		input[type=file] {
			position: absolute;
			top: 0;
			right: 0;
			filter: alpha(opacity=0);
			opacity: 0;
			margin: 0;
			padding: 0;
		}
		a{
			.icon-clip{
				&:before{
					font-size: 15px;
				}
			}
		}
		a > label {
			/* inherit the hand cursor from the a tag */
			cursor:inherit;
			border-bottom: 1px dotted #ddd;
		}

		a:hover {
			color:red;
		}
	}
	// text / textarea input

	&__select-input-b {
		.select2{
			width: 100% !important;
		}
		.select2-selection{
			&--single {
				box-sizing: border-box;
				width: 100% !important;
				cursor: pointer;
				display: block;
				height: 50px;
				border-radius: 0px;
				user-select: none;
				-webkit-user-select: none;
			}
			&__arrow{
				top: 11px !important;
			}
			&__rendered {
				display: block;
				padding-top: 11px;
				padding-left: 8px;
				padding-right: 20px;
				color: #000 ;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			&__clear {
				position: relative;
			}
		}


		&[dir="rtl"] {
			.select2-selection--single {
				.select2-selection__rendered {
					padding-right: 8px;
					padding-left: 20px;
				}
			}
		}


		position : relative;
		margin-bottom : 20px;
		&:last-child {
			margin-bottom : 0;
		}
		&:last-of-type {
			//margin-bottom : 0;
		}
		&:before {
			position: absolute;
			top: 17px;
			right: 13px;
			font-size: 14px;
			color: #00a651;
			opacity : 0;
			visibility : hidden;
			transition : all 0.1s ease-out;
		}
		&.valid {
			&:before {
				transition : all 0.2s ease-out;
				opacity : 1;
				visibility : visible;
			}
		}
		&--mb {
			&:last-of-type {
				margin-bottom : 20px;
			}
			margin-bottom : 20px;
		}
	}

	// text / textarea input
	&__text-input-b {
		@include icon(ok);
		position : relative;
		margin-bottom : 20px;
		&:last-child {
			margin-bottom : 0;
		}
		&:last-of-type {
			//margin-bottom : 0;
		}
		&:before {
			position: absolute;
			top: 17px;
			right: 13px;
			font-size: 14px;
			color: #00a651;
			opacity : 0;
			visibility : hidden;
			transition : all 0.1s ease-out;
		}
		&.valid {
			&:before {
				transition : all 0.2s ease-out;
				opacity : 1;
				visibility : visible;
			}
		}
		&--mb {
			&:last-of-type {
				margin-bottom : 20px;
			}
			margin-bottom : 20px;
		}
	}
	&__text-input-label {
		@extend .tx__20;
		color:#65a4e2;
		font-size:18px;
		position:absolute;
		pointer-events:none;
		left: 10px;
		top: 14px;
		transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
		span {
			font-family : sans-serif;
		}
	}
	&__text-input {
		@extend .input;
		display:block;
		outline:none;
		padding-top: 14px;
		transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
		&::-webkit-input-placeholder {color: rgba(174, 174, 174, 0);}
		&::-moz-placeholder          {color: rgba(174, 174, 174, 0);}/* Firefox 19+ */
		&:-moz-placeholder           {color: rgba(174, 174, 174, 0);}/* Firefox 18- */
		&:-ms-input-placeholder      {color: rgba(174, 174, 174, 0);}
		& + .form__text-input-label 	{
			left: 10px;
			top: 14px;
		}
		&.active, &:focus  {
			&::-webkit-input-placeholder {color:#aeaeae;}
			&::-moz-placeholder          {color:#aeaeae;}/* Firefox 19+ */
			&:-moz-placeholder           {color:#aeaeae;}/* Firefox 18- */
			&:-ms-input-placeholder      {color:#aeaeae;}
			& + .form__text-input-label 	{
				top:5px;
				font-size:14px;
			}
		}
		&.valid {
			border: 1px solid #00a651;
			background : #fff;
		}
		&.error {
			border-color: $red;
			background : #fff;
		}
		&--textarea {
			min-height     : 170px;
			height : auto;
			resize         : vertical;
			line-height    : 1.2;
			padding-top    : 22px;
			padding-bottom : 14px;
			//max-height     : 34px;
		}
		&--date{
			@include icon(calendar, after);
		}
	}

	// radio input
	&__radio-input-b {
		margin-bottom : 20px;
		&:last-child {
			margin-bottom : 0;
		}

	}
	&__radio-input-label {
		font-size : 20px;
		display : block;
		position : relative;
		padding-left : 24px;
		margin-bottom: 8px;
		&:last-child {
			//margin-bottom : 0;
		}
		&:before {
			position : absolute;
			left : 0;
			top : 4px;
			content : '';
			width : 16px;
			height : 16px;
			background : #848484;
			border : 4px solid #e0e0e0;
			display : block;
			border-radius : 50%;
			transition : all 0.2s ease-out;
		}
	}
	&__radio-input {
		display : none;
		&:checked {
			& + .form__radio-input-label {
				&:before {
					background : #fff;
					border : 4px solid #1e43ba;
				}
			}
		}
	}

	// checkbox input
	&__checkbox-input-b {
		padding: 5px;
		border-radius: 3px;
		border: 1px solid transparent;

		&.valid {
			border: 1px solid #00a651;
		}
		&.error {
			border: 1px solid $red;
		}
	}
	&__checkbox-input-label {
		font-size : 20px;
		display : block;
		position : relative;
		padding-left : 24px;
		&:before {
			position : absolute;
			left : 0;
			top : 4px;
			content : '';
			width : 16px;
			height : 16px;
			background : #fff;
			border : 1px solid #c2c2c2;
			display : block;
			border-radius : 3px;
			transition : all 0.2s ease-out;
		}
		&--top {
			&:before {
				top: 0px;
			}
		}
		&--small {
			font-size: 14px;
		}
	}
	&__checkbox-input {
		display : none;
		&:checked {
			& + .form__checkbox-input-label {
				&:before {
					background : #1e43ba;
					border-color : #1e43ba;
				}

			}
		}
	}

	// number input
	&__number-input-b {
		position: relative;
		display : block;
		//max-width: 110px;
		&:hover {
			.form__number, .form__number-minus, .form__number-plus {
				border-color: #1e43ba !important;
			}
		}
		&--small {
			.form__number-input {
				height: 50px;
				width: 120px;
				padding: 0 38px;
				font-size: 30px;
				&-minus,&-plus {
					font-size : 24px;
					right: 0;
					width : 34px;
				}
			}
		}
	}
	&__number-input {
		@extend %text-input-style;
		height : 50px;
		width: 154px;
		border-color : #aeaeae;
		padding: 0 48px;
		text-align : center;
		font-size: 30px;
		font-weight : bold;
		-moz-appearance: textfield;
		-webkit-appearance: none;
		appearance: none;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		&:focus {
			border-color : #1e43ba;
			& + .form__number-input-minus {
				border-right-color: #1e43ba;
				& + .form__number-input-plus {
					border-left-color: #1e43ba;

				}
			}
		}
		&-minus {
			font-size : 34px;
			position: absolute;
			height: 50px;
			width: 44px;
			left: 0;
			top: 0;
			line-height: 53px;
			text-align: center;
			cursor: pointer;
			border-right: 1px solid #aeaeae;
			transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
			user-select: none;
			font-weight: bold;
			border-bottom-left-radius: 3px;
			border-top-left-radius: 3px;
			padding-top : 1px;
			&.maxed {
				cursor: default;
				color: #dbdbdb;
				&:active {
					color: #dbdbdb;
					background: none;
				}
			}
			&:active {
				background: #1e43ba;
				color: #fff;
				border-color : #1e43ba;
			}
		}
		&-plus {
			font-size : 34px;
			position: absolute;
			height: 50px;
			width: 44px;
			right: 0;
			top: 0;
			line-height: 53px;
			text-align: center;
			cursor: pointer;
			border-left: 1px solid #aeaeae;
			transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
			user-select: none;
			font-weight: bold;
			border-bottom-right-radius: 3px;
			border-top-right-radius: 3px;
			padding-top : 1px;
			&.maxed {
				cursor: default;
				color: #dbdbdb;
				&:active {
					color: #dbdbdb;
					background: none;
				}
			}
			&:active {
				background: #1e43ba;
				color: #fff;
				border-color : #1e43ba;
			}
		}

	}

	// rating
	&__rating {
		direction: rtl;
		width: 170px;
		font-size : 0;
	}
	&__rating-label {
		@extend %star;
		@extend .icon-star;
		display : inline-block;
		margin-right : 0;
		padding-right : 7px;
		&:before {
			font-size : 26px;
		}
		&:first-child {
			padding-right :0;
		}
		&:hover {
			@extend .icon-star-fill;
			& + input {
				& + label {
					@extend .icon-star-fill;
					& + input {
						& + label {
							@extend .icon-star-fill;
							& + input {
								& + label {
									@extend .icon-star-fill;
									& + input {
										& + label {
											@extend .icon-star-fill;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	&__rating-input {
		display : none;
		&:checked {
			& + label {
				@extend .icon-star-fill;
				& + input {
					& + label {
						@extend .icon-star-fill;
						& + input {
							& + label {
								@extend .icon-star-fill;
								& + input {
									& + label {
										@extend .icon-star-fill;
										& + input {
											& + label {
												@extend .icon-star-fill;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	//btn
	&__footer {
		border-top :2px solid #d7d7d7;
		padding-top : 32px;
	}

	&__input-b {
		margin-bottom : 10px;
		position : relative;
		display : block;
		padding-bottom : 20px;

	}
	&__input-name {
		font-size : 16px;
		display : block;
		color : #000;
		margin-bottom : 8px;

	}
	&__input-error {
		font-size : 12px;
		color : #f00;
		display : block;
		position : absolute;
		bottom : 0;
		left : 0;
		opacity : 0;
		transition : opacity 0.2s ease-out;
	}
	&__error {
		font-size : 12px;
		color : #f00;
		display : block;
		transition : opacity 0.2s ease-out;
		margin-top: 10px;
		margin-left: 10px;
	}
	&__ok {
		font-size : 12px;
		color : green;
		display : block;
		transition : opacity 0.2s ease-out;
		margin-top: 10px;
		margin-left: 10px;
	}
	&__input-textarea {
		@extend %text-input-style;
		height : 100px;
		max-height :200px;
		resize: vertical;
		padding : 5px 10px;
	}
	&__input-text {
		@extend %text-input-style;
	}
	&__btn {
		border : 2px solid $hblue;
		background : #fff;
		color : $hblue;
		font-size : 20px;
		text-transform : uppercase;
		text-align : center;
		line-height: 43px;
		border-radius: 41px;
		display : block;
		padding: 2px 42px 0;
		white-space: nowrap;
		font-weight : bold;
		transition : all 0.2s ease-out;
		&:hover {
			background : $hblue;
			color : #fff;
		}
		&--center {
			margin-left : auto;
			margin-right : auto;
		}
	}
	&__send-fail {
		font-size: 20px;
		text-align: center;
		color: $red;
		max-width:500px;
		margin: 10px auto 0;
	}
	&__success {
		text-align: center;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		background: hsla(0, 0%, 100%, 0.98);
		padding: 60px 40px;
		align-items:center;
		flex-wrap: wrap;
		justify-content: center;
		opacity: 0;
		height: 0;
		bottom: 0;
		display: flex;
		overflow: hidden;
		transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
		z-index: -1;
		&.active {
			opacity: 1;
			bottom: 0;
			height: auto;
			z-index:2;
		}
	}
	&__success-title {
		font-size: 24px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 30px;
	}
	&__success-text {
		font-size: 20px;
		text-align: center;
	}
	&__success-footer {
		border-top: 2px solid #ebf2f8;
		padding-top: 30px;
		margin: 0 -30px;
	}
}
.errors {
	color: red;
}
.articles {
	&__list {
		&--empty {
			background: white;
			text-align: center;
			padding-top: 80px;
		}
		padding: 10px 20px;
		min-height: 200px;
		& a:hover {
			color: $hblue;
		}
	}
	&__b {
		padding: 40px 92px;
	}
	&__item {
		@include clearfix;
		background: white;
		margin-top: 20px;
		padding: 10px 40px;
	}
	&__preview {
		float: left;
		margin-right: 50px;
		width: 140px;
	}
	&__info {
		display: block;
		float: right;
		width: calc(100% - 200px);
	}
	&__head {
		font-weight: bold;
		font-size: 30px;
		margin-bottom: 10px;
		& a:hover {
			color: $hblue;
		}
	}
}

.noUi-horizontal .noUi-handle {
	width: 30px !important;
	height: 30px !important;
}
.not-found {
	background: white;
	padding: 46px 215px 150px;
	text-align: center;
	&__logo {
		margin-bottom: 95px;
		& img {
			width: 296px;
		}
	}
	&__content {
		position: relative;
	}
	&__image {
		content: '';
		display: block;
		position: absolute;
		background: url('');
		width: 242px;
		height: 290px;
		left: 100px;
		top: 0;
	}
	&__code {
		color: #1e43ba;
		font-family: Circe;
		font-size: 300px;
		font-weight: 600;
		line-height: 250px;
	}
	&__links {
		margin-top: 93px;
	}
	&__link {
		color: $hblue;
	}
}
.block-space {
	display: block;
	&--top-10 {
		margin-top: 10px;
	}
}
.space {
	&--50 {
		display: block;
		content: '';
		margin-top: 50px;
	}
}

.link {
	&--blue {
		color: #53b0ff;
		border-bottom: 1px solid #53b0ff;
	}
	&--dotted {
		border-bottom-style: dotted;
	}
	&--2 {
		border-bottom-width: 2px;
	}
}
.ui-autocomplete {
    z-index: 0;
}
.ck-editor__editable {
	min-height: 300px;
}
.loading{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	background: rgba(255,255,255,0.5);
	&__img{
		width: 300px;
	}
}
