.cols {
    clear: both;
}

.cols .cols {
    margin-left: -0.9375em;
    margin-right: -0.9375em;
}

.col {
    float: left;
    width: 100%;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
}

.col-1 {
    width: 8.33333%;
}

.col-2 {
    width: 16.66667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33333%;
}

.col-5 {
    width: 41.66667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333%;
}

.col-8 {
    width: 66.66667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33333%;
}

.col-11 {
    width: 91.66667%;
}