html {
    font-size: 10.5pt;
}

body {
    background: #dfe5e9;
    color: #4e4e50;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

.clear {
    clear: both;
}

.bg-color {
    background: #58c5e6;
}

a {
    color: #0090d9;
    text-decoration: none;
    transition: color .2s linear 0, background-color .2s linear 0 !important;
}

a:hover {
    color: #63d5f9;
}

html, body {
    height: 100%;
}

#top-bar {
    position: fixed;
    width: 100%;
    height: 40px;
    background: #2b2e33;
    z-index: 20;
}

#top-bar .logo {
    position: absolute;
    left: 27px;
    top: 15px;
    background: url("/admin/images/logo.png");
    width: 114px;
    height: 14px;
}

#top-bar > .header {
    color: #bebebe;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    left: 0;
    top: 6px;
}

#top-bar .menu {
    position: absolute;
    right: 0;
    top: 0;
}

#top-bar .menu li {
    float: left;
    position: relative;
}

#top-bar .menu > li > a {
    position: relative;
    display: block;
    text-align: center;
    line-height: 40px;
    height: 40px;
    min-width: 40px;
    color: #ffffff;
    transition: all 0.2s;
    font-size: 22px;
}

#top-bar .menu li a:hover {
    background: #1a1a1a;
}

#top-bar .menu .counter {
    display: inline-block;
    background: #d9534f;
    border-radius: 8px;
    position: absolute;
    right: 3px;
    bottom: 7px;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    width: 16px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

#sidebar {
    background: #2b2e33;
    position: fixed;
    height: 100%;
    min-height: 100%;
    width: 250px;
    z-index: 10;
}

#sidebar .menu {
    margin-top: 40px;
}

#sidebar .menu a {
    display: block;
    padding: 11px 20px 11px 28px;
    color: #adadad;
    font-size: 10pt;
    transition: all .2s;
}

#sidebar .menu a:hover {
    color: #ffffff;
    background: #373b40;
}

#sidebar .menu a:hover .icon {
    color: #3187d6;
}

#sidebar .menu a i {
    font-size: 16px;
    margin-right: 10px;
    transition: all .2s;
}

#sidebar .menu a .arr {
    float: right;
}

#sidebar .menu .open a .arr {
    content: "\f105";
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.module-icon-prices:before {
    content: "\f0d1";
}

.module-icon-user:before {
    content: "\f007";
}

.module-icon-version:before {
    content: "\f074";
}

.module-icon-menu:before {
    content: "\f02d";
}

.module-icon-page:before {
    content: "\f108";
}

.module-icon-feedback:before {
    content: "\f095";
}

.module-icon-news:before {
    content: "\f0f6";
}

.module-icon-articles:before {
    content: "\f0f6";
}

.module-icon-orders:before {
    content: "\f158";
}

.module-icon-products:before,
.module-icon-catalog:before {
    content: "\f1b3";
}

.module-icon-mail:before {
    content: "\f003";
}

.module-icon-contacts:before {
    content: "\f041";
}

.module-icon-chat:before {
    content: "\f0e5";
}

.module-icon-adverts:before {
    content: "\f0a1";
}

.module-icon-spots:before {
    content: "\f16d";
}

.module-icon-balance:before {
    content: "\f158";
}

.module-icon-deals:before {
    content: "\f0e3";
}

.module-icon-events:before {
    content: "\f0a2";
}

.module-icon-support:before {
    content: "\f1cd";
}

.module-icon-settings:before {
    content: "\f013";
}

.module-icon-reviews:before {
    content: "\f27b";
}

#sidebar .menu .acpr a {
    color: #fff;
    background: #16191F;
}

#sidebar .menu .acpr a:hover .icon {
    color: #fff;
}

#sidebar .menu .open a {
    color: #fff;
}

#sidebar .menu .open a:hover .icon {
    color: #fff;
}

#sidebar .menu .active a {
    color: #fff;
    background: #0090d9 url('../images/sb-arr.png') 100% 50% no-repeat;
}

#sidebar .menu .active a:hover .icon {
    color: #fff;
}

#sidebar .menu .submenu {
    display: none;
}

#sidebar .menu .submenu a {
    background: #5e6364;
    padding-left: 50px;
    color: #adadad;
}

#sidebar .menu .submenu a:hover {
    background: #4c5152;
}

#sidebar .menu .submenu .active > a {
    color: #ffffff;
    background: #0090d9 url('../images/sb-arr.png') 100% 50% no-repeat;
}

#sidebar .search {
    position: relative;
    margin: 4rem 0 0 0;
}

#sidebar .search input[type='text']{
    padding-right: 2.8rem;
    box-sizing: border-box;
    width: 100%;
}

#sidebar .search input[type='submit']{
    display: block;
    position: absolute;
    top: 1rem;
    right: 10px;
    width: 18px;
    height: 18px;
    background: url("/images/admin/search-loup.png");
    border: none;
    cursor: pointer;
}

#wrapper {
    padding: 40px 0 0 250px;
    min-width: 1230px;
}

#content {
    padding: 1rem;
}

.modules-list {

}

.modules-list .module {
    float: left;
    width: 20%;
}

.modules-list .module a {
    margin: 0 0.5em 0.5em 0;
    display: block;
    background: #aaaaaa;
    text-align: center;
    padding: 1em;
    color: #FFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18pt;
    text-transform: uppercase;

    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.modules-list .module:nth-child(5n) a {
    margin-right: 0;
}

.modules-list .module a:hover {
    background: #707070;
}

.modules-list .module a:active {
    background: #434343;
}

.modules-list .module a img {

}

.modules-list .module .label {
    margin: 0.5em 0 0 0;
}

.page-not-found {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.page-not-found .code {
    font-size: 155.25pt;
    margin: 0 0 10px 0;
}

.page-not-found .notice {
    font-size: 36pt;
}

h1 {
    position: relative;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0 0 0.6rem 0;
    color: #666666;

}

h1 i {
    font-size: 30px;
}

h1 .module-config {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: #a6abaf;
    color: #ffffff;
}

h1 .module-config:hover {
    background: #2b2e33;
}

h1 .back {
    display: inline-block;
    height: 32px;
    width: 32px;
    background: url("../../images/admin/arr-h1.png");
    margin: 0 1rem 0 0;
}

h1 .actions {
    position: absolute;
    right: 0;
    top: 0;
}

h1 .actions .item {
    display: inline-block;
    font-size: 17.25pt;
    margin: 0 0 0 1.7em;
    color: #4e4e50;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
    transition: all .2s;
}

h1 .actions .item.filter {
    padding: 0 0 0 40px;
    background: url("../../images/admin/icon-square-filter.png") 0 50% no-repeat;
}

h1 .actions .item.add {
    padding: 0 0 0 40px;
    background: url("../../images/admin/icon-square-plus.png") 0 50% no-repeat;
}

h1 .actions .item:hover {
    color: #57c4e5;
}

.panel {
    background: #FFFFFF;
    padding: 15px;
    font-size: 13px;
    margin-bottom: 20px;
}

.panel.tags .label {
    font-size: 1.3em;
    line-height: 1.9em;
    margin-right: 10px;
}

.panel.tags select {
    margin-right: 10px;
}

.filters {
    margin-bottom: 30px;
}

.filter {
    float: left;
}

.filter.search {
    float: right;
}

.table-list-empty {
    text-align: center;
    background: #57c4e5;
    padding: 0.5rem 0;
    color: #FFF;
}

.table-filter {
    position: relative;
    background: #57c4e5;
    margin: 0 0 21px 0;
    padding: 0.7rem 1rem 1rem 1rem;
    display: none;
}

.table-filter fieldset {
    float: left;
    margin: 0 80px 0 0;
}

.table-filter fieldset legend {
    font-size: 17.25pt;
    text-transform: uppercase;
    color: #FFF;
    margin: 0 0 8px 0;
}

.table-filter label {
    display: block;
    margin: 0 0 7px 0;
    font-weight: 300;
    text-transform: uppercase;
    color: #FFF;
    font-size: 12pt;
}

.table-filter .close {
    position: absolute;
    right: 24px;
    bottom: 12px;
    color: #FFF;
    font-size: 9.75pt;
    text-transform: uppercase;
    background: url("../../images/admin/close-w.png") 100% 50% no-repeat;
    padding: 0 18px 0 0;
    cursor: pointer;
}

.table-filter .btn {
    margin: 1.38rem 0 0 0;
}

.table-list {

}

.table-list .cell-action {
    position: absolute;
    right: 0;
    top: 0;
    width: 350px;
    text-align: right;
}

.table-list .cell-action .btn {
    position: relative;
    top: -1px;
}

.table-list .cells-fields {
    margin-right: 25rem;
    font-size: 18pt;
}

.table-list .cells-fields:before,
.table-list .cells-fields:after {
    display: block;
    content: '';
    clear: both;
}

.table-list .tb-cell {
    display: block;
    padding: 0 10px;
    float: left;
    box-sizing: border-box;
    /*overflow: hidden;*/
}

.table-list .header {
    position: relative;
    height: 40px;
}

.table-list .header,
.table-list .header span,
.table-list .header a {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.table-list .header .tb-cell {
    text-transform: uppercase;
    border-bottom: 2px solid #dddddd;
    min-height: 40px;
}

.table-list .header a:hover {

}

.table-list .header .direct {
    color: #d64635;
    margin-left: 5px;
}

.table-list .rowset {

}

.table-list .rowset .tb-row {
    position: relative;
    display: block;
    //height: 39px;
    font-weight: 300;
    color: #4E4E50;
    transition: all 0.1s;
    -webkit-user-drag: none;
    border-bottom: 2px solid #ddd;
}

.table-list .rowset li:nth-child(2n) .tb-row {
    background: #f9f9f9;
}

.table-list .rowset .tb-row:hover {
    background: #eeeeee !important;
}

.table-list .rowset li .tb-row.done {
    background: #b5dd9f;
}

.table-list .rowset li .tb-row.red,
.table-list .rowset li .tb-row.red:hover {
    background: #f0a8a3 !important;
}

.table-list .rowset li .tb-row.grey,
.table-list .rowset li .tb-row.grey:hover {
    background: #aaa !important;
}

.table-list .rowset .tb-row.done:hover {
    background: #aad393 !important;
}

.table-list .rowset li .tb-row.in-process {
    background: #f0eda3;
}

.table-list .rowset .tb-row.in-process:hover {
    background: #e3e097 !important;
}

.table-list .rowset li .tb-row.cancel {
    background: #f0a8a3;
}

.table-list .rowset .tb-row.cancel:hover {
    background: #e2a7a4 !important;
}

.table-list .rowset li .tb-row.delivery {
    background: #a4d0e9;
}

.table-list .rowset .tb-row.delivery:hover {
    background: #a0cae2 !important;
}

.table-list .rowset .tb-cell {
    line-height: 37px;
    float: left;
    font-size: 14px;
    vertical-align: middle;
    min-height: 37px;

}

.table-list .rowset .tb-cell.type-text {
    
}

.table-list .rowset a.tb-cell {
    transition: all .2s;
}

.table-list .rowset a.tb-cell:hover {
    background: #0090d9;
    color: #ffffff;
}

.table-list .rowset .tb-cell .branch {
    display: inline-block;
    height: 20px;
    margin: 0 5px 0 0;
    background: url("../../images/admin/branch.png") 100% 0 no-repeat;
    vertical-align: middle;
}

.table-list .rowset .tb-cell .switcher {
    font-size: 16px;
}

.table-list .rowset .tb-cell .switcher.active {
    background-position: 0 0;
}

.table-list .rowset .tb-cell.type-bool {
    text-align: center;
}

.table-list .rowset .tb-cell.type-img {
    height: 70px;
}

.table-list .rowset .tb-cell.type-img img {
    max-height: 70px;
}

.table-list .rowset .sortable-placeholder {
    border: 1px dashed #CCC;
    height: 39px;
}

.table-list .rowset .sortable-dragging {
    background: #57c4e5;
    color: #FFF;
}

.table-list .action {
    text-align: right;
}

.table-list .action .icon {
    display: inline-block;
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    vertical-align: bottom;
    margin: 0 0 6px 10px;
    cursor: pointer;
}

.table-list .action .btn {
    vertical-align: middle;
}

.table-list .action .btn.trash {
    position: relative;
}

.table-list .action .icon.edit {

}

.table-list .action .btn.trash .confirm {
    display: none;
    width: 76px;
    position: absolute;
    top: 29px;
    left: -12px;
    background: #FFF;
    z-index: 100;
    border-radius: 4px;
    border: 4px solid rgba(0, 0, 0, 0.65);
    padding: 4px 2px;
    line-height: 0.8;
    text-align: center;
}

.table-list .action .btn.trash .confirm .yes,
.table-list .action .btn.trash .confirm .no {
    display: inline-block;
    padding: 4px 5px;
    width: 23px;
    text-align: center;
    margin: 0 2px;
    color: #000;
    font-size: 10pt;
    background: #cecece;
    border-radius: 4px;
    line-height: 12pt;
    transition: all .2s;
}

.table-list .action .btn.trash .confirm .yes:hover,
.table-list .action .btn.trash .confirm .no:hover {
    background: #57c4e5;
    color: #ffffff;
}

span.wrap {
    display: inline-block;
    border-radius: 3px;
    padding: 1px 10px;
    color: #ffffff;
    line-height: normal;
}

.import-form {
    display: inline-block;
    background: #eeeeee;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px 10px 10px 10px;
}

.import-form [type="file"] {
    position: relative;
    top: 5px;
    display: inline-block;
}

.import-form .file-box {
    display: inline-block;
}

span.wrap.yellow {
    background: #deca41;
}

span.wrap.green {
    background: #5cb85c;
}

span.wrap.red {
    background: #d9534f;
}


.pagination {
    margin: 4.38rem 0 0 0;
    position: relative;
    text-align: center;
    min-height: 30px;
}

.pagination ul {
    display: inline-block;
}

.pagination ul li {
    float: left;
    margin: 0 2px;
}

.pagination ul li a {
    display: block;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    transition: all .2s;
    background: #4e4e50;
    color: #ffffff;
    font-size: 16px;
}

.pagination ul li a:hover {
    background: #0090d9;
}

.pagination ul li.active a,
.pagination ul li.active a:hover {
    background: #b7b7b9;
    color: #4E4E50;
}

.pagination ul li.disabled a,
.pagination ul li.disabled a:hover {
    background: #b9b9bb;
}

.pagination .lines-nbr {
    position: absolute;
    left: 0;
    top: 0;
}

.edit-form fieldset {
    border: 1px solid #9b9b9b;
    background: #f5f6f6;
    padding: 0.90rem 1.25rem 1.25rem 1.25rem;
    margin: 0 0 1.88rem 0;
}

.edit-form fieldset:last-child {
    margin-bottom: 0;
}

.edit-form fieldset legend {
    padding: 0 3px;
    color: #4e4e50;
    font-size: 15pt;
}

.edit-form label:last-child {
    margin-bottom: 0;
}

.edit-form fieldset .row .label {
    margin: 0 0 0.4rem 0;
    display: block;
}

.edit-form .row textarea {
    width: 53.5%;
}

.edit-form .row .file-form {
    width: 53%;
    display: inline-block;
}

.edit-form .row .image-form {
    padding-left: 17%;
}

.edit-form .row .image-form .left-col {
    float: left;
    text-align: right;
}

.edit-form .row .image-form {
    position: relative;
    height: 162px;
}

.edit-form .row .image-form .pic-box {
    display: inline-block;
    width: 120px;
    height: 120px;
    background: url("../images/transparency.png");
    border: 1px solid #a4a4a4;
    overflow: hidden;
}

.edit-form .row .image-form .pic-box img {
    max-width: 120px;
    max-height: 120px;
}

.edit-form .row .image-form .info .row {
    margin-left: 130px;
}

.edit-form .row .image-form .info .row .tooltip {
    left: 30%;
}

.edit-form .row .image-form .info .row-del {
    position: relative;
    top: -5px;
}

.edit-form .row .image-form .row input[type="text"] {
    width: 60%;
}

.edit-form .row .images-list .list {
    margin-bottom: 10px;
}

.edit-form .row .images-list .img {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 162px;
    height: 162px;
    margin-right: 10px;
    border: 1px solid #eeeeee;
}

.edit-form .row .images-list .row {
    margin: 10px 0 0 0;
}

.edit-form .row .images-list .row .new-img {
    width: 350px;
}

.edit-form .row .images-list .delete {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 22px;
    line-height: 22px;
    color: #cf0d00;
}

.edit-form .attrs-list input[type="text"] {
    width: 29.5%;
}

.edit-form input[type="text"],
.edit-form input[type="password"],
.edit-form select {
    width: 100%;
    max-width: 350px;
}

.edit-form .separator {
    border-bottom: 1px solid #b7b7b7;
    margin: 10px 0 10px 0;
    padding-bottom: 4px;
    padding-left: 17%;
    font-weight: bold;
    font-size: 20px;
}


.edit-form .tooltip {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left: 40%;
    top: 0;
}

.tooltip .tooltip-icon {
    display: inline-block;
    background: #7c7c7c;
    border-radius: 99px;
    text-align: center;
    height: 1.3rem;
    line-height: 1.3rem;
    color: #FFF;
    width: 1.3rem;
    cursor: default;
    font-weight: bold;
    margin: 5px 0 0 10px;
}

.tooltip .tooltip-desc {
    display: none;
}


.ui-helper-hidden-accessible{
    display: none;
}

.ui-tooltip {
    padding: 8px;
    position: absolute;
    z-index: 9999;
    color: #FFF;
    background: #2b2e33;
    border-radius: 2px;
    max-width: 16rem;
    font-size: 9pt;
}

.tabs {

}

.tabs .tabs-header{
    height: 48px;
}

.tabs .tabs-header .tab {
    display: block;
    float: left;
    line-height: 28px;
    height: 48px;
    border-bottom: none;
    margin: 0 4px 0 0;
    background: #c6d1d7;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px 4px 0 0;
}

.tabs .tabs-header .tab:hover {
    background: #c2cdd3;
}

.tabs .tabs-header .tab.active,
.tabs .tabs-header .tab.active:hover {
    background: #ffffff;
}

.tabs .tab {
    display: none;
}

.tabs .tab.active {
    display: block;
}

.tabs .tabs-body {
    padding: 15px;
    background: #ffffff;
}

.edit-form .tabs {
    margin-top: 20px;
}

.edit-form .btn-box {
    margin: 20px 0 0 0;
    text-align: center;
}

.edit-form .btn-box .btn {
    padding: 5px 20px;
    font-size: 12pt;
    margin: 0 5px;
}

.edit-form .btn-box .btn-gray:hover {
    border-color: #fff;
    background: #fff;
}

.edit-form .errors {
    margin-left: 19%;
    margin-top: 3px;
    color: #d9534f;
    font-size: 9pt;
}

.message-box {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 200px;
}

.message-box .message {
    position: relative;
    top: -100px;
    color: #ffffff;
    background: #c5c23f;
    padding: 7px 20px;
    border-radius: 4px;
    margin-bottom: 6px;
}

.message-box .message.loading {
    background: #108fe3;
}

.message-box .message.error {
    background: #d9534f;
}

.message-box .message.success {
    background: #5cb85c;
}

.message-box .message i.close,
.message-box .message i.loading {
    position: absolute;
    right: 15px;
    top: 9px;
}

.notice {
    border-radius: 4px;
    background: #F0AD4E url("/images/admin/warning.png") 98% 50% no-repeat;
    border: 1px solid #EEA236;
    padding: 6px 55px 6px 25px;
    margin-bottom: 6px;
    min-height: 35px;
    color: #ffffff;
}


#top-bar .events .submenu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 260px;
    z-index: 10;
    line-height: normal;
    text-align: left;
    padding-top: 10px;
    transition: all .2s;
}

#top-bar .events:hover .submenu {
    display: block;
}

#top-bar .events .submenu .shadow {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #e8e8e8;
}

#top-bar .events .submenu .header {
    position: relative;
    background: #2B2E33;
    color: #ffffff;
    height: 36px;
    padding: 0 10px;
    line-height: 36px;
    font-size: 15px;
    outline: 1px solid #2B2E33;
    margin-bottom: 1px;
}

#top-bar .events .submenu .header i {
    color: #2B2E33;
    font-size: 20pt !important;
    position: absolute;
    bottom: 28px;
    right: 15px;
}

#top-bar .events .submenu .event {
    display: block;
    text-decoration: none;
    position: relative;
    color: #2b2b2b;
    padding: 9px 10px 9px 33px;
    transition: all .2s;
    font-size: 9pt;
    border-bottom: 1px solid #d8d8d8;
    background: #ffffff;
}

#top-bar .events .submenu .event:hover {
    background: #f5f5f5;
}

#top-bar .events .submenu .event i {
    position: absolute;
    left: 9px;
    top: 13px;
    font-size: 16px !important;
}

#top-bar .events .submenu .event .date {
    color: #8c8c8c;
    margin-top: 4px;
}

#top-bar .events .submenu .show-all {
    position: relative;
    display: block;
    padding: 6px 10px;
    background: #e2e2e2;
    color: #494949;
    font-size: 9pt;
    text-decoration: none;
}

#top-bar .events .submenu .show-all i {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 10pt !important;
}

.attrs-list .list,
.props-list .list {
    margin-bottom: 10px;
}

.collection-list .form {
    border-radius: 5px;
    background: #f9f9f9;
    padding: 10px;
    max-width: 550px;
}

.collection-list .btns {
    padding-left: 150px;
}

.collection-list .row .label {
    width: 150px;
}

.collection-list .list {
    width: auto;
    margin-bottom: 20px;
    min-width: 550px;
}

.collection-list .list td {
    padding: 0;
}

.collection-list .list td input {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 0;
    background: #ffffff;
}

.collection-list .list td input:focus {
    background: #eeeeee;
}

.tag-block a {
    color: white;
    text-decoration: none;
}

.market-row {
    background: #eee;
    padding: 10px;
    border: 1px #ccc solid;
}

.market-row .title {
    font-size: 1.2em;
    margin: 20px 10px;
    font-weight: bold;
}

.order-source {
    width: 20px;
}


.notice.market {
    font-size: 1.3em;
}

.color-selector {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 36px;
    background: url(../images/colorpicker/select.png);
}
.color-selector div {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 30px;
    height: 30px;
    background: url(../images/colorpicker/select.png) center;
}
