{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Производители </h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-9"></div>
                    <div class="col-sm-3">
                        <form action="{{ path('admin_product_brand_index') }}" method="GET">
                            <div class="input-group">
                                <input placeholder="Поиск" class="input-sm form-control" type="text" name="query">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary">Найти</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Фото</th>
                        <th>Название</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for productBrand in productBrands %}
                        <tr>
                            <td>{{ productBrand.id }}</td>

                            <td><img src="{{ productBrand.image('s') }}" alt="" width="70"></td>
                            <td style="width: 60%;">{{ productBrand.name }}</td>
                            <td>
                                <div class="actions">
                                    <a href="{{ path('admin_product_brand_edit', {id: productBrand.id}) }}"
                                       class="btn-primary btn btn-sm">Редактировать
                                    </a>
                                    <a class="btn-danger btn btn-sm delete-btn js-delete-btn" href="{{ path('admin_product_brand_delete',{id:productBrand.id}) }}">
                                        Удалить
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if productBrands.haveToPaginate %}
                    <div class="navigation text-center">
                        {{ pagerfanta(productBrands, 'twitter_bootstrap3_translated', {routeName: 'admin_product_brand_index','routeParams': app.request.query.all,}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

