<nav class="breadcrumbs">
    <div class="wrapper">
        {% for crumb in breadcrumbs.getBreadCrumbs() %}
        <a href="{{ crumb.href }}" class="breadcrumbs__item">{{ crumb.name }}</a>
        {% endfor %}
    </div>
</nav>
<script type="application/ld+json">
    {"@context":"http:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"http:\/\/stommarket.ru\/","name":"Home"}},{"@type":"ListItem","position":2,"item":{"@id":"http:\/\/stommarket.ru\/catalog\/","name":"\u041a\u0430\u0442\u0430\u043b\u043e\u0433"}},{"@type":"ListItem","position":3,"item":{"@id":"http:\/\/stommarket.ru\/catalog\/anesteziya-instrumentyi\/","name":"\u0410\u043d\u0435\u0441\u0442\u0435\u0437\u0438\u044f\/\u0438\u043d\u0441\u0442\u0440\u0443\u043c\u0435\u043d\u0442\u044b"}}]}
</script>