
<footer class="footer">
    <div class="innertube">
        <!-- Logo start-->
        <div class="footer__logo">
            <img src="/mobile/img/svg/logo.svg">
        </div>
        <!--Logo end-->

        <!-- Contacts start-->
        <div class="footer__contacts">
            <div class="footer__contacts--main">
                <a href="tel:88007008343" class="phone icon-phone">8 800 700-83-43</a>
                <a href="mailto:{{ version.email }}" class="email icon-mail">{{ version.email }}</a>
            </div>
            <div class="footer__contacts--current icon-marker">
                <p class="city">{{ version.city }}</p>
                <p class="address">{{ version.address }}</p>
                <a class="current-phone" href="tel:{{ version.shortPhone }}">{{ version.phone }}</a>
            </div>
        </div>
        <!-- Contacts end-->

        <hr class="footer__divider">
        <!--info start-->
        {##}
        <div class="footer__info">
            <div class="footer__info--social">
                <p>Соц. сети</p>
                <a href="{{ version.vk }}" class="social-link"><i class="icon-vk"></i></a>
                <a href="{{ version.fb }}" class="social-link"><i class="icon-facebook"></i></a>
            </div>
            <div class="footer__info--pay">
                <p>Оплата</p>
                <i class="icon-yandex icon"></i>
                <i class="icon-visa icon"></i>
                <i class="icon-mastercard icon"></i>
            </div>
        </div>
        <!--info start-->
        <div class="footer__address">ООО «Стоммаркет» Адрес: г. Санкт-Петербург, ул. Республиканская, д. 22</div>
        <div class="footer__license">Лицензия: № ЛО-78-02-002759 от 8.06.2017 г. ОГРН: 1137847154906</div>
        <p class="footer__copyright">© Stommarket.ru, Товары для стоматологии. 2018</p>
    </div>
</footer>