<footer class="footer">
    <div class="innertube">
        <div class="footer-contacts" itemscope="" itemtype="http://webmaster.yandex.ru/vocabularies/term-def.xml">
            <div class="footer-contacts__addresses">
                <div class="footer__col icon-marker" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    <a href="https://stommarket.ru/" class="footer__title" itemprop="addressLocality">Cанкт-Петербург</a>
                    <div class="footer-contacts__wrap">
                        <div class="footer-contacts__local-text" itemprop="streetAddress">
                            ул. Республиканская, д. 22
                        </div>
                        <a href="tel:88124261939" class="footer-contacts__local-text">8 812 426-19-39</a>
                    </div>
                </div>
                <div class="footer__col" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    <a href="https://msk.stommarket.ru/" class="footer__title" itemprop="addressLocality">Москва</a>
                    <div class="footer-contacts__wrap">
                        <div class="footer-contacts__local-text" itemprop="streetAddress">Колодезный пер., д. 2А</div>
                        <a href="tel:84951205919" class="footer-contacts__local-text">8 495 120-59-19</a>
                    </div>
                </div>
                <div class="footer__col" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    <div class="footer__title" itemprop="addressLocality">Краснодар</div>
                    <div class="footer-contacts__wrap">
                        <div class="footer-contacts__local-text" itemprop="streetAddress">
                            ул. Уральская, д. 83а
                        </div>
                        <a href="tel:88612025356" class="footer-contacts__local-text">8 861 202-53-56</a>
                    </div>
                </div>
                <div class="footer__col " itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    <div class="footer__title" itemprop="addressLocality">Димитровград</div>
                    <div class="footer-contacts__wrap">
                        <div class="footer-contacts__local-text" itemprop="streetAddress">ул. Королева, д. 7</div>
                        <a href="tel:88422505118" class="footer-contacts__local-text">8 842 250-51-18</a>
                    </div>
                </div>
                <div class="footer__col" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    <div class="footer__title" itemprop="addressLocality">Киров</div>
                    <div class="footer-contacts__wrap">
                        <div class="footer-contacts__local-text" itemprop="streetAddress">улица МОПРа, д. 39</div>
                        <a href="tel:88332660439" class="footer-contacts__local-text">8 8332 66-04-39</a>
                    </div>
                </div>
                <div class="footer__col" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    <div class="footer__title" itemprop="addressLocality">Ярославль</div>
                    <div class="footer-contacts__wrap">
                        <div class="footer-contacts__local-text" itemprop="streetAddress">пос. Нефтебазы 108а</div>
                        <a href="tel:84852609068" class="footer-contacts__local-text">8 485 260-90-68</a>
                    </div>
                </div>
                <div class="footer__col" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    <div class="footer__title" itemprop="addressLocality">Кострома</div>
                    <div class="footer-contacts__wrap">
                        <div class="footer-contacts__local-text" itemprop="streetAddress">ул. Шаговая, д. 152</div>
                        <a href="tel:88005007298" class="footer-contacts__local-text">8 800 500-72-98</a>
                    </div>
                </div>
                <div class="footer__col" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    <div class="footer__title" itemprop="addressLocality">Тверь</div>
                    <div class="footer-contacts__wrap">
                        <div class="footer-contacts__local-text" itemprop="streetAddress">ул. Московская, д. 82, стр. 3</div>
                        <a href="tel:88005007298" class="footer-contacts__local-text">8 800 500-72-98</a>
                    </div>
                </div>
                <div class="footer__col" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    <div class="footer__title" itemprop="addressLocality">Иваново</div>
                    <div class="footer-contacts__wrap">
                        <div class="footer-contacts__local-text" itemprop="streetAddress">Шевченко, д. 2</div>
                        <a href="tel:88005007298" class="footer-contacts__local-text">8 800 500-72-98</a>
                    </div>
                </div>
                <div class="footer__col" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    <div class="footer__title" itemprop="addressLocality">Вологда</div>
                    <div class="footer-contacts__wrap">
                        <div class="footer-contacts__local-text" itemprop="streetAddress">ул. Северная, д. 36А</div>
                        <a href="tel:88005007298" class="footer-contacts__local-text">8 800 500-72-98</a>
                    </div>
                </div>
                <div class="footer__col" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                    <div class="footer__title" itemprop="addressLocality">Волгоград</div>
                    <div class="footer-contacts__wrap">
                        <div class="footer-contacts__local-text" itemprop="streetAddress">ул. Покрышкина, д. 6</div>
                        <a href="tel:88442297002" class="footer-contacts__local-text">8 844 229 70 02</a>
                    </div>
                </div>
            </div>
            <div class="footer-contacts__main">
                <a href="tel:{{ version.shortPhone }}" class="footer-contacts__main-phone icon-phone">{{ version.siteVersion.phone }}</a>
                <a href="mailto:{{ version.siteVersion.email }}" class="footer-contacts__main-email icon-mail">{{ version.siteVersion.email }}</a>
                <a href="#add__feedback" class="btn btn--compact js-open-popup footer-contacts__callback-btn">Обратная связь</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="footer-menu">
            <div class="footer__col footer__col--logo">
                <div class="footer-menu__logo">
                    <img src="/img/svg/logo.svg" alt="">
                </div>
                <div class="footer-menu__copy">© Stommarket.ru, товары для стоматологии, 2017</div>
                <a href="#add__feedback" class="footer-menu__link js-open-popup">Обратная связь</a>
                <a class="footer-menu__link" href="/contacts/">Контакты</a>


                <a class="footer-menu__link" href="/help/dogovor-publichnoy-ofertyi-postavki/">Договор публичной оферты</a>
                <a class="footer-menu__link" href="/help/politika-konfidencialnosti/">Политика конфиденциальности</a>
            </div>
            <div class="footer__col">
                <div class="footer__title">Stommarket</div>
                <a class="footer-menu__link" href="/price/">Прайс-лист</a>
                <a class="footer-menu__link" href="https://franchise.stommarket.ru/" target="_blank">Франшиза</a>
                <a class="footer-menu__link" href="/reviews/">Отзывы</a>
                {#<a class="footer-menu__link" href="/help/">Помощь</a>#}
                <a class="footer-menu__link" href="https://stommarket.ru/blog/" target="_blank">Блог</a>
                <a class="footer-menu__link" href="/about/">О компании</a>
            </div>
            <div class="footer__col">
                <div class="footer__title">Каталог</div>
                <a class="footer-menu__link" href="/catalog/anesteziya-instrumentyi/">Анестезия</a>
                <a class="footer-menu__link" href="/catalog/dezinfektsiya/">Дезинфекция</a>
                <a class="footer-menu__link" href="/catalog/irrigatoryi/">Ирригаторы</a>
                <a class="footer-menu__link" href="/catalog/ortopediya/">Ортопедия</a>
                <a class="footer-menu__link" href="/catalog/profilaktika-i-gigiena/">Профилактика</a>
                <a class="footer-menu__link" href="/catalog/terapiya/">Терапия</a>
            </div>
            <div class="footer__col">
                <div class="footer__title">Помощь</div>
                <!-- <a class="footer-menu__link" href="/help/how-to-order/">Как сделать заказ?</a> -->
                <a class="footer-menu__link" href="/help/payment/">Как оплатить?</a>
                <a class="footer-menu__link" href="/help/delivery/">Доставка</a>
                <!-- <a class="footer-menu__link" href="/help/vozvrat-i-obmen/">Возврат товара</a> -->
                <!-- <a class="footer-menu__link">Гарантии</a> -->
                <a href="#add__feedback" class="footer-menu__link js-open-popup">Обратная связь</a>
                <a href="/files/pdf/mediakit.pdf" class="footer-menu__link">Реклама</a>
            </div>
            <div class="footer__col">

                <div class="footer__title">Соц. сети</div>
                <div class="footer-menu__icons">
                    <a class="footer-menu__social icon-fb" href="{{ version.fb }}" target="_blank"></a>

                    <a class="footer-menu__social icon-vk" href="{{ version.vk }}" target="_blank"></a>
                </div>

                <div class="footer__title">Оплата</div>
                <div class="footer-menu__icons">
                    <a class="footer-menu__payment icon-yad"></a>
                    <a class="footer-menu__payment icon-visa"></a>
                    <a class="footer-menu__payment icon-mk"></a>
                </div>
            </div>
        </div>
        <div class="footer__legal-block">
            <div class="footer__legal-item">{{ version.footerLine1 }}</div>
            <div class="footer__legal-item">{{ version.footerLine2 }}</div>
        </div>
    </div>
</footer>

{# <script type="text/javascript">
  $(document).ready(function(){
    if($.cookie('weAskedCity') === null){
    $.cookie("weAskedCity", 1, {expires : 1, path: '/' });
  } else {
    //sleep
  }
  });
</script> #}

<!--div class="subscribe-panel js-panel" data-name="subscribe">
    <div class="innertube">
        <div class="js-panel-content subscribe-panel__wrap">
            <div class="subscribe-panel__description">
                Подпишись на нашу рассылку и получай новости<br>о скидках и предложениях первым!
                <span class="tip tip--panel-item">
                    <span class="tip__block">
                        Нажимая кнопку «Отправить», я подтверждаю свою дееспособность и даю согласие по установленной форме на обработку своих персональных данных.
                    </span>
                </span>
            </div>
            <div class="subscribe-panel__form">
                <form action="{{ path('add_subscribe') }}" method="POST" class="ocb__form ocb__form--panel js-form js-subscribe-form">
                    <input class="ocb__input ocb__input--panel js-input js-required" placeholder="example@example.ru" name="email" type="email">
                    <button type="submit" class="ocb__btn ocb__btn--panel js-one-click-buy">Отправить</button>
                    <div class="form__success js-subscribe-success">Спасибо, на почте вас ждёт письмо, где вы сможете подтвердить подписку.</div>
                </form>
            </div>
            <div class="subscribe-panel__social">
                <span class="subscribe-panel__soc-title">Подписаться в соц. сетях:</span>
                <a class="subscribe-panel__soc-icon icon-vk" href="https://vk.com/stommarketru" target="_blank"></a>
                <a class="subscribe-panel__soc-icon icon-fb" href="https://www.facebook.com/stommarket/" target="_blank"></a>
            </div>
        </div>

        <span class="icon-cancel subscribe-panel__cancel js-close-panel"></span>
    </div>
</div-->
