<div class="search-window js-search-window" style="display: none">
    <div class="search-window__header">
        <input type="text" class="js-search search-window__search">
        <a href="#" class="js-search-window-close search-window__close"><i class="icon-cancel2"></i></a>
    </div>
    <div class="search-window__body">
        <div class="search-window__catalog js__results-catalog"></div>
        <div class="search-window__products js__results-products"></div>
    </div>
</div>
<header class="header js-header">
    <div class="innertube">
        <a href="/" class="header__logo">
            <img src="/mobile/img/logo.svg">
        </a>
        <form class="header__search">
            <input type="search" placeholder="Поиск" class="js-search-init">
        </form>
        <div class="header__icon-menu icon-menu">
            <a href="{{ path('cart_index') }}" class="icon-menu__item icon-basket">
                <span class="icon-menu__basket-count active js-basket-menu__count">{{ basket.count(app.request.cookies.get('cart',NULL)) }}</span>
            </a>
            <a href="#" onclick="return false;" class="icon-menu__item js-menu_open">
                <span class="icon-hamburger js-menu_icon">
                    <span class="icon-hamburger__line"></span>
                    <span class="icon-hamburger__line"></span>
                    <span class="icon-hamburger__line"></span>
                </span>
            </a>
        </div>
    </div>

    <menu class="menu js-side_menu">
        <div class="menu__content-wrap">
            <div class="menu__top-nav">
                <a href="#menu-main" class="menu__back js-menu_layer_link js-menu-back" style="display:none"><i class="icon-arrow-back"></i></a>
                <a href="#" class="menu__back js-menu-catalog-back js-next-level-link" data-id="" style="display:none"><i class="icon-arrow-back"></i></a>
                <span class="menu__title js-menu__title" style="display:none"></span>
                <a href="#" class="menu__close js-menu_close"><i class="icon-cancel"></i></a>
            </div>
            <!--Main menu-->
            <div class="menu__layer menu__layer--main js-menu_layer active" id="menu-main">
                <div class="menu__block t-center">
                    <span class="menu__auth-icon"></span>
                    {% if not app.user %}
                        <a href="#menu-login" class="menu__auth-btn menu__auth-btn--small js-menu_layer_link">Войти</a>
                    {% else %}
                        <a href="{{ path('personal_page') }}" class="menu__auth-btn menu__auth-btn--small">Личный кабинет</a>
                    {% endif %}
                </div>
                <div class="menu__delimiter"></div>
                <div class="menu__block">
                    <a href="#menu-catalog" class="menu__item-link menu__item-link--catalog js-menu_layer_link">Каталог</a>
                </div>
                <div class="menu__delimiter"></div>
                <div class="menu__block">
                    <a href="#menu-city-switch" class="menu__item-link menu__item-link--location js-menu_layer_link">{{ version.city }}</a>
                    <a href="tel:{{ version.shortPhone }}" class="menu__item-link menu__item-link--phone">{{ version.phone }}</a>
                </div>
                <div class="menu__delimiter"></div>
                <div class="menu__block">
                    <a href="/education/" class="menu__item-link menu__item-link--education">Обучение</a>
                    <a href="/help/payment/" class="menu__item-link menu__item-link--payment">Оплата</a>
                    <a href="/help/delivery/" class="menu__item-link menu__item-link--delivery">Доставка</a>
                    <a href="https://stommarket.ru/blog/" target="_blank" class="menu__item-link menu__item-link--blog">Блог</a>
                    <!--a href="/info/about.html" target="_blank" class="menu__item-link menu__item-link--about">О компании</a-->
                    <a href="/contacts/" class="menu__item-link menu__item-link--contacts">Контакты</a>
                </div>
                <div class="menu__block">
                    <a class="menu__social icon-vk" href="" target="_blank"></a>
                    <a class="menu__social icon-facebook" href="" target="_blank"></a>
                </div>
            </div>
            <!--Login menu-->
            <div class="menu__layer menu__layer--login js-menu_layer" id="menu-login">
                <div class="menu__block">
                    <span class="menu__auth-icon"></span>
                    <form id="login-form" action="/ajax-login/" class="form js-form js-login_form" data-error-msg="Произошла ошибка">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <div class="form__b form__text-input-b">
                            <input type="email" class="form__text-input js-input js-required" name="login" id="login_email">
                            <label class="form__text-input-label" for="login">E-mail<span class="form__star-sign">*</span></label>
                        </div>
                        <div class="form__b form__text-input-b">
                            <input type="password" class="form__text-input js-input js-required" name="password" id="login_pass">
                            <label class="form__text-input-label" for="login">Пароль<span class="form__star-sign">*</span></label>
                        </div>
                        <button type="submit" class="menu__auth-btn">Войти</button>
                    </form>
                </div>
                <div class="menu__block">
                    <div>
                        <a href="#menu-remember" class="menu__auth-link link link--grey js-menu_layer_link">Забыли пароль?</a>
                    </div>
                    <div>
                        <a href="#menu-registration" class="menu__auth-link link link--grey js-menu_layer_link">Регистрация</a>
                    </div>
                </div>
            </div>
            <!--Register menu-->
            <div class="menu__layer menu__layer--register js-menu_layer" id="menu-registration">
                <div class="menu__block">
                    <span class="menu__auth-icon"></span>

                    <form action="/registration/" class="form js-form js-registration_form" data-error-msg="Произошла ошибка">
                        <div class="form__b form__text-input-b">
                            <input type="email" class="form__text-input js-input js-required" name="email" id="reg_email">
                            <label class="form__text-input-label" for="email">E-mail<span class="form__star-sign">*</span></label>
                        </div>
                        <div class="form__b form__text-input-b">
                            <input type="password" class="form__text-input js-input js-required" name="password" id="reg_pass">
                            <label class="form__text-input-label" for="password">Пароль<span class="form__star-sign">*</span></label>
                        </div>
                        <div class="form__b form__text-input-b">
                            <input type="password" class="form__text-input js-input js-required" name="confirm_password" id="reg_pass_check">
                            <label class="form__text-input-label" for="password_repeat">Повтор пароля<span class="form__star-sign">*</span></label>
                        </div>
                        <button type="submit" class="menu__auth-btn">Отправить</button>
                        <div class="form__success js-form_success">
                            <div class="content">
                                <p class="h3">Регистрация</p>
                                <p>Вы успешно зарегистрированы. Подтвердите почту, для активации учетной записи.</p>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="menu__block">
                    <div>
                        <a href="#menu-login" class="menu__auth-link link link--grey js-menu_layer_link">Войти</a>
                    </div>
                    <div>
                        <a href="#menu-remember" class="menu__auth-link link link--grey js-menu_layer_link">Забыли пароль?</a>
                    </div>
                </div>
            </div>
            <!--Forgot password menu-->
            <div class="menu__layer menu__layer--remember js-menu_layer" id="menu-remember">
                <div class="menu__block">
                    <span class="menu__auth-icon"></span>
                    <form method="post" action="{{ path('forget') }}" class="form js-form js-remember_form" data-error-msg="Произошла ошибка">
                        <div class="form__b form__text-input-b">
                            <input type="email" class="form__text-input js-input js-required " name="email" id="remember_email">
                            <label class="form__text-input-label" for="remember_email">E-mail<span class="form__star-sign">*</span></label>
                        </div>
                        <button type="submit" class="menu__auth-btn">Продолжить</button>
                        <div class="form__success js-form__success">
                            <div class="content">
                                <p>На вашу почту было отправлено письмо с ссылкой для восстановления пароля.</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="menu__block">
                    <div>
                        <a href="#menu-login" class="menu__auth-link link link--grey js-menu_layer_link">Войти</a>
                    </div>
                    <div>
                        <a href="#menu-registration" class="menu__auth-link link link--grey js-menu_layer_link">Регистрация</a>
                    </div>
                </div>
            </div>
            <!--City menu-->
            <div class="menu__layer menu__layer--city-switch js-menu_layer" data-fw="true" id="menu-city-switch">
                <div class="menu__block city-switch js_city-switch">
                    {% for siteVersion in version.all %}
                        <div class="city-switch__item js-switch-city-handler" data-id="{{ siteVersion.id }}">
                            <input type="radio" id="town{{ siteVersion.id }}" name="town" {{ siteVersion == version.siteVersion ? 'checked' : ''}}>
                            <label for="town{{ siteVersion.id }}">
                                <span>{{ siteVersion.name }}</span>
                                <i>{{ siteVersion.phone }}</i>
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!--Catalog menu-->
            <div class="menu__layer menu__layer--catalog js-menu_layer" data-fw="true" id="menu-catalog">
                <div class="catalog-nav__inner">
                    <ul class="catalog-nav__list js-catalog-menu">
                        {% set l0 = menu.findBy({lvl : 1, active : 1}) %}
                        {% for item in l0 %}
                            <li class="catalog-nav__item ">
                                <a href="/catalog/{{ item.urlPath }}" class="{% if item.children|length > 0 %}icon-arrow-next js-next-level-link{% endif %}" data-id="{{ item.id }}">
                                    {{ item.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </menu>
</header>
<div class="city-switch-popup js-city-switch-popup {{ version.isSetVersion == false ? 'enabled'}}">
    <span class="icon-cancel city-switch-popup__close js-city-switch-popup-close"></span>
    <div class="city-switch-popup__area city-switch-popup__area--step1 active js-city-switch-popup-step1">
        <div class="city-switch-popup__title">
            Ваш город — {{ version.suggestVersion.name }}?
        </div>
        <div>
            <button class="city-switch-popup__btn btn btn--dark js-switch-city-handler first-step" data-id="{{ version.suggestVersion.id }}">Да, всё верно</button>
            <span class="city-switch-popup__link dotted js-city-switch-popup-open-step2">Нет, изменить</span>
        </div>
    </div>
    <div class="city-switch-popup__area city-switch-popup__area--step2 js-city-switch-popup-step2" style="display: none;">
        <!--div class="city-switch-popup__title">
            Выберите свой город
        </div-->
        <ul class="city-switch-popup__list">
            {% for siteVersion in version.all %}
                <li class="js-switch-city-handler first-step" data-id="{{ siteVersion.id }}" data-notification="#redirect-notification">
                    <input id="city-switch-popup-{{ siteVersion.id }}"
                           name="city" class="form__radio-input "
                           type="radio" {{ siteVersion == version.siteVersion ? 'checked' : ''}}>
                    <label for="city-switch-popup-{{ siteVersion.id }}" class="form__radio-input-label">{{ siteVersion.name }}</label>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
