    <div class="innertube">
        {#
        <div class="city-switch js-city-switch {{ version.isSetVersion == false ? 'enabled'}}">
            <span class="icon-cancel city-switch__close js-city-switch-close"></span>
                        <!--STEP 1-->
                        <div class="city-switch__area city-switch__area--step1 js-city-switch-step1 enabled">
                            <div class="city-switch__title">
                                Ваш город — {{ version.suggestVersion.name }}?
                            </div>
                            <div>
                                <button class="city-switch__btn btn btn--dark js-switch-city-handler first-step" data-id="{{ version.suggestVersion.id }}">Да</button>
                                <span class="city-switch__link dotted js-city-switch-open-step2">Выбрать другой город</span>
                            </div>
                            <div class="city-switch__description">
                                От выбранного города зависят цены, наличие товара по складу и способы доставки
                            </div>
                        </div>
                        <!--END OF STEP 1-->
                        <!--STEP 2-->
                        <div class="city-switch__area city-switch__area--step2 js-city-switch-step2" style="display: none;">
                            <div class="city-switch__title">
                                Выберите свой город
                            </div>
                            <ul class="city-switch__list">
                                {% for siteVersion in version.all %}
                                    <li class="js-switch-city-handler first-step" data-id="{{ siteVersion.id }}" data-notification="#redirect-notification">
                                        <input id="city-switch-{{ siteVersion.id }}"
                                               name="city" class="form__radio-input "
                                               type="radio" {{ siteVersion == version.siteVersion ? 'checked' : ''}}>
                                        <label for="city-switch-{{ siteVersion.id }}" class="form__radio-input-label">{{ siteVersion.name }}</label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!--END OF STEP 2-->

        </div>
        #}


        {# BACKUP
        <div class="city-switch js-city-switch {{ version.isSetVersion == false ? 'enabled'}}">
        #}
        {% if (app.request.cookies.get('weAskedCity') is null) and  version.isSetVersion == false %}
        <div class="city-switch js-city-switch enabled">
        {% else %}
        <div class="city-switch js-city-switch">
        {% endif %}

            <span class="icon-cancel city-switch__close js-city-switch-close"></span>
            <div class="city-switch__area city-switch__area--step1 active js-city-switch-step1">
                <div class="city-switch__title">
                    Ваш город — {{ version.suggestVersion.name }}?
                </div>
                <div>
                    <button class="city-switch__btn btn btn--dark js-switch-city-handler first-step" data-id="{{ version.suggestVersion.id }}">Да, всё верно</button>
                    <span class="city-switch__link dotted js-city-switch-open-step2">Нет, изменить</span>
                </div>
                <div class="city-switch__description">
                    От выбранного города зависят цены, наличие товара по складу и способы доставки
                </div>
            </div>
            <div class="city-switch__area city-switch__area--step2 js-city-switch-step2" style="display: none;">
                <!--div class="city-switch__title">
                    Выберите свой город
                </div-->
                <ul class="city-switch__list">
                    {% for siteVersion in version.all %}
                        <li class="js-switch-city-handler first-step" data-id="{{ siteVersion.id }}" data-notification="#redirect-notification">
                            <input id="city-switch-{{ siteVersion.id }}"
                                   name="city" class="form__radio-input "
                                   type="radio" {{ siteVersion == version.siteVersion ? 'checked' : ''}}>
                            <label for="city-switch-{{ siteVersion.id }}" class="form__radio-input-label">{{ siteVersion.name }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <header class="header js-header">
        <div class="header__line1 js-header__line1">
            <div class="innertube">
                <a href="/" class="header__logo">
                    <img src="/img/svg/logo.svg" alt="">
                </a>

                <nav class="header__nav">
                    <a class="header__nav-el" href="/education/">Обучение</a>
                    <a class="header__nav-el" href="https://franchise.stommarket.ru/" target="_blank">Франшиза</a>
                    <a class="header__nav-el" href="/reviews/">Отзывы</a>
                    <a class="header__nav-el" href="/about/">О компании</a>
                    <a class="header__nav-el" href="/catalog/">Каталог</a>
                    <a class="header__nav-el" href="/price/">Прайс-лист</a>
                    <a class="header__nav-el" href="https://stommarket.ru/blog/" target="_blank">Блог</a>
                    <a class="header__nav-el" href="/help/delivery/">Доставка</a>
                    <a class="header__nav-el" href="/contacts/">Контакты</a>
                </nav>

                <div class="header__contact contact">
                    <div class="contact__b">
                        <div class="contact__title dotted contact__city js__header-contact  js-city-switch-open arr-d-after arr-d-after--nopadding arr-d-after--large">{{ version.city }}</div>
                        <div class="contact__num   js__header-contact js-city-switch-open contact__phone-line">{{ version.phone }}</div>
                    </div>
                    {#
                    <div class="contact__b">
                        <div class="contact__title">{{ version.city }}</div>
                        <div class="contact__num dotted arr-d-after arr-d-after--nopadding arr-d-after--large js__header-contact js-city-switch-open-step2 contact__phone-line">{{ version.phone }}
                        </div>
                    </div>
                    #}
                    {% if version.id in [1,2] %}
                        <div class="contact__b">
                            <div class="contact__title">Бесплатно по России</div>
                            <a href="tel:88007008343" class="contact__num">8 800 700-83-43</a>
                        </div>
                    {% else %}
                        <div class="contact__b">
                            <a href="#add__feedback" class="btn btn--compact js-open-popup">Обратная связь</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="header__line2 js-header__line2">
            <div class="innertube">
                {% if redis.get('menu') is not null %}
                    {{ redis.get('menu')|raw }}
                {% else %}
                    {{ include('layouts/_menu.html.twig', {lvl : 1} )}}
                {% endif %}
                {{ include('layouts/_search.html.twig') }}
                <div class="header__icon-menu icon-menu icon-menu--offset js__header-submenu">
                    <a href="#" onclick="return false;" class="icon-menu__link icon-menu__hamburger icon-menu__link--white-hover">
                        <span class="icon-hamburger js__icon-hamburger">
                            <span class="icon-hamburger__line"></span>
                            <span class="icon-hamburger__line"></span>
                            <span class="icon-hamburger__line"></span>
                        </span>
                    </a>
                    <nav class="icon-menu__content-submenu content-submenu">
                        <a href="/catalog/" class="content-submenu__el">Каталог</a>
                        <a href="https://franchise.stommarket.ru/" class="content-submenu__el" target="_blank">Франшиза</a>
                        <a href="/price/" class="content-submenu__el">Прайс-лист</a>
                        <a href="/reviews/" class="content-submenu__el">Отзывы</a>
                        <a href="/help/delivery/" class="content-submenu__el">Доставка</a>
                        <a href="https://stommarket.ru/blog/" class="content-submenu__el" target="_blank">Блог</a>
                        <a href="/about/" class="content-submenu__el">О компании</a>
                        <a href="/contacts/" class="content-submenu__el">Контакты</a>
                        <div class="content-submenu__social">
                            <a href="{{ version.vk }}" class="content-submenu__soc-icon icon-vk" target="_blank"></a>
                            <a href="{{ version.fb }}" class="content-submenu__soc-icon icon-fb" target="_blank"></a>
                        </div>
                    </nav>
                </div>
                <div class="header__icon-menu icon-menu">
                <a href="/cart/" class="icon-menu__link icon-basket js-basket-menu">

                    <span class="icon-menu__count js-basket-menu__count active">
                        {{ basket.count(app.request.cookies.get('cart',NULL)) }}
                    </span>

                </a>
                {% if not app.user %}
                    <div href="javascript:void(0)" class="icon-menu__link icon-logout js-login-open"></div>
                    <div class="login js-login-block">
                    <div class="login__block js-slide-block active" data-slide-name="login-menu">
                        <a href="#login-login" class="js-slide-link login__btn">Войти на сайт</a>
                        <a href="#login-registration" class="js-slide-link login__btn">Регистрация</a>
                    </div>
                    {#LOGIN FORM#}
                    <div class="login__block js-slide-block " data-slide-name="login-login">
                        <form action="/ajax-login/" class="js-form js-login-form" data-error-msg="Произошла ошибка" id="login-form">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token('authenticate') }}"/>
                            <div class="form__b form__text-input-b">
                                <input type="email" class="form__text-input js-input js-required " name="username" id="login_email">
                                <label class="form__text-input-label" for="login">E-mail</label>
                            </div>
                            <div class="form__b form__text-input-b">
                                <input type="password" class="form__text-input js-input js-required" name="password" id="login_pass">
                                <label class="form__text-input-label" for="login">Пароль</label>
                            </div>
                            <div class="login__forgotten-pass">
                                <a href="/forget-password/">Забыли пароль?</a>
                            </div>
                            <button type="submit" class="login__btn">Войти</button>
                        </form>
                        <a href="#login-menu" class="login__back-link js-slide-link">Назад</a>
                    </div>
                    {#END OF LOGIN FORM#}

                    {#REGISTRATION FORM#}
                    <div class="login__block js-slide-block " data-slide-name="login-registration">
                        <form action="/registration/" class="js-form" data-error-msg="Произошла ошибка">
                            <div class="form__b form__text-input-b">
                                <input type="email" class="form__text-input js-input js-required" name="email" id="reg_email">
                                <label class="form__text-input-label" for="email">E-mail</label>
                            </div>

                            <div class="form__b form__text-input-b">
                                <input type="password" class="form__text-input js-input js-required js-double-pass" name="password" id="reg_pass">
                                <label class="form__text-input-label" for="password">Пароль</label>
                            </div>

                            <div class="form__b form__text-input-b">
                                <input type="password" class="form__text-input js-input js-required js-double-pass" name="confirm_password" id="reg_pass_check">
                                <label class="form__text-input-label" for="password_repeat">Повторите пароль</label>
                            </div>

                            <button type="submit" class="login__btn">Отправить</button>
                            <div class="form__success js-form__success">
                                <div class="content">
                                    <p class="h3">Регистрация</p>
                                    <p>Вы успешно зарегистрированы. Проверьте Вашу почту.</p>
                                </div>
                            </div>
                        </form>
                        <a href="#login-menu" class="login__back-link js-slide-link">Назад</a>
                    </div>
                    {#END OF REGISTRATION FORM#}
                </div>
                {% elseif  app.user %}
                    <a href="/personal/"><div href="" class="icon-menu__link icon-cabinet"></div></a>
                {% endif %}
            </div>
        </div>
        </div>
    </header>
<!-- END HEADER -->
