{% set l0 = menu.findBy({lvl : lvl, active : 1}) %}
<div class="header__catalog h-catalog">
    <div class="h-catalog__title js-h-catalog__title ">
        <span class="h-catalog__title-text arr-d-after">Каталог товаров</span>
        <nav class="h-catalog__list js-custom-scroll">
            <div class="h-catalog__list-wrapper h-catalog__list-wrapper--l{{ lvl }} js-h-catalog__list-wrapper" data-level="{{ lvl }}">
                <ul class="h-catalog__scroll js-scroll" data-simplebar="init">
                    <div class="simplebar-scroll-content">
                        <div class="simplebar-content">
                            <li class="h-catalog__el h-catalog__el--link js-h-catalog__el ">
                                <a href="/catalog/brands/">Производители</a>
                            </li>
                            {% for item in l0 %}
                                {% if item.children|length > 0 %}
                                    <li class="h-catalog__el js-h-catalog__el " data-menu-target="{{ item.id }}">
                                        <a href="/catalog/{{ item.urlPath }}">{{ item.name }}</a>
                                    </li>
                                {% else %}
                                    <li class="h-catalog__el h-catalog__el--link js-h-catalog__el ">
                                        <a href="/catalog/{{ item.urlPath }}">{{ item.name }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </ul>
            </div>
            {% for node in l0 %}
                {{ include('layouts/_menu_inner.html.twig',{lvl : lvl + 1, node: node}) }}
            {% endfor %}
        </nav>
    </div>
</div>
