    {% set subMenu = menu.findBy({active:1, parentId: node.id}) %}
    <div class="h-catalog__list-wrapper h-catalog__list-wrapper--l{{ lvl}} js-h-catalog__list-wrapper" data-level="{{ lvl }}" data-menu-block="{{ node.id }}">
        <ul class="h-catalog__scroll js-scroll" data-simplebar="init">
            <div class="simplebar-scroll-content">
                <div class="simplebar-content">
                    {% for item in subMenu %}
                        {% if item.children|length > 0 %}
                            <li class="h-catalog__el js-h-catalog__el " data-menu-target="{{ item.id }}">
                                <a href="/catalog/{{ item.urlPath }}">{{ item.name }}</a>
                            </li>
                        {% else %}
                            <li class="h-catalog__el h-catalog__el--link js-h-catalog__el ">
                                <a href="/catalog/{{ item.urlPath }}">{{ item.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </ul>
    </div>
    {% for item in subMenu %}
        {% if item.children|length > 0 %}
            {{ include('layouts/_menu_inner.html.twig',{lvl : lvl+ 1, node: item}) }}
        {% endif %}
    {% endfor %}
