{#
{% verbatim %}
<form action="/catalog/search/" type="get" class="header__search h-search js-h-search" id="search">
    <input
            type="text"
            name="query"
            class="h-search__input js-h-search__input"
            placeholder="Начните поиск здесь"
            autocomplete="off"
            v-model="query"
            @focus="init(true)"
            @blur="init(false)"
    >
    <div class="h-search__btn js-h-search__btn" value=""></div>
    <div class="h-search__dub-btn js-h-search__dub-btn" v-if="showBtn" style="display: block;"><span>Найти</span></div>
    <div class="h-search__results js-h-search__results" v-if="query" style="display: block;">
        <div class="h-search__results-scroll">

            <!--Brands-->
            <div class="h-search__results-b js-h-search__results-b js__block-switch   js__results-brands">
                <a v-for="brand in brands" :href="'/catalog/'+brand.url" class="h-search__item-link h-search__item-switch js__item-switch">
                    {{brand.name}}
                </a>
            </div>

            <!--Catalogs-->
            <div class="h-search__results-b js-h-search__results-b js__block-switch  js__results-catalog">
                <a v-for="catalog in catalogs" :href="'/catalog/' + catalog.urlPath" class="h-search__item-link h-search__item-switch js__item-switch">
                    {{catalog.name}}
                </a>
            </div>

            <!--Tags-->
            <div class="h-search__results-b js-h-search__results-b  h-search__results-b--tags js__results-tags">
                <a v-for="tag in tags" href="/catalog/treyneryi/trejner-zhestkij/" class="tag tag--small">#{{tag.name}}</a>
            </div>

            <!--Products-->
            <div class="h-search__results-products js-h-search__results-b js__block-switch js__results-products">
                <a v-for="product in products" :href="'/catalog/'+ product.url" class="h-search__item h-search__item-switch js__item-switch js-ga-impression js-ga-proceed js-ga-search-item js-ga-product-card impression-active" style="">
                    <div class="h-search__item-img">
                        <img :src="product.image" alt="">
                    </div>
                    <div class="h-search__item-name">{{product.name}}</div>
                    <div class="h-search__item-info">
                        <span class="h-search__item-price">{{product.price}} ₽ </span>
                        <span class="h-search__item-availability h-search__item-availability--available" v-if="product.count>0">В наличие</span>
                        <span class="h-search__item-availability h-search__item-availability--not-available" v-if="product.count<1">Нет в наличии</span>
                    </div>
                    <span href="#" class="h-search__cart card__btn icon-basket js-cart-add js-ga-add-to-cart" data-id="product.id" data-count="1" onclick=""></span>
                </a>
            </div>
        </div>
    </div>
</form>
{% endverbatim %}
#}
<form action="/search/" type="get" class="header__search h-search js-h-search">
    <input name="query" class="h-search__input js-h-search__input" placeholder="Начните поиск здесь" autocomplete="off" type="text">
    <div class="h-search__btn js-h-search__btn" value=""></div>
    <div class="h-search__dub-btn js-h-search__dub-btn"><span>Найти</span></div>
    <div class="h-search__results js-h-search__results" style="display: none;">
        <div class="h-search__results-scroll">
            <div class="h-search__results-b js-h-search__results-b js__block-switch   js__results-brands"></div>
            <div class="h-search__results-b js-h-search__results-b js__block-switch  js__results-catalog"></div>
            <div class="h-search__results-b js-h-search__results-b  h-search__results-b--tags js__results-tags"></div>
            <div class="h-search__results-products js-h-search__results-b js__block-switch js__results-products"></div>
        </div>
    </div>
</form>