<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">


    <title>Stommarket admin</title>

    <link href="/dashboard/css/main.css" rel="stylesheet">
    <link href="/img/apple-touch-icon.png" rel="icon"  type="image/png">

    {% block css %}
    {% endblock %}
</head>

<body>

<div id="wrapper">

    {{ include('admin/_navbar.html.twig') }}

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>

                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <form role="search" class="city-select-form js-city-select-form" method="POST" action="{{ path('set_version') }}">
                                <div class="form-group">
                                    <select class="form-control m-b" name="store">
                                        {% for siteVersion in version.all %}
                                            <option value="{{ siteVersion.id }}" {{ siteVersion == version.siteVersion ? 'selected' : ''}}>{{ siteVersion.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        {% endif %}
                    </li>
                    <li>
                        <a href="/logout/">
                            <i class="fa fa-sign-out"></i> Выход
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            {% for label, messages in app.flashes(['warning', 'error', 'success']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block content %}
            {% endblock %}
        </div>
        <div class="footer">
            <div class="pull-right">
                <strong>Админ панель</strong>
            </div>
            <div>
                <strong>Copyright</strong> Stommarket.ru &copy; 2018
            </div>
        </div>

    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="custom-sms">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{{ path('admin_dashboard_send_sms') }}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Отправить SMS клиенту</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="sms-phone">Номер телефона</label>
                    <input type="text" value="" name="phone" id="sms-phone" class="form-control js-phone">
                    <label for="sms-text">Текст смс</label>
                    <textarea name="text" id="sms-text" class="form-control" rows="10">Здравствуйте. Курьер не дозвонился до Вас при доставке заказа ####### .Пожалуйста свяжитесь с менеджером по тел.8 812 426-19-39 </textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/dashboard/js/vendor/jquery-3.1.1.min.js"></script>
<script src="/dashboard/js/main.js"></script>
<script src="/dashboard/ckfinder/samples/js/sf.js"></script>
<script src="/dashboard/ckfinder/samples/js/tree-a.js"></script>
<script src="/dashboard/ckfinder/ckfinder.js"></script>
<script>
    var $ckfinderModal = $('.js-ckfinder-modal');
    $ckfinderModal.click(function (e) {
        e.preventDefault();
        $ckfinderInput = $(this).closest('.js-ckfinder-block').find('.js-ckfinder-input');
        selectFileWithCKFinder($ckfinderInput);
    });

    function selectFileWithCKFinder( input ) {
        CKFinder.modal( {
            chooseFiles: true,
            language: 'ru',
            width: 800,
            height: 600,
            onInit: function( finder ) {
                finder.on( 'files:choose', function( evt ) {
                    var file = evt.data.files.first();
                    input.val(file.getUrl());
                } );

                finder.on( 'file:choose:resizedImage', function( evt ) {
                    input.val(evt.data.resizedUrl);
                } );
            }
        } );
    }
</script>
<script src="//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js" type="text/javascript"></script>

{% block js %}
{% endblock %}

</body>

</html>
