<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="{{(is_mobile() or is_tablet()) ? asset('/mobile/css/main.css') : asset('/css/main.css') }}?{{ date().timestamp }}">
        <script type="text/javascript">
            window.dataLayer = window.dataLayer || [];
        </script>

        {% block meta %}
            {% if meta is defined %}
                <title>{{ meta.metaTitle(version.siteVersion) }}{% if app.request.query.get('page', 0) > 0 %} - страница {{ app.request.query.get('page') }}{% endif %}</title>
                <meta property="keywords" content="{{ meta.metaKeywords(version.siteVersion) }}">
                <meta property="description" content="{{ meta.metaDescription(version.siteVersion) }}">
            {% endif %}
        {% endblock %}
        <link href="/img/favicon.ico" rel="icon" sizes="16x16" type="image/png">
        <meta name="theme-color" content="#ffffff">
        <meta name="version" class="js-version" content="{{ version.id }}">
        <meta name="user" class="js-user-email" content="{{ app.user ? app.user.email : '' }}">
        <base href="/">
        {{ version.siteVersion.head|raw }}
        <link rel="canonical" href="{{ version.canonical }}">
        {% if not is_mobile() or is_tablet() %}
            <link rel="alternate" href="{{ version.alternate}}">
        {% endif %}
    </head>

    <body itemscope itemtype="http://schema.org/WebPage" class="body" id="app">
        {% block header %}
            {% if is_mobile() or is_tablet() %}
                {{ include('layouts/_header-mobile.html.twig') }}
            {% else %}
                {{ include('layouts/_header.html.twig') }}
            {% endif %}
        {% endblock %}

        <main class="main">

            {% block content %}
            {% endblock %}
        </main>

        {% block footer %}
            {% if is_mobile() or is_tablet() %}
                {{ include('layouts/_footer-mobile.html.twig') }}
            {% else %}
                {{ include('layouts/_footer.html.twig') }}
            {% endif %}
        {% endblock %}
        <div class="popups">
            <div id="add__feedback"  class="js-popup popup-block mfp-hide js-feedback-form">
                <form action="/contacts/feedback/" novalidate class="js-form" data-error-msg="Произошла ошибка">
                    <div class="form__title">Обратная связь</div>
                    <p class="form__sub-title"></p>
                    <div class="form__group">
                        <div class="form__b form__text-input-b">
                            <input type="text" class="form__text-input js-input js-required" name="name" id="feedback_name">
                            <label class="form__text-input-label" for="feedback_name">Как вас зовут?</label>
                            <!--<span class="form__input-error">Обязательное поле</span>-->
                        </div>
                        <div class="form__b form__text-input-b">
                            <input  type="num" placeholder="+7 (___) ___-__-__" class="form__text-input js-input js-required  js-phone" name="phone" id="rec_phone">
                            <label class="form__text-input-label" for="rec_phone">Телефон</label>
                            <!--<span class="form__input-error">Обязательное поле</span>-->
                        </div>
                        <div class="form__b form__text-input-b">
                            <input type="email" class="form__text-input js-input js-required js-validate" name="email" id="rec_email">
                            <label class="form__text-input-label" for="rec_email">Почта</label>
                            <!--<span class="form__input-error">Обязательное поле</span>-->
                        </div>
                        <div class="form__b form__text-input-b">
                            <textarea class="form__text-input form__text-input--textarea js-input js-required" name="question" id="feedback_text"></textarea>
                            <label class="form__text-input-label" for="feedback_text">Сообщение</label>
                            <!--<span class="form__input-error">Обязательное поле</span>-->
                        </div>
                    </div>
                    <div class="form__group">
                        <div class="form__checkbox-input-b">
                            <input type="checkbox" class="form__checkbox-input js-input js-required" name="agreement" value="1" id="feedback-agreement">
                            <label class="form__checkbox-input-label form__checkbox-input-label--top form__checkbox-input-label--small" for="feedback-agreement">
                                Я согласен на обработку <a href="/help/politika-konfidencialnosti/" target="_blank" class="text__link">персональных данных</a>.
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn--dark btn--full-w">Отправить</button>
                    <div class="form__success js-form__success">
                        <div class="content">
                            <p class="h2">Спасибо! Наши специалисты свяжутся с вами в билжайшее время.</p>
                        </div>
                    </div>
                </form>
            </div>
            <div id="redirect-notification" class="js-popup js-cart-popup popup-block mfp-hide" >
                <div class="popup-block__title">Товар пропадёт</div>
                Из-за того, что в филиалах разные склады, при переходе
                на другой город ваши товары пропадут из корзины.<br><br>
                Можно оформить несколько заказов в разных городах.

                <a href="/cart/" type="submit" class="btn btn--dark">Оформить заказ</a><br><br>
                или <a href="" class="final js-switch-city-handler link link--blue">перейти в другой город</a>
            </div>
        {% block popups %}
        {% endblock %}
    </div>
        {{ version.siteVersion.footer|raw }}
        {% block javascripts %}
            <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
            <script src="{{(is_mobile() or is_tablet()) ? asset('/mobile/js/main.js') : asset('/js/main.js') }}?{{ date().timestamp }}"></script>
        {% endblock %}

    </body>

</html>
