{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="block">
        <div class="innertube">
            <div class="prices">
                {{ include('layouts/_breadcrumbs.html.twig') }}
                <h1 class="title">Прайс-лист</h1>
                <div class="block__cols">
                    <div class="block__col block__col--7">
                        {% for catalog in catalogs %}
                            <div class="prices__b">
                                {% if catalog.getActiveChildren()|length %}
                                    <div class="prices__title js-toggle-link">
                                        {{ catalog.name }}
                                        <a href="/price/get/{{ catalog.id }}" class="prices__download-link js-toggle-exception"></a>
                                    </div>
                                    <div class="prices__body js-toggle-body">
                                        {% for child in catalog.children %}
                                            <a class="prices__link" href="/price/get/{{ child.id }}/">{{ child.name }}</a>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="prices__b">
                                        <a href="/price/get/{{ catalog.id }}/" class="prices__title prices__title--link">{{ catalog.name }}</a>
                                        <a href="/price/get/{{ catalog.id }}" class="prices__download-link js-toggle-exception"></a>
                                    </div>
                                {% endif %}

                            </div>
                        {% endfor %}

                    </div>
                    <div class="block__col block__col--5 block__col--white">
                        <div class="prices__descr">
                            Все файлы скачиваются
                            в&nbsp;формате excel и&nbsp;весят
                            до&nbsp;1&nbsp;мб
                        </div>
                        <div class="prices__download-all">
                            <a href="/price/get/0/" class="btn btn--dark btn--full-w prices__btn">Скачать весь каталог</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}