User-Agent: Yandex
Disallow: /*print
Disallow: /*oid
Disallow: /*search
Disallow: /*dublicates.txt
Disallow: /*?sort=
Disallow: *?*
Disallow: /*baner1/
Disallow: /*sklad-moskvyi/
Allow: *?*page=*
Disallow: *?*page=*&*
Disallow: /*?page=1
Disallow: /catalog/brands/*/*
Disallow: /cart/exel/
Disallow: /price/get/*
Allow: /catalog/brands/*/$


User-Agent: *
Disallow: /*print
Disallow: /*oid
Disallow: /*search
Disallow: /*feedback
Disallow: /*dublicates.txt
Disallow: /*sklad-moskvyi/
Disallow: /personal/*
Disallow: /*baner1/
Disallow: /*?page=1
Disallow: *?*
Allow: *?*page=*
Disallow: *?*page=*&*
Disallow: /catalog/brands/*/*
Allow: /catalog/brands/*/$
Disallow: /*?sort=
Host: {{ url}}
Sitemap: {{ url}}/sitemap.xml/
