.reviews-list {

}

.reviews-list .review {
    font-size: 14px;
    position: relative;
    border-bottom: 1px solid #cbcbcb;
    max-width: 850px;
    margin: 0 auto;
    padding: 15px 10px;
}

.reviews-list .review:nth-child(2n) {
    background: #fcfefc;
}

.reviews-list .review:first-child {
    border-top: 1px solid #cbcbcb;
}

.reviews-list .pic {
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.reviews-list .header,
.reviews-list .text {
    margin-left: 70px;
}

.reviews-list .header {
    margin-top: 2px;
    margin-bottom: 6px;
}

.reviews-list .stars {
    margin-right: 16px;
}

.reviews-list .stars i {
    color: #c4c4c4;
}

.reviews-list .stars i.active {
    color: #ffae00;
}

.reviews-list .name {
    margin-right: 16px;
}

.reviews-list .date {
    color: #999999;
    float: right;
}

.reviews-list .evaluation {
    color: #999999;
}

.reviews-list .text {
    color: #5c5c5c;
}

@media screen and (max-width: 650px) {
    .reviews-list .evaluation {
        display: none;
    }

    .reviews-list .date {
         display: none;
    }
}