{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Редактирование ({{ siteVersion.name }})</h5>
            </div>
            <div class="ibox-content">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script>
        var editors = $('textarea');
        $.each( editors, function( key, value ) {
            CodeMirror.fromTextArea(value, {
                lineNumbers: true,
                matchBrackets: true,
                styleActiveLine: true,
                theme:"ambiance"
            });
        });


    </script>
{% endblock %}