{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Заказы </h5>
            </div>
            <div class="ibox-content">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Город</th>
                        <th>Телефон</th>
                        <th>Email</th>
                        <th>Цены</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for siteVersion in siteVersions %}
                        <tr>
                            <td>{{ siteVersion.id }}</td>
                            <td>{{ siteVersion.name }}</td>
                            <td>{{ siteVersion.phone }}</td>
                            <td>{{ siteVersion.email }}</td>
                            <td>{{ siteVersion.isOptPrice ? 'Оптовые' : 'Розничные' }}</td>
                            <td>
                                <div class="actions">
                                    <a href="{{ path('admin_site_version_edit', {id: siteVersion.id}) }}"
                                       class="btn-primary btn btn-sm">Редактировать
                                    </a>
                                    <!--a class="btn-danger btn btn-sm delete-btn js-delete-btn" href="{{ path('admin_site_version_delete',{id:siteVersion.id}) }}">
                                        Удалить
                                    </a-->
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if siteVersions.haveToPaginate %}
                    <div class="navigation text-center">
                        {{ pagerfanta(siteVersions, 'twitter_bootstrap3_translated', {routeName: 'admin_siteVersion_index','routeParams': app.request.query.all,}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

