{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Зарегистрированные пользователи </h5>
            </div>
            <div class="ibox-content">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Дата создания</th>
                        <th>Оценка</th>
                        <th>Активный</th>
                        <th>Имя</th>
                        <th>Товар</th>
                        <th>Текст отзыва</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for productReview in productReviews %}
                        <tr>
                            <td>{{ productReview.timeCreate|date("d.m.yг. H:i")}}</td>
                            <td>{{ productReview.rating }}</td>
                            <td>{{ productReview.status ? '<i class="fa fa-check text-navy"></i>' :'<i class="fa fa-close"></i>' }}</td>
                            <td>{{ productReview.name }}</td>
                            <td width="20%">{{ productReview.product.name }}</td>
                            <td style="width: 40%">{{ productReview.review }}</td>
                            <td>
                                <div class="actions">
                                    <a href="{{ path('admin_product_review_edit', {id: productReview.id}) }}"
                                       class="btn-primary btn btn-sm">Редактировать
                                    </a>
                                    <a class="btn-danger btn btn-sm delete-btn js-delete-btn" href="{{ path('admin_product_review_delete',{id:productReview.id}) }}">
                                        Удалить
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if productReviews.haveToPaginate %}
                    <div class="navigation text-center">
                        {{ pagerfanta(productReviews, 'twitter_bootstrap3_translated', {routeName: 'admin_product_review_index','routeParams': app.request.query.all,}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

