<div class="catalog__footer js-education-catalog__footer t-center">
    {% if educations.haveToPaginate %}
        {% if (is_mobile() or is_tablet()) == false %}
            <div class="catalog__pagination">
                {{ pagerfanta( educations, 'default', {
                    routeName : 'education_index',
                    prev_message : '<< ',
                    next_message : ' >>',
                    css_dots_class: 'js-education-filter-page catalog__page',
                    css_current_class : 'js-education-filter-page catalog__page active',
                    page_template : '<a class="js-education-filter-page catalog__page" href="?page=%text%"%rel% data-page="%text%">%text%</a>',
                })}}
            </div>
        {% endif %}
        {% if educations.hasNextPage() %}
            <div class="catalog__add-more-b">
                <a href="#" class="catalog__add-more btn js-education-filter-add" data-next="{{ educations.nextPage }}">Показать еще</a>
            </div>
        {% endif %}
    {% endif %}
</div>