<section class="block education-catalog-banner">
    <div class="innertube">
        <div class="education-catalog-banner__content">
            <div class="education-catalog-banner__text-b">
                <div class="education-catalog-banner__subtitle">Лекция на тему:</div>
                <div class="education-catalog-banner__title">Первая помощь, тактика лечения и реабилитация</div>
                <div class="education-catalog-banner__button-b">
                    <a class="education-catalog-banner__subscribe-link" href="#">Записаться на лекцию</a>
                </div>
            </div>
            <div class="education-catalog-banner__image-b">
                <img src="/img/education/asian-bitch.png" alt="">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>


