<figure class="education-card">
    <div class="label vebinar label--{{ education.educationType.id }}">{{ education.educationType.name }}</div>
    <a href="/education/view/{{ education.id }}/" class="education-card__img-b">
        <img class="education-card__img" src="{{ education.photo }}" alt="">
        <div class="education-card__hover">
            <span class="details">Подробнее</span>
        </div>
    </a>
    <figcaption class="education-card__text-b">
        <div class="education-card__event-b">
            <span class="education-card__date"><span class="icon-calendar"></span>{{ education.dateStart|date('d.m')  }}</span>
            <span class="education-card__time"><span class="icon-time"></span>{{ education.time }}</span>
        </div>
        <a href="/education/view/{{ education.id }}/" class="education-card__title">
            {{ education.name }}
        </a>
        {% set authors = education.lectorFio|split(';') %}
        <div class="education-card__author">
            {% if authors|length > 1 %}
                Несколько лекторов
            {% else %}
                {{ education.lectorFio|length > 25 ? education.lectorFio|slice(0, 25) ~ '...' : education.lectorFio  }}
            {% endif %}
        </div>
    </figcaption>
</figure>