<section class="block education-index-banner">
    <div class="innertube">
        <div class="education-index-banner__content">
            <div class="education-index-banner__text">
                Сервис обучения врачей-стоматологов
            </div>
            <div class="education-index-banner__links">
                <a href="#">Вебинары</a>
                <a href="#">Семинары</a>
                <a href="#">Статьи</a>
            </div>
        </div>
    </div>
</section>


