    {% if is_mobile() or is_tablet() %}
        {% set view = 'education/_education.html.twig' %}
    {% else %}
        {% set view = 'education/_education.html.twig' %}
    {% endif %}

    {% for education in educations %}
        {{ include(view, {education: education}) }}
    {% else %}
        <div class="catalog__cards catalog__empty-list">
            <div class="catalog__empty-title">Ничего не найдено</div>
        </div>
    {% endfor %}
<div class="clearfix"></div>
{{ include('education/_catalog_footer.html.twig') }}