{% extends 'layouts/base.html.twig' %}


{% block content %}
    <section class="block block--main-slider " style="background: url(/img/oleksik-bg.jpg) center center no-repeat; background-size: cover;">
        <div class="innertube">
            <div class="slider-main" style="opacity: 1">
                <div class="slider-main__slide">
                    <div class="slider-main__wrap">
                        <div class="slider-main__text-col">
                            <div class="slider-main__title"></div>
                            <div class="slider-main__sub-title">
                                <div style="opacity: 0.5; color: #ffffff; font-size: 16px; font-weight: 700; line-height: 49px; text-transform: uppercase;">
                                    Стоммаркет приглашает на лекцию
                                </div>
                                <div style="color: #ffffff; font-family: Circe; font-size: 42px; font-weight: 700; line-height: 35px;">
                                    Подробный ортопедический протокол
                                </div>
                                <div style="color: #ffffff; font-size: 31px; font-weight: 700; line-height: 49px; margin: 15px 0; font-family: Circe-Extra-Bold;">
                                    Артем Олексик
                                </div>
                                <div style="color: #ffffff; font-size: 16px; font-weight: 400; line-height: 22px;">
                                    Врач стоматолог-ортопед, г. Москва. Ведущий специалист по эстетической реставрации и керамическим винирам
                                </div>
                                <div style=" font-family: Circe-Extra-Bold; font-size: 20px; font-weight: 700; margin-top: 19px;">
                                    <img src="/img/oleksik_calendar.png" style="margin-right:15px;display:inline"><span style="margin-right:25px;">12-13 октября</span> <img src="/img/oleksik_map.png" style="margin-right:15px;display:inline"><span>Санкт-Петербург, отель Гамма</span>
                                </div>
                            </div><a class="slider-main__btn" href="https://stommarket.ru/education/view/572/" onclick="" style="box-shadow: 0 0 18px rgba(250, 210, 46, 0.25); background-color: #ffd429;" tabindex="0" target="_blank">Записаться</a>
                        </div>
                        <div class="slider-main__img-col"><img alt="" class="img-responsive" src="/uploads/ckfinder/images/oleksik.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{#{{ include('education/_catalog_banner.html.twig') }}#}
    <div class="block education-catalog js-education-catalog">
        <div class="innertube">
            <h1 class="title" id="education">Cервис обучения врачей-стоматологов</h1>
            {% if app.request.query.get('query') %}
                <h2 class="title">Поиск "{{ app.request.query.get('query') }}"</h2>
            {% endif %}
            <div class="tags catalog__tags tags--blue">
                {% for direction in directions %}
                    <a href="#" id="education-direction-tag-{{ direction.id }}" class="tag js-tag tag--manyline" data-id="{{ direction.id }}">#{{ direction.name }}</a>
                {% endfor %}
            </div>
            <div class="catalog__row js-education-catalog__body">
                <form class="catalog__filter filter js-education-filter" style="">
                    {% if app.request.query.get('query') %}
                        <input type="hidden" value="{{ app.request.query.get('query') }}" name="query">
                    {% endif %}
                    <input type="hidden" value="{{ today }}" name="date" class="js-education-date-input">
                    <input type="hidden" value="{{ today }}" name="date" class="js-education-date-input">
                    <div id="education-calendar" class="js-education-filter-calendar" data-education-dates="{{ dates }}"></div>
                    <div class="filter__group filter__group--toggle filter__group--short js-education-filter-toggle open">
                        <div class="filter__title s-filter-title js-education-filter-toggle-handler">
                            Формат обучения
                            <span class="filter__arrow"></span>
                        </div>
                        <div class="filter__content filter__content--hidden js-education-filter-content">
                            {% for type in types %}
                                <div class="filter__pair">
                                    <input class="filter__checkbox" name="types[]" id="id-checkbox-education-type-{{ type.id }}" value="{{ type.id }}" type="checkbox">
                                    <label class="filter__label" for="id-checkbox-education-type-{{ type.id }}">{{ type.name }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="filter__group filter__group--toggle filter__group--short js-education-filter-toggle open">
                        <div class="filter__title s-filter-title js-education-filter-toggle-handler">
                            Направления
                            <span class="filter__arrow"></span>
                        </div>
                        <div class="filter__content filter__content--hidden js-education-filter-content">
                            {% for direction in directions %}
                                <div class="filter__pair">
                                    <input class="filter__checkbox" name="directions[]" id="id-checkbox-education-direction-{{ direction.id }}" value="{{ direction.id }}" type="checkbox">
                                    <label class="filter__label" for="id-checkbox-education-direction-{{ direction.id }}">{{ direction.name }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="filter__group filter__group--toggle filter__group--short js-education-filter-toggle open">
                        <div class="filter__title s-filter-title js-education-filter-toggle-handler">
                            Выбрать город
                            <span class="filter__arrow"></span>
                        </div>
                        <div class="filter__content filter__content--hidden js-education-filter-content">
                            {% for index,city in cities %}
                                <div class="filter__pair">
                                    <input class="filter__checkbox" name="cities[]" id="id-checkbox-education-city-{{ index }}" value="{{ city }}" type="checkbox">
                                    <label class="filter__label" for="id-checkbox-education-city-{{ index }}">{{ city }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="filter__group filter__group--toggle filter__group--short js-education-filter-toggle open">
                        <div class="filter__title s-filter-title js-education-filter-toggle-handler">
                            Бесплатные лекции
                            <span class="filter__arrow"></span>
                        </div>
                        <div class="filter__content filter__content--hidden js-education-filter-content">
                            <input class="filter__checkbox" name="free" id="id-free" value="1" type="checkbox">
                            <label class="filter__label" for="id-free">Бесплатные лекции</label>
                        </div>
                    </div>
                    <div class="filter__group filter__group--short">
                        <div class="filter__title filter__clear js-education-filter-reset">Сбросить фильтры</div>
                    </div>
                </form>
                <div class="catalog__result ">

                    <form action="{{ path('education_index') }}" class="education-catalog__search-form education-search" method="get">
                        <div class="education-search__btn"></div>
                        <input type="text" name="query" class="education-catalog__search-input js-education-catalog__search-input" placeholder="Начните поиск здесь">
                        <div class="education-search__results js-education-search__results"></div>
                    </form>
                    <div class="js-education-catalog__result">
                        {% for education in educations %}
                            {% include('education/_education.html.twig') %}
                        {% endfor %}
                        <div class="clearfix"></div>
                        {{ include('education/_catalog_footer.html.twig') }}
                    </div>

                </div>
            </div>
            <div class="space--50"></div>
        </div>
    </div>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter49316128 = new Ya.Metrika2({
                        id:49316128,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/49316128" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
{% endblock %}
