{% extends 'layouts/base.html.twig' %}


{% block content %}
{#
    <section class="block education-catalog-banner">
        <div class="education-catalog-banner__content">
            <div class="education-catalog-banner__text-b">
                <div class="education-catalog-banner__subtitle"><?=$banner->getPlugin('type')->get('name')?>:</div>
                <div class="education-catalog-banner__title"><?=$banner->get('name')?></div>

            </div>
            <div class="education-catalog-banner__image-b">
                <img src="<?=$banner->get('photo')?>" alt="<?=$banner->get('name')?>">
            </div>
            <div class="clearfix"></div>
            <div class="education-catalog-banner__button-b">
                <a class="education-catalog-banner__subscribe-link" href="/education/view/<?=$banner->get('id')?>">Записаться на лекцию</a>
            </div>

        </div>
    </section>
#}
<div class="block education-catalog js-education-catalog catalog">
    <div class="innertube">
        <h1 class="title">Cервис обучения врачей-стоматологов</h1>
        <!--div class="tags catalog__tags tags--blue">
            <? foreach ($types as $type) { ?>
                <a href="#" id="education-type-tag-<?= $type->get('id')?>" class="tag js-tag" data-id="<?= $type->get('id')?>"><?= $type->get('name')?></a>
            <? } ?>
        </div-->
        <hr>
        <a href="#" class="btn btn--dark catalog__filters-link js-filters-link">Фильтры</a>

        <div class="js-filters-window catalog__filters-window filters-window education-filter-window" style="display:none">
            <p>
                <span class="title">Фильтры</span>
                <a href="#" class="filters-window__close-link js-filters-window-close"><i class="icon-cancel"></i></a>
            </p>
            <form class="catalog__filter filter js-education-filter">
                <a href="#" class="btn btn--dark catalog__filters-link js-submit-filters-link" style="display: none;">Применить</a>
                <input type="hidden" value="{{ date()|date('Y-m-d') }}" name="date" class="js-education-date-input">
                <div id="education-calendar" class="js-education-filter-calendar" data-education-dates='{{ dates }}'></div>
                <div class="filter__group filter__group--toggle filter__group--short js-education-filter-toggle open">
                    <div class="filter__title s-filter-title js-education-filter-toggle-handler">
                        Формат обучения
                        <span class="filter__arrow"></span>
                    </div>
                    <div class="filter__content filter__content--hidden js-education-filter-content">
                        {% for type in types %}
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="types[]" id="id-checkbox-education-type-{{ type.id }}" value="{{ type.id }}" type="checkbox">
                                <label class="filter__label" for="id-checkbox-education-type-{{ type.id }}">{{ type.name }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="filter__group filter__group--toggle filter__group--short js-education-filter-toggle open">
                    <div class="filter__title s-filter-title js-education-filter-toggle-handler">
                        Выбрать город
                        <span class="filter__arrow"></span>
                    </div>
                    <div class="filter__content filter__content--hidden js-education-filter-content">
                        {% for index,city in cities %}
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="cities[]" id="id-checkbox-education-city-{{ index }}" value="{{ city }}" type="checkbox">
                                <label class="filter__label" for="id-checkbox-education-city-{{ index }}">{{ city }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="filter__group filter__group--short">
                    <div class="filter__title filter__clear js-education-filter-reset">Сбросить фильтры</div>
                </div>
            </form>
        </div>
        <div class="catalog__row js-education-catalog__body t-center">
            <div class="catalog__result js-education-catalog__result">
                {% for education in educations %}
                    {% include('education/_education.html.twig') %}
                {% endfor %}
                <div class="clearfix"></div>
                {{ include('education/_catalog_footer.html.twig') }}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="space--50"></div>
    </div>
</div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter49316128 = new Ya.Metrika2({
                    id:49316128,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/49316128" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{% endblock %}

