{% for education in educations %}
    <a class="education-search__result search-result"  href="/education/view/{{ education.id }}/">
        <div class="search-result__photo">
            <img class="" src="{{ education.photo }}" alt="">
        </div>
        <div class="search-result__content">
            <div class="search-result__name">{{ education.name }}</div>
            <div class="search-result__author">{{ education.lectorFio }}</div>
        </div>
        <div class="search-result__event">
            <div class="search-result__datetime">
                <span class="search-result__date">
                    <span class="icon-calendar"></span>
                    {{ education.dateStart|date('d.m') }}
                </span>
                <span class="search-result__time">
                    <span class="icon-time"></span>
                    {{ education.time }}
                </span>
            </div>

            <div class="search-result__price">{{ education.price > 0 ? education.price~'₽' : 'Бесплатно' }}</div>
        </div>
    </a>
{% else %}
{% endfor %}