{% extends 'layouts/base.html.twig' %}


{% block content %}
<section class="block education-single">
    <div class="innertube">
        <nav class="breadcrumbs">
            <div class="wrapper">
                <a href="/" class="breadcrumbs__item">Главная</a>
                <a href="/education/" class="breadcrumbs__item">Обучение</a>
            </div>
        </nav>
        <div class="">
            <div class="education-single__info info">
                <h1 class="title t-center">{{ education.name }}</h1>
                <div class="block__cols ">
                    <div class="block__col block__col--6">
                        <img src="{{ education.photo }}" alt="" class="img-responsive">
                    </div>
                    <div class="block__col block__col--6">
                        <div class="js-info-education-info">
                            <p class="info__item"><span class="label label--{{ education.educationType.id }}">{{ education.educationType.name }}</span></p>
                            <p class="info__item"><strong>Лектор: </strong>{{ education.lectorFio }}</p>
                        </div>
                    </div>
                </div>
                <div class="block__cols">
                    <div class="block__col block__col--6 t-right">
                        <span class="info__item icon-calendar info__item--filled">{{ education.dateStart|date('d.m') }}</span>
                    </div>
                    <div class="block__col block__col--6 t-left">
                        <span class="info__item icon-time info__item--filled">{{ education.time }}</span>
                    </div>
                    <div class="block__col block__col--12">
                        <p class="t-center info__item icon-marker info__item--filled">{{ education.city|length > 0 ? education.city : 'Доступен для всех городов' }}
                            {{ education.address=='' ? '':'('~education.address~')' }}
                        </p>
                    </div>
                </div>
                <div class="block__cols">
                    <div class="block__col block__col--12">
                        {% if(education.oldPrice >0) %}
                            <div class="buy__old-price">
                                {{ education.oldPrice }} ₽
                            </div>
                        {% endif %}
                        {% if(education.price >0) %}
                            {{ education.price }} ₽
                        {% else %}
                            Бесплатно
                        {% endif %}
                    </div>
                </div>
            </div>
            <a href="#join__education" class="btn js-open-popup" type="submit">записаться</a>
            <div class="education-single__program program">
                <h3 class="program__title">
                    Программа мероприятий
                </h3>
                <div class="program__content">
                    {{ education.program|raw }}
                </div>
            </div>
        </div>
        <a href="#join__education" class="btn js-open-popup" type="submit"  onclick="yaCounter49316128.reachGoal('educbuy');">записаться</a>
        <div class="t-center">
            <a href="/education/" class="blue">Назад</a>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="space--50"></div>
</section>

<!-- Форма обратной связи -->
<div id="join__education"  class="js-popup popup-block mfp-hide js-join-education-form">
    <form action="/education/join/" novalidate class="js-form" data-error-msg="Произошла ошибка">
        <div class="form__title">Записаться</div>
        <p class="form__sub-title"></p>
        <div class="form__group">
            <input type="hidden" name="educationId" value="{{ education.id }}">
            <div class="form__b form__text-input-b">
                <input type="text" class="form__text-input js-input js-required" name="name" id="join_education_name">
                <label class="form__text-input-label" for="join_education_name">Как вас зовут? <span>*</span></label>
                <!--<span class="form__input-error">Обязательное поле</span>-->
            </div>
            <div class="form__b form__text-input-b">
                <input  type="num" placeholder="+7 (___) ___-__-__" class="form__text-input js-input js-required  js-phone" name="phone" id="join_education_phone">
                <label class="form__text-input-label" for="rec_phone">Телефон <span>*</span></label>
                <!--<span class="form__input-error">Обязательное поле</span>-->
            </div>
            <div class="form__b form__text-input-b">
                <input type="email" class="form__text-input js-input js-required" name="email" id="join_education_email">
                <label class="form__text-input-label" for="rec_email">Почта <span>*</span></label>
                <!--<span class="form__input-error">Обязательное поле</span>-->
            </div>
            <div class="form__b form__text-input-b">
                <input type="email" class="form__text-input js-input" name="city" id="join_education_city">
                <label class="form__text-input-label" for="join_education_city">Город</label>
                <!--<span class="form__input-error">Обязательное поле</span>-->
            </div>
        </div>
        <div class="form__footer">
            {% if(education.price>0) %}
                <div class="text__24">Всего к оплате:
                    <span class="text__34"><span class="js-order-final-summ">{{ education.price }}</span> ₽</span>
                </div>
            {% else %}
                <div class="text__34">Бесплатно</div>
            {% endif %}
            <div class="form__checkbox-input-b">
                <input class="form__checkbox-input js-input js-required active" name="agreement" value="1" id="order-agreement" type="checkbox">
                <label class="form__checkbox-input-label form__checkbox-input-label--small" for="order-agreement">
                    Я соглашаюсь с пунктами договора <a href="/help/dogovor-publichnoy-ofertyi-postavki/" target="_blank" class="text__link">публичной оферты</a> и обработкой <a href="/help/politika-konfidencialnosti/" target="_blank" class="text__link">персональных данных</a>.
                </label>
            </div>
            <button class="btn btn--dark btn--full-w" type="submit" onclick="">Отправить</button><div class="form__annotation order-form__delivery-anesthesia js-delivery-anesthesia" style="display: none;">* ст. 2 Федерального закона РФ от 09.01.1997 N 5-ФЗ «О предоставлении социальных гарантий героям социалистического труда и полным кавалерам ордена трудовой славы» (в ред. от 02.07.2013) и ст 1.1 Закона РФ от 15.01.1993 N 4301-1 «О статусе Героев Советского Союза, Героев Российской Федерации и полных кавалеров Ордена Славы»</div>
        </div>
        <div class="form__success js-form__success">
            <p class="form__success-title">Поздравляем, вы успешно записались!</p>
            <p>Лектор свяжется с Вами в ближайшее время.</p>
            <div class="space--100"></div>
            <a href="/education/" class="btn btn--dark btn--full-w" type="submit">Посмотреть другие лекции</a>

        </div>
    </form>
</div>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter49316128 = new Ya.Metrika2({
                        id:49316128,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/49316128" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
{% endblock %}