{% extends 'layouts/base.html.twig' %}


{% block content %}
<section class="block education-single">
    <div class="innertube">
        <nav class="breadcrumbs">
            <div class="wrapper">
                <a href="/" class="breadcrumbs__item">Главная</a>
                <a href="/education/" class="breadcrumbs__item">Обучение</a>
            </div>
        </nav>
        <h1 class="title">{{ education.name }}</h1>
        <div class="block__cols">
            <div class="block__col block__col--8">
                <div class="education-single__info info">
                    <p>
                        <span class="js-info-education-info">
                            <span class="info__item  info__item--filled"><span class="label label--{{ education.educationType.id }}">{{ education.educationType.name }}</span></span>
                            <span class="info__item icon-calendar info__item--filled">{{ education.dateStart|date('d.m') }} {{ education.dateEnd >=education.dateStart ? ' - '~education.dateEnd|date('d.m') : '' }}</span>
                            <span class="info__item icon-time info__item--filled">{{ education.time }}</span>
                        </span>
                        <!--span class="info__item info__item--description">(2 ч. + 1ч. ответы на вопросы)</span-->
                    </p>
                    <p>
                        <span class="info__item icon-marker info__item--filled">
                            {{ education.city|length > 0 ? education.city : 'Доступен для всех городов' }}
                            {{ education.address=='' ? '':'('~education.address~')' }}
                        </span>
                    </p>
                </div>
                <div class="education-single__program program">
                    <h3 class="program__title">
                        Программа мероприятий
                    </h3>
                    <div class="program__content">
                        {{ education.program|raw }}
                    </div>
                </div>
            </div>
            <div class="block__col block__col--4 block__col--white js-education-buy">
                <div class="education-single__buy buy">
                    <div class="buy__img">
                        <img src="{{ education.photo }}" alt="">
                    </div>
                    <div class="js-buy-education-info buy__info"></div>
                    <div class="buy__lektor"><strong>Лектор(ы): </strong>{{ education.lectorFio }}</div>
                    {% if education.profession|length>0 %}
                        <div class="buy__lektor">{{ education.profession }}</div>
                    {% endif %}
                    {% if(education.oldPrice >0) %}
                        <div class="buy__old-price">
                            {{ education.oldPrice }} ₽
                        </div>
                    {% endif %}
                    <div class="buy__price">

                        {% if(education.price >0) %}
                            {{ education.price }} ₽
                        {% else %}
                            Бесплатно
                        {% endif %}
                    </div>
                    <div class="buy__buy">
                        <a href="#join__education" class="buy__btn btn btn--dark  js-open-popup" type="submit" onclick="yaCounter49316128.reachGoal('educbuy');">записаться</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="space--50"></div>
    </div>
</section>
{#
<section class="block related-posts">
    <div class="innertube">
        <h2 class="related-posts__title">
            Статьи в блоге по тематике лекции
        </h2>
        <div class="block__cols">
            <div class="block__col block__col--6 related-post">
                <div class="related-post__img-wrapper">
                    <a href="#"><img src="/img/education/related.png" alt="" class="related-post_img"></a>
                </div>
                <div class="related-post__content-wrapper">
                    <div class="related-post__title">
                        Фторирование зубов
                    </div>
                    <div class="related-post__introtext">
                        В современном мире красивая улыбка и здоровые зубы как никогда важны. За зубами необходимо постоянно следить: нужно чистить их и полоскать ротовую полость, регулярно посещать стоматолога, но не всегда этого бывает достаточно.
                    </div>
                    <div class="related-post__link-wrapper">
                        <a href="#">Читать всю статью →</a>
                    </div>
                </div>
            </div>
            <div class="block__col block__col--6 related-post">
                <div class="related-post__img-wrapper">
                    <img src="/img/education/related.png" alt="" class="related-post_img">
                </div>
                <div class="related-post__content-wrapper">
                    <div class="related-post__title">
                        Фторирование зубов
                    </div>
                    <div class="related-post__introtext">
                        В современном мире красивая улыбка и здоровые зубы как никогда важны. За зубами необходимо постоянно следить: нужно чистить их и полоскать ротовую полость, регулярно посещать стоматолога, но не всегда этого бывает достаточно.
                    </div>
                    <div class="related-post__link-wrapper">
                        <a href="#">Читать всю статью →</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="block">
        <div class="innertube">
            <div class="others others--line1" onclick="yaCounter23244307.reachGoal('ALSOORDERED');">
                <h2 class="others__title">Продукты, о которых расскажут на лекции</h2>
                <div class="others__card-b">
                    <figure class="card js-catalog__item js-ga-product-card js-ga-impression impression-active" data-ga-props="{
&quot;id&quot; :&quot;2881&quot;,
&quot;name&quot;:&quot;Аппликаторы №3 - Fine - Жёлтые/Синие - 100 штук (Euronda)&quot;,
&quot;brand&quot;:&quot;Euronda&quot;,
&quot;category&quot;:&quot;Аппликаторы (Микробраши)&quot;,
&quot;price&quot;:&quot;99&quot;
}">

                        <div class="card__article">
                            арт. M6500F
                        </div>




                        <a class="card__img-b js-ga-proceed" href="/catalog/applikatoryi-3-fine-100sht">
                            <img alt="Аппликаторы №3 - Fine - Жёлтые/Синие - 100 штук (Euronda)" class="card__img" src="http://stommarket.ru/files/thumbs/products/s/82524a8d75.jpeg">
                        </a>
                        <figcaption class="card__text-b">
                            <a class="card__name js-card__name js-ga-proceed" data-full-name="Аппликаторы №3 - Fine - Жёлтые/Синие - 100 штук (Euronda)" href="/catalog/applikatoryi-3-fine-100sht">
                                Аппликаторы №3 - Fine - Жёлтые/Синие - 100 штук (Euronda)
                            </a>
                            <div class="card__row card__bottom-row">
                            </div>
                            <div class="card__price">
                                99 ₽
                            </div>
                            <div class="card__btn-b">
                                <span class="card__lbl card__lbl--avail">в наличии</span>

                                <a class="card__btn icon-basket js-cart-add js-ga-add-to-cart" data-count="1" data-id="2881" href="#"></a>
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="card js-catalog__item js-ga-product-card js-ga-impression impression-active" data-ga-props="{
&quot;id&quot; :&quot;2307&quot;,
&quot;name&quot;:&quot;Матрицы контурные металлические секционные - 50 мкм - твёрдые - средние с выступом (ТОР ВМ)&quot;,
&quot;brand&quot;:&quot;ТОР ВМ&quot;,
&quot;category&quot;:&quot;Контурные и перфорированные матрицы&quot;,
&quot;price&quot;:&quot;85&quot;
}">

                        <div class="card__article">
                            арт. 1.0975
                        </div>




                        <a class="card__img-b js-ga-proceed" href="/catalog/matritsyi-konturn-metal-sektsionnyie-5">
                            <img alt="Матрицы контурные металлические секционные - 50 мкм - твёрдые - средние с выступом (ТОР ВМ)" class="card__img" src="http://stommarket.ru/files/thumbs/products/s/89567e77de.jpeg">
                        </a>
                        <figcaption class="card__text-b">
                            <a class="card__name js-card__name js-ga-proceed" data-full-name="Матрицы контурные металлические секционные - 50 мкм - твёрдые - средние с выступом (ТОР ВМ)" href="/catalog/matritsyi-konturn-metal-sektsionnyie-5">
                                Матрицы контурные металлические секционные - 50 мкм - твёрдые - средние с выступом (ТОР ВМ)
                            </a>
                            <div class="card__row card__bottom-row">
                            </div>
                            <div class="card__price">
                                85 ₽
                            </div>
                            <div class="card__btn-b">
                                <span class="card__lbl card__lbl--avail">в наличии</span>

                                <a class="card__btn icon-basket js-cart-add js-ga-add-to-cart" data-count="1" data-id="2307" href="#"></a>
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="card js-catalog__item js-ga-product-card js-ga-impression impression-active" data-ga-props="{
&quot;id&quot; :&quot;2305&quot;,
&quot;name&quot;:&quot;Матрицы контурные металлические секционные - 50 мкм - твёрдые - большие (ТОР ВМ)&quot;,
&quot;brand&quot;:&quot;ТОР ВМ&quot;,
&quot;category&quot;:&quot;Контурные и перфорированные матрицы&quot;,
&quot;price&quot;:&quot;85&quot;
}">

                        <div class="card__article">
                            арт. 1.0973
                        </div>




                        <a class="card__img-b js-ga-proceed" href="/catalog/matritsyi-konturn-metal-sektsionnyie-3">
                            <img alt="Матрицы контурные металлические секционные - 50 мкм - твёрдые - большие (ТОР ВМ)" class="card__img" src="http://stommarket.ru/files/thumbs/products/s/252d39b8cc.jpeg">
                        </a>
                        <figcaption class="card__text-b">
                            <a class="card__name js-card__name js-ga-proceed" data-full-name="Матрицы контурные металлические секционные - 50 мкм - твёрдые - большие (ТОР ВМ)" href="/catalog/matritsyi-konturn-metal-sektsionnyie-3">
                                Матрицы контурные металлические секционные - 50 мкм - твёрдые - большие (ТОР ВМ)
                            </a>
                            <div class="card__row card__bottom-row">
                            </div>
                            <div class="card__price">
                                85 ₽
                            </div>
                            <div class="card__btn-b">
                                <span class="card__lbl card__lbl--avail">в наличии</span>

                                <a class="card__btn icon-basket js-cart-add js-ga-add-to-cart" data-count="1" data-id="2305" href="#"></a>
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="card js-catalog__item js-ga-product-card js-ga-impression impression-active" data-ga-props="{
&quot;id&quot; :&quot;2304&quot;,
&quot;name&quot;:&quot;Матрицы контурные металлические секционные - 50 мкм - твёрдые - малые (ТОР ВМ)&quot;,
&quot;brand&quot;:&quot;ТОР ВМ&quot;,
&quot;category&quot;:&quot;Контурные и перфорированные матрицы&quot;,
&quot;price&quot;:&quot;85&quot;
}">

                        <div class="card__article">
                            арт. 1.0972
                        </div>




                        <a class="card__img-b js-ga-proceed" href="/catalog/matritsyi-konturn-metal-sektsionnyie-2">
                            <img alt="Матрицы контурные металлические секционные - 50 мкм - твёрдые - малые (ТОР ВМ)" class="card__img" src="http://stommarket.ru/files/thumbs/products/s/2817536719.jpeg">
                        </a>
                        <figcaption class="card__text-b">
                            <a class="card__name js-card__name js-ga-proceed" data-full-name="Матрицы контурные металлические секционные - 50 мкм - твёрдые - малые (ТОР ВМ)" href="/catalog/matritsyi-konturn-metal-sektsionnyie-2">
                                Матрицы контурные металлические секционные - 50 мкм - твёрдые - малые (ТОР ВМ)
                            </a>
                            <div class="card__row card__bottom-row">
                            </div>
                            <div class="card__price">
                                85 ₽
                            </div>
                            <div class="card__btn-b">
                                <span class="card__lbl card__lbl--avail">в наличии</span>

                                <a class="card__btn icon-basket js-cart-add js-ga-add-to-cart" data-count="1" data-id="2304" href="#"></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
</section>
#}
<!-- Форма обратной связи -->
<div id="join__education"  class="js-popup popup-block mfp-hide js-join-education-form">
    <form action="/education/join/" novalidate class="js-form" data-error-msg="Произошла ошибка">
        <div class="form__title">Записаться</div>
        <p class="form__sub-title"></p>
        <div class="form__group">
            <input type="hidden" name="educationId" value="{{ education.id }}">
            <div class="form__b form__text-input-b">
                <input type="text" class="form__text-input js-input js-required" name="name" id="join_education_name">
                <label class="form__text-input-label" for="join_education_name">Как вас зовут? <span>*</span></label>
                <!--<span class="form__input-error">Обязательное поле</span>-->
            </div>
            <div class="form__b form__text-input-b">
                <input  type="num" placeholder="+7 (___) ___-__-__" class="form__text-input js-input js-required  js-phone" name="phone" id="join_education_phone">
                <label class="form__text-input-label" for="rec_phone">Телефон <span>*</span></label>
                <!--<span class="form__input-error">Обязательное поле</span>-->
            </div>
            <div class="form__b form__text-input-b">
                <input type="email" class="form__text-input js-input js-required" name="email" id="join_education_email">
                <label class="form__text-input-label" for="rec_email">Почта <span>*</span></label>
                <!--<span class="form__input-error">Обязательное поле</span>-->
            </div>
            <div class="form__b form__text-input-b">
                <input type="email" class="form__text-input js-input" name="city" id="join_education_city">
                <label class="form__text-input-label" for="join_education_city">Город</label>
                <!--<span class="form__input-error">Обязательное поле</span>-->
            </div>
        </div>
        <div class="form__footer">
            {% if(education.price>0) %}
                <div class="text__24">Всего к оплате:
                    <span class="text__34"><span class="js-order-final-summ">{{ education.price }}</span> ₽</span>
                </div>
            {% else %}
                <div class="text__34">Бесплатно</div>
            {% endif %}
            <div class="form__checkbox-input-b">
                <input class="form__checkbox-input js-input" name="subscribe" value="1" id="subscribe" type="checkbox">
                <label class="form__checkbox-input-label form__checkbox-input-label--small" for="subscribe">
                    Я хочу получать анонсы интересных событий.
                </label>
            </div>
            <div class="form__checkbox-input-b">
                <input class="form__checkbox-input js-input js-required active" name="agreement" value="1" id="order-agreement" type="checkbox">
                <label class="form__checkbox-input-label form__checkbox-input-label--small" for="order-agreement">
                    Я соглашаюсь с пунктами договора <a href="/help/dogovor-publichnoy-ofertyi-postavki/" target="_blank" class="text__link">публичной оферты</a> и обработкой <a href="/help/politika-konfidencialnosti/" target="_blank" class="text__link">персональных данных</a>.
                </label>
            </div>
            <button class="btn btn--dark btn--full-w" type="submit" onclick="">Отправить</button><div class="form__annotation order-form__delivery-anesthesia js-delivery-anesthesia" style="display: none;">* ст. 2 Федерального закона РФ от 09.01.1997 N 5-ФЗ «О предоставлении социальных гарантий героям социалистического труда и полным кавалерам ордена трудовой славы» (в ред. от 02.07.2013) и ст 1.1 Закона РФ от 15.01.1993 N 4301-1 «О статусе Героев Советского Союза, Героев Российской Федерации и полных кавалеров Ордена Славы»</div>
        </div>
        <div class="form__success js-form__success">
            <p class="form__success-title">Поздравляем, вы успешно записались!</p>
            <p>Лектор свяжется с Вами в ближайшее время.</p>
            <div class="space--100"></div>
            <a href="/education/" class="btn btn--dark btn--full-w" type="submit">Посмотреть другие лекции</a>

        </div>
    </form>
</div>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter49316128 = new Ya.Metrika2({
                        id:49316128,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/49316128" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
{% endblock %}
