{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="slider index-slider">
        <div class="slider-body js-index-slider">
            {% for slide in slides if slide.mobileImage is not null %}
                <div class="index-slide">
                    {% if slide.url is defined %}
                        <a href="{{ slide.url }}">
                            <img src="{{ slide.mobileImage }}" alt="" class="img-responsive">
                        </a>
                    {% else %}
                        <img src="{{ slide.mobileImage }}" alt="" class="img-responsive">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="products">
        <div class="innertube">
            {% for product in list1 %}
                {{ include('product/_product_mobile.html.twig') }}
            {% endfor %}
        </div>
    </section>

    <section class="promo-card">
        <div class="innertube">
            <img src="./mobile/img/irrigator.png">
            <p>5 ирригаторов с самой низкой ценой</p>
            <div class="promo-card__info tags tags--blue">
                <a href="/catalog/irrigatoryi/do-3000-r/" class="tag tag--small">#До 3000</a>
                <a href="/catalog/irrigatoryi/dlya-1-cheloveka/" class="tag tag--small">#Для 1 человека</a>
                <a href="/catalog/irrigatoryi/dlya-vsei-semyi/" class="tag tag--small">#Для всей семьи</a>
            </div>
        </div>
    </section>

    <section class="products">
        <div class="innertube">
            {% for product in list2 %}
                {{ include('product/_product_mobile.html.twig') }}
            {% endfor %}
        </div>
    </section>

    <section class="billboard">
        <div class="innertube">
            <figure class="card-clr card-clr--blue">
                <div class="card-clr__title">Обзоры <br>и статьи</div>
                <a href="/blog/" target="_blank" class="card-clr__link">Читать блог</a>
                <img class="card-clr__img" src="/mobile/img/vector-doc.png" alt="">
            </figure>
            <figure class="card-clr card-clr--yell">
                <div class="card-clr__title">Франшиза StomMarket</div>
                <a href="https://franchise.stommarket.ru/" class="card-clr__link">Узнать подробности</a>
                <img class="card-clr__img" src="/mobile/img/svg/logo-on-cycle.svg" alt="">
            </figure>
        </div>
    </section>

    <section class="promo-card">
        <div class="innertube">
            <img src="./mobile/img/toothpaste.png">
            <p>Более 30 разных видов зубных щеток и паст</p>
            <div class="promo-card__info tags tags--blue">
                <a href="/catalog/elektricheskie-zubnyie-schetki/smennie-nasadki/" class="tag tag--small">#Сменные насадки</a>
                <a href="/catalog/elektricheskie-zubnyie-schetki/ionnaya/" class="tag tag--small">#Ионная</a>
                <a href="/catalog/elektricheskie-zubnyie-schetki/detskaya/" class="tag tag--small">#Детская</a>
            </div>
        </div>
    </section>

    <section class="about">
        <div class="innertube">
            <div class="about__catalog-link-wrapper t-center">
                <a href="/catalog" class="btn btn--full-w">Смотреть каталог</a>
            </div>
            <h1 class="about__title">«Стоммаркет» — товары для стоматологов и стоматологий</h1>
            <div class="about__items">
                <div class="about__item">
                    <p class="number-title">4 000</p>
                    <p class="descr">товаров в каталоге</p>
                </div>
                <div class="about__item">
                    <p class="number-title">2 000</p>
                    <p class="descr">клиник работают с нами в 400 городах России</p>
                </div>
                <div class="about__item">
                    <p class="number-title">150</p>
                    <p class="descr">брендов представленных в интернет-магазине</p>
                </div>
            </div>
            <div class="about__description">
                <p>Качество медицинского обслуживания во многом зависит от качества стоматологических материалов, которые использует доктор в процессе диагностики и дальнейшего лечения. Данная истинна, известна каждому, как пациенту, так и стоматологу. Даже самый опытный врач не сможет работать на высоком уровне без своевременно доставленных материалов.</p>
                <p>Интернет-магазин «Стоммаркет» на протяжении уже 5 лет успешно решает вопросы, связанные с поставками стоматологических материалов.</p>
                <p>Наши филиалы находятся: в <a href="https://stommarket.ru/">Санкт-Петербурге</a>, <a href="https://msk.stommarket.ru/">Москве</a> и Димитровграде.</p>
                <p>Мы работаем со многими транспортными компаниями, что дает нам возможность работать со всеми регионами России.</p>
                <p><a href="/about">Читать о компании →</a></p>
            </div>
        </div>
    </section>

{% endblock %}

