{% extends 'layouts/base.html.twig' %}
{% block content %}
    <section class="block block--main-slider js-slider-main-wrap" style="background-color: rgb(157, 175, 233);">
        <div class="innertube">
            <div class="slider-main js-slider-main">
                {% for slide in slides %}
                    {% if version.id in slide.versions or slide.versions|length<1 %}
                    <div class="slider-main__slide" data-color="{{ slide.backgroundColor }}" data-img="" data-bgstyles="{{ slide.backgroundStyle }}">
                        <div class="slider-main__wrap  ">
                            <div class="slider-main__text-col">
                                <div class="slider-main__title">
                                    {{ slide.header|raw }}
                                </div>
                                <div class="slider-main__sub-title">{{ slide.description|raw }}</div>
                                {% if slide.url %}
                                    <a href="{{ slide.url }}" target="_blank" onclick="{{ slide.btnInlineJs }}" class="slider-main__btn {{ slide.buttonClass }}" style="{{ slide.btnInlineCss }}">{{ slide.btnText|raw }}</a>
                                {% endif %}
                            </div>
                            {% if slide.image|length %}
                                <div class="slider-main__img-col">
                                    <img src="{{ slide.picture }}" alt="" class="img-responsive">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    {#
    <section class="block block--banners banners">
        <div class="innertube">
            <div class="banners__slider" style="background-image: linear-gradient(57.99deg, #2262e5 0%, #69beff 100%);">
                <div class="js-slider-main-wrap">
                    <div class="slider-main js-slider-main">
                        {% for slide in slides %}
                            <div class="slider-main__slide" data-color="{{ slide.backgroundColor }}" data-img="" data-bgstyles="{{ slide.backgroundStyle }}">
                                <div class="slider-main__wrap  ">
                                    <div class="slider-main__text-col">
                                        <div class="slider-main__title">
                                            {{ slide.header|raw }}
                                        </div>
                                        <div class="slider-main__sub-title">{{ slide.description|raw }}</div>
                                        {% if slide.url %}
                                            <a href="{{ slide.url }}" target="_blank" onclick="{{ slide.btnInlineJs }}" class="slider-main__btn" style="{{ slide.btnInlineCss }}">{{ slide.btnText|raw }}</a>
                                        {% endif %}
                                    </div>
                                    {% if slide.image|length %}
                                        <div class="slider-main__img-col">
                                            <img src="{{ slide.picture }}" alt="" class="img-responsive">
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="banners__banners">
                <a href="#" class="banners__link"><img src="/img/banners/banner1.jpg" alt=""></a>
                <a href="#" class="banners__link"><img src="/img/banners/banner2.jpg" alt=""></a>
            </div>
        </div>
    </section>
    #}
    <section class="block">
        <div class="innertube">
            <div class="space--50">
                <div class="sale">
                    <div class="sale__items js-grid js-main__catalog">
                        {{ include('product/_product.html.twig',{product : products[0]}) }}
                        {{ include('product/_product.html.twig',{product : products[1]}) }}
                        {% if version.id == 4 %}
                            <figure class="card card--b card-cat card-cat--1">
                                <a href="/catalog/irrigatoryi/" class="card-cat__img-b">
                                    <img src="img/irr1.png" alt="" class="card-cat__img">
                                </a>
                                <div class="card-cat__img-b">
                                    <img src="img/irr2.png" alt="" class="card-cat__img">
                                </div>
                                <div class="card-cat__text-b">
                                    <div class="card-cat__title">5 ирригаторов с самой<br>низкой ценой</div>
                                    <div class="card-cat__links">
                                        <a href="/catalog/irrigatoryi/do-3000-r/" class="tag">#До 3000 ₽</a>
                                        <a href="/catalog/irrigatoryi/dlya-1-cheloveka/" class="tag">#Для 1 человека</a>
                                        <a href="/catalog/irrigatoryi/dlya-vsei-semyi/" class="tag">#Для всей семьи</a>
                                    </div>
                                </div>
                            </figure>
                        {% else %}
                            <figure class="card card--b card-cat card-cat--4">
                                <a href="/catalog/llis-kit-nabor-5-shpritsev-po-4-gramma-s-bondom-fgm/">
                                    <div class="card-cat__img-b">
                                        <img src="img/frasco-ambar.png" alt="" class="card-cat__img">
                                    </div>
                                    <div class="card-cat__img-b">
                                        <img src="img/condac-seringa.png" alt="" class="card-cat__img">
                                    </div>
                                    <div class="card-cat__img-b">
                                        <img src="img/llis.png" alt="" class="card-cat__img">
                                    </div>
                                    <!--div class="card-cat__header-b">
                                        Скидка на набор — <span>430 ₽</span>
                                    </div-->
                                    <div class="card-cat__text-b">
                                        <div class="card-cat__title">Промонабор:</div>
                                        <div class="card-cat__descr">
                                            Llis + Ambar + Condac 37
                                        </div>
                                        <div class="card-cat__price-b">
                                            <!--span class="old-price">7 670 ₽</span-->
                                            <span class="price">{{ llisKit.price(version.siteVersion) }} ₽</span>
                                        </div>
                                        <div class="card-cat__button-b">
                                            <a class="btn btn--purple" href="/catalog/llis-kit-nabor-5-shpritsev-po-4-gramma-s-bondom-fgm/">Купить со скидкой</a>
                                        </div>
                                    </div>
                                    <div class="flag flag--sale" title="скидка"></div>
                                </a>
                            </figure>
                        {% endif %}

                        {{ include('product/_product.html.twig',{product : products[2]}) }}
                        {{ include('product/_product.html.twig',{product : products[3]}) }}
                        {{ include('product/_product.html.twig',{product : products[4]}) }}

                        <figure class="card card--b card-cat card-cat--2">

                            <div class="card-cat__img-b">
                                <img src="img/paste2.png" alt="" class="card-cat__img">
                            </div>
                            <div class="card-cat__img-b">
                                <img src="img/paste3.png" alt="" class="card-cat__img">
                            </div>
                            <div class="card-cat__img-b">
                                <img src="img/paste1.png" alt="" class="card-cat__img">
                            </div>
                            <div class="card-cat__img-b">
                                <img src="img/paste4.png" alt="" class="card-cat__img">
                            </div>
                            <div class="card-cat__text-b">
                                <div class="card-cat__title">Более 30 разных видов<br>зубных щеток и паст</div>
                                <div class="card-cat__links">
                                    <a href="/catalog/elektricheskie-zubnyie-schetki/smennie-nasadki/" class="tag">#Сменные насадки</a>
                                    <a href="/catalog/elektricheskie-zubnyie-schetki/ionnaya/" class="tag">#Ионная</a>
                                    <a href="/catalog/elektricheskie-zubnyie-schetki/detskaya/" class="tag">#Детская</a>
                                </div>
                            </div>
                        </figure>
                        <figure class="card card-clr card-clr--blue">
                            <div class="card-clr__title">Обзоры <br>и статьи</div>
                            <a href="https://stommarket.ru/blog/"  target="_blank" class="card-clr__link">Читать блог</a>
                            <img class="card-clr__img" src="/img/vector-doc.png" alt="">
                        </figure>

                        {{ include('product/_product.html.twig',{product : products[5]}) }}
                        {{ include('product/_product.html.twig',{product : products[6]}) }}

                        <figure class="card card-clr card-clr--yell">
                            <div class="card-clr__title">Франшиза StomMarket</div>
                            <a href="https://franchise.stommarket.ru/" class="card-clr__link">Узнать подробности</a>
                            <img class="card-clr__img" src="/img/svg/logo-on-cycle.svg" alt="">
                        </figure>

                        {% for i in 7..13 %}
                            {{ include('product/_product.html.twig',{product : products[i]}) }}
                        {% endfor %}

                        <figure class="card card--b card-cat card-cat--3">
                            <div class="card-cat__img-b">
                                <img src="img/brands.png" alt="" class="card-cat__img">
                            </div>
                            <div class="card-cat__text-b">
                                <div class="card-cat__title">Производители</div>
                                <div class="card-cat__links">
                                    <a href="/catalog/brands/3m-espe/" class="tag">#3М Espe</a>
                                    <a href="/catalog/brands/ab-ardent/" class="tag">#AB Ardent</a>
                                    <a href="/catalog/brands/bisico/" class="tag">#Bisico</a>
                                    <a href="/catalog/brands/curaprox/" class="tag">#Curaprox</a>
                                    <a href="/catalog/brands/itena/" class="tag">#ITENA</a>
                                    <a href="/catalog/brands/kerr/" class="tag">#Kerr</a>
                                    <a href="/catalog/brands/ni-pro-koreya/" class="tag">#Ni-pro</a>
                                    <a href="/catalog/brands/septodont/" class="tag">#Septodont</a>
                                    <a href="/catalog/brands/voco/" class="tag">#VOCO</a>
                                    <a href="/catalog/brands/tepe/" class="tag">#TePe</a>
                                    <a href="/catalog/brands/tehnodent/" class="tag">#TehnoDent</a>
                                    <a href="/catalog/brands/zhermack/" class="tag">#Zhermack</a>
                                </div>
                            </div>
                        </figure>
                        <figure class="card card-clr card-clr--pink">
                            <div class="card-clr__title">Возврат<br>и обмен</div>
                            <a href="/help/payment/" class="card-clr__link">Узнать условия</a>
                            <img class="card-clr__img" src="/img/svg/return.svg" alt="">
                        </figure>

                        {% for i in 14..16 %}
                            {{ include('product/_product.html.twig',{product : products[i]}) }}
                        {% endfor %}
                    </div>
                    <div class="sale__btn-b"><a href="/catalog/" class="sale__btn btn">Посмотреть весь каталог</a></div>
                </div>
            </div>
    </section>
    <section class="block">
        <div class="innertube">
            <div class="about-sub content content--lg">
                <div class="about-sub__col">
                    <h1 class="about-sub__title">«Стоммаркет»&nbsp;— товары для стоматологов и&nbsp;стоматологий</h1>
                    <!--
                    <p>Качество медицинского обслуживания во&nbsp;многом зависит от&nbsp;качества стоматологических материалов, которые использует доктор в&nbsp;процессе диагностики и&nbsp;дальнейшего лечения. Данная истинна, известна каждому, как пациенту, так и&nbsp;стоматологу. Даже самый опытный врач не&nbsp;сможет работать на&nbsp;высоком уровне без своевременно доставленных материалов.</p>
                    -->
                    <p>Интернет-магазин «Стоммаркет» на&nbsp;протяжении уже 5&nbsp;лет успешно решает вопросы, связанные с&nbsp;поставками стоматологических материалов.</p>

                    <p>Наши филиалы находятся: в&nbsp;<a href="https://stommarket.ru/">Санкт-Петербурге</a>, <a href="https://msk.stommarket.ru/">Москве</a> и&nbsp;Димитровграде. Мы&nbsp;работаем со&nbsp;многими транспортными компаниями, что дает нам возможность работать со&nbsp;всеми регионами России.</p>

                    <p><a class="arr-l-after" href="/about/">Читать о&nbsp;компании</a></p>
                </div>
                <div class="about-sub__col about-num">
                    <div class="about-num__item">
                        <div class="about-num__val">4&nbsp;000</div>
                        <div class="about-num__text">товаров в&nbsp;каталоге</div>
                    </div>
                    <div class="about-num__item">
                        <div class="about-num__val">2&nbsp;000</div>
                        <div class="about-num__text">клиник работают с&nbsp;нами<br>в&nbsp;400 городах России</div>
                    </div>
                    <div class="about-num__item">
                        <div class="about-num__val">150</div>
                        <div class="about-num__text">брендов представленных<br>в&nbsp;интернет-магазине</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
