<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{ app.user.username }}</strong>
                            </span>
                            <span class="text-muted text-xs block">Manager <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="/logout/">Выйти</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="#"><i class="fa fa-user"></i>
                        <span class="nav-label">Пользователи</span><span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/admin/user/">Пользователи</a></li>
                        <li><a href="/admin/manager/">Менеджеры</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-desktop"></i>
                        <span class="nav-label">Контент</span><span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/admin/slider/">Слайдер</a></li>
                        <li><a href="/admin/help-page/">Инофрмационные страницы</a></li>
                    </ul>
                </li>
                <li><a href="/admin/site-version/"><i class="fa fa-random"></i>Версии сайта</a></li>
                <li><a href="/admin/review/"><i class="fa fa-comments"></i>Отзывы</a></li>
                <li>
                    <a href="#"><i class="fa fa-fighter-jet"></i>
                        <span class="nav-label">СЕА</span><span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="{{ path('admin_product_meta_template_index') }}">Мета-шаблоны товаров</a></li>
                        <li><a href="{{ path('admin_catalog_meta_template_index') }}">Мета-шаблоны каталогов</a></li>
                        <li><a href="{{ path('admin_brand_meta_template_index') }}">Мета-шаблоны брендов</a></li>
                        <li><a href="{{ path('admin_tag_meta_template_index') }}">Мета-шаблоны </a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-book"></i>
                        <span class="nav-label">Обучение</span><span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="{{ path('admin_education_index') }}">Обучения</a></li>
                        <li><a href="{{ path('admin_education_type_index') }}">Типы обучения</a></li>
                        <li><a href="{{ path('admin_education_direction_index') }}">Направления обучения</a></li>
                        <li><a href="{{ path('admin_education_request_index') }}">Заявки на обучения</a></li>
                    </ul>
                </li>

            {% endif %}
            <li>
                <a href="#"><i class="fa fa-shopping-cart"></i>
                    <span class="nav-label">Магазин</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/admin/order/">Заказы</a></li>
                    <li><a href="/admin/product/">Товары и цены</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="/admin/cart/">Брошенные корзины</a></li>
                        <li><a href="/admin/catalog/">Каталог</a></li>
                        <li><a href="/admin/product-brand/">Производители</a></li>
                        <li><a href="/admin/tag/">Теги</a></li>
                        <li><a href="/admin/typical_prop/">Типовые параметры</a></li>
                        <li><a href="/admin/product-review/">Отзывы</a></li>
                        <li><a href="/admin/promocode/">Промокоды</a></li>
                    {% endif %}
                </ul>
            </li>
            <li><a href="#" data-toggle="modal" data-target="#custom-sms"><i class="fa fa-comment-o"></i>SMS</a></li>
            <li><a href="/admin/"><i class="fa fa-signal"></i>Статистика</a></li>
        </ul>

    </div>
</nav>