{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Продажи за последние {{ period }} дней </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a>
                        </li>
                        <li><a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div id="orders-chart" class="js-orders-chart" data-period="{{ lastPeriodOrders }}"></div>
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Продажи за последние {{ period }} дней. (Все версии)</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a>
                        </li>
                        <li><a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div id="orders-chart-all-versions" class="js-orders-all-versions-chart" data-period="{{ lastPeriodOrdersAllVersions }}"></div>
            </div>
        </div>
        {% endif %}
    </div>
    {#
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Посещаемость </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a>
                        </li>
                        <li><a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div id="metrika" class="js-metrika" data-metrika="{{ metrika }}" ></div>
            </div>
        </div>
    </div>
    #}
</div>

<div class="row" >
    <div class="col-lg-12">
        <div class="ibox float-e-margins promocodus">
            <div class="ibox-title">
                <h5>Аналитика по промокодам за последние сутки</h5>
                <div id="js-pie_data" data-pie_data="{{ promocodus }}"></div>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a>
                        </li>
                        <li><a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="flot-chart">
                    <div id="legend-container" style="position: absolute;"></div>
                    <div class="flot-chart-pie-content" id="flot-pie-chart"></div>
                </div>
            </div>
        </div>
    </div>
    </div>

<div class="row">
    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Наполненность склада(C-Пб)</h5>
                <h2>{{ spbPercent }}%</h2>
                <div class="text-center">
                    <div id="sparkline1" class="js-sparkline" data-percents="{{ spbSparkline }}"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Наполненность склада(Москва)</h5>
                <h2>{{ mskPercent }}%</h2>
                <div class="text-center">
                    <div id="sparkline1" class="js-sparkline" data-percents="{{ mskSparkline }}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript">//alert("\x54\x68\x69\163\040\146\165\x6e\143\x74\x69\157\156\x20\151\x73\040\144\151\163\141\142\x6c\145\144\040\151\x6e\x20\164\x68\145\040\x64\x65\x6d\157\x20\166\145\x72\163\151\x6f\x6e\040\157\x66\x20\x43\x4b\106\151\156\144\x65\162\056\074\142\162\x20\x2f\x3e\x50\x6c\145\x61\x73\x65\040\x76\x69\163\x69\164\040\x74\150\145\040\074\x61\040\150\162\145\x66\075\x27\x68\x74\x74\x70\x3a\057\x2f\x63\153\x73\157\165\x72\x63\145\056\x63\157\x6d\x2f\143\153\146\x69\156\144\145\x72\x27\x3e\x43\113\106\151\x6e\x64\x65\162\040\x77\x65\x62\040\163\151\164\145\x3c\057\141\x3e\040\x74\x6f\x20\x6f\142\164\x61\x69\156\040\x61\040\x76\x61\154\151\x64\040\x6c\151\x63\145\x6e\163\145\056");</script>


{% endblock %}
{% block js %}

{% endblock %}
