.icon-hamburger {
	width: 21px;
	height: 14px;
	display: inline-block;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;

	&__line {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: black;
		//border-radius: 9px;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
	}

	$spaceTop: 0px; 
	@for $i from 1 to 4 {
		&__line:nth-child(#{$i}) {
		  top: $spaceTop;
		  transform-origin: left center;
		}

		$spaceTop: $spaceTop + 6; 
	}

	#{&}.open {
		.icon-hamburger__line:nth-child(1) {
		  transform: rotate(45deg);
		  top: -1px;
		  left: 3px;
		}

		.icon-hamburger__line:nth-child(2) {
		  width: 0%;
		  opacity: 0;
		}

		.icon-hamburger__line:nth-child(3) {
		  transform: rotate(-45deg);
		  top: 14px;
		  left: 3px;
		}
	}
}