@font-face {
	font-family: "icon_font";
	src: url('../fonts/svg_icons/icon_font.eot');
	src: url('../fonts/svg_icons/icon_font.eot?#iefix') format('eot'),
		url('../fonts/svg_icons/icon_font.woff2') format('woff2'),
		url('../fonts/svg_icons/icon_font.woff') format('woff'),
		url('../fonts/svg_icons/icon_font.ttf') format('truetype'),
		url('../fonts/svg_icons/icon_font.svg#icon_font') format('svg');
}

@mixin icon-styles {
	font-family: "icon_font";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arr-d-round {
		$char: "\E001";
	}
	@if $filename == arr-d {
		$char: "\E002";
	}
	@if $filename == arr-up-round {
		$char: "\E003";
	}
	@if $filename == arr-up {
		$char: "\E004";
	}
	@if $filename == arrow-l {
		$char: "\E005";
	}
	@if $filename == arrow-next {
		$char: "\E006";
	}
	@if $filename == arrow-prev {
		$char: "\E007";
	}
	@if $filename == arrow-r {
		$char: "\E008";
	}
	@if $filename == arrow-test {
		$char: "\E009";
	}
	@if $filename == basket {
		$char: "\E00A";
	}
	@if $filename == cabinet {
		$char: "\E00B";
	}
	@if $filename == calendar {
		$char: "\E00C";
	}
	@if $filename == cancel {
		$char: "\E00D";
	}
	@if $filename == cancel2 {
		$char: "\E00E";
	}
	@if $filename == clip {
		$char: "\E00F";
	}
	@if $filename == copy {
		$char: "\E010";
	}
	@if $filename == delivery-express {
		$char: "\E011";
	}
	@if $filename == delivery {
		$char: "\E012";
	}
	@if $filename == download {
		$char: "\E013";
	}
	@if $filename == enter {
		$char: "\E014";
	}
	@if $filename == house {
		$char: "\E015";
	}
	@if $filename == left {
		$char: "\E016";
	}
	@if $filename == list-view {
		$char: "\E017";
	}
	@if $filename == logout {
		$char: "\E018";
	}
	@if $filename == mail-b {
		$char: "\E019";
	}
	@if $filename == mail {
		$char: "\E01A";
	}
	@if $filename == marker {
		$char: "\E01B";
	}
	@if $filename == msg {
		$char: "\E01C";
	}
	@if $filename == ok {
		$char: "\E01D";
	}
	@if $filename == pencil {
		$char: "\E01E";
	}
	@if $filename == phone {
		$char: "\E01F";
	}
	@if $filename == play {
		$char: "\E020";
	}
	@if $filename == right {
		$char: "\E021";
	}
	@if $filename == star-fill {
		$char: "\E022";
	}
	@if $filename == star {
		$char: "\E023";
	}
	@if $filename == stock {
		$char: "\E024";
	}
	@if $filename == table-view {
		$char: "\E025";
	}
	@if $filename == time {
		$char: "\E026";
	}
	@if $filename == xls {
		$char: "\E027";
	}
	@if $filename == zoomin {
		$char: "\E028";
	}
	@if $filename == zoomout {
		$char: "\E029";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arr-d-round {
	@include icon(arr-d-round);
}
.icon-arr-d {
	@include icon(arr-d);
}
.icon-arr-up-round {
	@include icon(arr-up-round);
}
.icon-arr-up {
	@include icon(arr-up);
}
.icon-arrow-l {
	@include icon(arrow-l);
}
.icon-arrow-next {
	@include icon(arrow-next);
}
.icon-arrow-prev {
	@include icon(arrow-prev);
}
.icon-arrow-r {
	@include icon(arrow-r);
}
.icon-arrow-test {
	@include icon(arrow-test);
}
.icon-basket {
	@include icon(basket);
}
.icon-cabinet {
	@include icon(cabinet);
}
.icon-calendar {
	@include icon(calendar);
}
.icon-cancel {
	@include icon(cancel);
}
.icon-cancel2 {
	@include icon(cancel2);
}
.icon-clip {
	@include icon(clip);
}
.icon-copy {
	@include icon(copy);
}
.icon-delivery-express {
	@include icon(delivery-express);
}
.icon-delivery {
	@include icon(delivery);
}
.icon-download {
	@include icon(download);
}
.icon-enter {
	@include icon(enter);
}
.icon-house {
	@include icon(house);
}
.icon-left {
	@include icon(left);
}
.icon-list-view {
	@include icon(list-view);
}
.icon-logout {
	@include icon(logout);
}
.icon-mail-b {
	@include icon(mail-b);
}
.icon-mail {
	@include icon(mail);
}
.icon-marker {
	@include icon(marker);
}
.icon-msg {
	@include icon(msg);
}
.icon-ok {
	@include icon(ok);
}
.icon-pencil {
	@include icon(pencil);
}
.icon-phone {
	@include icon(phone);
}
.icon-play {
	@include icon(play);
}
.icon-right {
	@include icon(right);
}
.icon-star-fill {
	@include icon(star-fill);
}
.icon-star {
	@include icon(star);
}
.icon-stock {
	@include icon(stock);
}
.icon-table-view {
	@include icon(table-view);
}
.icon-time {
	@include icon(time);
}
.icon-xls {
	@include icon(xls);
}
.icon-zoomin {
	@include icon(zoomin);
}
.icon-zoomout {
	@include icon(zoomout);
}
