$break-low-resolution: 1154px;

// Clearfix
//
@mixin clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}


@mixin respond-to($media) {
    @if $media == low-resolution {
        @media only screen and (max-width: $break-low-resolution) { @content; }
    }
}