{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>{{ education.name }}</h5>
            </div>
            <div class="ibox-content">
                <img src="{{ education.photo }}" alt="" width="150">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}

<script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-beta.1/classic/ckeditor.js"></script>
<script>
    var editors = $('textarea');
    $.each( editors, function( key, value ) {
        ClassicEditor
            .create( value )
            .catch( error => {
                console.error( error );
            } );
    });
</script>
{% endblock %}