{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Обучения</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-9">

                    </div>
                    <div class="col-sm-3">
                        <form action="{{ path('admin_education_index') }}" method="GET">
                            <div class="input-group">
                                <input placeholder="Поиск" class="input-sm form-control" type="text" name="query">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary">Найти</button>
                                </span>
                            </div>
                        </form>
                    </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Дата лекции</th>
                        <th>Название</th>
                        <th>Статус</th>
                        <th>Активный</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for education in educations %}
                        <tr>
                            <td>{{ education.id }}</td>
                            <td>{{ education.dateStart|date('d.m.Y') }}</td>
                            <td>{{ education.name }}</td>
                            <td>{{ education.educationStatus.name }}</td>
                            <td>{{ education.active ? '<i class="fa fa-check text-navy"></i>' :'<i class="fa fa-close"></i>' }}</td>
                            <td>
                                <div class="actions">
                                    <a href="{{ path('admin_education_edit', {id: education.id}) }}"
                                       class="btn-primary btn btn-sm">Редактировать
                                    </a>
                                    <a href="{{ path('admin_education_copy', {id: education.id}) }}"
                                       class="btn-primary btn btn-sm">Копировать
                                    </a>
                                    <a class="btn-danger btn btn-sm delete-btn js-delete-btn" href="{{ path('admin_education_delete',{id:education.id}) }}">
                                        Удалить
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if educations.haveToPaginate %}
                    <div class="navigation text-center">
                        {{ pagerfanta(educations, 'twitter_bootstrap3_translated', {routeName: 'admin_education_index','routeParams': app.request.query.all,}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

