{% block TypicalPropValueType_label %} {% endblock %}

{% block TypicalPropValueType_row%}
    <div class="row">
        <div class="col-sm-5">
            {{ form_row(form.key ) }}
        </div>
        <div class="col-sm-5">
            {{ form_row(form.value ) }}
        </div>
        <div class="col-sm-2">
            <p class="text-center">
                <a href="#" class="collection-remove btn btn-default">-</a>
                <a href="#" class="collection-add btn btn-default">+</a>
            </p>
        </div>
    </div>


{% endblock %}
{% block TypicalPropValueType_widget%}
    <div class="row">
        <div class="col-sm-5">
            {{ form_row(form.key ) }}
        </div>
        <div class="col-sm-5">
            {{ form_row(form.value ) }}
        </div>
        <div class="col-sm-2">
            <p class="text-center">
                <a href="#" class="collection-remove btn btn-default">-</a>
                <a href="#" class="collection-add btn btn-default">+</a>
            </p>
        </div>
    </div>
{% endblock %}