{% block vich_file_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock %}

{% block vich_file_widget %}
    {% spaceless %}
        <div class="vich-file">
            {{ form_widget(form.file) }}
            {% if form.delete is defined %}
                {{ form_row(form.delete) }}
            {% endif %}

            {% if download_uri %}
                <a href="{{ download_uri }}">{{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}</a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block vich_image_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock %}

{% block vich_image_widget %}
    {% spaceless %}
        <div class="vich-image">
            <div class="table-responsive">
                <table class="table table-bordered table-stripped">
                    <thead>
                    <tr>
                        <th>Изображение</th>
                        <th>Загрузить</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            {% if image_uri %}
                                <a href="{{ image_uri }}"><img src="{{ image_uri }}" alt="" class="img-responsive" /></a>
                            {% endif %}
                        </td>
                        <td>
                            {{ form_widget(form.file) }}
                        </td>
                        <td>
                            {% if form.delete is defined %}
                                {{ form_row(form.delete) }}
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}
