{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Служебные страницы</h5>
            </div>
            <div class="ibox-content">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Имя</th>
                        <th>Версия</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for helpPage in helpPages %}
                        <tr>
                            <td>{{ helpPage.id }}</td>
                            <td>{{ helpPage.name }}</td>
                            <td>{{ helpPage.versionId }}</td>
                            <td>
                                <div class="actions">
                                    <a href="{{ path('admin_help_page_edit', {id: helpPage.id}) }}"
                                       class="btn-primary btn btn-sm">Редактировать
                                    </a>
                                    <a class="btn-danger btn btn-sm delete-btn js-delete-btn" href="{{ path('admin_help_page_delete',{id:helpPage.id}) }}">
                                        Удалить
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if helpPages.haveToPaginate %}
                    <div class="navigation text-center">
                        {{ pagerfanta(helpPages, 'twitter_bootstrap3_translated', {routeName: 'admin_help_page_index','routeParams': app.request.query.all,}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

