data-ga-props='{"id":"{{ product.id }}","name":"{{ product.name }}","brand":"{{ product.productBrand.name }}","category":"{{ product.catalog.name }}","price":"{{ product.price(version.siteVersion) }}","url":"https://stommarket.ru/catalog/{{ product.url }}"}'