<div class="product-card js-catalog__item"  {{ include('product/_ga-props.html.twig') }}>
    <div class="product-card__picture">
        <a href="/catalog/{{ product.url }}">
            <img src="{{ product.image('s') }}">
        </a>
    </div>
    <div class="product-card__desc">
        <a href="/catalog/{{ product.url }}" class="product-card__title">{{ product.name }}</a>
        <!--s class="product-card__old-price">5590 ₽</s-->
        <span class="product-card__price">{{ product.price(version.siteVersion) }} ₽</span>
    </div>
    <div class="product-card__buy">
        {% if product.count(version.id) > 0 %}
            <span class="product-card__availability">в наличии</span>
        {% else %}
            <span class="product-card__availability product-card__availability--no">под заказ</span>
        {% endif %}
        <a data-id="{{ product.id }}" data-count="1" href="#" class="product-card__add-to-basket js-cart-add js-ga-add-to-cart"><i class="icon-basket "></i></a>
    </div>
</div>