<figure class="card js-catalog__item js-ga-product-card js-ga-impression impression-active" {{ include('product/_ga-props.html.twig') }}>
    {% if product.article != '' %}
        <div class="card__article">
            арт. {{ product.article }}
        </div>
    {% endif %}

    {% if product.event == 'new' %}
        <div class="flag flag--new" title="новинка"></div>
    {% elseif product.event == 'sale' %}
        <div class="flag flag--sale" title="скидка"></div>
    {% elseif product.event == 'top' %}
        <div class="flag flag--hit" title="hit"></div>
    {% endif %}
    <a class="card__img-b js-ga-proceed" href="/catalog/{{ product.url }}">
        <img alt="{{ product.name }}" class="card__img" src="{{ product.image('s') }}">
    </a>
    <figcaption class="card__text-b">
        <div class="card__info-block">
            <a class="card__name js-card__name js-ga-proceed" data-full-name="{{ product.name }}" href="/catalog/{{ product.url }}">
                {{ product.name }}
            </a>
            <div class="card__vendor">
                Производитель: {{ product.productBrand.name }}
            </div>
            <div class="card__rating">
                <i class="card__rating-star"></i>
                <i class="card__rating-star"></i>
                <i class="card__rating-star"></i>
                <i class="card__rating-star"></i>
                <i class="card__rating-star"></i>
            </div>
            {% if product.productProps|length %}
                {% set breakLoop = false %}
                <div class="card__properties">
                    {% for key,prop in product.productProps if breakLoop == false %}
                        <p>{{ prop.key }}: {{ prop.val|raw }}</p>
                        {% if key >= 1 %}
                            {% set breakLoop = true %}
                        {% endif %}
                    {% endfor %}
                </div>
                <p><a class="card__all-props" href="/catalog/{{ product.url }}">Все характеристики</a></p>
            {% endif %}
        </div>
        <div class="card__buy-block">
            <div class="card__divider"></div>
            <div class="card__row card__bottom-row">
                {% if product.event == 'sale' %}
                    <span class="card__sale">
                        <span class="card__sale-line"></span>
                        <span class="card__sale-price">{{ product.oldPrice(version.id)}} ₽</span>
                    </span>
                {% endif %}
            </div>
            <div class="card__price">
                {{ product.price(version.siteVersion) }} ₽
            </div>
            <div class="card__btn-b">
                {% if product.count(version.id) > 0 %}
                    <span class="card__lbl card__lbl--avail">в наличии</span>
                {% else %}
                    <span class="card__lbl card__lbl--not-avail">нет в наличии</span>
                {% endif %}
                <a class="card__btn icon-basket js-cart-add js-ga-add-to-cart" data-count="1" data-id="{{ product.id }}" href="#"><span class="card__btn-text">Купить</span></a>
            </div>
        </div>

    </figcaption>
</figure>