{% extends 'layouts/base.html.twig' %}
{% if postfix is not null %}
    {% block meta %}
        {% if postfix == 'comments' %}
            {% set metaDescription = product.name ~ 'отзывы покупателей'%}
            {% set metaKeywords = product.name ~ ', отзывы покупателей' %}
            {% set metaTitle = product.name ~ ' - Характеристики' %}
        {% elseif postfix == 'props' %}
            {% set metaDescription = 'Интернет-магазин «Стоммаркет» предлагает ознакомиться с инструкцией по примененнию и техническими характеристиками '~ product.name %}
            {% set metaKeywords = product.name ~' технические характеристики описание подробно «Стоммаркет»' %}
            {% set metaTitle = product.name ~ ' - Характеристики' %}
        {% elseif postfix == 'instruction' %}
            {% set metaDescription = 'Интернет-магазин «Стоммаркет» предлагает ознакомиться с инструкцией по примененнию и техническими характеристиками '~product.name %}
            {% set metaKeywords = product.name ~ ',инструкция' %}
            {% set metaTitle = 'Инструкция по применению '~product.name %}
        {% else %}
            {% set metaDescription = meta.metaDescription(version.siteVersion) %}
            {% set metaKeywords = meta.metaKeywords(version.siteVersion) %}
            {% set metaTitle = meta.metaTitle(version.siteVersion) %}
        {% endif %}
        <title>{{metaTitle}}</title>
        <meta property="keywords" content="{{ metaKeywords }}">
        <meta property="description" content="{{ metaDescription }}">
    {% endblock %}
{% endif %}
{% block content %}
    {% if is_granted('ROLE_ADMIN')%}
        <div class="edit-header" style="position: fixed;z-index: 1000;">
            <a href="admin/product/edit/{{ product.id }}/" target="_blank">Редактировать</a><br>
            ID {{ product.id }}
        </div>
    {% endif %}
    <section class="block product">
        <div class="product__card">
            <div class="innertube">
                {{ include('layouts/_breadcrumbs.html.twig') }}
                <div>
                    <h1 class="title">
                        {% if postfix is defined %}
                            {% if postfix == 'comments' %}
                                Отзывы покупателей о
                            {% elseif postfix == 'props' %}
                                Характеристики
                            {% elseif postfix == 'instruction' %}
                                Инструкция
                            {% endif %}
                        {% endif %}
                        {{ product.name }}
                    </h1>

                    {{ include('catalog/_catalog_tags.html.twig') }}

                    <div class="product__info">
                        {% if product.event == 'new' %}
                            <span data-href="/catalog/event/new/">
                                <div class="product__flag flag flag--new" title="новинка"></div>
                            </span>
                        {% elseif product.event == 'sale' %}
                            <span data-href ="/catalog/event/sale/">
                                <div class="product__flag flag flag--sale" title="скидка"></div>
                            </span>
                        {% elseif product.event == 'top' %}
                            <span data-href="/catalog/event/top/">
                                <div class="product__flag flag flag--hit" title="hit"></div>
                            </span>
                        {% endif %}

                        {% if product.article != '' %}
                            <div class="product__info-text">Артикул: {{ product.article }}</div>
                        {% endif %}

                        <div class="product__info-text">
                            Производитель: <a href="/catalog/brands/{{ product.productBrand.url }}/">
                                {{ product.productBrand.name }}
                            </a>
                        </div>

                        <a href="#add__review-product" class="js-open-popup">
                            <div class="product__rating">
                                <i class="product__rating-star"></i>
                                <i class="product__rating-star"></i>
                                <i class="product__rating-star"></i>
                                <i class="product__rating-star"></i>
                                <i class="product__rating-star"></i>
                            </div>
                        </a>
                        <span class="product__info-text product__info-text--left">
                            {% if product.productReviews|length > 0 %}
                                <a href="javascript:void(0)" class="js-tab-switch" data-wrap="product-tabs" data-tab="comments">
                                    {{ product.productReviews|length }} отзыв(ов)
                                </a>
                            {% else %}
                                <a href="#add__review-product" class="js-open-popup">Оставить отзыв</a>
                            {% endif %}
                        </span>
                        <div style="display: none;" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                            <meta itemprop="bestRating" content="5">
                            <meta itemprop="worstRating" content="1">
                            <meta itemprop="ratingValue" content="5">
                            <meta itemprop="ratingCount" content="{{ product.productReviews|length > 0 ? product.productReviews|length : 1 }}">
                        </div>

                        <div itemprop="review" itemscope="" itemtype="http://schema.org/Review">
                            <meta itemprop="itemreviewed" content="{{ product.name }}">
                            <meta itemprop="name" content="stommarket">
                            <meta itemprop="author" content="stommarket">
                            <meta itemprop="datePublished" content="{{ product.timeUpdate|date("Y-m-d h:i:s") }}">
                            <div itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                                <meta itemprop="worstRating" content="1">
                                <meta itemprop="ratingValue" content="5">
                                <meta itemprop="bestRating" content="5">
                            </div>
                            <div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                                <meta itemprop="ratingValue" content="5">
                                <meta itemprop="ratingCount" content="{{ product.productReviews|length > 0 ? product.productReviews|length : 1 }}">
                            </div>
                        </div>

                    </div>
                    <div class="product__row">

                        <div class="product__slider js-product__slider">
                            {% if product.productImages|length %}
                                {% for image in product.productImages  %}
                                    <div class="product__slider-img-b">
                                        <a href="{{ image.image('hr') }}" rel="pr-gal" class="product__slider-image js-fancybox"  data-thumb="{{ image.image('s') }}">
                                            <img src="{{ image.image('hr') }}" alt="{{ product.name }}">
                                        </a>
                                        <p class="product__slider-info">* Изображение товара является условным</p>
                                    </div>

                                {% endfor %}
                            {% else %}
                                <div class="product__slider-img-b">
                                    <a href="{{ product.image('hr') }}" rel="pr-gal" class="product__slider-image js-fancybox"  data-thumb="{{ product.image('s') }}">
                                        <img src="{{ product.image('hr') }}" alt="{{ product.name }}">
                                    </a>
                                </div>
                            {% endif %}
                            {% if product.videoUrl != ''  %}
                                <div class="product__slider-img-b">
                                    <span rel="pr-gal" class="product__slider-image js-fancybox"  data-thumb="/img/svg/play.svg" onclick="yaCounter{{ version.siteVersion.metrika }}.reachGoal('VIDEO');">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ product.videoUrl }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    </span>
                                </div>
                            {% endif %}
                        </div>
                        <script>
                            var vueInject = {{ vueInject|raw }};
                        </script>
                        <div class="product__summary summary js-product js-product--detail js-ga-product-view js-ga-product-card js-ga-cart-item" {{ include('product/_ga-props.html.twig') }} style="display: none">
                        {#VUE JS BLOCK#}
                            {% verbatim %}
                            <div id="product-vue" class="summary__b summary__b--1">
                                <!--PRICE ROW-->
                                <div class="summary__row clearfix">
                                    <div class="summary__total-discount-price js-discount-summ" v-if="product.oldPrice">
                                        ${product.oldPrice * currentCount}
                                    </div>
                                    <div class="summary__total-price js-summ" v-if="product.price">
                                        ${product.price * currentCount}
                                    </div>
                                </div>
                                <!--COUNT INPUT AND COUNT ROW-->
                                <div class="summary__row clearfix">
                                    <div class="not-added" v-if="!inCart" >
                                        <div class="summary__value">
                                            <label class="form__number-input-b form__number-input-b--small form__b--one">
                                                <input class="form__number-input js-form__number js-change-sum-number"
                                                       name="item-count"
                                                       type="number"
                                                       step="1"
                                                       min="1"
                                                       max="product.count ? product.count : 1"
                                                       v-model = "currentCount"
                                                       @change = "setCurrentCount()"
                                                       data-bonus-cost="product.price/10"
                                                       :data-cost="product.price"
                                                       :data-id="product.id">
                                                <span class="form__number-input-minus" @click="setCurrentCount('minus')">−</span>
                                                <span v-if="remain > 0" class="form__number-input-plus " @click="setCurrentCount('plus')">+</span>
                                                <span v-else class="form__number-input-plus  maxed" @click.prevent="setCurrentCount(NULL)">+</span>
                                            </label>
                                        </div>
                                        <div class="availability">
                                            <span class="summary__text--green count" v-if="product.count>0"> В наличии <span class="remain">${product.count}</span> шт.</span>
                                            <span class="summary__text--red" v-else>Под заказ<span class="remain"></span></span>
                                        </div>
                                    </div>
                                    <div class="added" v-else>
                                        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                                            <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                                            <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                                        </svg>

                                        <span class="text">${currentCount} шт. в корзине. Осталось ${remain} шт.</span>
                                    </div>
                                </div>

                                <!--ADD TO BASKET / GOT TO CART-->
                                <div class="summary__row clearfix">
                                    <a v-if="product.price && !inCart" class="ga-event-add-product btn long btn--yellow summary__add-to-basket js-product-page-btn js-ga-add-to-cart"
                                       @click.prevent = "addToCart(product.id,currentCount)"
                                    > Купить </a>
                                    <a v-if="inCart" href="/cart/" class="btn long btn--yellow summary__add-to-basket js-product-page-btn">Перейти в корзину</a>
                                </div>
                                <!--ONE CLICK BUY ROW-->
                                <div class="summary__row ocb" v-if="!inCart">
                                    <form action="/order/add-ocb-order/" method="POST" class="ocb__form js-form js-ocb__form">
                                        <input type="hidden" name="pid" :value="product.id">
                                        <input type="hidden" class="js-ocb__count" name="count" value="1">
                                        <input type="tel" placeholder="+7 (921) 123-45-67" class="ocb__input js-input js-required js-phone" name="phone">
                                        <button type="submit"  class="ocb__btn js-one-click-buy" onclick="">Купить в 1 клик</button>
                                        <div class="form__success js-form__success ocb__success">
                                            <div class="content">Спасибо! Ваш заказ принят</div>
                                        </div>
                                    </form>
                                </div>
                                <!--BUY 1 MORE-->
                                <div class="summary__row" v-else>
                                    <a class="ga-event-add-product btn btn--lblue summary__add-to-basket  js-ga-add-to-cart"
                                       v-if="remain > 0"
                                       data-count="1"
                                       data-id="product.id"
                                       @click="currentCount = currentCount+1;addToCart(product.id,1);">
                                        <span class="plus">+1 шт.</span>ДОБАВИТЬ ЕЩЁ
                                    </a>
                                </div>
                            </div>
                            {% endverbatim %}
                            <a href="#store__availability" class="summary__b summary__b--link js-open-popup">
                                <p class="summary__text summary__text--icon icon-stock">Проверить наличие по складам</p>
                            </a>
                            <a href="/page/delivery/" class="summary__b summary__b--link js-open-popup-ajax">
                                <p class="summary__text summary__text--icon icon-delivery">Доставка <span class="js-delivery-common"></span></p>
                            </a>
                            <a href="/page/pickup/" class="summary__b summary__b--link js-open-popup-ajax">
                                <p class="summary__text summary__text--icon icon-house">Самовывоз — бесплатно</p>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="product__descr">
            <div class="innertube">
                <div class="tabs js-tabs" data-name="product-tabs">
                    <div class="tabs__nav">
                        <a class="tabs__link js-tabs__link  active" data-url="/catalog/{{ product.url }}/" data-name="default" data-title="{{ product.name }}  — купить по выгодной цене в интернет-магазине «Стоммаркет»">Описание</a>
                        <a class="tabs__link js-tabs__link " data-url="/catalog/{{ product.url }}comments/" data-name="comments" data-title="{{ product.name }} отзывы покупателей">Отзывы</a>
                        {% if product.productProps|length > 0 %}
                            <a class="tabs__link js-tabs__link " data-url="/catalog/{{ product.url }}props/" data-name="props" data-title="{{ product.name }} - Характеристики">Характеристики</a>
                        {% endif %}
                        {% if product.instruction %}
                            <a class="tabs__link js-tabs__link " data-url="/catalog/{{ product.url }}instruction/" data-name="instruction" data-title="Инструкция по применению {{ product.name }}">Инструкция</a>
                        {% endif %}
                    </div>
                    <div class="tabs__items">
                        <!--Описание-->
                        <div class="tabs__tab js-tabs__tab product__descr-cnt  active">
                            <div class="product__descr-col content">
                                <div class="std-text">
                                    {% if product.preview|length > 1 %}
                                        {% autoescape 'js' %}
                                            {{ product.preview|raw }}
                                        {% endautoescape %}
                                    {% else %}
                                        <p><b>Бренд</b> : {{ product.productBrand.name }}</p>
                                        <p><b>Категория</b> : {{ product.catalog.name }}</p>

                                        <p>Купить {{ product.name }} по цене {{ product.price(version.siteVersion) }} руб. в интернет-магазине «Стоммаркет».</p>

                                        <p>На данный момент в {{ version.siteVersion.storeName }}
                                            {% if product.count(version.id) > 0 %}
                                                товар есть в наличии и доступен в количестве {{ product.count(version.id) }} шт.
                                            {% else %}
                                                товара нет в наличии.
                                            {% endif %}
                                        </p>
                                        <div class="space--50"></div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="product__descr-col content content--list">
                                {% if product.productProps|length > 0 %}
                                <h3>Характеристики</h3>
                                {% for prop in product.productProps %}
                                    <p><strong>{{ prop.key }}:</strong>  {{ prop.val|raw }} </p>
                                {% endfor %}
                                <p><a href="javascript:void(0)" class="js-tab-switch" data-wrap="product-tabs" data-tab="props">Смотреть все</a></p>
                                {% endif %}
                            </div>
                        </div>
                        <!--Отзывы-->
                        <div class="tabs__tab js-tabs__tab product__descr-cnt ">
                            <div class="reviews">
                                <div class="block__cols">
                                    <div class="block__col block__col--8">
                                        {% for review in product.moderatedProductReviews %}
                                            <div class="reviews__item">
                                                <div class="reviews__col">
                                                    <div class="reviews__rating" data-rating="{{ review.rating }}">
                                                        {% for i in 1..review.rating %}
                                                            <i class="reviews__rating-star"></i>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="reviews__author">{{ review.name }}</div>
                                                </div>
                                                <div class="reviews__col">
                                                    <div class="reviews__text-b">
                                                        <p class="reviews__text">{{ review.review }}</p>
                                                        <div class="reviews__date">{{ review.timeCreate|date("d F Y г.") }}</div>
                                                        <p></p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="block__col block__col--3">
                                        <a href="#add__review-product" class="btn btn--full-w reviews__add-bnt js-open-popup">Оставить отзыв</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Характеристики-->
                        {% if product.productProps|length > 0 %}
                        <div class="tabs__tab js-tabs__tab product__descr-cnt ">
                            <div class="props">
                                <div class="props__title">
                                    {{ product.name }}
                                </div>
                                <ul class="props__list  content">
                                    {% for prop in product.productProps %}
                                        <li class="props__item"><strong>{{ prop.key }}:</strong>  {{ prop.val|raw }} </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                        {% endif %}
                        <!--Инструкция-->
                        {% if product.instruction %}
                            <div class="tabs__tab js-tabs__tab product__descr-cnt ">
                                <span class="doc-thumb">
                                    <a href="/files/thumbs/products_files/{{ product.instruction }}" class="js-open-popup-iframe">
                                        <button class="btn">Читать инструкцию</button>
                                    </a>
                                    <span class="doc-show-more"></span>
                                </span>
                                <a href="/files/thumbs/products_files/{{ product.instruction }}" class="js-open-popup-iframe">
                                    <div class="doc-description"></div>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if alsoBoughtProducts|length >0 %}
        <section class="block">
            <div class="innertube">
                <div class="others others--line1" onclick="yaCounter{{ version.siteVersion.metrika }}.reachGoal('ALSOORDERED');">
                    <h2 class="others__title">С этим товаром покупают</h2>
                    <div class="others__card-b">
                        {% for product in alsoBoughtProducts %}
                            {{ include('product/_product.html.twig',{product : product}) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {% if similarProducts|length >0 %}
        <section class="block">
            <div class="innertube">
                <div class="others others--line2" onclick="yaCounter{{ version.siteVersion.metrika }}.reachGoal('SIMILAR');">
                    <h2 class="others__title">Похожие товары</h2>
                    <div class="others__card-b">
                        {% for product in similarProducts %}
                            {{ include('product/_product.html.twig',{product : product}) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {% if recentlyViewedProducts|length >0 %}
        <section class="block">
            <div class="innertube">
                <div class="others others--line3" onclick="yaCounter{{ version.siteVersion.metrika }}.reachGoal('WATCH');">
                    <h2 class="others__title">Вы смотрели</h2>
                    <div class="others__card-b">
                        {% for product in recentlyViewedProducts %}
                            {{ include('product/_product.html.twig',{product : product}) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}

{% block popups %}
    <!--Попап с наличием на складах-->
    <div id="store__availability" class="js-popup popup-block popup-avalability mfp-hide">
        <div class="summary__b--2">
            <p class="header">Наличие по складам:</p>
            <p>
                <span class="summary__b-sub">
                    {% for siteVersion in version.all %}
                        <p class="summary__text">{{ siteVersion.name }} :
                            <span class="{{ product.count(siteVersion.id) > 0 ?'summary__text--green' : 'summary__text--red' }}">
                                {{ product.count(siteVersion.id) > 0 ? product.count(siteVersion.id) ~' шт' : ' под заказ'}}
                            </span>
                        </p>
                     {% endfor %}
                </span>
            </p>
        </div>
    </div>
    <!-- Форма добавления отзыва -->
    <div id="add__review-product" class="js-popup popup-block mfp-hide">
        <form action="{{ path('add_product_review') }}" novalidate="" class="js-form" data-error-msg="Произошла ошибка">
            <div class="form__title">Новый отзыв</div>
            <p class="form__sub-title">{{ product.name }}</p>
            <div class="form__group">
                <div class="form__b form__text-input-b">
                    <input class="form__text-input js-input js-required" name="name" id="rec_name" type="text">
                    <label class="form__text-input-label" for="rec_name">Как вас зовут?</label>
                    <!--<span class="form__input-error">Обязательное поле</span>-->
                </div>
                <div class="form__b form__text-input-b">
                    <textarea class="form__text-input form__text-input--textarea js-input js-required" name="review" id="rec_text"></textarea>
                    <label class="form__text-input-label" for="rec_name">Комментарий</label>
                    <!--<span class="form__input-error">Обязательное поле</span>-->
                </div>
            </div>
            <div class="form__group">
                <div class="form__rating">
                    <input class="form__rating-input" id="rating-5" name="rating" value="5" type="radio">
                    <label class="form__rating-label" for="rating-5"></label>
                    <input class="form__rating-input" id="rating-4" name="rating" value="4" type="radio">
                    <label class="form__rating-label" for="rating-4"></label>
                    <input class="form__rating-input" id="rating-3" name="rating" value="3" type="radio">
                    <label class="form__rating-label" for="rating-3"></label>
                    <input class="form__rating-input" id="rating-2" name="rating" value="2" type="radio">
                    <label class="form__rating-label" for="rating-2"></label>
                    <input class="form__rating-input" id="rating-1" name="rating" value="1" type="radio">
                    <label class="form__rating-label" for="rating-1"></label>
                </div>
            </div>
            <input name="product_id" value="{{ product.id }}" type="hidden">
            <button type="submit" class="btn btn--dark btn--full-w">Отправить отзыв</button>
            <div class="form__success js-form__success">
                <div class="content">
                    <p class="h1">Сообщение отправлено</p>
                    <p class="h2">Отзыв появится после модерации</p>
                </div>
            </div>
        </form>
    </div>

{% endblock %}