{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Список обучающих программ</h5>
            </div>
            <div class="ibox-content">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Дата мероприятия</th>
                        <th>Название</th>
                        <th>Имя</th>
                        <th>Телефон</th>
                        <th>Email</th>
                        <th>Город</th>
                        <th>Цена</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for educationRequest in educationRequests %}
                        <tr>
                            <td>{{ educationRequest.id }}</td>
                            <td>{{ educationRequest.education.dateStart|date('d.m.Y') }}</td>
                            <td width="20%">{{ educationRequest.education.name }}</td>
                            <td>{{ educationRequest.name }}</td>
                            <td>{{ educationRequest.phone }}</td>
                            <td>{{ educationRequest.email }}</td>
                            <td>{{ educationRequest.city }}</td>
                            <td>{{ educationRequest.education.price }}</td>
                            <td>
                                <div class="actions">
                                    <!--a href="{{ path('admin_education_request_edit', {id: educationRequest.id}) }}"
                                       class="btn-primary btn btn-sm">Редактировать
                                    </a-->
                                    <a class="btn-danger btn btn-sm delete-btn js-delete-btn" href="{{ path('admin_education_request_delete',{id:educationRequest.id}) }}">
                                        Удалить
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if educationRequests.haveToPaginate %}
                    <div class="navigation text-center">
                        {{ pagerfanta(educationRequests, 'twitter_bootstrap3_translated', {routeName: 'admin_education_request_index','routeParams': app.request.query.all,}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

