<figure class="card js-card">
	<div class="flag"></div>
	<a href="card.html" class="card__img-b">
		<img class="card__img" src="img/content/img1.jpg" alt="">
	</a>
	<figcaption class="card__text-b">
		<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
		<div class="card__price">3&nbsp;050&nbsp;₽
			<span class="card__sale">2 534 ₽</span>
		</div>
		<div class="card__btn-b">
			<a href="#" class="card__btn icon-msg"></a>
			<a href="#" class="card__btn icon-basket js-cart-add in-cart" data-id="11" data-count="1"></a>
		</div>
	</figcaption>
</figure>
<figure class="card js-card">
	<div class="flag"></div>
	<a href="card.html" class="card__img-b">
		<img class="card__img" src="img/content/img1.jpg" alt="">
	</a>
	<figcaption class="card__text-b">
		<a href="card.html" class="card__name">Септо-Пак - плотный десне.</a>
		<div class="card__price">3&nbsp;050&nbsp;₽
			<span class="card__sale">2 534 ₽</span>
		</div>
		<div class="card__btn-b">
			<a href="#" class="card__btn icon-msg"></a>
			<a href="#" class="card__btn icon-basket js-cart-add" data-id="22" data-count="1"></a>
		</div>
	</figcaption>
</figure>
