<div class="reviews__item reviews__item--page">
    <div class="reviews__author">{{ review.name|raw|escape  }}</div>
    <div class="reviews__text-b">
        <p class="reviews__text">{{ review.review|raw|escape  }}</p>
    </div>
    <div class="reviews__footer">
        <div class="reviews__date">{{ review.timeCreate|date("d F Y г.") }}</div>
        <div class="reviews__rating" data-rating="{{ review.rating }}">
            {% for i in 1..review.rating %}
                <i class="reviews__rating-star"></i>
            {% endfor %}
        </div>
    </div>
</div>