{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="block">
        <div class="innertube">
            <div class="reviews reviews--mb">
                <nav class="breadcrumbs"><div class="wrapper"><a href="/" class="breadcrumbs__item">Главная</a></div></nav><script type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"http:\/\/stommarket.ru\/","name":"Home"}},{"@type":"ListItem","position":2,"item":{"@id":"http:\/\/stommarket.ru\/reviews\/","name":"\u041e\u0442\u0437\u044b\u0432\u044b"}}]}</script>            <h1 class="title">Отзывы</h1>
                <div class="block__cols">
                    <div class="block__col block__col--8">
                        <div class="reviews__list js-reviews__list">
                            {% for review in reviews %}
                                {{ include('reviews/_review_item.html.twig',{review : review}) }}
                            {% endfor %}
                        </div>
                        <a href="#" class="reviews__show-more-btn btn js-reviews__show-more">Показать еще</a>
                    </div>
                    <div class="block__col block__col--4">
                        <div class="reviews__set">
                            <div class="reviews__set-logo"><img src="/img/svg/market-logo.svg" alt="Оставить отзыв на Яндекс Маркет"></div>
                            <div class="reviews__set-text">(+ 100 баллов)</div>
                            <a href="https://market.yandex.ru/shop/198526/reviews/add" target="_blank" class="reviews__set-btn btn btn--dark btn--full-w">Оставить отзыв</a>
                        </div>
                        <div class="reviews__set">
                            <div class="reviews__set-logo"><img src="/img/svg/logo.svg" alt="Оставить отзыв на Stommarket.ru"></div>
                            <div class="reviews__set-text">(+ 10 баллов)</div>
                            <a href="#add__review" class="reviews__set-btn btn btn--dark btn--full-w js-open-popup">Оставить отзыв</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block popups %}
    <!-- Форма добавления отзыва -->
    <div id="add__review" class="js-popup popup-block mfp-hide" >
        <form action="/reviews/add/" novalidate class="js-form" data-error-msg="Произошла ошибка">
            <div class="form__title">Новый отзыв</div>
            <p class="form__sub-title"></p>
            <div class="form__group">
                <div class="form__b form__text-input-b">
                    <input type="text" class="form__text-input js-input js-required" name="name" id="rec_name">
                    <label class="form__text-input-label" for="rec_name">Как вас зовут?</label>
                </div>
                <div class="form__b form__text-input-b">
                    <textarea class="form__text-input form__text-input--textarea js-input js-required" name="review" id="rec_text"></textarea>
                    <label class="form__text-input-label" for="rec_text">Комментарий</label>
                </div>
            </div>
            <div class="form__group">
                <div class="form__rating">
                    <input class="form__rating-input" type="radio" id="rating-5" name="rating" value="5" />
                    <label class="form__rating-label" for="rating-5"></label>
                    <input class="form__rating-input" type="radio" id="rating-4" name="rating" value="4" />
                    <label class="form__rating-label" for="rating-4"></label>
                    <input class="form__rating-input" type="radio" id="rating-3" name="rating" value="3" />
                    <label class="form__rating-label" for="rating-3"></label>
                    <input class="form__rating-input" type="radio" id="rating-2" name="rating" value="2" />
                    <label class="form__rating-label" for="rating-2"></label>
                    <input class="form__rating-input" type="radio" id="rating-1" name="rating" value="1" />
                    <label class="form__rating-label" for="rating-1"></label>
                </div>
            </div>
            <button type="submit" class="btn btn--dark btn--full-w">Отправить отзыв</button>
            <div class="form__success js-form__success">
                <div class="content">
                    <p class="h1">Сообщение отправлено</p>
                    <p class="h2">Отзыв появится после модерации</p>
                </div>
            </div>
        </form>
    </div>
{% endblock %}