@@include('./templates/header.tpl')

<section class="block block-space block-space--top-10 cart">
    <div class="basket js-basket">
        <div class="basket__products">
            <div class="innertube">
                <h1 class="title">Корзина</h1>
                <a href="#order-form" type="submit" class="btn btn--full-w btn--dark js-open-popup">Оформить заказ</a>
                <div class="product-card basket__item js-product">
                    <a href="#" class="basket__item-remove js-del"><i class="icon-cancel"></i></a>
                    <div class="product-card__picture">
                        <img src="./mobile/img/product.png">
                    </div>
                    <div class="product-card__desc">
                        <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                        <s class="product-card__old-price"><span class="js-basket-price">2000</span> ₽</s><span class="product-card__price"><span class="js-basket-price">374</span> ₽</span>
                    </div>
                    <label class="form__number-input-b form__b--one basket__item-count">
                        <input class="form__number-input js-form__number js-change-sum-number" name="item-count" step="1" min="1" max="5" value="1" data-bonus-cost="144.56" data-cost="14456.00" data-id="4381" type="number">
                        <span class="form__number-input-minus js-form__number-minus maxed">−</span>
                        <span class="form__number-input-plus js-form__number-plus">+</span>
                    </label>
                </div>
                <div class="product-card basket__item js-product">
                    <a href="#" class="basket__item-remove js-del"><i class="icon-cancel"></i></a>
                    <div class="product-card__picture">
                        <img src="./mobile/img/product.png">
                    </div>
                    <div class="product-card__desc">
                        <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                        <s class="product-card__old-price"><span class="js-basket-price">2000</span> ₽</s><span class="product-card__price"><span class="js-basket-price">374</span> ₽</span>
                    </div>
                    <label class="form__number-input-b form__b--one basket__item-count">
                        <input class="form__number-input js-form__number js-change-sum-number" name="item-count" step="1" min="1" max="5" value="1" data-bonus-cost="144.56" data-cost="14456.00" data-id="4381" type="number">
                        <span class="form__number-input-minus js-form__number-minus maxed">−</span>
                        <span class="form__number-input-plus js-form__number-plus">+</span>
                    </label>
                </div>
                <div class="product-card basket__item js-product">
                    <a href="#" class="basket__item-remove js-del"><i class="icon-cancel"></i></a>
                    <div class="product-card__picture">
                        <img src="./mobile/img/product.png">
                    </div>
                    <div class="product-card__desc">
                        <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                        <s class="product-card__old-price"><span class="js-basket-price">2000</span> ₽</s><span class="product-card__price"><span class="js-basket-price">374</span> ₽</span>
                    </div>
                    <label class="form__number-input-b form__b--one basket__item-count">
                        <input class="form__number-input js-form__number js-change-sum-number" name="item-count" step="1" min="1" max="5" value="1" data-bonus-cost="144.56" data-cost="14456.00" data-id="4381" type="number">
                        <span class="form__number-input-minus js-form__number-minus maxed">−</span>
                        <span class="form__number-input-plus js-form__number-plus">+</span>
                    </label>
                </div>

            </div>
        </div>
        <div class="basket__order order js-order-info">
            <div class="innertube">
                <div class="order__title">Итого</div>
                <div class="order__line">Стоимость: <span class="js-order-summ">20 235</span> ₽</div>
                <div class="order__line js-order-discount-b">Скидка: <span class="js-order-discount">433</span> ₽</div>
                <div class="order__line js-order-bonuses-b">
                    <div class="form__checkbox-input-b ">
                        <input class="form__checkbox-input js-use-bonuses" id="basket_use_bonuses" type="checkbox">
                        <label class="form__checkbox-input-label" for="basket_use_bonuses">использовать <span class="js-order-bonuses">1 979 бонусов</span>
                            <span class="tip">
                            <span class="tip__block">
                                После первой покупки подарочные бонусы аннулируются.<br>Использование бонусов доступно при заказе от 3 тыс. руб., максимум 20% от суммы заказа
                            </span>
                        </span>
                        </label>
                    </div>
                </div>
                <div class="order__line">Всего к оплате: <span class="basket__summ basket__summ--bold">
                <span class="js-order-final-summ">19 802</span> ₽</span>
                </div>
                <a href="#order-form" type="submit" class="btn btn--full-w btn--dark js-open-popup">Оформить заказ</a>
            </div>
        </div>
    </div>
</section>
<section class="block others">
    <div class="innertube">
        <div class="others__title">Похожие товары</div>
        <div class="slider others__slider js-additional-products-slider">
            <div class="product-card">
                <div class="product-card__picture">
                    <img src="./mobile/img/product.png">
                </div>
                <div class="product-card__desc">
                    <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                    <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
                </div>
                <div class="product-card__buy">
                    <span class="product-card__availability">в наличии</span>
                    <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
                </div>
            </div>
            <div class="product-card">
                <div class="product-card__picture">
                    <img src="./mobile/img/product.png">
                </div>
                <div class="product-card__desc">
                    <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                    <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
                </div>
                <div class="product-card__buy">
                    <span class="product-card__availability">в наличии</span>
                    <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
                </div>
            </div>
            <div class="product-card">
                <div class="product-card__picture">
                    <img src="./mobile/img/product.png">
                </div>
                <div class="product-card__desc">
                    <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                    <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
                </div>
                <div class="product-card__buy">
                    <span class="product-card__availability">в наличии</span>
                    <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="popups">
    <!-- Форма оформления заказа -->
    <div id="order-form" class="js-popup mfp-hide popup-block">
        <form action="/cart/add-order/" class="form js-form js-order-form order-form " novalidate data-error-msg="Произошла ошибка">
            <input type="hidden" value="0" name="source_type">
            <div class="popup-block__header">
                <div class="form__title">Оформление заказа</div>
            </div>
            <div class="popup-block__body">
                <div class="form__group">
                    <div class="form__b form__text-input-b">
                        <input type="text" class="form__text-input js-input js-required" name="username" value=" adminr " id="customer_name">
                        <label class="form__text-input-label" for="customer_name">Имя<span>*</span></label>
                    </div>
                    <div class="form__b form__text-input-b">
                        <input type="tel" placeholder="+7 (___) ___-__-__" class="form__text-input js-input js-required js-phone" value="+7 (111) 111-11-11" name="phone" id="customer_phone">
                        <label class="form__text-input-label" for="customer_phone">Телефон<span>*</span></label>
                    </div>
                    <div class="form__b form__text-input-b">
                        <input type="email" class="form__text-input js-input js-validate js-required"  value="" name="email" id="customer_email">
                        <label class="form__text-input-label" for="customer_email">Почта<span>*</span></label>
                    </div>
                </div>
                <div class="form__group form__message order-form__delivery-anesthesia js-delivery-anesthesia">
                    Доставка анестезии осуществляется только льготной категории граждан.
                </div>
                <div class="form__group">
                    <div class="form__sub-title">Доставка</div>
                    <div class="form__b form__radio-input-b"><input class="form__radio-input js-input js-close-delivery js-open-cash-payment" type="radio" name="delivery_type" value="10" id="customer_delivery_self" checked>
                        <label class="form__radio-input-label" for="customer_delivery_self">Самовывоз — бесплатно</label><input class="form__radio-input js-input js-open-delivery js-open-cash-payment" type="radio" name="delivery_type" value="5" id="customer_delivery_city">
                        <label class="form__radio-input-label js-order-del-local" for="customer_delivery_city">Доставка по МСК — <span class="js-price-val">бесплатно</span></label><input class="form__radio-input js-input js-open-delivery js-close-cash-payment" type="radio" name="delivery_type" value="4" id="customer_delivery_country">
                        <label class="form__radio-input-label js-order-del-rus" for="customer_delivery_country">Доставка по РФ — <span class="js-price-val">по соглашению</span></label></div>
                    <div class="form__b form__text-input-b hidden js-delivery-address">
                        <textarea class="form__text-input form__text-input--textarea js-input" name="address" id="customer_address"></textarea>
                        <label class="form__text-input-label" for="customer_address">Адрес доставки</label>
                    </div>
                </div>
                <div class="form__group">
                    <div class="form__b form__radio-input-b">
                        <div class="form__sub-title">Способ оплаты</div>
                        <div class="js-cash-payment">
                            <input class="form__radio-input js-input" type="radio" name="origin_payment-type" value="1" id="customer_pay_type_cash" checked>
                            <label class="form__radio-input-label" for="customer_pay_type_cash">Наличными</label>
                        </div><div class="js-cashless-payment hidden">
                        <input class="form__radio-input js-input" type="radio" name="origin_payment-type" value="2" id="customer_pay_type_card">
                        <label class="form__radio-input-label" for="customer_pay_type_card">Банковской картой<span class="order-form__payment icon-visa--bank order-form__payment--visa"></span>
                            <span class="order-form__payment order-form__payment--mk icon-mk"></span></label>
                    </div>
                        <div class="js-bill-payment">
                            <input class="form__radio-input js-input" type="radio" name="origin_payment-type" value="3" id="customer_pay_type_bill">
                            <label class="form__radio-input-label" for="customer_pay_type_bill">По счету</label>
                        </div>
                    </div>
                </div>
                <div class="form__group">
                    <div class="form__checkbox-input-b js-order-bonuses-b ">
                        <input type="checkbox" class="form__checkbox-input js-use-bonuses" name="bonus" value="1" id="form_use_bonuses">
                        <label class="form__checkbox-input-label" for="form_use_bonuses">использовать <span class="js-order-bonuses">1 979 бонусов</span>
                            <span class="tip">
                                    <span class="tip__block">
                                        После первой покупки подарочные бонусы аннулируются.<br>Использование бонусов доступно при заказе от 3 тыс. руб., максимум 20% от суммы заказа
                                    </span>
                                </span>
                        </label>
                    </div>
                </div>
                <div class="form__footer">
                    <div class="text__24">Всего к оплате:
                        <span class="text__26"><span class="js-order-final-summ">19 802</span> ₽</span>
                    </div>
                    <div class="form__checkbox-input-b">
                        <input type="checkbox" class="form__checkbox-input js-input js-required" name="agreement" value="1" id="order-agreement">
                        <label class="form__checkbox-input-label form__checkbox-input-label--small" for="order-agreement">
                            Я соглашаюсь с пунктами договора <a href="/articles/dogovor-publichnoy-ofertyi-postavki/" target="_blank" class="text__link">публичной оферты</a> и обработкой <a href="/politika-konfidencialnosti/" target="_blank" class="text__link">персональных данных</a>.
                        </label>
                    </div>
                    <div class="form__checkbox-input-b order-form__delivery-anesthesia js-delivery-anesthesia">
                        <input type="checkbox" class="form__checkbox-input js-input js-required" name="privileges" value="1" id="order-privileges" checked>
                        <label class="form__checkbox-input-label form__checkbox-input-label--small" for="order-privileges">
                            Я являюсь льготной категорией граждан или заказываю для родственников, являющихся льготной категорией граждан *
                        </label>
                    </div>  <button class="btn btn--dark btn--full-w ga-event-checkout" type="submit" onclick="yaCounter{{ version.siteVersion.metrika }}.reachGoal('FINAL');">Отправить заказ</button><div class="form__annotation order-form__delivery-anesthesia js-delivery-anesthesia">* ст. 2 Федерального закона РФ от 09.01.1997 N 5-ФЗ «О предоставлении социальных гарантий героям социалистического труда и полным кавалерам ордена трудовой славы» (в ред. от 02.07.2013) и ст 1.1 Закона РФ от 15.01.1993 N 4301-1 «О статусе Героев Советского Союза, Героев Российской Федерации и полных кавалеров Ордена Славы»</div>
                </div>
                <div class="form__success js-form__success">
                    <div>
                        <div class="content">
                            <p class="h1">Заказ № <span class="js-order-id"></span> успешно оформлен</p><p class="h2">Мы свяжемся с вами в ближайшее время</p><a href="javascript:" class="js-payment-btn" target="_blank" style="display: none;">Перейти к оплате</a>
                        </div>
                        <div>
                            <a href="https://market.yandex.ru/shop/198526/reviews/add" class="btn btn--dark btn--full-w block-space block-space--top-10" target="_blank">Оставить отзыв на Яндекс.Маркет</a>
                            <a href="/reviews/" target="_blank" class="btn btn--dark btn--full-w block-space block-space--top-10">Оставить отзыв на сайте</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
@@include('./templates/footer.tpl')
