@@include('./templates/header.tpl')

<section class="block block-space block-space--top-10">
    <div class="innertube">
        <div class="catalog js-catalog">
            <a href="#"  class="btn btn--dark catalog__filters-link js-filters-link">Фильтры</a>
            <div class="js-choose-window catalog__choose-window choose-window" style="display: none">
                <a href="#" class="choose-window__close-link js-choose-window-close">← Ортопедия</a>
                <ul class="choose-window__category choose-window__category--1">
                    <li class="choose-window__category-item-wrapper">
                        <a href="#" class="choose-window__category-item">Вспомогательные материалы</a>
                    </li>
                    <li class="choose-window__category-item-wrapper">
                        <a href="#" class="choose-window__category-item">Вспомогательные материалы</a>
                    </li>
                    <li class="choose-window__category-item-wrapper">
                        <a href="#" class="choose-window__category-item">Вспомогательные материалы</a>
                    </li>
                    <li class="choose-window__category-item-wrapper">
                        <a href="#" class="choose-window__category-item">Вспомогательные материалы</a>
                        <a href="#" class="js-toggle-link"><i class="icon-arr-d js-toggle-arr"></i></a>
                        <ul class="choose-window__category js-toggle-body choose-window__category--2" style="display: none;">
                            <li class="choose-window__category-item-wrapper">
                                <a href="/catalog/oborudovanie-i-aksessuaryi/smazka-i-ochistka-nakonechnikov/" class="choose-window__item">
                                    <span>Смазка и очистка наконечников<span></span></span>
                                </a>
                            </li>
                            <li class="choose-window__category-item-wrapper">
                                <a href="/catalog/oborudovanie-i-aksessuaryi/smazka-i-ochistka-nakonechnikov/" class="choose-window__item">
                                    <span>Смазка и очистка наконечников<span></span></span>
                                </a>
                            </li>
                            <li class="choose-window__category-item-wrapper">
                                <a href="/catalog/oborudovanie-i-aksessuaryi/smazka-i-ochistka-nakonechnikov/" class="choose-window__item">
                                    <span>Смазка и очистка наконечников<span></span></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="js-filters-window catalog__filters-window filters-window"  style="display: none">
                <p>
                    <span class="title">Фильтры</span>
                    <a href="#" class="filters-window__close-link js-filters-window-close"><i class="icon-cancel"></i></a>
                </p>
                <form class="catalog__filter filter js-filter">
                    <a href="#" class="btn btn--dark catalog__filters-link js-submit-filters-link">Применить</a>
                    <input value="1" name="onlyCategory" type="hidden">
                    <input value="1" name="page" class="js-catalog-page" type="hidden">

                    <input value="/catalog/" name="pageUrl" type="hidden">

                    <div class="filter__group">
                        <div class="filter__row">
                            <div class="filter__title filter__inline">Стоимость</div>
                            <input type="text" maxlength="6" id="price" class="filter__input-text filter__price-input js-price-input"  value="300">
                            <label class="filter__input-b filter__inline" for="price">
                            </label>
                        </div>
                        <div id="js-price-slider" class="filter__price-slider" data-start-price="500" data-min-price="0" data-max-price="1000">
                            <div class="filter__price-min">0</div>
                            <div class="filter__price-max">1000</div>
                        </div>
                    </div>

                    <div class="filter__group">
                        <div class="filter__title s-filter-title">
                            Бренды
                        </div>
                        <div class="filter__content js-filter-content">
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-0" value="14" type="checkbox">
                                <label class="filter__label" for="id-checkbox-0">Dentsply</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-1" value="30" type="checkbox">
                                <label class="filter__label" for="id-checkbox-1">GC</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-2" value="13" type="checkbox">
                                <label class="filter__label" for="id-checkbox-2">Maillefe...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-3" value="16" type="checkbox">
                                <label class="filter__label" for="id-checkbox-3">Septodon...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-4" value="33" type="checkbox">
                                <label class="filter__label" for="id-checkbox-4">Meta Bio...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-5" value="73" type="checkbox">
                                <label class="filter__label" for="id-checkbox-5">3M ESPE</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-6" value="2" type="checkbox">
                                <label class="filter__label" for="id-checkbox-6">VOCO</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-7" value="80" type="checkbox">
                                <label class="filter__label" for="id-checkbox-7">ИНИБСА</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-8" value="113" type="checkbox">
                                <label class="filter__label" for="id-checkbox-8">VDW</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-9" value="82" type="checkbox">
                                <label class="filter__label" for="id-checkbox-9">Разное</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-10" value="74" type="checkbox">
                                <label class="filter__label" for="id-checkbox-10">Heraeus ...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-11" value="11" type="checkbox">
                                <label class="filter__label" for="id-checkbox-11">Euronda</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-12" value="21" type="checkbox">
                                <label class="filter__label" for="id-checkbox-12">DMG</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-13" value="22" type="checkbox">
                                <label class="filter__label" for="id-checkbox-13">SSWhite</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-14" value="42" type="checkbox">
                                <label class="filter__label" for="id-checkbox-14">Morita c...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-15" value="6" type="checkbox">
                                <label class="filter__label" for="id-checkbox-15">ОмегаДен...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-16" value="83" type="checkbox">
                                <label class="filter__label" for="id-checkbox-16">Molnlyck...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-17" value="18" type="checkbox">
                                <label class="filter__label" for="id-checkbox-17">СтомаДен...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-18" value="55" type="checkbox">
                                <label class="filter__label" for="id-checkbox-18">Microbru...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-19" value="100" type="checkbox">
                                <label class="filter__label" for="id-checkbox-19">СТРУМ</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-20" value="60" type="checkbox">
                                <label class="filter__label" for="id-checkbox-20">PowerLed</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-21" value="1" type="checkbox">
                                <label class="filter__label" for="id-checkbox-21">Kerr</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-22" value="70" type="checkbox">
                                <label class="filter__label" for="id-checkbox-22">PoliDes</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-23" value="125" type="checkbox">
                                <label class="filter__label" for="id-checkbox-23">FKG DENT...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-24" value="108" type="checkbox">
                                <label class="filter__label" for="id-checkbox-24">Produits...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-25" value="72" type="checkbox">
                                <label class="filter__label" for="id-checkbox-25">Sanofi A...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-26" value="93" type="checkbox">
                                <label class="filter__label" for="id-checkbox-26">Unident</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-27" value="56" type="checkbox">
                                <label class="filter__label" for="id-checkbox-27">Россия</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-28" value="96" type="checkbox">
                                <label class="filter__label" for="id-checkbox-28">Nordin</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-29" value="53" type="checkbox">
                                <label class="filter__label" for="id-checkbox-29">Agree</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-30" value="5" type="checkbox">
                                <label class="filter__label" for="id-checkbox-30">Tokuyama...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-31" value="75" type="checkbox">
                                <label class="filter__label" for="id-checkbox-31">Zhermack</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-32" value="126" type="checkbox">
                                <label class="filter__label" for="id-checkbox-32">Sherpa K...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-33" value="32" type="checkbox">
                                <label class="filter__label" for="id-checkbox-33">Spident</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-34" value="116" type="checkbox">
                                <label class="filter__label" for="id-checkbox-34">Nipro (Я...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-35" value="117" type="checkbox">
                                <label class="filter__label" for="id-checkbox-35">Bisico</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-36" value="111" type="checkbox">
                                <label class="filter__label" for="id-checkbox-36">Politec</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-37" value="4" type="checkbox">
                                <label class="filter__label" for="id-checkbox-37">Форма</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-38" value="104" type="checkbox">
                                <label class="filter__label" for="id-checkbox-38">MRC</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-39" value="114" type="checkbox">
                                <label class="filter__label" for="id-checkbox-39">TBI Comp...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-40" value="123" type="checkbox">
                                <label class="filter__label" for="id-checkbox-40">Discus D...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-41" value="3" type="checkbox">
                                <label class="filter__label" for="id-checkbox-41">Ivoclar ...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-42" value="115" type="checkbox">
                                <label class="filter__label" for="id-checkbox-42">Bisco</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-43" value="129" type="checkbox">
                                <label class="filter__label" for="id-checkbox-43">Bausch</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-44" value="128" type="checkbox">
                                <label class="filter__label" for="id-checkbox-44">ЗАО "Пет...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-45" value="102" type="checkbox">
                                <label class="filter__label" for="id-checkbox-45">Apexmed</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-46" value="170" type="checkbox">
                                <label class="filter__label" for="id-checkbox-46">Shofu</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-47" value="149" type="checkbox">
                                <label class="filter__label" for="id-checkbox-47">DiaDent</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-48" value="147" type="checkbox">
                                <label class="filter__label" for="id-checkbox-48">TehnoDen...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-49" value="148" type="checkbox">
                                <label class="filter__label" for="id-checkbox-49">Curaprox</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-50" value="150" type="checkbox">
                                <label class="filter__label" for="id-checkbox-50">AB Arden...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-51" value="7" type="checkbox">
                                <label class="filter__label" for="id-checkbox-51">ТОР ВМ</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-52" value="10" type="checkbox">
                                <label class="filter__label" for="id-checkbox-52">Dispoden...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-53" value="151" type="checkbox">
                                <label class="filter__label" for="id-checkbox-53">StaiNo</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-54" value="31" type="checkbox">
                                <label class="filter__label" for="id-checkbox-54">ITENA</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-55" value="154" type="checkbox">
                                <label class="filter__label" for="id-checkbox-55">TePe</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-56" value="136" type="checkbox">
                                <label class="filter__label" for="id-checkbox-56">BRAUN</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-57" value="143" type="checkbox">
                                <label class="filter__label" for="id-checkbox-57">TPC</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-58" value="45" type="checkbox">
                                <label class="filter__label" for="id-checkbox-58">РЕКЛАМНА...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-59" value="163" type="checkbox">
                                <label class="filter__label" for="id-checkbox-59">Ansell</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-60" value="153" type="checkbox">
                                <label class="filter__label" for="id-checkbox-60">Hapica</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-61" value="188" type="checkbox">
                                <label class="filter__label" for="id-checkbox-61">KLEVER</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-62" value="166" type="checkbox">
                                <label class="filter__label" for="id-checkbox-62">FGM</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-63" value="98" type="checkbox">
                                <label class="filter__label" for="id-checkbox-63">NSK</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-64" value="61" type="checkbox">
                                <label class="filter__label" for="id-checkbox-64">ULTRADEN...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-65" value="144" type="checkbox">
                                <label class="filter__label" for="id-checkbox-65">Carestre...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-66" value="171" type="checkbox">
                                <label class="filter__label" for="id-checkbox-66">КЛИНИПАК...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-67" value="172" type="checkbox">
                                <label class="filter__label" for="id-checkbox-67">НПП "Сиб...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-68" value="174" type="checkbox">
                                <label class="filter__label" for="id-checkbox-68">АНТИС</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-69" value="176" type="checkbox">
                                <label class="filter__label" for="id-checkbox-69">ARKONA</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-70" value="142" type="checkbox">
                                <label class="filter__label" for="id-checkbox-70">EuroType</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-71" value="8" type="checkbox">
                                <label class="filter__label" for="id-checkbox-71">ВладМиВа</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-72" value="157" type="checkbox">
                                <label class="filter__label" for="id-checkbox-72">Donfeel</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-73" value="179" type="checkbox">
                                <label class="filter__label" for="id-checkbox-73">P&amp;G</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-74" value="162" type="checkbox">
                                <label class="filter__label" for="id-checkbox-74">Coswell ...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-75" value="185" type="checkbox">
                                <label class="filter__label" for="id-checkbox-75">Органик ...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-76" value="146" type="checkbox">
                                <label class="filter__label" for="id-checkbox-76">Clean+Sa...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-77" value="64" type="checkbox">
                                <label class="filter__label" for="id-checkbox-77">Dermagri...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-78" value="187" type="checkbox">
                                <label class="filter__label" for="id-checkbox-78">Dr. Hinz...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-79" value="190" type="checkbox">
                                <label class="filter__label" for="id-checkbox-79">Cefla S....</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-80" value="112" type="checkbox">
                                <label class="filter__label" for="id-checkbox-80">Mani</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-81" value="17" type="checkbox">
                                <label class="filter__label" for="id-checkbox-81">Spofa</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-82" value="81" type="checkbox">
                                <label class="filter__label" for="id-checkbox-82">Дентика</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-83" value="1455" type="checkbox">
                                <label class="filter__label" for="id-checkbox-83">ДЕНТА-М</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-84" value="36" type="checkbox">
                                <label class="filter__label" for="id-checkbox-84">ДиСиЛан</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-85" value="44" type="checkbox">
                                <label class="filter__label" for="id-checkbox-85">Philips</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-86" value="34" type="checkbox">
                                <label class="filter__label" for="id-checkbox-86">Premier ...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-87" value="99" type="checkbox">
                                <label class="filter__label" for="id-checkbox-87">Noritake</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-88" value="127" type="checkbox">
                                <label class="filter__label" for="id-checkbox-88">ООО "КАР...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-89" value="37" type="checkbox">
                                <label class="filter__label" for="id-checkbox-89">RAYDENC ...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-90" value="38" type="checkbox">
                                <label class="filter__label" for="id-checkbox-90">Crosstex</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-91" value="130" type="checkbox">
                                <label class="filter__label" for="id-checkbox-91">Schulke&amp;...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-92" value="39" type="checkbox">
                                <label class="filter__label" for="id-checkbox-92">HUMANCHE...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-93" value="132" type="checkbox">
                                <label class="filter__label" for="id-checkbox-93">Lysoform...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-94" value="23" type="checkbox">
                                <label class="filter__label" for="id-checkbox-94">PrimaDen...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-95" value="25" type="checkbox">
                                <label class="filter__label" for="id-checkbox-95">Verident</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-96" value="43" type="checkbox">
                                <label class="filter__label" for="id-checkbox-96">OSRAM</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-97" value="46" type="checkbox">
                                <label class="filter__label" for="id-checkbox-97">GlasSpan</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-98" value="94" type="checkbox">
                                <label class="filter__label" for="id-checkbox-98">ДипленДе...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-99" value="48" type="checkbox">
                                <label class="filter__label" for="id-checkbox-99">Ni-pro (...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-100" value="50" type="checkbox">
                                <label class="filter__label" for="id-checkbox-100">Sirio</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-101" value="52" type="checkbox">
                                <label class="filter__label" for="id-checkbox-101">Nordiska...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-102" value="51" type="checkbox">
                                <label class="filter__label" for="id-checkbox-102">Coltene</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-103" value="26" type="checkbox">
                                <label class="filter__label" for="id-checkbox-103">SuperDen...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-104" value="27" type="checkbox">
                                <label class="filter__label" for="id-checkbox-104">AlphaDen...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-105" value="57" type="checkbox">
                                <label class="filter__label" for="id-checkbox-105">LASCOD</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-106" value="85" type="checkbox">
                                <label class="filter__label" for="id-checkbox-106">DuraMedi...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-107" value="41" type="checkbox">
                                <label class="filter__label" for="id-checkbox-107">Blossom</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-108" value="191" type="checkbox">
                                <label class="filter__label" for="id-checkbox-108">ММИЗ</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-109" value="58" type="checkbox">
                                <label class="filter__label" for="id-checkbox-109">SENSE</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-110" value="66" type="checkbox">
                                <label class="filter__label" for="id-checkbox-110">Dentalfi...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-111" value="67" type="checkbox">
                                <label class="filter__label" for="id-checkbox-111">EMS</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-112" value="24" type="checkbox">
                                <label class="filter__label" for="id-checkbox-112">PrimeDen...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-113" value="68" type="checkbox">
                                <label class="filter__label" for="id-checkbox-113">КМИЗ</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-114" value="71" type="checkbox">
                                <label class="filter__label" for="id-checkbox-114">ДезКлине...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-115" value="110" type="checkbox">
                                <label class="filter__label" for="id-checkbox-115">KRISTIDE...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-116" value="89" type="checkbox">
                                <label class="filter__label" for="id-checkbox-116">S&amp;S Sche...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-117" value="186" type="checkbox">
                                <label class="filter__label" for="id-checkbox-117">ОАО "Луж...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-118" value="19" type="checkbox">
                                <label class="filter__label" for="id-checkbox-118">Стомахим</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-119" value="141" type="checkbox">
                                <label class="filter__label" for="id-checkbox-119">Monoject</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-120" value="29" type="checkbox">
                                <label class="filter__label" for="id-checkbox-120">Dentstar</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-121" value="95" type="checkbox">
                                <label class="filter__label" for="id-checkbox-121">DSLightP...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-122" value="54" type="checkbox">
                                <label class="filter__label" for="id-checkbox-122">Horico</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-123" value="139" type="checkbox">
                                <label class="filter__label" for="id-checkbox-123">НПФ "ВИН...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-124" value="109" type="checkbox">
                                <label class="filter__label" for="id-checkbox-124">DEZODENT</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-125" value="134" type="checkbox">
                                <label class="filter__label" for="id-checkbox-125">Borer</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-126" value="135" type="checkbox">
                                <label class="filter__label" for="id-checkbox-126">ООО "Лин...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-127" value="124" type="checkbox">
                                <label class="filter__label" for="id-checkbox-127">Bien-Air...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-128" value="133" type="checkbox">
                                <label class="filter__label" for="id-checkbox-128">Johnson&amp;...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-129" value="118" type="checkbox">
                                <label class="filter__label" for="id-checkbox-129">BJM LAB</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-130" value="131" type="checkbox">
                                <label class="filter__label" for="id-checkbox-130">Geistlic...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-131" value="119" type="checkbox">
                                <label class="filter__label" for="id-checkbox-131">Sure-End...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-132" value="137" type="checkbox">
                                <label class="filter__label" for="id-checkbox-132">ООО "Тон...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-133" value="145" type="checkbox">
                                <label class="filter__label" for="id-checkbox-133">KaVo				</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-134" value="121" type="checkbox">
                                <label class="filter__label" for="id-checkbox-134">OMNIDENT</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-135" value="175" type="checkbox">
                                <label class="filter__label" for="id-checkbox-135">MEDAIM</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-136" value="180" type="checkbox">
                                <label class="filter__label" for="id-checkbox-136">MiFF</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-137" value="152" type="checkbox">
                                <label class="filter__label" for="id-checkbox-137">ARCHDALE</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-138" value="155" type="checkbox">
                                <label class="filter__label" for="id-checkbox-138">Aquajet</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-139" value="160" type="checkbox">
                                <label class="filter__label" for="id-checkbox-139">AquaPuls...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-140" value="158" type="checkbox">
                                <label class="filter__label" for="id-checkbox-140">Panasoni...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-141" value="173" type="checkbox">
                                <label class="filter__label" for="id-checkbox-141">EXTRAMOR...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-142" value="156" type="checkbox">
                                <label class="filter__label" for="id-checkbox-142">B.Well</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-143" value="159" type="checkbox">
                                <label class="filter__label" for="id-checkbox-143">WaterPik</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-144" value="164" type="checkbox">
                                <label class="filter__label" for="id-checkbox-144">Северная...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-145" value="167" type="checkbox">
                                <label class="filter__label" for="id-checkbox-145">Хуаюин М...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-146" value="168" type="checkbox">
                                <label class="filter__label" for="id-checkbox-146">Целит ОО...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-147" value="169" type="checkbox">
                                <label class="filter__label" for="id-checkbox-147">PIERREL</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-148" value="178" type="checkbox">
                                <label class="filter__label" for="id-checkbox-148">XINGYANG...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-149" value="181" type="checkbox">
                                <label class="filter__label" for="id-checkbox-149">НОРД-ОСТ...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-150" value="182" type="checkbox">
                                <label class="filter__label" for="id-checkbox-150">ГЛОМАКО ...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-151" value="184" type="checkbox">
                                <label class="filter__label" for="id-checkbox-151">R.O.C.S.</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-152" value="183" type="checkbox">
                                <label class="filter__label" for="id-checkbox-152">Ludovico...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-153" value="161" type="checkbox">
                                <label class="filter__label" for="id-checkbox-153">grandstr...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-154" value="189" type="checkbox">
                                <label class="filter__label" for="id-checkbox-154">Keystone...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-155" value="192" type="checkbox">
                                <label class="filter__label" for="id-checkbox-155">Сибмедин...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-156" value="1456" type="checkbox">
                                <label class="filter__label" for="id-checkbox-156">ELEGreen</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-157" value="69" type="checkbox">
                                <label class="filter__label" for="id-checkbox-157">JNB</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-158" value="1458" type="checkbox">
                                <label class="filter__label" for="id-checkbox-158">Purity L...</label>
                            </div>
                            <div class="filter__pair">
                                <input class="filter__checkbox" name="brands[]" id="id-checkbox-159" value="40" type="checkbox">
                                <label class="filter__label" for="id-checkbox-159">NTI</label>
                            </div>
                        </div>
                    </div>

                    <div class="filter__group">
                        <div class="filter__title">
                            Наличие товара
                        </div>
                        <div class="filter__content filter__content--hidden js-filter-content">
                            <div class="filter__pair filter__pair--100">
                                <input class="filter__checkbox" name="receiveTime[]" id="id-checkbox-160" value="today" type="checkbox">
                                <label class="filter__label" for="id-checkbox-160">В наличии</label>
                            </div>
                            <div class="filter__pair filter__pair--100">
                                <input class="filter__checkbox" name="receiveTime[]" id="id-checkbox-161" value="by_order" type="checkbox">
                                <label class="filter__label" for="id-checkbox-161">Под заказ</label>
                            </div>
                        </div>
                    </div>

                    <div class="filter__group">
                        <div class="filter__title filter__clear js-filter-reset">Сбросить фильтры</div>
                    </div>
                </form>
            </div>
            <h1 class="title catalog__title">Профилактика и гигиена</h1>
            <div class="js-catalog__body catalog__body">
                <div class="catalog__settings">
                    <a href="#categories" class="catalog__choose-link js-choose-link">Выбрать раздел</a><i class="icon-arr-d"></i>
                    <span class="catalog__found">Найден <span class="js-filter-count">431</span> товар</span>
                </div>
                <div class="catalog__results js-catalog__result">
                    <div class="product-card">
                        <div class="product-card__picture">
                            <img src="./mobile/img/product.png">
                        </div>
                        <div class="product-card__desc">
                            <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                            <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
                        </div>
                        <div class="product-card__buy">
                            <span class="product-card__availability">в наличии</span>
                            <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-card__picture">
                            <img src="./mobile/img/product.png">
                        </div>
                        <div class="product-card__desc">
                            <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                            <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
                        </div>
                        <div class="product-card__buy">
                            <span class="product-card__availability">в наличии</span>
                            <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-card__picture">
                            <img src="./mobile/img/product.png">
                        </div>
                        <div class="product-card__desc">
                            <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                            <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
                        </div>
                        <div class="product-card__buy">
                            <span class="product-card__availability">в наличии</span>
                            <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-card__picture">
                            <img src="./mobile/img/product.png">
                        </div>
                        <div class="product-card__desc">
                            <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                            <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
                        </div>
                        <div class="product-card__buy">
                            <span class="product-card__availability">в наличии</span>
                            <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-card__picture">
                            <img src="./mobile/img/product.png">
                        </div>
                        <div class="product-card__desc">
                            <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                            <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
                        </div>
                        <div class="product-card__buy">
                            <span class="product-card__availability">в наличии</span>
                            <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-card__picture">
                            <img src="./mobile/img/product.png">
                        </div>
                        <div class="product-card__desc">
                            <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                            <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
                        </div>
                        <div class="product-card__buy">
                            <span class="product-card__availability">в наличии</span>
                            <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-card__picture">
                            <img src="./mobile/img/product.png">
                        </div>
                        <div class="product-card__desc">
                            <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                            <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
                        </div>
                        <div class="product-card__buy">
                            <span class="product-card__availability">в наличии</span>
                            <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="product-card__picture">
                            <img src="./mobile/img/product.png">
                        </div>
                        <div class="product-card__desc">
                            <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                            <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
                        </div>
                        <div class="product-card__buy">
                            <span class="product-card__availability">в наличии</span>
                            <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
                        </div>
                    </div>

                    <div class="catalog__footer js-catalog__footer">
                        <a href="#" class="catalog__add-more btn js-filter-add">Показать еще</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@@include('./templates/footer.tpl')
