@@include('./templates/header.tpl')

<section class="block block-space block-space--top-10">
    <div class="innertube">
        <h1 class="title">Контакты</h1>
        <div class="contacts__b">
            <div class="contacts__col">
                <div class="contacts__group">
                    <div class="contacts__label">Бесплатно по России</div>
                    <div class="contacts__phone"><a href="tel:88007008343">8 800 700-83-43</a></div>
                </div>

                <div class="contacts__group">
                    <div class="contacts__label">Москва</div>
                    <div class="contacts__phone"><a href="tel:tel:84951205919">8 495 120-59-19</a></div>
                </div>

                <div class="contacts__group">
                    <div class="contacts__label">Мы в соц. сетях:</div>
                    <div class="contacts__socials">
                        <a href="https://www.facebook.com/stommarket/" target="_blank" class="contacts__socials-el icon-facebook"></a>

                        <a href="https://vk.com/stommarketru" target="_blank" class="contacts__socials-el icon-vk"></a>
                    </div>
                </div>

                <div class="contacts__group">
                    <div class="contacts__label">Электронная почта</div>
                    <a class="contacts__email" href="mailto:msk@stommarket.ru">msk@stommarket.ru</a>
                </div>

                <div class="contacts__group">
                    <a href="#add__feedback" class="contacts__btn btn btn--dark btn--full-w js-open-popup">Обратная связь</a>
                </div>
            </div>
        </div>
        <div class="contacts__b">
            <div class="contacts__map-descr content content--sm">
                <h2>Санкт-Петербург</h2>
                <p><b>Адрес:</b> г. Санкт-Петербург, ул. Республиканская, д. 22</p>

                <p><b>Схема проезда от метро Новочеркасская:</b> <a href="https://2gis.ru/spb/geo/5348763291881427%2C30.412817%2C59.929173/routeSearch/rsType/car/from/30.412918%2C59.92933%7C%D0%9D%D0%BE%D0%B2%D0%BE%D1%87%D0%B5%D1%80%D0%BA%D0%B0%D1%81%D1%81%D0%BA%D0%B0%D1%8F%7C5348810536517690%7Cstation/to/30.412252%2C59.935717%7C%D0%A0%D0%B5%D1%81%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D0%BA%D0%B0%D0%BD%D1%81%D0%BA%D0%B0%D1%8F%2022%7C5348660212702941%7Cgeo?queryState=center%2F30.405092%2C59.932511%2Fzoom%2F16%2FrouteTab" target="_blank">cсылка</a></p>

                <p><b>Время работы:</b> Пн.-Сб. с 10:00 до 18:00 (прием заявок и пункт выдачи)</p>

                <p><b>Телефон:</b> <a href="tel:tel:88124261939">8 812 426-19-39</a></p>

                <p><b>Почта:</b> <a href="mailto:sale@stommarket.ru">sale@stommarket.ru</a></p>
                <div class="contacts__map js-map" id="cmap1" data-lat="59.935426675000386" data-lon="30.412484791278075" style="position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div style="position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; z-index: 0;" class="gm-style"><div style="z-index: 0; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default;" tabindex="0"><div style="z-index: 1; position: absolute; left: 50%; top: 50%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; transform: matrix(1, 0, 0, 1, -54, -143); z-index: 1;"><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div style="position: absolute; transform: matrix(1, 0, 0, 1, -54, -143); z-index: 1;"><div style="overflow: hidden; position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"></div><div style="overflow: hidden; position: absolute; left: -256px; top: 0px; width: 256px; height: 256px;"></div><div style="overflow: hidden; position: absolute; left: -256px; top: -256px; width: 256px; height: 256px;"></div><div style="overflow: hidden; position: absolute; left: 0px; top: -256px; width: 256px; height: 256px;"></div><div style="overflow: hidden; position: absolute; left: 256px; top: -256px; width: 256px; height: 256px;"></div><div style="overflow: hidden; position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;"></div><div style="overflow: hidden; position: absolute; left: 256px; top: 256px; width: 256px; height: 256px;"></div><div style="overflow: hidden; position: absolute; left: 0px; top: 256px; width: 256px; height: 256px;"></div><div style="overflow: hidden; position: absolute; left: -256px; top: 256px; width: 256px; height: 256px;"></div></div></div><div style="width: 40px; height: 58px; overflow: hidden; position: absolute; left: -20px; top: -58px; z-index: 0;"><img style="position: absolute; left: 0px; top: 0px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none; width: 40px; height: 58px;" alt="" src="/img/map-marker-blue.png" draggable="false"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; transform: matrix(1, 0, 0, 1, -54, -143); z-index: 1;"><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"><img style="width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i19152!3i9527!4i256!2m3!1e0!2sm!3i423123488!3m9!2sru!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!23i1301875&amp;token=114664"></div><div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px;"><img style="width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i19151!3i9527!4i256!2m3!1e0!2sm!3i423123488!3m9!2sru!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!23i1301875&amp;token=117054"></div><div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px;"><img style="width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i19151!3i9526!4i256!2m3!1e0!2sm!3i423123272!3m9!2sru!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!23i1301875&amp;token=5579"></div><div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px;"><img style="width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i19152!3i9526!4i256!2m3!1e0!2sm!3i423123272!3m9!2sru!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!23i1301875&amp;token=3189"></div><div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px;"><img style="width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i19153!3i9526!4i256!2m3!1e0!2sm!3i423123488!3m9!2sru!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!23i1301875&amp;token=20924"></div><div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;"><img style="width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i19153!3i9527!4i256!2m3!1e0!2sm!3i423123488!3m9!2sru!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!23i1301875&amp;token=112274"></div><div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px;"><img style="width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i19153!3i9528!4i256!2m3!1e0!2sm!3i423123488!3m9!2sru!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!23i1301875&amp;token=72553"></div><div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px;"><img style="width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i19152!3i9528!4i256!2m3!1e0!2sm!3i423123488!3m9!2sru!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!23i1301875&amp;token=74943"></div><div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px;"><img style="width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" draggable="false" alt="" src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i15!2i19151!3i9528!4i256!2m3!1e0!2sm!3i423123488!3m9!2sru!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!23i1301875&amp;token=77333"></div></div></div></div><div style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; transition-duration: 0.8s; opacity: 0;" class="gm-style-pbc"><p class="gm-style-pbt">Чтобы изменить масштаб, прокручивайте карту, удерживая клавишу Ctrl.</p></div><div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"><div style="z-index: 1; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;"></div><div style="z-index: 4; position: absolute; left: 50%; top: 50%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"><div style="width: 40px; height: 58px; overflow: hidden; position: absolute; opacity: 0.01; cursor: pointer; touch-action: none; left: -20px; top: -58px; z-index: 0;" class="gmnoprint" title=""><img style="position: absolute; left: 0px; top: 0px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none; width: 40px; height: 58px;" alt="" src="/img/map-marker-blue.png" draggable="false"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div></div><iframe style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: medium none;" src="about:blank" frameborder="0"></iframe><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a style="position: static; overflow: visible; float: none; display: inline;" target="_blank" href="https://maps.google.com/maps?ll=59.935427,30.412485&amp;z=15&amp;t=m&amp;hl=ru&amp;gl=US&amp;mapclient=apiv3" title="Нажмите, чтобы отобразить эту область в Картах Google"><div style="width: 66px; height: 26px; cursor: pointer;"><img style="position: absolute; left: 0px; top: 0px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; width: 66px; height: 26px;" alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png" draggable="false"></div></a></div><div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 148px; position: absolute; left: 121px; top: 88px;"><div style="padding: 0px 0px 10px; font-size: 16px;">Картографические данные</div><div style="font-size: 13px;">Картографические данные © 2018 Google</div><div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img style="position: absolute; left: -2px; top: -336px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none; width: 59px; height: 492px;" alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false"></div></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; width: 207px; right: 281px; bottom: 0px;"><div draggable="false" style="-moz-user-select: none; height: 14px; line-height: 14px;" class="gm-style-cc"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="text-decoration: none; cursor: pointer; display: none;">Картографические данные</a><span>Картографические данные © 2018 Google</span></div></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Картографические данные © 2018 Google</div></div><div class="gmnoprint gm-style-cc" style="z-index: 1000001; -moz-user-select: none; height: 14px; line-height: 14px; position: absolute; right: 154px; bottom: 0px;" draggable="false"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);" href="https://www.google.com/intl/ru_US/help/terms_maps.html" target="_blank">Условия использования</a></div></div><button style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; padding: 0px; -moz-user-select: none; cursor: pointer; width: 25px; height: 25px; overflow: hidden; position: absolute; margin: 10px 14px; display: none; top: 0px; right: 0px;" draggable="false" title="Включить полноэкранный режим" aria-label="Включить полноэкранный режим" type="button"><img style="position: absolute; top: -86px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; left: -52px; width: 164px; height: 175px;" alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/sv9.png" draggable="false" class="gm-fullscreen-control"></button><div draggable="false" style="-moz-user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;" class="gm-style-cc"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_blank" rel="noopener" title="Сообщить об ошибке на карте или снимке" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;" href="https://www.google.com/maps/@59.9354267,30.4124848,15z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3">Сообщить об ошибке на карте</a></div></div><div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" style="margin: 10px; -moz-user-select: none; position: absolute; bottom: 69px; right: 28px;" draggable="false" controlwidth="28" controlheight="55"><div class="gmnoprint" style="position: absolute; left: 0px; top: 0px;" controlwidth="28" controlheight="55"><div draggable="false" style="-moz-user-select: none; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; width: 28px; height: 55px; background-color: rgb(255, 255, 255);"><button style="background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; display: block; border: 0px none; margin: 0px; padding: 0px; position: relative; cursor: pointer; -moz-user-select: none; width: 28px; height: 27px; top: 0px; left: 0px;" draggable="false" title="Увеличить" aria-label="Увеличить" type="button"><div style="overflow: hidden; position: absolute; left: 7px; top: 6px; width: 15px; height: 15px;"><img style="position: absolute; left: 0px; top: 0px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;" alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false"></div></button><div style="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%; top: 0px; background-color: rgb(230, 230, 230);"></div><button style="background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; display: block; border: 0px none; margin: 0px; padding: 0px; position: relative; cursor: pointer; -moz-user-select: none; width: 28px; height: 27px; top: 0px; left: 0px;" draggable="false" title="Уменьшить" aria-label="Уменьшить" type="button"><div style="overflow: hidden; position: absolute; left: 7px; top: 6px; width: 15px; height: 15px;"><img style="position: absolute; left: 0px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none; top: -15px; width: 120px; height: 54px;" alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false"></div></button></div></div></div></div></div></div>
            </div>
        </div>
    </div>
</section>
<div class="popups">
    <!-- Форма оформления заказа -->
    <div id="order-form" class="js-popup mfp-hide popup-block">
        <form action="/cart/add-order/" class="form js-form js-order-form order-form " novalidate data-error-msg="Произошла ошибка">
            <input type="hidden" value="0" name="source_type">
            <div class="popup-block__header">
                <div class="form__title">Оформление заказа</div>
            </div>
            <div class="popup-block__body">
                <div class="form__group">
                    <div class="form__b form__text-input-b">
                        <input type="text" class="form__text-input js-input js-required" name="username" value=" adminr " id="customer_name">
                        <label class="form__text-input-label" for="customer_name">Имя<span>*</span></label>
                    </div>
                    <div class="form__b form__text-input-b">
                        <input type="tel" placeholder="+7 (___) ___-__-__" class="form__text-input js-input js-required js-phone" value="+7 (111) 111-11-11" name="phone" id="customer_phone">
                        <label class="form__text-input-label" for="customer_phone">Телефон<span>*</span></label>
                    </div>
                    <div class="form__b form__text-input-b">
                        <input type="email" class="form__text-input js-input js-validate js-required"  value="" name="email" id="customer_email">
                        <label class="form__text-input-label" for="customer_email">Почта<span>*</span></label>
                    </div>
                </div>
                <div class="form__group form__message order-form__delivery-anesthesia js-delivery-anesthesia">
                    Доставка анестезии осуществляется только льготной категории граждан.
                </div>
                <div class="form__group">
                    <div class="form__sub-title">Доставка</div>
                    <div class="form__b form__radio-input-b"><input class="form__radio-input js-input js-close-delivery js-open-cash-payment" type="radio" name="delivery_type" value="10" id="customer_delivery_self" checked>
                        <label class="form__radio-input-label" for="customer_delivery_self">Самовывоз — бесплатно</label><input class="form__radio-input js-input js-open-delivery js-open-cash-payment" type="radio" name="delivery_type" value="5" id="customer_delivery_city">
                        <label class="form__radio-input-label js-order-del-local" for="customer_delivery_city">Доставка по МСК — <span class="js-price-val">бесплатно</span></label><input class="form__radio-input js-input js-open-delivery js-close-cash-payment" type="radio" name="delivery_type" value="4" id="customer_delivery_country">
                        <label class="form__radio-input-label js-order-del-rus" for="customer_delivery_country">Доставка по РФ — <span class="js-price-val">по соглашению</span></label></div>
                    <div class="form__b form__text-input-b hidden js-delivery-address">
                        <textarea class="form__text-input form__text-input--textarea js-input" name="address" id="customer_address"></textarea>
                        <label class="form__text-input-label" for="customer_address">Адрес доставки</label>
                    </div>
                </div>
                <div class="form__group">
                    <div class="form__b form__radio-input-b">
                        <div class="form__sub-title">Способ оплаты</div>
                        <div class="js-cash-payment">
                            <input class="form__radio-input js-input" type="radio" name="origin_payment-type" value="1" id="customer_pay_type_cash" checked>
                            <label class="form__radio-input-label" for="customer_pay_type_cash">Наличными</label>
                        </div><div class="js-cashless-payment hidden">
                        <input class="form__radio-input js-input" type="radio" name="origin_payment-type" value="2" id="customer_pay_type_card">
                        <label class="form__radio-input-label" for="customer_pay_type_card">Банковской картой<span class="order-form__payment icon-visa--bank order-form__payment--visa"></span>
                            <span class="order-form__payment order-form__payment--mk icon-mk"></span></label>
                    </div>
                        <div class="js-bill-payment">
                            <input class="form__radio-input js-input" type="radio" name="origin_payment-type" value="3" id="customer_pay_type_bill">
                            <label class="form__radio-input-label" for="customer_pay_type_bill">По счету</label>
                        </div>
                    </div>
                </div>
                <div class="form__group">
                    <div class="form__checkbox-input-b js-order-bonuses-b ">
                        <input type="checkbox" class="form__checkbox-input js-use-bonuses" name="bonus" value="1" id="form_use_bonuses">
                        <label class="form__checkbox-input-label" for="form_use_bonuses">использовать <span class="js-order-bonuses">1 979 бонусов</span>
                            <span class="tip">
                                    <span class="tip__block">
                                        После первой покупки подарочные бонусы аннулируются.<br>Использование бонусов доступно при заказе от 3 тыс. руб., максимум 20% от суммы заказа
                                    </span>
                                </span>
                        </label>
                    </div>
                </div>
                <div class="form__footer">
                    <div class="text__24">Всего к оплате:
                        <span class="text__26"><span class="js-order-final-summ">19 802</span> ₽</span>
                    </div>
                    <div class="form__checkbox-input-b">
                        <input type="checkbox" class="form__checkbox-input js-input js-required" name="agreement" value="1" id="order-agreement">
                        <label class="form__checkbox-input-label form__checkbox-input-label--small" for="order-agreement">
                            Я соглашаюсь с пунктами договора <a href="/articles/dogovor-publichnoy-ofertyi-postavki/" target="_blank" class="text__link">публичной оферты</a> и обработкой <a href="/politika-konfidencialnosti/" target="_blank" class="text__link">персональных данных</a>.
                        </label>
                    </div>
                    <div class="form__checkbox-input-b order-form__delivery-anesthesia js-delivery-anesthesia">
                        <input type="checkbox" class="form__checkbox-input js-input js-required" name="privileges" value="1" id="order-privileges" checked>
                        <label class="form__checkbox-input-label form__checkbox-input-label--small" for="order-privileges">
                            Я являюсь льготной категорией граждан или заказываю для родственников, являющихся льготной категорией граждан *
                        </label>
                    </div>  <button class="btn btn--dark btn--full-w ga-event-checkout" type="submit" onclick="yaCounter{{ version.siteVersion.metrika }}.reachGoal('FINAL');">Отправить заказ</button><div class="form__annotation order-form__delivery-anesthesia js-delivery-anesthesia">* ст. 2 Федерального закона РФ от 09.01.1997 N 5-ФЗ «О предоставлении социальных гарантий героям социалистического труда и полным кавалерам ордена трудовой славы» (в ред. от 02.07.2013) и ст 1.1 Закона РФ от 15.01.1993 N 4301-1 «О статусе Героев Советского Союза, Героев Российской Федерации и полных кавалеров Ордена Славы»</div>
                </div>
                <div class="form__success js-form__success">
                    <div>
                        <div class="content">
                            <p class="h1">Заказ № <span class="js-order-id"></span> успешно оформлен</p><p class="h2">Мы свяжемся с вами в ближайшее время</p><a href="javascript:" class="js-payment-btn" target="_blank" style="display: none;">Перейти к оплате</a>
                        </div>
                        <div>
                            <a href="https://market.yandex.ru/shop/198526/reviews/add" class="btn btn--dark btn--full-w block-space block-space--top-10" target="_blank">Оставить отзыв на Яндекс.Маркет</a>
                            <a href="/reviews/" target="_blank" class="btn btn--dark btn--full-w block-space block-space--top-10">Оставить отзыв на сайте</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
@@include('./templates/footer.tpl')
