@@include('./templates/header.tpl')
<section class="slider index-slider">
    <div class="slider-body js-index-slider">
        <div class="slide" style="background: url(./mobile/img/slider-picture.jpg) no-repeat center 0px;">
            <h2 class="slide__header">Франшиза «Стоммаркет»</h2>
            <p class="slide__text-line">— Свой бизнес и возможность развития;</p>
            <p class="slide__text-line">— Минимальные цены на товар;</p>
            <p class="slide__text-line">— Малый срок окупаемости.</p>
            <a href="#" class="slide__link btn btn--dark">Посмотреть</a>
        </div>
        <div class="slide" style="background: url(./mobile/img/slider-picture.jpg) no-repeat center 0px;">
            <h2 class="slide__header">Франшиза<br>«Стоммаркет»</h2>
            <p class="slide__text-line">— Свой бизнес и возможность развития;</p>
            <p class="slide__text-line">— Минимальные цены на товар;</p>
            <p class="slide__text-line">— Малый срок окупаемости.</p>
            <a href="#" class="slide__link btn btn--dark">Посмотреть</a>
        </div>
        <div class="slide" style="background: url(./mobile/img/slider-picture.jpg) no-repeat center 0px;">
            <h2 class="slide__header">Франшиза<br>«Стоммаркет»</h2>
            <p class="slide__text-line">— Свой бизнес и возможность развития;</p>
            <p class="slide__text-line">— Минимальные цены на товар;</p>
            <p class="slide__text-line">— Малый срок окупаемости.</p>
            <a href="#" class="slide__link btn btn--dark">Посмотреть</a>
        </div>
    </div>
</section>

<section class="products">
    <div class="innertube">
        <div class="product-card">
            <div class="product-card__picture">
                <img src="./mobile/img/product.png">
            </div>
            <div class="product-card__desc">
                <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
            </div>
            <div class="product-card__buy">
                <span class="product-card__availability">в наличии</span>
                <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
            </div>
        </div>
        <div class="product-card">
            <div class="product-card__picture">
                <img src="./mobile/img/product.png">
            </div>
            <div class="product-card__desc">
                <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
            </div>
            <div class="product-card__buy">
                <span class="product-card__availability">в наличии</span>
                <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
            </div>
        </div>
        <div class="product-card">
            <div class="product-card__picture">
                <img src="./mobile/img/product.png">
            </div>
            <div class="product-card__desc">
                <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
            </div>
            <div class="product-card__buy">
                <span class="product-card__availability">в наличии</span>
                <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
            </div>
        </div>
        <div class="product-card">
            <div class="product-card__picture">
                <img src="./mobile/img/product.png">
            </div>
            <div class="product-card__desc">
                <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
            </div>
            <div class="product-card__buy">
                <span class="product-card__availability">в наличии</span>
                <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
            </div>
        </div>
    </div>
</section>

<section class="promo-card">
    <div class="innertube">
        <img src="./mobile/img/irrigator.png">
        <p>5 ирригаторов с самой низкой ценой</p>
        <div class="promo-card__info tags tags--blue">
            <a href="#" class="tag tag--small">#До 3000</a>
            <a href="#" class="tag tag--small">#Для 1 человека</a>
            <a href="#" class="tag tag--small">#Для всей семьи</a>
        </div>
    </div>
</section>

<section class="products">
    <div class="innertube">
        <div class="product-card">
            <div class="product-card__picture">
                <img src="./mobile/img/product.png">
            </div>
            <div class="product-card__desc">
                <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
            </div>
            <div class="product-card__buy">
                <span class="product-card__availability">в наличии</span>
                <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
            </div>
        </div>
        <div class="product-card">
            <div class="product-card__picture">
                <img src="./mobile/img/product.png">
            </div>
            <div class="product-card__desc">
                <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
            </div>
            <div class="product-card__buy">
                <span class="product-card__availability">в наличии</span>
                <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
            </div>
        </div>
        <div class="product-card">
            <div class="product-card__picture">
                <img src="./mobile/img/product.png">
            </div>
            <div class="product-card__desc">
                <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
            </div>
            <div class="product-card__buy">
                <span class="product-card__availability">в наличии</span>
                <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
            </div>
        </div>
        <div class="product-card">
            <div class="product-card__picture">
                <img src="./mobile/img/product.png">
            </div>
            <div class="product-card__desc">
                <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
            </div>
            <div class="product-card__buy">
                <span class="product-card__availability">в наличии</span>
                <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
            </div>
        </div>
    </div>
</section>

<section class="billboard">
    <div class="innertube">
        <figure class="card-clr card-clr--blue">
            <div class="card-clr__title">Обзоры <br>и статьи</div>
            <a href="https://stommarket.ru/blog/" target="_blank" class="card-clr__link">Читать блог</a>
            <img class="card-clr__img" src="/mobile/img/vector-doc.png" alt="">
        </figure>
        <figure class="card-clr card-clr--yell">
            <div class="card-clr__title">Франшиза StomMarket</div>
            <a href="https://slider.stommarket.ru/" class="card-clr__link">Узнать подробности</a>
            <img class="card-clr__img" src="/mobile/img/svg/logo-on-cycle.svg" alt="">
        </figure>
    </div>
</section>

<section class="promo-card">
    <div class="innertube">
        <img src="./mobile/img/toothpaste.png">
        <p>Более 30 разных видов зубных щеток и паст</p>
        <div class="promo-card__info tags tags--blue">
            <a href="#" class="tag tag--small">#До 3000</a>
            <a href="#" class="tag tag--small">#Для 1 человека</a>
            <a href="#" class="tag tag--small">#Для всей семьи</a>
        </div>
    </div>
</section>

<section class="about">
    <div class="innertube">
        <div class="about__catalog-link-wrapper t-center">
            <a href="/catalog" class="btn btn--full-w">Смотреть каталог</a>
        </div>
        <h1 class="about__title">«Стоммаркет» — товары для стоматологов и стоматологий</h1>
        <div class="about__items">
            <div class="about__item">
                <p class="number-title">4 000</p>
                <p class="descr">товаров в каталоге</p>
            </div>
            <div class="about__item">
                <p class="number-title">2 000</p>
                <p class="descr">клиник работают с нами в 400 городах России</p>
            </div>
            <div class="about__item">
                <p class="number-title">150</p>
                <p class="descr">брендов представленных в интернет-магазине</p>
            </div>
        </div>
        <div class="about__description">
            <p>Качество медицинского обслуживания во многом зависит от качества стоматологических материалов, которые использует доктор в процессе диагностики и дальнейшего лечения. Данная истинна, известна каждому, как пациенту, так и стоматологу. Даже самый опытный врач не сможет работать на высоком уровне без своевременно доставленных материалов.</p>
            <p>Интернет-магазин «Стоммаркет» на протяжении уже 5 лет успешно решает вопросы, связанные с поставками стоматологических материалов.</p>
            <p>Наши филиалы находятся: в Санкт-Петербурге, Москве и Димитровграде.</p>
            <p>Мы работаем со многими транспортными компаниями, что дает нам возможность работать со всеми регионами России.</p>
            <p><a href="/about">Читать о компании →</a></p>
        </div>
    </div>
</section>

@@include('./templates/footer.tpl')
