@@include('./templates/header.tpl')

<section class="block block-space block-space--top-10">
    <div class="innertube">
        <div class="help">
           <h1 class="title help__title">Как Оплатить?</h1>
            <div class="help__body">
                <div class="std-text"><div class="content content-block content-block--white articles__b">
                    <h2>Способы оплаты:</h2>

                    <ul>
                        <li>Банковской картой
                            <p>Для выбора оплаты товара с помощью банковской карты на соответствующей странице необходимо нажать кнопку «Оплатить заказ». Оплата происходит через ПАО СБЕРБАНК с использованием Банковских карт следующих платежных систем:</p>

                            <ul>
                                <li>МИР <img src="/img/payment/mir.jpg" width="50px"></li>
                                <li>VISA International <img src="/img/payment/visa.jpg" width="50px"></li>
                                <li>Mastercard Worldwide <img src="/img/payment/mastercard.gif" width="50px"></li>
                            </ul>
                        </li>
                    </ul>

                    <ul>
                        <li>Перевод денег на банковский счет согласно высланному счету.</li>
                        <li>Перевод денег&nbsp;на карточный счет.</li>
                        <li>Расчет с курьером при доставке товаров в г. Санкт-Петербург и Ленинградскую область.</li>
                        <li>Другой способ оплаты по согласованию с сотрудником интернет магазина.</li>
                    </ul>

                    <p>&nbsp;</p>

                    <p>&nbsp;</p>
                </div>

                    <div class="content content-block content-block--white articles__b">
                        <h2>Для покупки товаров в интернет магазине Стоммаркет необходимо:</h2>

                        <ul>
                            <li>Найти товары, которые вы хотите приобрести в <a href="/catalog/">каталоге</a> интернет-магазина и добавить их в корзину. Также вы можете использовать "Поиск на сайте". Сформировать заказ.</li>
                            <li>Оформить заказ на сайте, используя электроную форму заказа. При оформлении заказа выполняйте указания сайта.</li>
                        </ul>

                        <ul>
                            <li>Сделать заказ по телефонам указанным на сайте. 8 812 426-19-39 или по бесплатному телефону 8 800 700-83-43&nbsp;</li>
                        </ul>

                        <ul>
                            <li>Если по каким либо причинам Вам не удается сделать заказ, то просим сделать снимок экрана с&nbsp;вашим заказов и отправить&nbsp;его&nbsp;на почту sale@stommarket.ru или связаться с нашим менеджером по телефону 8 921 908 16 32&nbsp;</li>
                        </ul>

                        <section>
                            <p>Внимание. Данный интернет-сайт носит информационный характер и ни при каких условиях не является публичной офертой, которая определяется положениями Статьи 437 (2) Гражданского кодекса РФ. Для получения подробной информации о наличии и стоимости указанных товаров и услуг, пожалуйста, обращайтесь к нашим менеджерам по email</p>
                        </section>
                    </div>
                    <!--
                    <div class="content content-block content-block--white articles__b">
                    <h2>Бонусы</h2>

                    <p>После первой покупки подарочные бонусы аннулируются. Использование бонусов доступно при заказе от 3 тыс. руб., максимум 20% от суммы заказа.</p>
                    </div>-->

                    <div class="content content-block content-block--white articles__b">
                        <h2>Порядок возврата и обмена купленного товара:</h2>

                        <div id="block_12">
                            <p>В соответствии с п. 4 ст. 26.1 ФЗ <strong>«О защите прав потребителей»</strong> и п. 21 Постановления Правительства РФ <strong>«Об утверждении правил продажи товаров дистанционным способом»</strong> потребитель имеет право отказаться от товара (в том числе и надлежащего качества) в любое время до его передачи, а после передачи – в течение 7 дней. При этом, обмен товара надлежащего качества возможен только в случае, если:</p>

                            <ol>
                                <li>товар не включен в перечень товаров надлежащего качества, не подлежащих возврату утвержденный Постановлением Правительства РФ <a href="http://www.consultant.ru/document/cons_doc_LAW_17579/" target="_blank">№55 от 19.01.1998 г.</a></li>
                                <li>товар не был в употреблении</li>
                                <li>сохранены фабричные ярлыки, гарантийные талоны, техническая документация, комплектующие детали</li>
                                <li>сохранена упаковка товара и товарный вид</li>
                                <li>в наличии документы, подтверждающие факт и условия покупки указанного товара (Ст. 25 Закона «О защите прав потребителей»).</li>
                            </ol>

                            <p>&nbsp; В случае отказа от товара возврату подлежит уплаченная сумма, за исключением расходов на доставку товара, а также других расходов Интернет-магазина, подлежащих компенсации за счет Покупателя (Ст. 26.1 Закона «О защите прав потребителей»). Информируем, что в утвержденный Постановлением правительства РФ №55 от 19 января 1998 г. Перечень непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размеров, формы, габарита, фасона, расцветки или комплектации, входят средства гигиены полости рта и предметы личной гигиены, а именно зубные щетки, ёршики, ирригаторы, насадки для них.&nbsp;</p>

                            <p>Возврат товара ненадлежащего качества возможен в течение 14-и дней с момента покупки при отсутствии сомнений в дефекте. При обнаружении какого-либо дефекта или при поломке после 14-и дней покупатель имеет право либо на возврат суммы, уплаченной за товар, либо на соразмерное уменьшение цены, либо на устранение недостатка. Решение по ремонту прибора либо возврату денег принимается в течение не более 14-и дней.</p>
                        </div>

                        <p>&nbsp;</p>
                    </div>
                </div>            </div>
        </div>
    </div>
</section>
<div class="popups">
    <!-- Форма оформления заказа -->
    <div id="order-form" class="js-popup mfp-hide popup-block">
        <form action="/cart/add-order/" class="form js-form js-order-form order-form " novalidate data-error-msg="Произошла ошибка">
            <input type="hidden" value="0" name="source_type">
            <div class="popup-block__header">
                <div class="form__title">Оформление заказа</div>
            </div>
            <div class="popup-block__body">
                <div class="form__group">
                    <div class="form__b form__text-input-b">
                        <input type="text" class="form__text-input js-input js-required" name="username" value=" adminr " id="customer_name">
                        <label class="form__text-input-label" for="customer_name">Имя<span>*</span></label>
                    </div>
                    <div class="form__b form__text-input-b">
                        <input type="tel" placeholder="+7 (___) ___-__-__" class="form__text-input js-input js-required js-phone" value="+7 (111) 111-11-11" name="phone" id="customer_phone">
                        <label class="form__text-input-label" for="customer_phone">Телефон<span>*</span></label>
                    </div>
                    <div class="form__b form__text-input-b">
                        <input type="email" class="form__text-input js-input js-validate js-required"  value="" name="email" id="customer_email">
                        <label class="form__text-input-label" for="customer_email">Почта<span>*</span></label>
                    </div>
                </div>
                <div class="form__group form__message order-form__delivery-anesthesia js-delivery-anesthesia">
                    Доставка анестезии осуществляется только льготной категории граждан.
                </div>
                <div class="form__group">
                    <div class="form__sub-title">Доставка</div>
                    <div class="form__b form__radio-input-b"><input class="form__radio-input js-input js-close-delivery js-open-cash-payment" type="radio" name="delivery_type" value="10" id="customer_delivery_self" checked>
                        <label class="form__radio-input-label" for="customer_delivery_self">Самовывоз — бесплатно</label><input class="form__radio-input js-input js-open-delivery js-open-cash-payment" type="radio" name="delivery_type" value="5" id="customer_delivery_city">
                        <label class="form__radio-input-label js-order-del-local" for="customer_delivery_city">Доставка по МСК — <span class="js-price-val">бесплатно</span></label><input class="form__radio-input js-input js-open-delivery js-close-cash-payment" type="radio" name="delivery_type" value="4" id="customer_delivery_country">
                        <label class="form__radio-input-label js-order-del-rus" for="customer_delivery_country">Доставка по РФ — <span class="js-price-val">по соглашению</span></label></div>
                    <div class="form__b form__text-input-b hidden js-delivery-address">
                        <textarea class="form__text-input form__text-input--textarea js-input" name="address" id="customer_address"></textarea>
                        <label class="form__text-input-label" for="customer_address">Адрес доставки</label>
                    </div>
                </div>
                <div class="form__group">
                    <div class="form__b form__radio-input-b">
                        <div class="form__sub-title">Способ оплаты</div>
                        <div class="js-cash-payment">
                            <input class="form__radio-input js-input" type="radio" name="origin_payment-type" value="1" id="customer_pay_type_cash" checked>
                            <label class="form__radio-input-label" for="customer_pay_type_cash">Наличными</label>
                        </div><div class="js-cashless-payment hidden">
                        <input class="form__radio-input js-input" type="radio" name="origin_payment-type" value="2" id="customer_pay_type_card">
                        <label class="form__radio-input-label" for="customer_pay_type_card">Банковской картой<span class="order-form__payment icon-visa--bank order-form__payment--visa"></span>
                            <span class="order-form__payment order-form__payment--mk icon-mk"></span></label>
                    </div>
                        <div class="js-bill-payment">
                            <input class="form__radio-input js-input" type="radio" name="origin_payment-type" value="3" id="customer_pay_type_bill">
                            <label class="form__radio-input-label" for="customer_pay_type_bill">По счету</label>
                        </div>
                    </div>
                </div>
                <div class="form__group">
                    <div class="form__checkbox-input-b js-order-bonuses-b ">
                        <input type="checkbox" class="form__checkbox-input js-use-bonuses" name="bonus" value="1" id="form_use_bonuses">
                        <label class="form__checkbox-input-label" for="form_use_bonuses">использовать <span class="js-order-bonuses">1 979 бонусов</span>
                            <span class="tip">
                                    <span class="tip__block">
                                        После первой покупки подарочные бонусы аннулируются.<br>Использование бонусов доступно при заказе от 3 тыс. руб., максимум 20% от суммы заказа
                                    </span>
                                </span>
                        </label>
                    </div>
                </div>
                <div class="form__footer">
                    <div class="text__24">Всего к оплате:
                        <span class="text__26"><span class="js-order-final-summ">19 802</span> ₽</span>
                    </div>
                    <div class="form__checkbox-input-b">
                        <input type="checkbox" class="form__checkbox-input js-input js-required" name="agreement" value="1" id="order-agreement">
                        <label class="form__checkbox-input-label form__checkbox-input-label--small" for="order-agreement">
                            Я соглашаюсь с пунктами договора <a href="/articles/dogovor-publichnoy-ofertyi-postavki/" target="_blank" class="text__link">публичной оферты</a> и обработкой <a href="/politika-konfidencialnosti/" target="_blank" class="text__link">персональных данных</a>.
                        </label>
                    </div>
                    <div class="form__checkbox-input-b order-form__delivery-anesthesia js-delivery-anesthesia">
                        <input type="checkbox" class="form__checkbox-input js-input js-required" name="privileges" value="1" id="order-privileges" checked>
                        <label class="form__checkbox-input-label form__checkbox-input-label--small" for="order-privileges">
                            Я являюсь льготной категорией граждан или заказываю для родственников, являющихся льготной категорией граждан *
                        </label>
                    </div>  <button class="btn btn--dark btn--full-w ga-event-checkout" type="submit" onclick="yaCounter{{ version.siteVersion.metrika }}.reachGoal('FINAL');">Отправить заказ</button><div class="form__annotation order-form__delivery-anesthesia js-delivery-anesthesia">* ст. 2 Федерального закона РФ от 09.01.1997 N 5-ФЗ «О предоставлении социальных гарантий героям социалистического труда и полным кавалерам ордена трудовой славы» (в ред. от 02.07.2013) и ст 1.1 Закона РФ от 15.01.1993 N 4301-1 «О статусе Героев Советского Союза, Героев Российской Федерации и полных кавалеров Ордена Славы»</div>
                </div>
                <div class="form__success js-form__success">
                    <div>
                        <div class="content">
                            <p class="h1">Заказ № <span class="js-order-id"></span> успешно оформлен</p><p class="h2">Мы свяжемся с вами в ближайшее время</p><a href="javascript:" class="js-payment-btn" target="_blank" style="display: none;">Перейти к оплате</a>
                        </div>
                        <div>
                            <a href="https://market.yandex.ru/shop/198526/reviews/add" class="btn btn--dark btn--full-w block-space block-space--top-10" target="_blank">Оставить отзыв на Яндекс.Маркет</a>
                            <a href="/reviews/" target="_blank" class="btn btn--dark btn--full-w block-space block-space--top-10">Оставить отзыв на сайте</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
@@include('./templates/footer.tpl')
