@@include('./templates/header.tpl')

<section class="block block-space block-space--top-10">
    <div class="innertube">
        <h1 class="title">Личный кабинет</h1>
        <div class="user__col">
            <p class="lk__text"><b>E-mail:</b> admin@stommarket.ru</p>
            <p class="lk__text"><b>Телефон:</b> +7 (111) 111-11-11</p>
        </div>
        <div class="user__col t-center">
            <div class="user__bonuses">2439</div>
            <div class="user__bonuses-text">бонусов</div>
        </div>
        <div class="t-center">
            <a href="/user/logout/" class="btn lk__log-out">выйти</a>
        </div>

        <div class="space--50"></div>
    </div>
    <div class="tabs js-tabs js-lk-tabs" data-name="personal-tabs">
        <div class="innertube">
            <div class="tabs__nav js-tabs-nav">
                <a class="tabs__link js-tabs__link active">Корзина</a>
                <a class="tabs__link js-tabs__link">Архив заказов</a>
                <a class="tabs__link js-tabs__link">Анкета</a>
                <a class="tabs__link js-tabs__link">Рассылка</a>
                <a class="tabs__link js-tabs__link">Партнерская программа</a>
            </div>
        </div>
        <div class="tabs__items tabs__items--pt">
            <div class="tabs__tab js-tabs__tab active">
                <div class="basket js-basket">
                    <div class="basket__wrap js-basket-w" style="position: relative;">
                        <div class="innertube">
                            <div class="product-card basket__item js-product">
                                <a href="#" class="basket__item-remove js-del"><i class="icon-cancel"></i></a>
                                <div class="product-card__picture">
                                    <img src="./mobile/img/product.png">
                                </div>
                                <div class="product-card__desc">
                                    <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                                    <s class="product-card__old-price"><span class="js-basket-price">2000</span> ₽</s><span class="product-card__price"><span class="js-basket-price">374</span> ₽</span>
                                </div>
                                <label class="form__number-input-b form__b--one basket__item-count">
                                    <input class="form__number-input js-form__number js-change-sum-number" name="item-count" step="1" min="1" max="5" value="1" data-bonus-cost="144.56" data-cost="14456.00" data-id="4381" type="number">
                                    <span class="form__number-input-minus js-form__number-minus maxed">−</span>
                                    <span class="form__number-input-plus js-form__number-plus">+</span>
                                </label>
                            </div>
                            <div class="product-card basket__item js-product">
                                <a href="#" class="basket__item-remove js-del"><i class="icon-cancel"></i></a>
                                <div class="product-card__picture">
                                    <img src="./mobile/img/product.png">
                                </div>
                                <div class="product-card__desc">
                                    <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                                    <s class="product-card__old-price"><span class="js-basket-price">2000</span> ₽</s><span class="product-card__price"><span class="js-basket-price">374</span> ₽</span>
                                </div>
                                <label class="form__number-input-b form__b--one basket__item-count">
                                    <input class="form__number-input js-form__number js-change-sum-number" name="item-count" step="1" min="1" max="5" value="1" data-bonus-cost="144.56" data-cost="14456.00" data-id="4381" type="number">
                                    <span class="form__number-input-minus js-form__number-minus maxed">−</span>
                                    <span class="form__number-input-plus js-form__number-plus">+</span>
                                </label>
                            </div>
                            <div class="product-card basket__item js-product">
                                <a href="#" class="basket__item-remove js-del"><i class="icon-cancel"></i></a>
                                <div class="product-card__picture">
                                    <img src="./mobile/img/product.png">
                                </div>
                                <div class="product-card__desc">
                                    <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                                    <s class="product-card__old-price"><span class="js-basket-price">2000</span> ₽</s><span class="product-card__price"><span class="js-basket-price">374</span> ₽</span>
                                </div>
                                <label class="form__number-input-b form__b--one basket__item-count">
                                    <input class="form__number-input js-form__number js-change-sum-number" name="item-count" step="1" min="1" max="5" value="1" data-bonus-cost="144.56" data-cost="14456.00" data-id="4381" type="number">
                                    <span class="form__number-input-minus js-form__number-minus maxed">−</span>
                                    <span class="form__number-input-plus js-form__number-plus">+</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="basket__order order js-order-info">
                        <div class="innertube">
                            <div class="order__title">Итого</div>
                            <div class="order__line">Стоимость: <span class="js-order-summ">20 235</span> ₽</div>
                            <div class="order__line js-order-discount-b">Скидка: <span class="js-order-discount">433</span> ₽</div>
                            <div class="order__line js-order-bonuses-b">
                                <div class="form__checkbox-input-b ">
                                    <input class="form__checkbox-input js-use-bonuses" id="basket_use_bonuses" type="checkbox">
                                    <label class="form__checkbox-input-label" for="basket_use_bonuses">использовать <span class="js-order-bonuses">1 979 бонусов</span>
                                        <span class="tip">
                <span class="tip__block">
                    После первой покупки подарочные бонусы аннулируются.<br>Использование бонусов доступно при заказе от 3 тыс. руб., максимум 20% от суммы заказа
                </span>
            </span>
                                    </label>
                                </div>
                            </div>
                            <div class="order__line">Всего к оплате: <span class="basket__summ basket__summ--bold">
                                <span class="js-order-final-summ">19 802</span> ₽</span>
                            </div>
                            <a href="#order-form" type="submit" class="btn btn--full-w btn--dark js-open-popup">Оформить заказ</a>
                        </div>
                    </div>
                    <div class="basket__empty hidden js-basket-empty">
                        <div class="title title--center">Ваша корзина пуста</div>
                        <div style="text-align: center;"><a href="/" class="btn">Продолжить покупки</a></div>
                    </div>

                </div>
            </div>
            <div class="tabs__tab js-tabs__tab">
                <div class="orders js-orders">
                    <div class="orders__head">
                        <div class="orders__col orders__head-name">Заказ</div>
                        <div class="orders__col orders__head-name">Стоимость</div>
                        <div class="orders__col orders__head-name">Статус</div>
                    </div>
                    <div class="orders__body">
                        <div class="orders__order">
                            <div class="orders__info orders__row js-order-info">
                                <div class="orders__col orders__col-name">
                                    <a href="#" class="js-order-num">№KA9381</a>
                                </div>
                                <div class="orders__col orders__col-name">1 612 ₽</div>
                                <div class="orders__col orders__col-name">Новый (Автоматический)</div>
                            </div>
                            <div class="orders__detail js-order-detail">
                                <div class="orders__row orders__item">
                                    <div class="orders__col orders__img">
                                        <img src="https://stommarket.ru/files/thumbs/products/s/filtek_z250_3.jpg" alt="">
                                    </div>
                                    <div class="orders__col orders__name">Filtek Z250 A2 - Филтек Зет250 A2 (3M ESPE)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabs__tab js-tabs__tab">

                <div class="pers-data">
                    <div class="pers-data__col">
                        <form action="/user/personal-form/" method="POST" class="form js-form js-lk-user-info pers-data__body" novalidate="" data-error-msg="Произошла ошибка">
                            <div class="form__title pers-data__title">Персональные данные</div>
                            <div class="form__b form__text-input-b">
                                <input class="form__text-input js-input js-required active" name="udata-name" id="pers-data_name" value="adminr" type="text">
                                <label class="form__text-input-label" for="pers-data_name">Имя
                                    <span>*</span>
                                </label>
                            </div>
                            <div class="form__b form__text-input-b">
                                <input placeholder="+7 (___) ___-__-__" class="form__text-input js-input js-required js-phone active" name="udata-phone" id="pers-data_phone" value="+7 (111) 111-11-11" type="num">
                                <label class="form__text-input-label" for="pers-data_phone">Телефон
                                    <span>*</span>
                                </label>
                            </div>
                            <div class="form__b form__text-input-b">
                                <input class="form__text-input js-input js-validate js-required active" name="email" id="pers-data_email" value="admin@stommarket.ru" type="email">
                                <label class="form__text-input-label" for="pers-data_email">Почта</label>
                            </div>

                            <div class="form__b form__text-input-b">
                                <input class="form__text-input js-input js-validate active" name="udata-skype" id="pers-data_skype" value="51515" type="email">
                                <label class="form__text-input-label" for="pers-data_skype">Skype</label>
                            </div>

                            <div class="form__b form__text-input-b">
                                <input class="form__text-input js-input js-validate active" name="udata-city" id="pers-data_city" value="Не указан" type="email">
                                <label class="form__text-input-label" for="pers-data_city">Город</label>
                            </div>
                            <div class="form__b form__b--one form__text-input-b">
                                <input class="form__text-input js-input js-validate active" name="udata-country" id="pers-data_country" value="Не указана" type="email">
                                <label class="form__text-input-label" for="pers-data_country">Страна</label>
                            </div>
                            <button class="btn btn--dark btn--full-w" type="submit">Сохранить</button>

                            <div class="form__success js-form__success">
                                <div class="content">
                                    <p class="h1">Данные успешно сохранены</p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="pers-data__col">
                        <form action="/user/company-form/" class="form js-form pers-data__body js-lk-user-info" novalidate="" data-error-msg="Произошла ошибка">
                            <div class="form__title pers-data__title">Реквизиты (для юр.лиц)</div>
                            <div class="form__b form__text-input-b">
                                <input class="form__text-input js-input js-validate" name="udata-com_name" id="pers-data_company-name" value="" type="text">
                                <label class="form__text-input-label" for="pers-data_company-name">Название компании</label>
                            </div>
                            <div class="form__b form__text-input-b">
                                <input class="form__text-input js-input js-validate" name="udata-com_inn" id="pers-data_company_inn" value="" type="text">
                                <label class="form__text-input-label" for="pers-data_company_inn">ИНН</label>
                            </div>
                            <div class="form__b form__text-input-b">
                                <input class="form__text-input js-input js-validate" name="udata-com_kpp" id="pers-data_company_kpp" value="" type="text">
                                <label class="form__text-input-label" for="pers-data_company_kpp">КПП</label>
                            </div>
                            <div class="form__b form__text-input-b">
                                <input class="form__text-input js-input js-validate" name="udata-com_ogrn" id="pers-data_company_orgn" value="" type="text">
                                <label class="form__text-input-label" for="pers-data_company_orgn">ОГРН</label>
                            </div>
                            <div class="form__b form__text-input-b">
                                <input class="form__text-input js-input js-validate" name="udata-com_okved" id="pers-data_company_okved" value="" type="text">
                                <label class="form__text-input-label" for="pers-data_company_okved">ОКВЭД</label>
                            </div>
                            <div class="form__b form__text-input-b">
                                <input class="form__text-input js-input js-validate" name="udata-com_urid_address" id="pers-data_company_legal_address" value="" type="text">
                                <label class="form__text-input-label" for="pers-data_company_legal_address">Юридический адрес</label>
                            </div>
                            <div class="form__b form__text-input-b">
                                <input class="form__text-input js-input js-validate" name="udata-com_fact_address" id="pers-data_company_actual_address" value="" type="text">
                                <label class="form__text-input-label" for="pers-data_company_actual_address">Фактический адрес</label>
                            </div>
                            <div class="form__b form__text-input-b">
                                <input placeholder="+7 (___) ___-__-__" class="form__text-input js-input js-phone js-validate" name="udata-com_phone" id="pers-data_company_phone" value="" type="tel">
                                <label class="form__text-input-label" for="pers-data_company_phone">Телефон</label>
                            </div>
                            <div class="form__b form__text-input-b">
                                <input class="form__text-input js-input js-validate" name="udata-com_rc" id="pers-data_company_rs" value="" type="text">
                                <label class="form__text-input-label" for="pers-data_company_rs">Р/с</label>
                            </div>
                            <div class="form__b form__text-input-b">
                                <input class="form__text-input js-input js-validate" name="udata-com_kc" id="pers-data_company_ks" value="" type="text">
                                <label class="form__text-input-label" for="pers-data_company_ks">К/c</label>
                            </div>
                            <div class="form__b form__b--one form__text-input-b">
                                <input class="form__text-input js-input js-validate" name="udata-com_bik" id="pers-data_company_bik" value="" type="text">
                                <label class="form__text-input-label" for="pers-data_company_bik">БИК</label>
                            </div>
                            <button class="btn btn--dark btn--full-w" type="submit">Сохранить</button>
                            <div class="form__success js-form__success">
                                <div class="content">
                                    <p class="h1">Данные успешно сохранены</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tabs__tab js-tabs__tab">
                <div class="subscription">
                    <div class="subscription__col subscription__form-b">
                        <form action="/user/feed-change/" method="POST" class="form js-form" data-error-msg="Ошибка">
                            <div class="form__title subscription__title">Выберите вид рассылки:</div>
                            <div class="form__checkbox-input-b subscription__item">
                                <input class="form__checkbox-input" name="ufeed-news" id="subscription_news" value="1" type="checkbox">
                                <label class="form__checkbox-input-label" for="subscription_news">новости компании</label>
                            </div>
                            <div class="form__checkbox-input-b subscription__item">
                                <input class="form__checkbox-input" name="ufeed-events" id="subscription_promotions" value="1" checked="" type="checkbox">
                                <label class="form__checkbox-input-label" for="subscription_promotions">акции и предложения</label>
                            </div>
                            <div class="form__checkbox-input-b subscription__item">
                                <input class="form__checkbox-input" name="ufeed-sales" id="subscription_sale" value="1" type="checkbox">
                                <label class="form__checkbox-input-label" for="subscription_sale">распродажи</label>
                            </div>
                            <div class="form__checkbox-input-b subscription__item">
                                <input class="form__checkbox-input" name="ufeed-new_products" id="subscription_new" value="1" checked="" type="checkbox">
                                <label class="form__checkbox-input-label" for="subscription_new">новинки</label>
                            </div>
                            <button class="btn btn--dark btn--full-w subscription__btn" type="submit">Сохранить</button>
                            <div class="form__success js-form__success">
                                <div class="content">
                                    <p class="h1">Подписка оформлена</p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="subscription__col">
                        <div class="subscription__info">
                            <div class="block__cols">
                                <div class="block__col block__col--4">
                                    <img src="./mobile/img/svg/mail-b.svg" alt="" class="subscription__icon">
                                </div>
                                <div class="block__col block__col--7">
                                    <div class="text__18">
                                        Рассылки происходят<br>
                                        1 раз в неделю, без спама
                                        и рекламы
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabs__tab js-tabs__tab">
                <div class="referal">
                    <div class="referal__descr">
                        <p>Приглашайте друзей и получайте 1% от стоимости их заказов в виде бонусов.</p>
                        <p>Для этого просто отправьте им ссылку ниже.</p>
                    </div>
                    <form class="referal__b">
                        <input type="hidden" class="referal__text js-referal__text" value="http://stommarket.ru/user/registration/?ref=3154" readonly="">
                        <button class="referal__btn js-copy-to-clipboard" data-target=".js-referal__text">Копировать</button>
                    </form>
                </div>
            </div>
            <div class="tabs__tab js-tabs__tab">
                <div class="personal-education">
                    <div class="block__cols">
                        <div class="block__col block__col--6 block__col--white personal-education__col">
                            <div class="listing">
                                <h3 class="personal-education__title">Ваши заявки</h3>
                                <div class="educaitons js-educations">
                                    <div style="padding:30px;"> Вы пока не оставляли заявок</div>
                                </div>
                            </div>
                            <div class="info">
                                <h3 class="personal-education__title">Стоммаркет.Обучение</h3>
                                <p>Стоммаркет запускает образовательный проект, принять участие в котором может каждый зарегистрированный пользователь.</p>
                                <div class="personal-education__btn-wrapper">
                                    <a href="/education/" class="btn personal-education__link">посмотреть проект</a>
                                </div>
                                <p>Если вы хотите провести вебинар, семинар,
                                    лекцию или мастер-класс, то вы можете бесплатно разместить её у нас на сайте.
                                </p>
                                <p>Для этого заполните и отправьте форму справа. </p>
                            </div>
                        </div>
                        <div class="block__col block__col--6 block__col--white personal-education__col">
                            <div class="create-education-card">
                                <h3 class="personal-education__title">Создать свою карточку обучения</h3>
                                <form action="/user/save-education-request-form/" method="POST" enctype="multipart/form-data" class="form js-form" novalidate="" data-error-msg="Произошла ошибка">
                                    <div class="form__b form__select-input-b">
                                        <select name="education_type_id" id="ed_type_id" class="js-select2 select2-hidden-accessible" data-select2-id="ed_type_id" tabindex="-1" aria-hidden="true">
                                            <option value="" disabled="">Буду проводить </option>
                                            <option value="1" data-select2-id="2">Вебинар</option>
                                            <option value="2">Семинар</option>
                                            <option value="3">Лекция</option>
                                            <option value="4">Мастер-класс</option>
                                            <option value="5">Статья</option>
                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="1" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-ed_type_id-container"><span class="select2-selection__rendered" id="select2-ed_type_id-container" role="textbox" aria-readonly="true" title="Вебинар">Вебинар</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>

                                    <div class="form__b form__text-input-b">
                                        <input class="form__text-input js-input js-required" name="lector_fio" id="ed_fio" value="" type="text">
                                        <label class="form__text-input-label" for="ed_fio">ФИО лектора
                                            <span>*</span>
                                        </label>
                                    </div>

                                    <div class="form__b form__text-input-b">
                                        <input class="form__text-input js-input js-required js-phone" name="phone" id="ed_phone" value="" type="text">
                                        <label class="form__text-input-label" for="ed_phone">Контактный телефон
                                            <span>*</span>
                                        </label>
                                    </div>
                                    <div class="form__b form__text-input-b">
                                        <input class="form__text-input js-input js-required js-email" name="email" id="ed_email" value="" type="email">
                                        <label class="form__text-input-label" for="ed_email">E-mail
                                            <span>*</span>
                                        </label>
                                    </div>

                                    <div class="form__b form__text-input-b">
                                        <input class="form__text-input js-input js-validate js-required" name="name" id="ed_name" value="" type="text">
                                        <label class="form__text-input-label" for="ed_name">Название
                                            <span>*</span>
                                        </label>
                                    </div>

                                    <div class="form__b form__text-input-b">
                                        <input class="form__text-input js-input js-validate js-required" name="price" id="ed_price" value="" type="text">
                                        <label class="form__text-input-label" for="ed_price">Стоимость
                                            <span>*</span>
                                        </label>
                                    </div>

                                    <div class="form__b form__text-input-b">
                                        <input class="form__text-input js-input js-validate  js-required" name="date" id="ed_date" value="" type="text">
                                        <label class="form__text-input-label" for="ed_date">Дата проведения
                                            <span>*</span>
                                        </label>
                                    </div>

                                    <div class="form__b form__text-input-b">
                                        <input class="form__text-input js-input js-validate  js-required" name="time" id="ed_time" value="" type="text">
                                        <label class="form__text-input-label" for="ed_time">Время
                                            <span>*</span>
                                        </label>
                                    </div>

                                    <div class="form__b form__text-input-b">
                                        <input class="form__text-input js-input js-validate" name="city" id="ed_city" value="" type="text">
                                        <label class="form__text-input-label" for="ed_city">Город</label>
                                    </div>

                                    <div class="form__b form__text-input-b">
                                        <textarea class="form__text-input form__text-input--textarea js-input js-required" name="program" id="ed_program"></textarea>
                                        <label class="form__text-input-label" for="ed_program">Программа мероприятия <span>*</span></label>
                                    </div>

                                    <div class="form__b form__text-input-b">
                                        <input class="form__text-input js-input js-validate" name="payment_link" id="ed_payment_link" value="" type="text">
                                        <label class="form__text-input-label" for="ed_payment_link">Ссылка на оплату</label>
                                    </div>

                                    <div class="form__b form__file-input-b">
                                        <input id="ed_photo" name="photo" value="Выберите файл" accept=".png, .jpg, .jpeg, .gif" type="file">
                                        <a href="#" class="form__file-link"><i class="icon-clip"></i> <label for="ed_photo">Прикрепить фотографию лектора</label></a>
                                    </div>
                                    <button class="btn btn--dark btn--full-w" type="submit">Сохранить</button>

                                    <div class="form__success js-form__success">
                                        <div class="content">
                                            <p class="h1">Данные успешно сохранены</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space--50"></div>
</section>
<div class="popups">
    <!-- Форма оформления заказа -->
    <div id="order-form" class="js-popup mfp-hide popup-block">
        <form action="/cart/add-order/" class="form js-form js-order-form order-form " novalidate data-error-msg="Произошла ошибка">
            <input type="hidden" value="0" name="source_type">
            <div class="popup-block__header">
                <div class="form__title">Оформление заказа</div>
            </div>
            <div class="popup-block__body">
                <div class="form__group">
                    <div class="form__b form__text-input-b">
                        <input type="text" class="form__text-input js-input js-required" name="username" value=" adminr " id="customer_name">
                        <label class="form__text-input-label" for="customer_name">Имя<span>*</span></label>
                    </div>
                    <div class="form__b form__text-input-b">
                        <input type="tel" placeholder="+7 (___) ___-__-__" class="form__text-input js-input js-required js-phone" value="+7 (111) 111-11-11" name="phone" id="customer_phone">
                        <label class="form__text-input-label" for="customer_phone">Телефон<span>*</span></label>
                    </div>
                    <div class="form__b form__text-input-b">
                        <input type="email" class="form__text-input js-input js-validate js-required"  value="" name="email" id="customer_email">
                        <label class="form__text-input-label" for="customer_email">Почта<span>*</span></label>
                    </div>
                </div>
                <div class="form__group form__message order-form__delivery-anesthesia js-delivery-anesthesia">
                    Доставка анестезии осуществляется только льготной категории граждан.
                </div>
                <div class="form__group">
                    <div class="form__sub-title">Доставка</div>
                    <div class="form__b form__radio-input-b"><input class="form__radio-input js-input js-close-delivery js-open-cash-payment" type="radio" name="delivery_type" value="10" id="customer_delivery_self" checked>
                        <label class="form__radio-input-label" for="customer_delivery_self">Самовывоз — бесплатно</label><input class="form__radio-input js-input js-open-delivery js-open-cash-payment" type="radio" name="delivery_type" value="5" id="customer_delivery_city">
                        <label class="form__radio-input-label js-order-del-local" for="customer_delivery_city">Доставка по МСК — <span class="js-price-val">бесплатно</span></label><input class="form__radio-input js-input js-open-delivery js-close-cash-payment" type="radio" name="delivery_type" value="4" id="customer_delivery_country">
                        <label class="form__radio-input-label js-order-del-rus" for="customer_delivery_country">Доставка по РФ — <span class="js-price-val">по соглашению</span></label></div>
                    <div class="form__b form__text-input-b hidden js-delivery-address">
                        <textarea class="form__text-input form__text-input--textarea js-input" name="address" id="customer_address"></textarea>
                        <label class="form__text-input-label" for="customer_address">Адрес доставки</label>
                    </div>
                </div>
                <div class="form__group">
                    <div class="form__b form__radio-input-b">
                        <div class="form__sub-title">Способ оплаты</div>
                        <div class="js-cash-payment">
                            <input class="form__radio-input js-input" type="radio" name="origin_payment-type" value="1" id="customer_pay_type_cash" checked>
                            <label class="form__radio-input-label" for="customer_pay_type_cash">Наличными</label>
                        </div><div class="js-cashless-payment hidden">
                        <input class="form__radio-input js-input" type="radio" name="origin_payment-type" value="2" id="customer_pay_type_card">
                        <label class="form__radio-input-label" for="customer_pay_type_card">Банковской картой<span class="order-form__payment icon-visa--bank order-form__payment--visa"></span>
                            <span class="order-form__payment order-form__payment--mk icon-mk"></span></label>
                    </div>
                        <div class="js-bill-payment">
                            <input class="form__radio-input js-input" type="radio" name="origin_payment-type" value="3" id="customer_pay_type_bill">
                            <label class="form__radio-input-label" for="customer_pay_type_bill">По счету</label>
                        </div>
                    </div>
                </div>
                <div class="form__group">
                    <div class="form__checkbox-input-b js-order-bonuses-b ">
                        <input type="checkbox" class="form__checkbox-input js-use-bonuses" name="bonus" value="1" id="form_use_bonuses">
                        <label class="form__checkbox-input-label" for="form_use_bonuses">использовать <span class="js-order-bonuses">1 979 бонусов</span>
                            <span class="tip">
                                    <span class="tip__block">
                                        После первой покупки подарочные бонусы аннулируются.<br>Использование бонусов доступно при заказе от 3 тыс. руб., максимум 20% от суммы заказа
                                    </span>
                                </span>
                        </label>
                    </div>
                </div>
                <div class="form__footer">
                    <div class="text__24">Всего к оплате:
                        <span class="text__26"><span class="js-order-final-summ">19 802</span> ₽</span>
                    </div>
                    <div class="form__checkbox-input-b">
                        <input type="checkbox" class="form__checkbox-input js-input js-required" name="agreement" value="1" id="order-agreement">
                        <label class="form__checkbox-input-label form__checkbox-input-label--small" for="order-agreement">
                            Я соглашаюсь с пунктами договора <a href="/articles/dogovor-publichnoy-ofertyi-postavki/" target="_blank" class="text__link">публичной оферты</a> и обработкой <a href="/politika-konfidencialnosti/" target="_blank" class="text__link">персональных данных</a>.
                        </label>
                    </div>
                    <div class="form__checkbox-input-b order-form__delivery-anesthesia js-delivery-anesthesia">
                        <input type="checkbox" class="form__checkbox-input js-input js-required" name="privileges" value="1" id="order-privileges" checked>
                        <label class="form__checkbox-input-label form__checkbox-input-label--small" for="order-privileges">
                            Я являюсь льготной категорией граждан или заказываю для родственников, являющихся льготной категорией граждан *
                        </label>
                    </div>  <button class="btn btn--dark btn--full-w ga-event-checkout" type="submit" onclick="yaCounter{{ version.siteVersion.metrika }}.reachGoal('FINAL');">Отправить заказ</button><div class="form__annotation order-form__delivery-anesthesia js-delivery-anesthesia">* ст. 2 Федерального закона РФ от 09.01.1997 N 5-ФЗ «О предоставлении социальных гарантий героям социалистического труда и полным кавалерам ордена трудовой славы» (в ред. от 02.07.2013) и ст 1.1 Закона РФ от 15.01.1993 N 4301-1 «О статусе Героев Советского Союза, Героев Российской Федерации и полных кавалеров Ордена Славы»</div>
                </div>
                <div class="form__success js-form__success">
                    <div>
                        <div class="content">
                            <p class="h1">Заказ № <span class="js-order-id"></span> успешно оформлен</p><p class="h2">Мы свяжемся с вами в ближайшее время</p><a href="javascript:" class="js-payment-btn" target="_blank" style="display: none;">Перейти к оплате</a>
                        </div>
                        <div>
                            <a href="https://market.yandex.ru/shop/198526/reviews/add" class="btn btn--dark btn--full-w block-space block-space--top-10" target="_blank">Оставить отзыв на Яндекс.Маркет</a>
                            <a href="/reviews/" target="_blank" class="btn btn--dark btn--full-w block-space block-space--top-10">Оставить отзыв на сайте</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
@@include('./templates/footer.tpl')
