@@include('./templates/header.tpl')

<section class="block block-space block-space--top-10 product">
    <div class="innertube">
        <div class="product__header">
            <h1 class="title">Ирригатор OR-840</h1>
            <hr class="no-margin">
            <div class="product__info">
                <a href="/catalog/event/top/">
                    <div class="product__flag flag flag--hit" title="хит продаж"></div>
                </a>
                <div class="product__info-text">Производитель:<br> Heraeus Kulzer</div>
                <div class="product__rating">
                    <i class="product__rating-star"></i>
                    <i class="product__rating-star"></i>
                    <i class="product__rating-star"></i>
                    <i class="product__rating-star"></i>
                    <i class="product__rating-star"></i>
                </div>
                <div style="display: none;" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                    <meta itemprop="bestRating" content="5">
                    <meta itemprop="worstRating" content="1">
                    <meta itemprop="ratingValue" content="5">
                    <meta itemprop="ratingCount" content="1">
                </div>

                <div itemprop="review" itemscope="" itemtype="http://schema.org/Review">
                    <meta itemprop="itemreviewed" content="Карисма B2 (Heraeus Kulzer)">
                    <meta itemprop="name" content="stommarket">
                    <meta itemprop="author" content="stommarket">
                    <meta itemprop="datePublished" content="2017-10-16 17:58:41">
                    <div itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
                        <meta itemprop="worstRating" content="1">
                        <meta itemprop="ratingValue" content="5">
                        <meta itemprop="bestRating" content="5">
                    </div>
                    <div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                        <meta itemprop="ratingValue" content="5">
                        <meta itemprop="ratingCount" content="1">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product__slider js-product-slider slider">
        <img src="./mobile/img/slide.png" alt="" class="product__slide slide">
        <img src="./mobile/img/slide.png" alt="" class="product__slide slide">
        <img src="./mobile/img/slide.png" alt="" class="product__slide slide">
    </div>
    <div class="product__summary summary js-product js-product--detail">
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

        <div class="summary__b summary__b--1" id="product-vue">
            <!--PRICE ROW-->
            <div class="summary__row clearfix">
                <div class="summary__total-discount-price js-discount-summ" v-if="product.oldPrice">
                    {{product.oldPrice * currentCount}}
                </div>
                <div class="summary__total-price js-summ" v-if="product.price">
                    {{formatPrice(product.price * currentCount)}}
                </div>
            </div>
            <!--COUNT INPUT AND COUNT ROW-->
            <div class="summary__row clearfix">
                <div class="not-added" v-if="!inCart" >
                    <div class="summary__value">
                        <label class="form__number-input-b form__number-input-b--small form__b--one">
                            <input class="form__number-input js-form__number js-change-sum-number js-ga-count"
                                   name="item-count"
                                   type="number"
                                   step="1"
                                   min="1"
                                   max="product.count ? product.count : 1"
                                   v-model = "currentCount"
                                   @change = "setCurrentCount()"
                                   data-bonus-cost="19"
                                   :data-cost="product.price"
                                   :data-id="product.id">
                            <span class="form__number-input-minus js-form__number-minus" @click="setCurrentCount('minus')">−</span>
                            <span v-if="remain > 0" class="form__number-input-plus js-form__number-plus" @click="setCurrentCount('plus')">+</span>
                            <span v-else class="form__number-input-plus js-form__number-plus maxed" @click.prevent="setCurrentCount(NULL)">+</span>
                        </label>
                    </div>
                    <div class="availability">
                        <span class="summary__text--green count" v-if="product.count>0"> В наличии <span class="remain">{{product.count}}</span> шт.</span>
                        <span class="summary__text--red" v-else>Под заказ<span class="remain"></span></span>
                    </div>
                </div>
                <div class="added" v-else>
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                    </svg>
                    <span class="text">{{currentCount}} шт. в корзине. Осталось {{remain}} шт.</span>
                </div>
            </div>

            <!--ADD TO BASKET / GOT TO CART-->
            <div class="summary__row clearfix">
                <a v-if="product.price && !inCart" class="ga-event-add-product btn long btn--yellow summary__add-to-basket js-product-page-btn js-ga-add-to-cart"
                   @click.prevent = "addToCart(product.id,currentCount)"
                > Добавить в корзину </a>
                <a v-if="inCart" href="/cart/" class="btn long btn--yellow summary__add-to-basket js-product-page-btn">Перейти в корзину</a>
            </div>
            <!--ONE CLICK BUY ROW-->

            <div class="summary__row ocb" v-if="!inCart">
                <a class="btn btn--lblue summary__ocb js-ocb-dummy">Купить в 1 клик</a>
                <form action="/cart/fast-order/" method="POST" class="ocb__form js-form js-ocb__form" style="display: none">
                    <input type="hidden" name="pid" value="4653">
                    <input type="hidden" class="js-ocb__count" name="count" value="<?= $currentCount ?>">
                    <input type="tel" placeholder="+7 (921) 123-45-67" class="ocb__input js-input js-required js-phone" name="phone">
                    <button type="submit"  class="ocb__btn js-one-click-buy">Купить</button>
                    <div class="form__success js-form__success ocb__success">
                        <div class="content">Спасибо! Ваш заказ принят</div>
                    </div>
                </form>
            </div>
            <!--BUY 1 MORE-->
            <div class="summary__row" v-else>
                <a class="ga-event-add-product btn btn--lblue summary__add-to-basket  js-ga-add-to-cart"
                   v-if="remain > 0"
                   data-count="1"
                   data-id="product.id"
                   @click="currentCount = currentCount+1;addToCart(product.id,1);">
                    <span class="plus">+1 шт.</span>ДОБАВИТЬ ЕЩЁ
                </a>
            </div>
        </div>
        <!--Начало плохого куска-->
        <script>
            var productVue = new Vue({
                el: '#product-vue',
                data:  {"inCart":false,"product":{"id":4653,"count":7,"price":1845,"oldPrice":1910},"currentCount":1},
                computed: {
                    remain: function () {
                        remain = this.product.count - this.currentCount;
                        if(remain < 0) {remain = 0;}
                        return remain;
                    }
                },
                methods: {
                    formatPrice: function(value) {
                        return value;
                        //return number_format(value, 0, '.', '');
                    },
                    setCurrentCount: function(operation) {
                        if(operation == 'plus'){
                            this.currentCount += 1;
                        } else if(operation == 'minus'){
                            this.currentCount -= 1;;
                        }

                        if(this.currentCount < 1){
                            this.currentCount = 1;
                        }
                        if((this.currentCount > this.product.count) && (this.product.count > 0)){
                            this.currentCount = this.product.count;
                        }
                        if(this.product.count == 0){
                            this.currentCount = 1;
                        }
                        return this.currentCount;
                    },
                    addToCart: function(productId, count){
                        this.inCart = true;
                        data = {
                            id:    productId,
                            count: count
                        };
                        ret = $.cart.add(data);
                        //yaCounter23244307.reachGoal('KORZINA');
                        return false;
                    }
                }
            })
        </script>
        <!--Конец плохого куска-->
        <a href="#store__availability" class="summary__b summary__b--link js-open-popup">
            <p class="summary__text summary__text--icon icon-stock">Проверить наличие по складам</p>
        </a>
        <a href="/delivery-info/" class="summary__b summary__b--link js-open-popup-ajax">
            <p class="summary__text summary__text--icon icon-delivery">Доставка <span class="js-delivery-common">350 <span class="ruble">₽</span></span></p>
        </a>
        <a href="/pickup-info/" class="summary__b summary__b--link js-open-popup-ajax">
            <p class="summary__text summary__text--icon icon-house">Самовывоз — бесплатно</p>
        </a>
    </div>
    <div class="product__descr">
        <div class="innertube">
            <div class="tabs js-tabs" data-name="product-tabs">
                <div class="tabs__nav js-tabs-nav">
                    <a class="tabs__link js-tabs__link  active" data-url="/catalog/filtek-z550-nabor-8shpr/" data-name="default" data-title="Филтек Z550 - набор: 8 шприцев по 4 грамма + принадлежности (3M ESPE)  — купить по выгодной цене в интернет-магазине «Стоммаркет»">Описание</a>
                    <a class="tabs__link js-tabs__link " data-url="/catalog/filtek-z550-nabor-8shpr/comments/" data-name="comments" data-title="Филтек Z550 - набор: 8 шприцев по 4 грамма + принадлежности (3M ESPE) отзывы покупателей">Отзывы</a>
                    <a class="tabs__link js-tabs__link " data-url="/catalog/filtek-z550-nabor-8shpr/props/" data-name="props" data-title="Филтек Z550 - набор: 8 шприцев по 4 грамма + принадлежности (3M ESPE) - Характеристики">Характеристики</a>
                    <a class="tabs__link js-tabs__link " data-url="/catalog/filtek-z550-nabor-8shpr/instruction/" data-name="instruction" data-title="Инструкция по применению Филтек Z550 - набор: 8 шприцев по 4 грамма + принадлежности (3M ESPE)">Инструкция</a>
                </div>
                <div class="tabs__items">

                    <div class="tabs__tab js-tabs__tab product__descr-cnt  active">
                        <div class="product__descr-col content">
                            <div class="std-text"><p></p><p>
                                Ознакомительный набор 8 шприцев (по 4 г): А1, А2, А3, А3.5, В3, С2, D3, OA2 1 флакон с адгезивом Adper™ Single Bond 2 (6мл) 1 шприц с протравочным гелем Scotchbond (3 мл) 25 наконечников-аппликаторов для дозатора с протравочным гелем 25 одноразовых кисточек 1 держатель для кисточки 1 поддончик для адгезива</p>
                                <p></p>
                            </div>
                        </div>
                        <div class="product__descr-col content content--list">
                            <h3>Характеристики</h3><p><b>Сохранение блеска после 6 000 циклов абразии щеткой:</b>
                            36 единиц блеска</p><p><b>Метод «Истираемости трех тел»:</b>  5.0 µ Lost/200,000 циклов</p><p>
                            <b>Объемная усадка:</b>  1.6 % Усадки</p><p><b>Компрессионная прочность:</b>  385 MPa</p><p>
                            <b>Стойкость к распространению трещин:</b>  110 MPa</p><p><b>Диаметральная прочность на растяжение:</b>
                            83 MPa</p><p>
                            <a href="javascript:void(0)" class="js-tab-switch" data-wrap="product-tabs" data-tab="props">Смотреть все</a></p>
                        </div>
                    </div>

                    <div class="tabs__tab js-tabs__tab product__descr-cnt ">
                        <div class="reviews">
                            <div class="block__cols"><div class="block__col block__col--8">
                                <div class="reviews__item">
                                    <div class="reviews__col"><div class="reviews__rating" data-rating="5"><i class="reviews__rating-star"></i> <i class="reviews__rating-star"></i> <i class="reviews__rating-star"></i> <i class="reviews__rating-star"></i> <i class="reviews__rating-star"></i> </div><div class="reviews__author">Станислав</div>
                                    </div>
                                    <div class="reviews__col">
                                        <div class="reviews__text-b">
                                            <p class="reviews__text">Удобный и полезный в работе набор. Он укомплектован всем необходимым для качественной реставрации и идеального подбора оттенка.</p><div class="reviews__date">31 Октября 2017</div>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="block__col block__col--3">
                                    <a href="#add__review-product" class="btn btn--full-w reviews__add-bnt js-open-popup">Оставить отзыв</a>
                                </div>
                            </div>
                        </div></div>

                    <div class="tabs__tab js-tabs__tab product__descr-cnt ">
                        <div class="props">
                            <div class="props__title">
                                Филтек Z550 - набор: 8 шприцев по 4 грамма + принадлежности (3M ESPE)</div>
                            <ul class="props__list  content">
                                <li class="props__item">
                                    <b>Сохранение блеска после 6 000 циклов абразии щеткой:</b>
                                    36 единиц блеска</li><li class="props__item">
                                <b>Метод «Истираемости трех тел»:</b> 5.0 µ Lost/200,000 циклов</li>
                                <li class="props__item"><b>Объемная усадка:</b> 1.6 % Усадки</li>
                                <li class="props__item"><b>Компрессионная прочность:</b> 385 MPa</li>
                                <li class="props__item"><b>Стойкость к распространению трещин:</b> 110 MPa</li>
                                <li class="props__item"><b>Диаметральная прочность на растяжение:</b> 83 MPa</li>
                                <li class="props__item"><b>Прочность на изгиб:</b> 2.05 K1c</li>
                            </ul>
                        </div>
                    </div>

                    <div class="tabs__tab js-tabs__tab product__descr-cnt ">
                    <span class="doc-thumb">
                        <a href="/files/thumbs/products_files/34f03565ea4c4105e25121ee5446b9.pdf" class="js-open-popup-iframe"><button class="btn">Читать инструкцию</button></a>
                        <span class="doc-show-more"></span>
                    </span>
                        <a href="/files/thumbs/products_files/34f03565ea4c4105e25121ee5446b9.pdf" class="js-open-popup-iframe"><div class="doc-description"></div></a></div>



                </div>
            </div>
        </div>
    </div>
</section>
<section class="block others">
    <div class="innertube">
        <div class="others__title">Похожие товары</div>
        <div class="slider others__slider js-additional-products-slider">
            <div class="product-card">
                <div class="product-card__picture">
                    <img src="./mobile/img/product.png">
                </div>
                <div class="product-card__desc">
                    <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                    <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
                </div>
                <div class="product-card__buy">
                    <span class="product-card__availability">в наличии</span>
                    <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
                </div>
            </div>
            <div class="product-card">
                <div class="product-card__picture">
                    <img src="./mobile/img/product.png">
                </div>
                <div class="product-card__desc">
                    <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                    <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
                </div>
                <div class="product-card__buy">
                    <span class="product-card__availability">в наличии</span>
                    <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
                </div>
            </div>
            <div class="product-card">
                <div class="product-card__picture">
                    <img src="./mobile/img/product.png">
                </div>
                <div class="product-card__desc">
                    <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                    <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
                </div>
                <div class="product-card__buy">
                    <span class="product-card__availability">в наличии</span>
                    <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="block others">
    <div class="innertube">
        <div class="others__title">Вы смотрели</div>
        <div class="slider others__slider js-additional-products-slider">
            <div class="product-card">
                <div class="product-card__picture">
                    <img src="./mobile/img/product.png">
                </div>
                <div class="product-card__desc">
                    <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                    <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
                </div>
                <div class="product-card__buy">
                    <span class="product-card__availability">в наличии</span>
                    <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
                </div>
            </div>
            <div class="product-card">
                <div class="product-card__picture">
                    <img src="./mobile/img/product.png">
                </div>
                <div class="product-card__desc">
                    <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                    <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
                </div>
                <div class="product-card__buy">
                    <span class="product-card__availability">в наличии</span>
                    <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
                </div>
            </div>
            <div class="product-card">
                <div class="product-card__picture">
                    <img src="./mobile/img/product.png">
                </div>
                <div class="product-card__desc">
                    <a href="#" class="product-card__title">Уницем - Белый - 50 грамм + 30 мл (ВладМиВа)</a>
                    <s class="product-card__old-price">6000 ₽</s><span class="product-card__price">374 ₽</span>
                </div>
                <div class="product-card__buy">
                    <span class="product-card__availability">в наличии</span>
                    <a href="#" class="product-card__add-to-basket js-add-to-basket"><i class="icon-basket"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="space--50"></div>
@@include('./templates/footer.tpl')
