{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Слайдер </h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-5">
                        <a href="{{ path('admin_slider_add') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Добавить слайд</a>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Активный</th>
                        <th>Изображение</th>
                        <th>Заголовок</th>
                        <th>Порядок</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for slider in sliders %}
                        <tr>
                            <td>{{ slider.id }}</td>
                            <td>{{ slider.active ? '<i class="fa fa-check text-navy"></i>' :'<i class="fa fa-close text-red"></i>' }}</td>
                            <td><img src="{{ slider.image }}" alt="" width="50"></td>
                            <td>{{ slider.header|striptags}}</td>
                            <td>{{ slider.sort }}</td>
                            <td>
                                <div class="actions">
                                    <a href="{{ path('admin_slider_edit', {id: slider.id}) }}"
                                       class="btn-primary btn btn-sm">Редактировать
                                    </a>
                                    <a class="btn-danger btn btn-sm delete-btn js-delete-btn" href="{{ path('admin_slider_delete',{id:slider.id}) }}">
                                        Удалить
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

