{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5></h5>
            </div>
            <div class="ibox-content">
                {{ form_start(form) }}
                {{ form_row(form.expiry) }}
                {{ form_row(form.discount) }}
                {{ form_row(form.type) }}
                {{ form_row(form.brands) }}
                {{ form_row(form.products) }}

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="form_code">Сколько штук генерировать</label>
                    <div class="col-sm-10">
                        <input type="number" id="form_code" name="form[count]" class="form-control" value="1">
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $('.js-select2').select2();
    </script>
{% endblock %}