{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Промокода</h5>
            </div>
            <div class="ibox-content">
                <a href="{{ path('admin_promocode_add') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Добавить промокод</a>
                <a href="{{ path('admin_promocode_generate') }}" class="btn btn-success"><i class="fa fa-plus"></i> Сгенерировать промокоды</a>
                <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#promocode_modal"><i class="fa fa-plus"></i> Скачать промокоды</a>
                <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#used_promocode_modal"><i class="fa fa-plus"></i> Скачать использованные промокоды</a>


                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Группа</th>
                        <th>Код</th>
                        <th>Размер скидки</th>
                        <th>Тип скидки</th>
                        <th>Активный</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for promocode in promocodes %}
                        <tr>
                            <td>{{ promocode.id }}</td>
                            <td>{{ promocode.groupName }}</td>
                            <td>{{ promocode.code }}</td>
                            <td>{{ promocode.discount  }}</td>
                            <td>{{ promocode.type =='percents'? '%' : 'руб.' }}</td>
                            <td>{{ promocode.active ? '<i class="fa fa-check">' : 'Потрачено' }}</td>
                            <td>
                                <div class="actions">
                                    <a href="{{ path('admin_promocode_edit', {id: promocode.id}) }}"
                                       class="btn-primary btn btn-sm">Редактировать
                                    </a>
                                    <a href="{{ path('admin_promocode_copy', {promocode: promocode.id}) }}"
                                       class="btn-warning btn btn-sm">Клонировать
                                    </a>
                                    {% if promocode.isActive %}
                                    <a class="btn-danger btn btn-sm delete-btn js-delete-btn" href="{{ path('admin_promocode_delete',{id:promocode.id}) }}">
                                        Удалить
                                    </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if promocodes.haveToPaginate %}
                    <div class="navigation text-center">
                        {{ pagerfanta(promocodes, 'twitter_bootstrap3_translated', {routeName: 'admin_promocode_index','routeParams': app.request.query.all,}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

        {# модальные окна #}

        {# Модальное окно скачивания всех промокодов группы #}
        <div id="promocode_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Выгрузка промокодов</h4>
            </div>

            <div class="modal-body">
            <form class="" action="{{path('get_promocodes_by_group')}}" method="get">

            <div class="form-group">
              <select class="browser-default custom-select form-control" name="groupName">
                {% for group in groups %}
                <option value="{{ group.group_name }}">{{ group.group_name }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <button type="SUBMIT" class="btn btn-primary">ПОЛУЧИТЬ</button>
            </div>

            </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
          </div>

        </div>
        </div>

        {# Модальное окно скачивания использованных промокодов группы #}

        <div id="used_promocode_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Выгрузка промокодов</h4>
            </div>

            <div class="modal-body">
            <form class="" action="{{path('get_used_promocodes_by_group')}}" method="get">

            <div class="form-group">
              <select class="browser-default custom-select form-control" name="groupName">
                {% for group in groups %}
                <option value="{{ group.group_name }}">{{ group.group_name }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <button type="SUBMIT" class="btn btn-primary">ПОЛУЧИТЬ</button>
            </div>

            </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
          </div>

        </div>
        </div>

{% endblock %}
