/*
@font-face {
	font-family: 'Circe';
	src: url('../fonts/circe/hinted-subset-Circe-Light.eot');
	src: url('../fonts/circe/hinted-subset-Circe-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/circe/hinted-subset-Circe-Light.woff2') format('woff2'),
	url('../fonts/circe/hinted-subset-Circe-Light.woff') format('woff'),
	url('../fonts/circe/hinted-subset-Circe-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Circe';
	src: url('../fonts/circe/hinted-subset-Circe-Bold.eot');
	src: url('../fonts/circe/hinted-subset-Circe-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/circe/hinted-subset-Circe-Bold.woff2') format('woff2'),
	url('../fonts/circe/hinted-subset-Circe-Bold.woff') format('woff'),
	url('../fonts/circe/hinted-subset-Circe-Bold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Circe';
	src: url('../fonts/circe/hinted-subset-Circe-Regular.eot');
	src: url('../fonts/circe/hinted-subset-Circe-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/circe/hinted-subset-Circe-Regular.woff2') format('woff2'),
	url('../fonts/circe/hinted-subset-Circe-Regular.woff') format('woff'),
	url('../fonts/circe/hinted-subset-Circe-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Circe-Extra-Bold';
	src: url('../fonts/circe/Circe-ExtraBold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}
*/

@font-face {
	font-family: 'Circe';
	src: url("../fonts/circe-v2/Circe-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}