/*
.icon-sprites {
	background : url(../img/sprites2.png) no-repeat; background-size : 71px 162px;
}


.icon {
	&-fb {
		@extend .icon-sprites;
		width : 31px;
		height : 31px;
		background-position : 0 0;
	}
}*/
