@font-face {
	font-family: "icon_font";
	src: url('../fonts/svg_icons/icon_font.eot');
	src: url('../fonts/svg_icons/icon_font.eot?#iefix') format('eot'),
		url('../fonts/svg_icons/icon_font.woff2') format('woff2'),
		url('../fonts/svg_icons/icon_font.woff') format('woff'),
		url('../fonts/svg_icons/icon_font.ttf') format('truetype'),
		url('../fonts/svg_icons/icon_font.svg#icon_font') format('svg');
}

@mixin icon-styles {
	font-family: "icon_font";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arr-d-round {
		$char: "\E001";
	}
	@if $filename == arr-d {
		$char: "\E002";
	}
	@if $filename == arr-up-round {
		$char: "\E003";
	}
	@if $filename == arr-up {
		$char: "\E004";
	}
	@if $filename == arrow-back {
		$char: "\E005";
	}
	@if $filename == arrow-l {
		$char: "\E006";
	}
	@if $filename == arrow-next {
		$char: "\E007";
	}
	@if $filename == arrow-prev {
		$char: "\E008";
	}
	@if $filename == arrow-r {
		$char: "\E009";
	}
	@if $filename == basket {
		$char: "\E00A";
	}
	@if $filename == blog {
		$char: "\E00B";
	}
	@if $filename == cabinet {
		$char: "\E00C";
	}
	@if $filename == cancel {
		$char: "\E00D";
	}
	@if $filename == cancel2 {
		$char: "\E00E";
	}
	@if $filename == catalog-first {
		$char: "\E00F";
	}
	@if $filename == catalog {
		$char: "\E010";
	}
	@if $filename == contacts {
		$char: "\E011";
	}
	@if $filename == delivery-express {
		$char: "\E012";
	}
	@if $filename == delivery {
		$char: "\E013";
	}
	@if $filename == download {
		$char: "\E014";
	}
	@if $filename == enter {
		$char: "\E015";
	}
	@if $filename == facebook {
		$char: "\E016";
	}
	@if $filename == house {
		$char: "\E017";
	}
	@if $filename == info {
		$char: "\E018";
	}
	@if $filename == left {
		$char: "\E019";
	}
	@if $filename == logo {
		$char: "\E01A";
	}
	@if $filename == logout {
		$char: "\E01B";
	}
	@if $filename == loupe {
		$char: "\E01C";
	}
	@if $filename == mail-b {
		$char: "\E01D";
	}
	@if $filename == mail {
		$char: "\E01E";
	}
	@if $filename == map {
		$char: "\E01F";
	}
	@if $filename == marker {
		$char: "\E020";
	}
	@if $filename == msg {
		$char: "\E021";
	}
	@if $filename == ok {
		$char: "\E022";
	}
	@if $filename == pay {
		$char: "\E023";
	}
	@if $filename == person {
		$char: "\E024";
	}
	@if $filename == phone {
		$char: "\E025";
	}
	@if $filename == plus {
		$char: "\E026";
	}
	@if $filename == right {
		$char: "\E027";
	}
	@if $filename == star-fill {
		$char: "\E028";
	}
	@if $filename == star {
		$char: "\E029";
	}
	@if $filename == stock {
		$char: "\E02A";
	}
	@if $filename == vk {
		$char: "\E02B";
	}
	@if $filename == xls {
		$char: "\E02C";
	}
	@if $filename == zb-catalog {
		$char: "\E02D";
	}
	@if $filename == zc-delivery {
		$char: "\E02E";
	}
	@if $filename == zd-pay {
		$char: "\E02F";
	}
	@if $filename == ze-info {
		$char: "\E030";
	}
	@if $filename == zf-contacts {
		$char: "\E031";
	}
	@if $filename == zh-blog {
		$char: "\E032";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arr-d-round {
	@include icon(arr-d-round);
}
.icon-arr-d {
	@include icon(arr-d);
}
.icon-arr-up-round {
	@include icon(arr-up-round);
}
.icon-arr-up {
	@include icon(arr-up);
}
.icon-arrow-back {
	@include icon(arrow-back);
}
.icon-arrow-l {
	@include icon(arrow-l);
}
.icon-arrow-next {
	@include icon(arrow-next);
}
.icon-arrow-prev {
	@include icon(arrow-prev);
}
.icon-arrow-r {
	@include icon(arrow-r);
}
.icon-basket {
	@include icon(basket);
}
.icon-blog {
	@include icon(blog);
}
.icon-cabinet {
	@include icon(cabinet);
}
.icon-cancel {
	@include icon(cancel);
}
.icon-cancel2 {
	@include icon(cancel2);
}
.icon-catalog-first {
	@include icon(catalog-first);
}
.icon-catalog {
	@include icon(catalog);
}
.icon-contacts {
	@include icon(contacts);
}
.icon-delivery-express {
	@include icon(delivery-express);
}
.icon-delivery {
	@include icon(delivery);
}
.icon-download {
	@include icon(download);
}
.icon-enter {
	@include icon(enter);
}
.icon-facebook {
	@include icon(facebook);
}
.icon-house {
	@include icon(house);
}
.icon-info {
	@include icon(info);
}
.icon-left {
	@include icon(left);
}
.icon-logo {
	@include icon(logo);
}
.icon-logout {
	@include icon(logout);
}
.icon-loupe {
	@include icon(loupe);
}
.icon-mail-b {
	@include icon(mail-b);
}
.icon-mail {
	@include icon(mail);
}
.icon-map {
	@include icon(map);
}
.icon-marker {
	@include icon(marker);
}
.icon-msg {
	@include icon(msg);
}
.icon-ok {
	@include icon(ok);
}
.icon-pay {
	@include icon(pay);
}
.icon-person {
	@include icon(person);
}
.icon-phone {
	@include icon(phone);
}
.icon-plus {
	@include icon(plus);
}
.icon-right {
	@include icon(right);
}
.icon-star-fill {
	@include icon(star-fill);
}
.icon-star {
	@include icon(star);
}
.icon-stock {
	@include icon(stock);
}
.icon-vk {
	@include icon(vk);
}
.icon-xls {
	@include icon(xls);
}
.icon-zb-catalog {
	@include icon(zb-catalog);
}
.icon-zc-delivery {
	@include icon(zc-delivery);
}
.icon-zd-pay {
	@include icon(zd-pay);
}
.icon-ze-info {
	@include icon(ze-info);
}
.icon-zf-contacts {
	@include icon(zf-contacts);
}
.icon-zh-blog {
	@include icon(zh-blog);
}
