@mixin clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}

$break-min: 320px;
$break-ipad: 768px;

@mixin respond-to($media) {
    @if $media == min {
        @media only screen and (max-width: $break-min) { @content; }
    }
    @if $media == ipad {
        @media only screen and (max-width: $break-ipad) { @content; }
    }
}