{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Брошеные корзины </h5>
            </div>
            <div class="ibox-content">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>User-Agent</th>
                        <th>Версия</th>
                        <th>Создана</th>
                        <th>Последняя правка</th>
                        <th>Сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cart in carts %}
                        <tr class="{{ cart.finished ? 'success' : '' }}">
                            <td>{{ cart.userAgent }}</td>
                            <td>{{ cart.siteVersion.name }}</td>
                            <td>{{ cart.timeCreate|date('d.m.y H:i') }}</td>
                            <td>{{ cart.timeUpdate|date('d.m.y H:i') }}</td>
                            <td>{{ cart.price }} <i class="fa fa-rouble"></i></td>
                            <td>
                                <div class="actions">
                                    <a href="{{ path('admin_cart_show', {id: cart.id}) }}"
                                       class="btn-primary btn btn-sm">Смотреть
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if carts.haveToPaginate %}
                    <div class="navigation text-center">
                        {{ pagerfanta(carts, 'twitter_bootstrap3_translated', {routeName: 'admin_cart_index','routeParams': app.request.query.all,}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

