{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Корзина</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Товар/Услуга</th>
                        <th>Артикул</th>
                        <th>Стоимость</th>
                        <th>Количество</th>
                        <th>Стоимость</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cartProduct in cart.cartProducts %}
                        <tr>
                            <td>{{ cartProduct.product.name }}</td>
                            <td>{{ cartProduct.product.article }}</td>
                            <td>{{ cartProduct.price }} руб.</td>
                            <td>{{ cartProduct.count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <th colspan="5"><div class="text-right">Итого: {{ cart.price }} руб.</div></th>
                    </tfoot>
                </table>
                <p>User-Agent : <strong>{{ cart.userAgent }}</strong></p>
                <p>IP : <strong>{{ cart.ip }}</strong></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}