{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Редактирование {{ product.name }} (ID : {{ product.id }})</h5>
                <a href="/catalog/{{ product.url }}" target="_blank" class="btn btn-danger btn-xs pull-right">Смотреть на сайте</a>
            </div>
            <div class="ibox-content">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">Основное</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">Характеристики</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">Связанные товары</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false">Вкладки</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-5" aria-expanded="false">Фото и видео</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-6" aria-expanded="false">SEO</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-7" aria-expanded="false">Описание</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-8" aria-expanded="false">Состав</a></li>


                    </ul>
                    {# form_theme productForm 'form_themes/vich.html.twig' #}

                    {{ form_start(productForm) }}
                        <div class="tab-content">
                            <!--Основное-->
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label required" for="form_name">Изображение</label>
                                        <div class="col-sm-2">
                                            <img src="{{ product.image('s') }}" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    {{ form_row(productForm.name) }}
                                    {{ form_row(productForm.url) }}
                                    {{ form_row(productForm.active) }}
                                    {{ form_row(productForm.event) }}
                                    {{ form_row(productForm.catalog) }}
                                    {{ form_row(productForm.productBrand) }}
                                    <hr>
                                    {{ form_row(productForm.countSpb) }}
                                    {{ form_row(productForm.countMsk) }}
                                    {{ form_row(productForm.countKirov) }}
                                    {{ form_row(productForm.countYaroslavl) }}
                                    {{ form_row(productForm.countVolgograd) }}

                                </div>
                            </div>

                            <!--Характеристики-->
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <hr>
                                    <div class="well">
                                        <h2>Блок характеристик</h2>
                                        <div class="js-add-input-area1">
                                            {% if product.productProps|length > 0 %}
                                                {% for prop in product.productProps %}
                                                    <div class="js-add-input-area-row1 row" style="margin-top:20px">
                                                        <label class="col-sm-2">Характеристика</label>
                                                        <div class="col-sm-2">
                                                            <input value="{{ prop.key }}" id="props_0_key" data-id-format="props_%d_key" data-name-format="form[props][%d][key]" name="form[props][0][key]" type="text" class="form-control">
                                                        </div>
                                                        <label for="params_0_value" data-id-format="params_%d_value" class="col-sm-1">Значение</label>
                                                        <div class="col-sm-2">
                                                            <input value="{{prop.val}}" id="props_0_value" data-id-format="props_%d_value" data-name-format="form[props][%d][val]" name="form[props][0][val]" type="text" class="form-control">
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <button type="button" class="js-area-remove1 btn btn-danger"><i class="fa fa-remove"></i></button>
                                                        </div>
                                                        <br>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                <div class="js-add-input-area-row1 row" style="margin-top:20px">
                                                    <label class="col-sm-2">Характеристика</label>
                                                    <div class="col-sm-2">
                                                        <input value="" id="props_0_key" data-id-format="props_%d_key" data-name-format="form[props][%d][key]" name="form[props][0][key]" type="text" class="form-control">
                                                    </div>
                                                    <label for="params_0_value" data-id-format="params_%d_value" class="col-sm-1">Значение</label>
                                                    <div class="col-sm-2">
                                                        <input value="" id="props_0_value" data-id-format="props_%d_value" data-name-format="form[props][%d][val]" name="form[props][0][val]" type="text" class="form-control">
                                                    </div>
                                                    <div class="col-sm-1">
                                                        <button type="button" class="js-area-remove1 btn btn-danger"><i class="fa fa-remove"></i></button>
                                                    </div>
                                                    <br>
                                                    <div class="clearfix"></div>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <br>
                                                <button type="button" value="+" class="js-area-add1 btn btn-success"><i class="fa fa-plus"></i> Добавить характеристику</button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="well">
                                        <h2>Блок тегов</h2>
                                        <div class="js-add-input-area2">
                                            {% if product.tags|length > 0 %}
                                                {% for curTag in product.tags %}
                                                    <div class="js-add-input-area-row2 row" style="margin-top:20px">
                                                        <label class="col-sm-2">Тег</label>
                                                        <div class="col-sm-2">
                                                            <select id="tag_0_name" data-id-format="tag_%d_name" data-name-format="form[tags][%d]" name="form[tags][0]" type="text" class="form-control">
                                                                <option value="0">---</option>
                                                                {% for tag in tags %}
                                                                    <option value="{{ tag.id }}" {{ tag.id == curTag.id ? 'selected':'' }}>{{ tag.name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <button type="button" class="js-area-remove2 btn btn-danger"><i class="fa fa-remove"></i></button>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                <div class="js-add-input-area-row2 row" style="margin-top:20px">
                                                    <label  class="col-sm-2">Тег</label>
                                                    <div class="col-sm-2">
                                                        <select id="tag_0_name" data-id-format="tag_%d_name" data-name-format="form[tags][%d]" name="form[tags][%d]" type="text" class="form-control">
                                                            <option value="0" selected>---</option>
                                                            {% for tag in tags %}
                                                                <option value="{{ tag.id }}">{{ tag.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                    <div class="col-sm-1">
                                                        <button type="button" class="js-area-remove2 btn btn-danger"><i class="fa fa-remove"></i></button>
                                                    </div>
                                                    <br>
                                                    <div class="clearfix"></div>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <br>
                                                <button type="button" value="+" class="js-area-add2 btn btn-success"><i class="fa fa-plus"></i> Добавить тег</button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>

                            <!--Связанные товары-->
                            <div id="tab-3" class="tab-pane">
                                <div class="panel-body">
                                    {{ form_row(productForm.sameProductsIds) }}
                                </div>
                            </div>

                            <!--Вкладки-->
                            <div id="tab-4" class="tab-pane">
                                <div class="panel-body">
                                    {{ form_row(productForm.video) }}
                                    {{ form_row(productForm.pdf) }}
                                </div>
                            </div>

                            <!--Фото и видео-->
                            <div id="tab-5" class="tab-pane">
                                <div class="panel-body">
                                    <h3>Галерея</h3>
                                    <div class="row gallery js-gallery">
                                        {% for productImage in product.productImages %}
                                            <div class="col-sm-1 js-gallery-image">
                                                <div class="gallery__image">
                                                    <a href="#" class="js-remove-image remove" data-url="{{ path('admin_product_remove_image') }}" data-id="{{ productImage.id }}"><i class="fa fa-close"></i></a>
                                                    <img src="{{ productImage.image('s') }}" alt="" class="img-responsive thumbnail">
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <div class="dzone js-dropzone" data-url="{{ path('admin_product_upload_image') }}" data-product-id="{{ product.id }}"></div>
                                        <!-- The file upload form used as target for the file upload widget -->
                                        {#
                                        <ul class="images" data-prototype="{{ form_widget(productForm.productImages.vars.prototype)|e('html_attr') }}">
                                            {% for image in productForm.productImages %}
                                                <li>{{ form_row(image.imageFile) }}</li>
                                            {% endfor %}
                                        </ul>
                                        #}

                                        {{ form_row(productForm.videoUrl) }}
                                    </div>

                                </div>
                            </div>

                            <!--SEO-->
                            <div id="tab-6" class="tab-pane">
                                <div class="panel-body">
                                    <div class="form-group">
                                        {{ form_row(productForm.searchTags) }}
                                    </div>
                                </div>
                            </div>

                            <!--Описание-->
                            <div id="tab-7" class="tab-pane">
                                <div class="panel-body">
                                    <div class="form-group">
                                        {{ form_row(productForm.preview) }}
                                    </div>
                                </div>
                            </div>

                            <!--Состав-->
                            <div id="tab-8" class="tab-pane">
                                <div class="panel-body">

                                </div>
                            </div>
                        </div>
                        <br>
                    {{ form_end(productForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}

    <script>
        var $collectionHolder;
        // setup an "add a image" link
        var $addImageLink = $('<a href="#" class="add_image_link btn btn-sm btn-primary">Добавить изображение</a>');
        var $newLinkLi = $('<li></li>').append($addImageLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of images
            $collectionHolder = $('ul.images');

            // add the "add a image" anchor and li to the images ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addImageLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new image form (see next code block)
                addImageForm($collectionHolder, $newLinkLi);
            });
        });
        function addImageForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your images field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a image" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    </script>
{% endblock %}