{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Товары и услуги </h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-9">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin_product_index') }}" class="btn btn-primary">Все товары</a>
                            <a href="?no-image=1" class="btn btn-primary">Товары без изображения</a>
                            <a href="?no-preview=1" class="btn btn-primary">Товары без описания</a>
                            <a href="?no-price=1" class="btn btn-primary">Товары без цен</a>
                        {% endif %}
                        {% if is_granted('ROLE_MANAGER') %}
                            <a href="/price/franchize/all/" class="btn btn-warning"><i class="fa fa-download"></i> Прайс франчайзи полный</a>
                            {% if app.session.get('price',[])|length > 0 %}
                                <a href="/price/franchize/" class="btn btn-success"><i class="fa fa-download"></i> Прайс франчайзи ({{ app.session.get('price',[])|length }} товаров)</a>
                                <a href="{{ path('admin_product_clear_price') }}"
                                   class="btn-danger btn "><i class="fa fa-close"></i> Очистить прайс
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-sm-3">
                        <form action="{{ path('admin_product_index') }}" method="GET">
                            <div class="input-group">
                                <input placeholder="Поиск" class="input-sm form-control" type="text" name="query">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary">Найти</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Фото</th>
                        <th>Название</th>
                        <th>Цена(розн.)</th>
                        <th>Цена(опт.)</th>
                        <th>Цена(франчайзи)</th>
                        <th>Количество</th>
                        <th>Теги</th>
                        {% if is_granted('ROLE_ADMIN') %}<th>Действия</th>{% endif %}
                        {% if is_granted('ROLE_MANAGER') %}<th>В прайс</th>{% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td><img src="{{ product.image('s') }}" alt="" width="70"></td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td style="width:30%"><a href="{{ path('admin_product_edit', {id: product.id}) }}">{{ product.name }}</a></td>
                            {% else %}
                                <td style="width:30%">{{ product.name }}</td>
                            {% endif %}
                            <td>{{ product.priceRet }} ₽</td>
                            <td>{{ product.priceOpt }} ₽</td>
                            <td>{{ product.priceFranchize }} ₽</td>
                            <td>{{ product.count(versionId) }}</td>
                            <td>
                                {% for tag in product.tags %}
                                    <span class="label label-info label-xs">{{ tag.name }}</span>
                                {% endfor %}
                            </td>
                            {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <div class="actions">
                                    <a href="{{ path('admin_product_edit', {id: product.id}) }}"
                                       class="btn-primary btn btn-sm">Редактировать
                                    </a>
                                    <a class="btn-danger btn btn-sm delete-btn js-delete-btn" href="{{ path('admin_product_delete',{id:product.id}) }}">
                                        Удалить
                                    </a>
                                </div>
                            </td>
                            {% endif %}
                            {% if is_granted('ROLE_MANAGER') %}
                            <td>
                                <div class="actions">
                                    {% if product.id in app.session.get('price',null) %}
                                        <a href="{{ path('admin_product_remove_from_price', {id: product.id}) }}"
                                           class="btn-danger btn btn-sm js-remove-from-price"><i class="fa fa-minus"></i>
                                        </a>
                                    {% else %}
                                    <a href="{{ path('admin_product_add_to_price', {id: product.id}) }}"
                                       class="btn-warning btn btn-sm js-add-to-price"><i class="fa fa-plus"></i>
                                    </a>
                                    {% endif %}
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if products.haveToPaginate %}
                    <div class="navigation text-center">
                        {{ pagerfanta(products, 'twitter_bootstrap3_translated', {routeName: 'admin_product_index','routeParams': app.request.query.all,}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
    <script>
        $('.js-add-to-price')
    </script>
{% endblock %}

