{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Список обучающих программ</h5>
            </div>
            <div class="ibox-content">

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Название</th>
                        <th>Активный</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for educationType in educationTypes %}
                        <tr>
                            <td>{{ educationType.id }}</td>
                            <td>{{ educationType.name }}</td>
                            <td>{{ educationType.active ? '<i class="fa fa-check text-navy"></i>' :'<i class="fa fa-close"></i>' }}</td>
                            <td>
                                <div class="actions">
                                    <a href="{{ path('admin_education_type_edit', {id: educationType.id}) }}"
                                       class="btn-primary btn btn-sm">Редактировать
                                    </a>
                                    <a class="btn-danger btn btn-sm delete-btn js-delete-btn" href="{{ path('admin_education_type_delete',{id:educationType.id}) }}">
                                        Удалить
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if educationTypes.haveToPaginate %}
                    <div class="navigation text-center">
                        {{ pagerfanta(educationTypes, 'twitter_bootstrap3_translated', {routeName: 'admin_education_type_index','routeParams': app.request.query.all,}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

