.contacts-view {

}

.contacts-view h2, h1{
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contacts-view .map {
    height: 400px;
}

.contacts-view .info {
    margin-top: 20px;
}

.contacts-view .contacts,
.contacts-view .feedback {
    background-color: #f4f4f4;
    padding: 10px;
}
.contacts-view .contacts {
    float: left;
    width: 30%;
}

.contacts-view .contacts .label {
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 16px;
}

.contacts-view .contacts .row {
    margin-bottom: 15px;
}

.contacts-view .contacts .row a {
    color: #ff8300;
}

.contacts-view .feedback {
    margin-left: 32%;
}

.contacts-view {
}

.contacts-view .map {
    height: 450px;
    border-bottom: 3px solid #0f89d2;
}

.contacts-view .info {
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 900px;
}

.contacts-view .contacts,
.contacts-view .feedback {
    background-color: #f4f4f4;
    padding: 20px 20px 10px 20px;
    min-height: 280px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.contacts-view .contacts {
    float: left;
    width: 30%;
}

.contacts-view .contacts .label {
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 16px;
}

.contacts-view .contacts .row {
    margin-bottom: 10px;
}

.contacts-view .contacts .row a {
    color: #0f89d2;
}

.contacts-view .feedback {
    margin-left: 32%;
}

.contacts-view .feedback .col {
    float: left;
    width: 49%;
    margin-left: 2%;
}

.contacts-view .feedback .col:first-child {
    margin-left: 0;
}

.contacts-view .feedback .cols {
    height: 45px;
}

@media screen and (max-width: 950px) {
    .contacts-view .contacts {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }

    .contacts-view .contacts .row {
        float: left;
        width: 220px;
        margin-right: 20px;
    }

    .contacts-view .contacts .row:nth-child(2n) {
        margin-right: 0;
    }

    .contacts-view .feedback {
        margin-left: 0;
    }

    .contacts-view .contacts,
    .contacts-view .feedback {
        min-height: 0;
    }
}