{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Редактирование {{ typicalProp.name }}</h5>
            </div>
            <div class="ibox-content">
                {%
                    form_theme form
                    'form_themes/jquery.collection.html.twig'
                    'form_themes/formThemeWithButtons.html.twig'
                %}
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="props"
                         data-prototype="{{ form_widget(form.typicalPropValues.vars.prototype)|e('html_attr') }}"
                         data-name-prefix="props_"
                         data-allow-remove="true"
                         data-allow-add="true"
                    >
                        {%  for typicalPropValue in form.typicalPropValues %}
                            {{ form_row(typicalPropValue) }}
                        {% endfor %}

                    </div>

                </div>
                <div class="clearfix"></div>
                {{ form_row(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>
    <script type="text/javascript">
        $('.props').collection({allow_duplicate: true});
    </script>
{% endblock %}