{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="block">
        <div class="innertube">
            <div class="articles standart">

                <h1 class="title standart__title">{{ header }}</h1>
                <div class="standart__body">
                    <div class="content content-block content-block--white content-block--big-offset">

                        <div class="std-form">
                            {% if orderId %}
                                <p style="text-align: center;">Номер заказа <b>№{{ orderId }}</b></p>
                            {% endif %}
                            <p class="order-desc"><b>Оплата не проведена</b>: <br>
                                Отказ банка – эмитента карты. <br>
                                Ошибка в процессе оплаты, указаны неверные данные карты.</p>
                        </div>

                        {% if bankPayUrl %}
                        <div class="row btns">
                            <div class="label-big"></div>
                            <div class="rules-box submit" style="text-align: center;margin-top: 10px;">
                                <button type="button" class="btn" onclick="location.href='{{ bankPayUrl }}'">Повторить оплату</button>
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}