{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="block">
        <div class="innertube">
            <div class="articles standart">
                <h1 class="title standart__title">{{ header }}</h1>
                <div class="standart__body">
                    <div class="content content-block content-block--white content-block--big-offset">
                        {% if orderId %}
                            <p style="text-align: center;">Номер заказа <b>№{{ orderId }}</b></p>
                        {% endif %}
                        <p class="order-desc">Оплата прошла успешно.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}