{% extends 'layouts/base.html.twig' %}

{% block content %}
    <section class="block not-found">
        <div class="innertube">
            <div class="not-found__logo">
                <img src="/img/svg/logo.svg" alt="Логотип Стоммаркет">
            </div>
            <div class="not-found__content">
                <div class="not-found__image">
                    <img src="/img/svg/doctor-magnifier.svg">
                </div>
                <div class="not-found__code">404</div>
                <div class="not-found__description">
                    К сожалению, данной страницы не существует
                </div>
            </div>
            <div class="not-found__links">
                <div>
                    Начните поиск с <a href="/" class="not-found__link">главной страницы</a>
                </div>
                <div>
                    или
                </div>
                <div>
                    <a href="/catalog">
                        <button class="btn btn--dark btn--short-margin">Перейдите в каталог</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
