{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Теги</h5>
            </div>
            <div class="ibox-content">
                <a href="{{ path('admin_tag_add') }}" class="btn btn-primary"><i class="fa fa-plus"></i>Новый тег</a>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Название</th>
                        <th>Дата создания</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tag in tags %}
                        <tr>
                            <td>{{ tag.timeCreate|date("d.m.yг. H:i")}}</td>
                            <td>{{ tag.name }}</td>
                            <td>
                                <div class="actions">
                                    <a href="{{ path('admin_product_index', {tag_id: tag.id}) }}"
                                       class="btn-warning btn btn-sm">Товары
                                    </a>
                                    <a href="{{ path('admin_tag_edit', {id: tag.id}) }}"
                                       class="btn-primary btn btn-sm">Редактировать
                                    </a>
                                    <a class="btn-danger btn btn-sm delete-btn js-delete-btn" href="{{ path('admin_tag_delete',{id:tag.id}) }}">
                                        Удалить
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if tags.haveToPaginate %}
                    <div class="navigation text-center">
                        {{ pagerfanta(tags, 'twitter_bootstrap3_translated', {routeName: 'admin_tag_index','routeParams': app.request.query.all,}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

