{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Редактирование {{ catalog.name }} (ID : {{ catalog.id }})</h5>
            </div>
            <div class="ibox-content">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">Основное</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">SEO</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">Описание</a></li>


                    </ul>
                    {# form_theme catalogForm 'form_themes/vich.html.twig' #}

                    {{ form_start(catalogForm) }}
                        <div class="tab-content">
                            <!--Основное-->
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">

                                    {{ form_row(catalogForm.name) }}
                                    {{ form_row(catalogForm.url) }}
                                    {{ form_row(catalogForm.active) }}

                                    <input type="hidden" name="form[catalogVersion][versionId]" value="{{ catalogVersion.versionId }}">

                                </div>
                            </div>

                            <!--Характеристики-->
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label required" for="form_title">Meta-title</label>
                                            <div class="col-sm-10">
                                                <input id="form_title" name="form[catalogVersion][title]"  class="form-control" value="{{ catalogVersion.title }}" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label required" for="form_keywords">Meta-keywords</label>
                                            <div class="col-sm-10">
                                                <input id="form_keywords" name="form[catalogVersion][keywords]"  class="form-control" value="{{ catalogVersion.keywords }}" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label required" for="form_description">Meta-description</label>
                                            <div class="col-sm-10">
                                                <input id="form_description" name="form[catalogVersion][description]"  class="form-control" value="{{ catalogVersion.description }}" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Описание-->
                            <div id="tab-3" class="tab-pane">
                                <div class="panel-body">
                                    {{ form_row(catalogForm.text|raw) }}
                                </div>
                            </div>
                        </div>
                        <br>
                    {{ form_end(catalogForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}

    <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-beta.1/classic/ckeditor.js"></script>
    <script>
        var editors = $('textarea');
        $.each( editors, function( key, value ) {
            ClassicEditor
                .create( value )
                .catch( error => {
                    console.error( error );
            } );
        });
        var $collectionHolder;

        // setup an "add a image" link
        var $addImageLink = $('<a href="#" class="add_image_link btn btn-sm btn-primary">Добавить изображение</a>');
        var $newLinkLi = $('<li></li>').append($addImageLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of images
            $collectionHolder = $('ul.images');

            // add the "add a image" anchor and li to the images ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addImageLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new image form (see next code block)
                addImageForm($collectionHolder, $newLinkLi);
            });
        });
        function addImageForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your images field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a image" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    </script>
{% endblock %}