{% extends 'layouts/admin.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Товары и услуги </h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-9"></div>
                    <div class="col-sm-3">
                        <form action="{{ path('admin_catalog_index') }}" method="GET">
                            <div class="input-group">
                                <input placeholder="Поиск" class="input-sm form-control" type="text" name="query">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary">Найти</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Название</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for catalog in catalogs %}
                        <tr>
                            <td>{{ catalog.id }}</td>
                            <td style="width:60%">{% for i in 1..catalog.lvl if catalog.lvl > 0 %} - - {% endfor %}<a href="{{ path('admin_catalog_edit', {id: catalog.id}) }}">{{ catalog.name }}</a></td>

                            <td>
                                <div class="actions">
                                    <a href="{{ path('admin_catalog_edit', {id: catalog.id}) }}"
                                       class="btn-primary btn btn-sm">Редактировать
                                    </a>
                                    <a class="btn-danger btn btn-sm delete-btn js-delete-btn" href="{{ path('admin_catalog_delete',{id:catalog.id}) }}">
                                        Удалить
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% if catalogs.haveToPaginate %}
                    <div class="navigation text-center">
                        {{ pagerfanta(catalogs, 'twitter_bootstrap3_translated', {routeName: 'admin_catalog_index','routeParams': app.request.query.all,}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

