


{% extends 'email/layout.html.twig' %}

{% block content %}
    <table border="0" cellpadding="0" width="100%" cellspacing="0" style="margin:0 auto; padding:0; max-width: 720px; min-width: 720px; width: 720px;">
        <tr>
            <td style="padding: 30px; background: transparent url(https://stommarket.ru/img/mail/bg.png) 0 0 repeat-x; vertical-align: top;">
                <table border="0" cellpadding="0" width="100%" cellspacing="0" style="margin:0; padding:0; width: 100%;">
                    <tr>
                        <td style="padding: 30px 42px; background-color: #ffffff; border-radius: 5px 5px 0 0;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%;">
                                <tr>
                                    <td style="width: 50%"><img src="https://stommarket.ru/img/mail/logo.jpg" style="width: 200px; height: 40px;" width="200" height="40" alt=""></td>
                                    <td style="text-align: right">
                                        <div><span style="font-size: 14px; color: #333333; display: block; margin-bottom: 5px; font-family: 'Helvetica';">{{ version.city }}</span></div>
                                        <div><span style="font-size: 16px; color: #333333; display: block; font-family: 'Helvetica';"><strong>{{ version.phone }}</strong></span></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"  style="padding: 10px 10px 5px 10px;">
                                        <table style="width: 100%;">
                                            <tbody>
                                            <tr>
                                                <td style="padding: 10px 10px 5px 10px;">
                                                    <h1>Новая заявка на обучение</h1>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="padding: 0 10px 10px 10px">
                                                    <p>Имя : {{ request.name }}</p>
                                                    <p>Телефон : {{ request.phone }}</p>
                                                    <p>Email : {{ request.email }}</p>
                                                    <p>Город : {{ request.city }}</p>
                                                    <p>Обучение : {{ request.education.name }}</p>
                                                    <p>Дата : {{ request.education.dateStart|date('d-m-Y') }}</p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px 0; text-align:center; background-color: #ffffff; border-radius: 0 0 5px 5px;">
                            <span style="display: block; text-align: center; font-size: 12px; color: #333333;">© {{ version.host }}, товары для стоматологии, {{ 'now'|date('Y') }} </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}
