На сайт <a href="http://{{ server }}">{{ server }}</a> поступил новый заказ от пользователя<br/>
----------------------------<br/>
{% if order.username|length > 0 %}
    Имя: {{ order.username }} <br/>
{% endif %}

{% if order.email|length > 0 %}
    Email: {{ order.email }} <br/>;
{% endif %}
{% if order.phone|length > 0 %}
    Телефон: {{ order.phone }} <br/>;
{% endif %}

----------------------------<br>
<br/>
Состав заказа:<br/>
<br/>
<table>
    <tr>
        <th>Название:</th>
        <th>Количество:</th>
        <th>Стоимость:</th>
    </tr>
    {% for orderProduct in order.orderProducts %}
        <tr>
            <td width="150">
                <a href="http://{{ server }}/catalog/{{ orderProduct.product.url }}">{{ orderProduct.product.name }} ({{ orderProduct.product.article }})</a>
                {{ orderProduct.product.divType }}
            </td>
            <td>
                {{ orderProduct.count }} шт.<br/>
            </td>
            <td>
                {{ orderProduct.product.price }} руб.<br/>

            </td>
        </tr>
    {% endfor %}

</table>
<br/>
Итоговая стоимость: <b>{{ order.price }}</b> руб.<br/>
<br/>
Заказ в панели администрирования: <a href="http://{{ server }}/admin/order/edit/{{ order.id }}/">Заказ №{{ order.encryptedId }}</a>