{% extends 'email/layout.html.twig' %}

{% block content %}
    <div style="margin: 0 auto;padding: 0;max-width: 700px;min-width: 700px;width: 700px;background: #eee;padding: 10px;margin-bottom: 10px;">
        <span style="display: block; font-size: 16px; margin-bottom: 20px; color: #333333; font-family: 'Helvetica';">
            <strong>Это письмо отправлено роботом, пожалуйста не отвечайте на него. По всем вопросам обращайтесь на почту {{ version.email }}
            </strong>
        </span>
    </div>

    <table border="0" cellpadding="0" width="100%" cellspacing="0" style="margin:0 auto; padding:0; max-width: 720px; min-width: 720px; width: 720px; height: 1120px">
        <tr>
            <td style="padding: 30px; background: transparent url(https://stommarket.ru/img/mail/bg.png) 0 0 repeat-x; vertical-align: top;">
                <table border="0" cellpadding="0" width="100%" cellspacing="0" style="margin:0; padding:0; width: 100%;">
                    <tr>
                        <td style="padding: 30px 42px; background-color: #ffffff; border-radius: 5px 5px 0 0;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%;">
                                <tr>
                                    <td style="width: 50%"><img src="https://stommarket.ru/img/mail/logo.jpg" style="width: 200px; height: 40px;" width="200" height="40" alt=""></td>
                                    <td style="text-align: right">
                                        <div><span style="font-size: 14px; color: #333333; display: block; margin-bottom: 5px; font-family: 'Helvetica';">{{ version.city }}</span></div>
                                        <div><span style="font-size: 16px; color: #333333; display: block; font-family: 'Helvetica';"><strong>{{ version.phone }}</strong></span></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" width="100%" height="365" style="height:365px; text-align: center; background: transparent url('https://stommarket.ru/img/mail/background-text2.png') 50% 0 no-repeat;">

                                        <div><span style="display: block; font-size: 24px; margin-bottom: 20px; color: #333333; font-family: 'Helvetica';"><strong>Здравствуйте!</strong></span></div>
                                        <div>
                                        <span style="font-size: 16px; line-height: 24px; color: #333333; font-family: 'Helvetica';">
                                            Вы зарегистрировались на сайте stommarket.ru
                                        </span>
                                        <br>
                                        <span style="font-size: 16px; line-height: 24px; color: #333333; font-family: 'Helvetica';">
                                            Вам доступен промокод на скидку 2%.<br> Чтобы активировать скидку,<br> введите промокод <strong>{{ promocode }}</strong><br> в корзине при оформлении заказа.
                                        </span>

                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2" style="text-align:center;">
                                        <div style="display: block; width: 276px; margin: 10px auto; text-align: center; height: 48px; border: solid 3px #136db2; font-size: 18px; color: #136db2"><a href="https://stommarket.ru/" style="display: block; padding-top: 12px; height: 36px; font-size: 18px; color: #136db2; text-decoration: none; font-family: 'Helvetica';"><strong>Перейти на сайт</strong></a></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <img src="https://stommarket.ru/img/mail/blank.png" height="75" style="height: 75px;" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align:center;">

                                        <div><span style="display: block; font-size: 28px; color: #333333; text-align: center; font-family: 'Helvetica';"><strong>{{ version.phone }}</strong></span></div>
                                        <div><span style="display: block; font-size: 18px; text-align: center; font-family: 'Helvetica';"><strong>Почта:</strong> <a target="_blank" href="mailto:{{ version.email }}" style="color: #008ace; font-size: 18px; font-family: 'Helvetica';">{{ version.email }}</a></span></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <img src="https://stommarket.ru/img/mail/blank.png" height="40" style="height: 40px;" alt="">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: center;">
                                    <span style="display: block; text-align: center;">
                                        <a href="{{ version.vk }}" target="_blank" style="text-decoration: none; margin-right: 10px;"><img src="https://stommarket.ru/img/mail/vk.png" alt=""></a>
                                        <a href="{{ version.fb}}" target="_blank" style="text-decoration: none;"><img src="https://stommarket.ru/img/mail/fb.png" alt=""></a>
                                    </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px 0; text-align:center; background-color: #ffffff; border-radius: 0 0 5px 5px;">
                            <span style="display: block; text-align: center; font-size: 12px; color: #333333;">© {{ server }}, товары для стоматологии, {{ year }} </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{% endblock %}
