<li class="catalog-nav__item ">
    <a href="/catalog/{{ catalog.urlPath }}">
        <strong>Все товары категории</strong>
    </a>
</li>

{% for child in catalog.activeChildren %}
    <li class="catalog-nav__item ">
        <a href="/catalog/{{ child.urlPath }}" data-id="{{ child.id }}" class="{{ child.activeChildren|length > 0 ? 'icon-arrow-next js-next-level-link' : '' }}">
            {{ child.name }}
        </a>
    </li>
{% endfor %}
