<form class="catalog__filter filter js-filter" style="">
    {% if is_mobile() or is_tablet() %}
        <a href="#" class="btn btn--dark catalog__filters-link js-submit-filters-link">Применить</a>
    {% endif %}
    <input value="{{ catalog.id }}" name="category" type="hidden">
    <input value="{{ app.request.pathinfo }}" name="pageUrl" type="hidden">
    <input value="{{ search }}" name="query" type="hidden">
    <input type="hidden" name="tag" value="{# catalog is instanceof('Catalog') ? '1':'0' #}">
    {% if is_mobile() or is_tablet() %}
        <input type="hidden" class="js-catalog-page" value="1" name="page">
    {% endif %}
    <div class="filter__group">
        <div class="filter__row">
            <div class="filter__title filter__inline">Стоимость</div>
            <input type="text" maxlength="6" id="price" class="filter__input-text filter__price-input js-price-input"  value="{{ filter.max }}">
            <label class="filter__input-b filter__inline" for="price">
            </label>
        </div>
        <div id="js-price-slider" class="filter__price-slider" data-start-price="{{ filter.max }}" data-min-price="{{ filter.min }}" data-max-price="{{ filter.max }}">
            <div class="filter__price-min">{{ filter.min }}</div>
            <div class="filter__price-max">{{ filter.max }}</div>
        </div>
    </div>
    {% if filter.brands is defined %}
    <div class="filter__group filter__group--toggle filter__group--short js-filter-toggle">
        <div class="filter__title s-filter-title js-filter-toggle-handler">
            Бренды
            <span class="filter__arrow"></span>
        </div>
        <div class="filter__content filter__content--hidden js-filter-content">
            {% for brand in filter.brands %}
                <div class="filter__pair">
                    <input class="filter__checkbox" name="brands[]" id="id-checkbox-brand-{{ brand.id }}" value="{{ brand.id }}" type="checkbox" {{brand.id in app.request.query.get('brands',[]) ? 'checked' : ''  }}>
                    <label class="filter__label" for="id-checkbox-brand-{{ brand.id }}">{{ brand.name|length > 7 ? brand.name|slice(0, 7) ~ '...' : brand.name }}</label>
                </div>
            {% endfor %}

        </div>
    </div>
    {% endif %}
    <div class="filter__group filter__group--toggle filter__group--short js-filter-toggle">
        <div class="filter__title js-filter-toggle-handler">
            Наличие товара
            <span class="filter__arrow"></span>
        </div>
        <div class="filter__content filter__content--hidden js-filter-content">
            <div class="filter__pair filter__pair--100">
                <input class="filter__checkbox" name="receiveTime[]" id="id-checkbox-17" value="today" type="checkbox">
                <label class="filter__label" for="id-checkbox-17">В наличии</label>
            </div>
            <div class="filter__pair filter__pair--100">
                <input class="filter__checkbox" name="receiveTime[]" id="id-checkbox-18" value="by_order" type="checkbox">
                <label class="filter__label" for="id-checkbox-18">Под заказ</label>
            </div>
        </div>
    </div>

    <div class="filter__group filter__group--short">
        <div class="filter__title filter__clear js-filter-reset">Сбросить фильтры</div>
    </div>
</form>
