<div class="catalog__footer js-catalog__footer">
    {% if products.haveToPaginate %}
        {% if (is_mobile() or is_tablet()) == false %}
            <div class="catalog__pagination">
                {{ pagerfanta( products, 'default', {
                    routeName : 'catalog_dispatcher',
                    prev_message : '<< ',
                    next_message : ' >>',
                    css_dots_class: 'js-filter-page catalog__page',
                    css_current_class : 'js-filter-page catalog__page active',
                    page_template : '<a class="js-filter-page catalog__page" href="?page=%text%"%rel% data-page="%text%">%text%</a>',
                })}}
            </div>
        {% endif %}
        {% if products.hasNextPage() %}
            <div class="catalog__add-more-b">
                <a href="#" class="catalog__add-more btn js-filter-add" data-next="{{ products.nextPage }}">Показать еще</a>
            </div>
        {% endif %}
    {% endif %}
</div>