{% if catalog.activeChildren|length > 0 %}
    <ul class="main-catalog__category main-catalog__list main-catalog__category--root js-main-catalog"
        data-type="catalog" data-columns-count="4">
        <div class="main-catalog__columns-wrap">
            {% if catalog.activeChildren(catalog.lvl+1)|length >3 %}
                {% set columns = catalog.activeChildren(catalog.lvl+1)|batch(4)  %}
                {% if columns|length > 3 %}
                    {% for i in 0..3 %}
                        <div class="main-catalog__column main-catalog__column--3 js-main-catalog__column">
                            {% if columns[i] is defined %}
                                {% for child in columns[i] %}
                                    {{ include('catalog/_catalog_menu_inner.html.twig',{child: child}) }}
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    {% set columns = catalog.activeChildren(catalog.lvl+1)|batch(2)  %}
                    {% for i in 0..3 %}
                        <div class="main-catalog__column main-catalog__column--3 js-main-catalog__column">
                            {% if columns[i] is defined %}
                                {% for child in columns[i] %}
                                    {{ include('catalog/_catalog_menu_inner.html.twig',{child: child}) }}
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            {% else %}
                {% for child in catalog.activeChildren(catalog.lvl+1) %}
                    <div class="main-catalog__column main-catalog__column--3 js-main-catalog__column">
                        {{ include('catalog/_catalog_menu_inner.html.twig',{child: child}) }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </ul>
{% endif %}