{% if tags|length > 0 %}
    <div class="tags catalog__tags tags--blue">
        {% if catalog is defined %}
            {% if catalog is instanceof('\\App\\Entity\\Catalog') %}
                {% for tag in tags %}
                    <a href="/catalog/{{ catalog.urlPath }}{{ tag.url }}/" class="tag">#{{ tag.name }}</a>
                {% endfor %}
            {% endif %}
            {% if catalog is instanceof('\\App\\Entity\\Tag') %}
                {% for tag in tags %}
                    <a href="/catalog/{{ tag.catalogs[0].urlPath }}{{ tag.url }}/" class="tag {% if catalog.id==tag.id %} tag--active{% endif %}">#{{ tag.name }}</a>
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if product is defined %}
            {% for tag in tags %}
                {% if tag.catalogs[0] is defined %}
                    <a href="/catalog/{{ tag.catalogs[0].urlPath }}{{ tag.url }}/" class="tag">#{{ tag.name }}</a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endif %}