
    {% if child.activeChildren(child.lvl+1)|length > 0 %}
        <li>
            <div class=" main-catalog__item-container">
                <a href="/catalog/{{ child.urlPath }}" class="main-catalog__item">
                    <span>{{ child.name }}<span></span></span></a>&nbsp;
                <span class="js-toggle-link js-toggle-arr arr-d-after" data-type="arrow"></span>
            </div>
            <ul class="main-catalog__category js-toggle-body main-catalog__category--{{ child.lvl+1 }}">
                {% for child in child.activeChildren(child.lvl+1) %}
                    {{ include('catalog/_catalog_menu_inner.html.twig',{child: child}) }}
                {% endfor %}
            </ul>
        </li>
    {% else %}
        <li>
            <div class=" main-catalog__item-container">
                <a href="/catalog/{{ child.urlPath }}" class="main-catalog__item">
                    <span>{{ child.name }}<span></span></span>
                </a>
            </div>
        </li>
    {% endif %}