<div class="catalog__cards js-catalog__cards">
    {% if is_mobile() or is_tablet() %}
        {% set view = 'product/_product_mobile.html.twig' %}
    {% else %}
        {% set view = 'product/_product.html.twig' %}
    {% endif %}

    {% for product in products %}
        {{ include(view, {product: product}) }}
    {% else %}
        <div class="catalog__cards catalog__empty-list">
            <div class="catalog__empty-title">Товаров не найдено
                <div></div>
            </div>
        </div>
    {% endfor %}
</div>
{{ include('catalog/_catalog_footer.html.twig') }}