{% extends 'layouts/base.html.twig' %}
{% block content %}
    <section class="block">
        <div class="innertube">
            <div class="catalog js-catalog ">
                {{ include('layouts/_breadcrumbs.html.twig') }}
                {% if search %}
                    <h1 class="title catalog__title">Поиск "{{ search }}"</h1>
                {% else %}
                    <h1 class="title catalog__title js-ga-list-name" data-name="{{ catalog.name }}">{{ catalog.name }}</h1>
                    {% if catalog is instanceof('\\App\\Entity\\Catalog') %}
                        {{ include('catalog/_catalog_menu.html.twig',{catalog: catalog}) }}
                    {% endif %}
                    {{ include('catalog/_catalog_tags.html.twig') }}
                {% endif %}
                <div class="catalog__sepline"></div>
                <div class="catalog__body js-catalog__body">
                    <div class="catalog__row catalog__row--1">
                        <div class="catalog__text arr-d-after"><span class="js-filter-count">Найдено {{ products|length }} товара</span>
                            <span class="dotted catalog__text-link">
                            <span class="js-change-city-current" data-id="{{ version.id }}">в {{ version.storeName }}</span>
                            <span class="catalog__text-menu">
                                {% for siteVersion in version.all %}
                                    <a href="#" class="catalog__text-el js-change-city" style="" data-id="{{ siteVersion.id }}">в  {{ siteVersion.storeName }}</a>
                                {% endfor %}
                            </span>
                        </span>

                        </div>

                        <div class="catalog__text catalog__text--right">Сортировать
                            <span class="dotted catalog__text-link js-filter-dropdown">
                                <span class="js-filter-dropdown-current arr-d-after" data-name="sort" data-val="top">популярности</span>
                                <span class="catalog__text-menu ">
                                <a href="#" class="catalog__text-el js-filter-dropdown-variant" data-name="sort" data-val="price-more">по цене↑</a>
                                <a href="#" class="catalog__text-el js-filter-dropdown-variant" data-name="sort" data-val="price-less">по цене↓</a>
                                <a href="#" class="catalog__text-el js-filter-dropdown-variant" data-name="sort" data-val="top" style="display: none;">популярности</a>
                                <a href="#" class="catalog__text-el js-filter-dropdown-variant" data-name="sort" data-val="new">новинкам</a>
                            </span>
                            </span>
                            <span class="change-view">
                                <a href="#" title="Таблицей" class="change-view__table active js-change-view" data-view="table"><i class="icon-table-view"></i></a>
                                <a href="#" title="Списком" class="change-view__list  js-change-view" data-view="list"><i class="icon-list-view"></i></a>
                            </span>
                        </div>
                    </div>
                    <div class="catalog__row catalog__row--2 form">
                        {{ include('catalog/_catalog_filter.html.twig', { filter : filter}) }}
                        <div class="catalog__result js-catalog__result">
                            <div class="catalog__cards js-catalog__cards">
                                {% for key, product in products %}
                                    {{ include('product/_product.html.twig', {product: product}) }}
                                {% else %}
                                    <div class="catalog__cards catalog__empty-list">
                                        <div class="catalog__empty-title">Товаров не найдено
                                            <div></div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {{ include('catalog/_catalog_footer.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="block">
        <div class="innertube">
        {% if app.request.query.get('page', 0) < 2 %}
            <div class="about-sub  content content--lg">
                {{ catalog.text|raw }}
            </div>
        {% endif %}
        </div>
    </section>


{% endblock %}
