{% extends 'layouts/base.html.twig' %}
{% block content %}
    <section class="block block-space block-space--top-10">
        <div class="innertube">
            <div class="catalog js-catalog">
                <a href="#"  class="btn btn--dark catalog__filters-link js-filters-link">Фильтры</a>
                <div class="js-choose-window catalog__choose-window choose-window" style="display: none">
                    <a href="#" class="choose-window__close-link js-choose-window-close">← {{ catalog.name }}</a>
                    {% if catalog is instanceof('\\App\\Entity\\Catalog') %}
                        <ul class="choose-window__category choose-window__category--1">
                        {% if catalog.activeChildren|length == 0 %}
                            {% set catalog = catalog.getRoot %}
                        {% endif %}
                        {% for child in catalog.activeChildren %}
                            <li class="choose-window__category-item-wrapper">
                                <a href="/catalog/{{ child.urlPath }}" class="choose-window__category-item">{{ child.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="js-filters-window catalog__filters-window filters-window"  style="display: none">
                    <p>
                        <span class="title">Фильтры</span>
                        <a href="#" class="filters-window__close-link js-filters-window-close"><i class="icon-cancel"></i></a>
                    </p>
                    {{ include('catalog/_catalog_filter.html.twig', { filter : filter}) }}
                </div>

                {#{ include('layouts/_breadcrumbs.html.twig') }#}
                {% if search  %}
                    <h1 class="title catalog__title">Поиск "{{ search }}"</h1>
                {% else %}
                    <h1 class="title catalog__title js-ga-list-name" data-name="{{ catalog.name }}">{{ catalog.name }}</h1>
                {% endif %}
                <div class="js-catalog__body catalog__body">
                    <div class="catalog__settings">

                        <a href="#categories" class="catalog__choose-link js-choose-link">Выбрать раздел</a><i class="icon-arr-d"></i>
                        <span class="catalog__found js-filter-count">Найден <span class="">{{ products|length }}</span> товар</span>
                    </div>
                    <div class="catalog__results js-catalog__result">
                        {% for product in products %}
                            {{ include('product/_product_mobile.html.twig') }}
                        {% endfor %}
                        <div class="catalog__footer js-catalog__footer">
                            <a href="#" class="catalog__add-more btn js-filter-add">Показать еще</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
